workflows/production-main/04-Hera.json
{
  "updatedAt": "2025-12-18T05:57:55.669Z",
  "createdAt": "2025-11-18T10:17:26.040Z",
  "id": "kuZhVKOTnWOjsePq",
  "name": "04-Hera",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "const currentProductData = $input.item.json;\nreturn {\n  json: {\n    product_title: currentProductData.product_title_to_search_in_shopify,\n    shopify_collection_id: currentProductData.shopify_collection_id,\n    \n    // --- ADD THIS LINE ---\n    session_id_to_match: currentProductData.session_id_to_match, // Pass it through\n\n    // Context fields (no changes needed here)\n    original_search_title: currentProductData.product_title_to_search_in_shopify,\n    original_shopify_collection_title: currentProductData.shopify_collection_original_title,\n    gelato_product_id_context: currentProductData.gelato_product_id,\n    handle :currentProductData.shopify_collection_handle\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        288
      ],
      "id": "569078b5-5692-436d-9237-93692de80bb9",
      "name": "Format Product Search Data"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Get the API response from SearchShopifyProduct\nconst shopifyApiResponse = $input.item.json;\n\n// Get the data sent *into* SearchShopifyProduct\nconst dataFromPreviousNode = $('Format Product Search Data').item.json;\n\nlet foundProduct = null;\nconst allFoundProducts = (shopifyApiResponse.data?.products?.edges || []).map(edge => edge.node);\nconst targetSessionId = dataFromPreviousNode.session_id_to_match;\nconst searchedTitle = dataFromPreviousNode.product_title;\n\nconsole.log(`--- Starting Product ID Extraction ---`);\nconsole.log(`Target Session ID: \"${targetSessionId}\"`);\nconsole.log(`Searching for product title: \"${searchedTitle}\"`);\n\nif (!targetSessionId) {\n  console.error(\"CRITICAL ERROR: No session_id was passed to this node. Cannot perform matching. Check the 'Collect All Products' node.\");\n  return { json: { product_id: null, error: \"Missing session_id_to_match\" } };\n}\n\nif (allFoundProducts.length === 0) {\n  console.warn(`Shopify search returned ZERO products for title \"${searchedTitle}\".`);\n} else {\n  console.log(`Shopify search returned ${allFoundProducts.length} product(s). Now filtering...`);\n\n  const lowerCaseTargetSessionId = targetSessionId.toLowerCase();\n\n  for (const product of allFoundProducts) {\n    const shopifyTagsArray = product.tags || [];\n    const lowerCaseTags = shopifyTagsArray.map(tag => tag.toLowerCase());\n\n    console.log(`- Checking Product legacyResourceId: ${product.legacyResourceId}. Tags: [${lowerCaseTags.join(\", \")}]. Does it include \"${lowerCaseTargetSessionId}\"?`);\n\n    if (lowerCaseTags.includes(lowerCaseTargetSessionId)) {\n      foundProduct = product;\n      console.log(`✅ MATCH FOUND! Using legacyResourceId: ${foundProduct.legacyResourceId}`);\n      break;\n    }\n  }\n}\n\nif (foundProduct) {\n  return {\n    json: {\n      product_id: foundProduct.id, // ✅ use legacyResourceId\n      collection_id: dataFromPreviousNode.shopify_collection_id,\n      context_searched_title: searchedTitle,\n      context_original_shopify_collection_title: dataFromPreviousNode.original_shopify_collection_title,\n      context_gelato_product_id: dataFromPreviousNode.gelato_product_id_context\n    }\n  };\n} else {\n  console.error(`❌ FAILED: After checking all ${allFoundProducts.length} products, none had the tag \"${targetSessionId}\".`);\n  return {\n    json: {\n      product_id: null,\n      collection_id: dataFromPreviousNode.shopify_collection_id,\n      error: `Product with matching session_id tag '${targetSessionId}' not found.`\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        288
      ],
      "id": "07a5d281-b368-410a-9246-bcc2237dfcf8",
      "name": "Extract Shopify Product ID"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        464,
        288
      ],
      "id": "bb5bf47f-ead9-41d2-8ebf-6630a380634b",
      "name": "Wait",
      "webhookId": "b54ddd2e-900d-47c4-869d-7c095a652875"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://j4zewh-kg.myshopify.com/admin/api/2025-04/graphql.json",
        "query": "=query($filter: String!) {\n  products(first: 1, query: $filter) {\n    edges {\n      node {\n        legacyResourceId\n        id\n        title\n        tags\n      }\n    }\n  }\n}",
        "variables": "={\n  \"filter\": \"title:'{{ $json.product_title }}' AND tag:'{{ $json.session_id_to_match }}'\"\n}"
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        720,
        288
      ],
      "id": "975757ae-0b75-4f96-9a09-991ed642bf4e",
      "name": "SearchShopifyProduct",
      "credentials": {
        "httpHeaderAuth": {
          "id": "878XnnwYx10R4wXG",
          "name": "Shopify"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -160,
        288
      ],
      "id": "83924c2f-92dc-4fa2-bd4d-f7b6c91eeabb",
      "name": "Loop Product Collection Linking"
    },
    {
      "parameters": {
        "jsCode": "// Node: Collect All Products (FIXED)\nconst allItems = $input.all();\nconst shopifyCollectionsMap = new Map();\nconst productsToProcess = [];\n\nconsole.log(`Collect All Products - Received ${allItems.length} items.`);\n\n// --- First Pass: Map all Shopify collections by their title ---\nallItems.forEach((item) => {\n  // Identify collection items (they have a collection_id but no product id)\n  if (item.json.collection_id && !item.json.id) {\n    const collectionTitle = item.json.title;\n    if (collectionTitle && !shopifyCollectionsMap.has(collectionTitle)) {\n      shopifyCollectionsMap.set(collectionTitle, {\n        collection_id: item.json.collection_id,\n        collection_handle: item.json.handle,\n      });\n      console.log(`Mapped Shopify Collection: \\\"${collectionTitle}\\\" -> ID: ${item.json.collection_id}`);\n    }\n  }\n});\n\n// --- Pre-computation: Find the pet name for this batch ---\nconst referenceItem = allItems.find(item => item.json.petname);\nconst petnameForBatch = referenceItem ? referenceItem.json.petname : null;\n\nif (!petnameForBatch) {\n  console.error(\"CRITICAL: Could not determine pet name for this batch. Processing will likely fail.\");\n  return [];\n}\n\n// --- Second Pass: Match products to their collections ---\nallItems.forEach((item) => {\n  // Identify product items (they have a product ID, tags, and a title)\n  if (item.json.id && item.json.tags && item.json.title && item.json.title.includes(' - ')) {\n    const productTitle = item.json.title;\n    \n    // 1. Extract the theme name from the product title.\n    const productTheme = productTitle.split(' - ')[0].trim();\n\n    // 2. Construct the expected Shopify collection title.\n    const collectionTitleKey = `${petnameForBatch} ${productTheme}`;\n\n    // 3. Look up the collection in our map.\n    const collectionData = shopifyCollectionsMap.get(collectionTitleKey);\n\n    if (collectionData) {\n      const sessionIdTag = item.json.tags && item.json.tags.length > 3 ? item.json.tags[3] : null;\n      if (!sessionIdTag) {\n        console.warn(`Could not find a session_id tag for product: \\\"${productTitle}\\\". Skipping.`);\n        return; // Skips this product\n      }\n\n      // ##### CHANGE 1: PUSH A PLAIN JAVASCRIPT OBJECT, NOT AN N8N ITEM STRUCTURE #####\n      productsToProcess.push({\n        product_title_to_search_in_shopify: productTitle,\n        shopify_collection_id: collectionData.collection_id,\n        shopify_collection_handle: collectionData.collection_handle,\n        shopify_collection_original_title: collectionTitleKey,\n        session_id_to_match: sessionIdTag,\n        gelato_product_id: item.json.id\n      });\n      console.log(`SUCCESS: Matched product \\\"${productTitle}\\\" to collection \\\"${collectionTitleKey}\\\"`);\n    } else {\n      console.warn(`FAIL: No Shopify collection found for product: \\\"${productTitle}\\\". (Used key: \\\"${collectionTitleKey}\\\"). This product will be skipped.`);\n    }\n  }\n});\n\nconsole.log(`Total products to process: ${productsToProcess.length}`);\n\n// Return each product object as a separate n8n item\nreturn productsToProcess.map(product => ({ json: product }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        288
      ],
      "id": "2ff53d6c-b597-4bb1-828c-58db295bc46c",
      "name": "Collect All Products"
    },
    {
      "parameters": {
        "content": "LOOP 2 :\nAdding created products to the respective collection",
        "height": 300,
        "width": 1860
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -256,
        192
      ],
      "id": "2beb1859-a594-46c3-b9bb-501b20afae8e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "d0f69185-0166-4f32-af49-863f7c60850a",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -624,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nconst collectionsMap = new Map();\n\nfor (const item of allItems) {\n  const collectionId = item.json.collection_id;\n  const productId = item.json.product_id;\n\n  // Skip items where product_id couldn't be found\n  if (!collectionId || !productId) {\n    continue;\n  }\n\n  // If the collection isn't in our map yet, add it with an empty product array\n  if (!collectionsMap.has(collectionId)) {\n    collectionsMap.set(collectionId, []);\n  }\n\n  // Add the product ID to the correct collection's array\n  collectionsMap.get(collectionId).push(productId);\n}\n\n// Convert the map into an array of objects that n8n can process\nconst outputItems = [];\nfor (const [collectionId, productIds] of collectionsMap.entries()) {\n  outputItems.push({\n    json: {\n      collectionId: `gid://shopify/Collection/${collectionId}`, // Convert to full GID\n      productIds: productIds\n    }\n  });\n}\n\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "e47d8193-aefb-42a5-9389-8943c9b1e304",
      "name": "Group Products by Collection"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "05d9d9f8-5e02-44b9-a3ce-569661030c4f",
      "name": "Loop Each Collection"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://j4zewh-kg.myshopify.com/admin/api/2025-04/graphql.json",
        "query": "mutation collectionAddProducts($collectionId: ID!, $productIds: [ID!]!) {\n  collectionAddProducts(id: $collectionId, productIds: $productIds) {\n    collection {\n      id\n      title\n    }\n    userErrors {\n      field\n      message\n    }\n  }\n}",
        "variables": "={\n  \"collectionId\": \"{{ $json.collectionId }}\",\n  \"productIds\": {{ JSON.stringify($json.productIds) }}\n}"
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        496,
        16
      ],
      "id": "1a2dfe11-915c-4deb-abe5-c36ba405b95b",
      "name": "Bulk Add Products to Collection",
      "credentials": {
        "httpHeaderAuth": {
          "id": "878XnnwYx10R4wXG",
          "name": "Shopify"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json.data.collectionAddProducts;\nconst inputData = $('Loop Each Collection').item.json;\n\nif (response.userErrors && response.userErrors.length > 0) {\n  console.error(`❌ FAILED to add products to collection ${inputData.collectionId}.`);\n  for (const err of response.userErrors) {\n    console.error(`   - Field: ${err.field}, Message: ${err.message}`);\n  }\n} else if (response.collection) {\n  console.log(`✅ SUCCESS: Bulk added ${inputData.productIds.length} products to collection ${response.collection.title} (${response.collection.id}).`);\n} else {\n  console.warn(`⚠️ UNKNOWN issue for collection ${inputData.collectionId}. Response was empty.`);\n}\n\nreturn $input.item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        16
      ],
      "id": "4eb743c5-5bfb-4f6c-9b08-b992963ab50a",
      "name": "Log Bulk Add Result"
    }
  ],
  "connections": {
    "Collect All Products": {
      "main": [
        [
          {
            "node": "Loop Product Collection Linking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Product Search Data": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Shopify Product ID": {
      "main": [
        [
          {
            "node": "Loop Product Collection Linking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Product Collection Linking": {
      "main": [
        [
          {
            "node": "Group Products by Collection",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Product Search Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "SearchShopifyProduct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SearchShopifyProduct": {
      "main": [
        [
          {
            "node": "Extract Shopify Product ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Collect All Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group Products by Collection": {
      "main": [
        [
          {
            "node": "Loop Each Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Each Collection": {
      "main": [
        [],
        [
          {
            "node": "Bulk Add Products to Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bulk Add Products to Collection": {
      "main": [
        [
          {
            "node": "Log Bulk Add Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Bulk Add Result": {
      "main": [
        [
          {
            "node": "Loop Each Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "307666fc-f62d-49a3-937a-a02fbf22e724",
  "activeVersionId": "307666fc-f62d-49a3-937a-a02fbf22e724",
  "versionCounter": 5,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-18T10:17:26.040Z",
      "createdAt": "2025-11-18T10:17:26.040Z",
      "role": "workflow:owner",
      "workflowId": "kuZhVKOTnWOjsePq",
      "projectId": "lLSHos7ohHn7AjNm",
      "project": {
        "updatedAt": "2025-06-14T17:25:02.061Z",
        "createdAt": "2025-06-14T17:13:49.092Z",
        "id": "lLSHos7ohHn7AjNm",
        "name": "Muhasin Rashid <muhasin@gauger.in>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-06-14T17:13:49.092Z",
            "createdAt": "2025-06-14T17:13:49.092Z",
            "userId": "f88f8c62-813a-499e-aaee-b5f4da43c5a7",
            "projectId": "lLSHos7ohHn7AjNm",
            "user": {
              "updatedAt": "2025-12-18T05:00:03.582Z",
              "createdAt": "2025-06-14T17:13:45.907Z",
              "id": "f88f8c62-813a-499e-aaee-b5f4da43c5a7",
              "email": "muhasin@gauger.in",
              "firstName": "Muhasin",
              "lastName": "Rashid",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-06-14T17:25:40.417Z",
                "personalization_survey_n8n_version": "1.97.1",
                "automationGoalDevops": [
                  "other"
                ],
                "automationGoalDevopsOther": "Product",
                "companyType": "ecommerce",
                "role": "engineering"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "JsDBWbsoYaKBkGmW",
                "userActivatedAt": 1758182279933,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1752395252283
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-18",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-12-18T05:57:00.738Z",
      "createdAt": "2025-12-18T05:57:00.738Z",
      "id": "UKI0v1bk4iF3oZWB",
      "name": "production-main"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-17T18:36:37.758Z",
    "createdAt": "2025-11-27T07:27:47.774Z",
    "versionId": "307666fc-f62d-49a3-937a-a02fbf22e724",
    "workflowId": "kuZhVKOTnWOjsePq",
    "nodes": [
      {
        "parameters": {
          "jsCode": "const currentProductData = $input.item.json;\nreturn {\n  json: {\n    product_title: currentProductData.product_title_to_search_in_shopify,\n    shopify_collection_id: currentProductData.shopify_collection_id,\n    \n    // --- ADD THIS LINE ---\n    session_id_to_match: currentProductData.session_id_to_match, // Pass it through\n\n    // Context fields (no changes needed here)\n    original_search_title: currentProductData.product_title_to_search_in_shopify,\n    original_shopify_collection_title: currentProductData.shopify_collection_original_title,\n    gelato_product_id_context: currentProductData.gelato_product_id,\n    handle :currentProductData.shopify_collection_handle\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          192,
          288
        ],
        "id": "569078b5-5692-436d-9237-93692de80bb9",
        "name": "Format Product Search Data"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Get the API response from SearchShopifyProduct\nconst shopifyApiResponse = $input.item.json;\n\n// Get the data sent *into* SearchShopifyProduct\nconst dataFromPreviousNode = $('Format Product Search Data').item.json;\n\nlet foundProduct = null;\nconst allFoundProducts = (shopifyApiResponse.data?.products?.edges || []).map(edge => edge.node);\nconst targetSessionId = dataFromPreviousNode.session_id_to_match;\nconst searchedTitle = dataFromPreviousNode.product_title;\n\nconsole.log(`--- Starting Product ID Extraction ---`);\nconsole.log(`Target Session ID: \"${targetSessionId}\"`);\nconsole.log(`Searching for product title: \"${searchedTitle}\"`);\n\nif (!targetSessionId) {\n  console.error(\"CRITICAL ERROR: No session_id was passed to this node. Cannot perform matching. Check the 'Collect All Products' node.\");\n  return { json: { product_id: null, error: \"Missing session_id_to_match\" } };\n}\n\nif (allFoundProducts.length === 0) {\n  console.warn(`Shopify search returned ZERO products for title \"${searchedTitle}\".`);\n} else {\n  console.log(`Shopify search returned ${allFoundProducts.length} product(s). Now filtering...`);\n\n  const lowerCaseTargetSessionId = targetSessionId.toLowerCase();\n\n  for (const product of allFoundProducts) {\n    const shopifyTagsArray = product.tags || [];\n    const lowerCaseTags = shopifyTagsArray.map(tag => tag.toLowerCase());\n\n    console.log(`- Checking Product legacyResourceId: ${product.legacyResourceId}. Tags: [${lowerCaseTags.join(\", \")}]. Does it include \"${lowerCaseTargetSessionId}\"?`);\n\n    if (lowerCaseTags.includes(lowerCaseTargetSessionId)) {\n      foundProduct = product;\n      console.log(`✅ MATCH FOUND! Using legacyResourceId: ${foundProduct.legacyResourceId}`);\n      break;\n    }\n  }\n}\n\nif (foundProduct) {\n  return {\n    json: {\n      product_id: foundProduct.id, // ✅ use legacyResourceId\n      collection_id: dataFromPreviousNode.shopify_collection_id,\n      context_searched_title: searchedTitle,\n      context_original_shopify_collection_title: dataFromPreviousNode.original_shopify_collection_title,\n      context_gelato_product_id: dataFromPreviousNode.gelato_product_id_context\n    }\n  };\n} else {\n  console.error(`❌ FAILED: After checking all ${allFoundProducts.length} products, none had the tag \"${targetSessionId}\".`);\n  return {\n    json: {\n      product_id: null,\n      collection_id: dataFromPreviousNode.shopify_collection_id,\n      error: `Product with matching session_id tag '${targetSessionId}' not found.`\n    }\n  };\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          960,
          288
        ],
        "id": "07a5d281-b368-410a-9246-bcc2237dfcf8",
        "name": "Extract Shopify Product ID"
      },
      {
        "parameters": {
          "amount": 2
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          464,
          288
        ],
        "id": "bb5bf47f-ead9-41d2-8ebf-6630a380634b",
        "name": "Wait",
        "webhookId": "b54ddd2e-900d-47c4-869d-7c095a652875"
      },
      {
        "parameters": {
          "authentication": "headerAuth",
          "endpoint": "https://j4zewh-kg.myshopify.com/admin/api/2025-04/graphql.json",
          "query": "=query($filter: String!) {\n  products(first: 1, query: $filter) {\n    edges {\n      node {\n        legacyResourceId\n        id\n        title\n        tags\n      }\n    }\n  }\n}",
          "variables": "={\n  \"filter\": \"title:'{{ $json.product_title }}' AND tag:'{{ $json.session_id_to_match }}'\"\n}"
        },
        "type": "n8n-nodes-base.graphql",
        "typeVersion": 1.1,
        "position": [
          720,
          288
        ],
        "id": "975757ae-0b75-4f96-9a09-991ed642bf4e",
        "name": "SearchShopifyProduct",
        "credentials": {
          "httpHeaderAuth": {
            "id": "878XnnwYx10R4wXG",
            "name": "Shopify"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -160,
          288
        ],
        "id": "83924c2f-92dc-4fa2-bd4d-f7b6c91eeabb",
        "name": "Loop Product Collection Linking"
      },
      {
        "parameters": {
          "jsCode": "// Node: Collect All Products (FIXED)\nconst allItems = $input.all();\nconst shopifyCollectionsMap = new Map();\nconst productsToProcess = [];\n\nconsole.log(`Collect All Products - Received ${allItems.length} items.`);\n\n// --- First Pass: Map all Shopify collections by their title ---\nallItems.forEach((item) => {\n  // Identify collection items (they have a collection_id but no product id)\n  if (item.json.collection_id && !item.json.id) {\n    const collectionTitle = item.json.title;\n    if (collectionTitle && !shopifyCollectionsMap.has(collectionTitle)) {\n      shopifyCollectionsMap.set(collectionTitle, {\n        collection_id: item.json.collection_id,\n        collection_handle: item.json.handle,\n      });\n      console.log(`Mapped Shopify Collection: \\\"${collectionTitle}\\\" -> ID: ${item.json.collection_id}`);\n    }\n  }\n});\n\n// --- Pre-computation: Find the pet name for this batch ---\nconst referenceItem = allItems.find(item => item.json.petname);\nconst petnameForBatch = referenceItem ? referenceItem.json.petname : null;\n\nif (!petnameForBatch) {\n  console.error(\"CRITICAL: Could not determine pet name for this batch. Processing will likely fail.\");\n  return [];\n}\n\n// --- Second Pass: Match products to their collections ---\nallItems.forEach((item) => {\n  // Identify product items (they have a product ID, tags, and a title)\n  if (item.json.id && item.json.tags && item.json.title && item.json.title.includes(' - ')) {\n    const productTitle = item.json.title;\n    \n    // 1. Extract the theme name from the product title.\n    const productTheme = productTitle.split(' - ')[0].trim();\n\n    // 2. Construct the expected Shopify collection title.\n    const collectionTitleKey = `${petnameForBatch} ${productTheme}`;\n\n    // 3. Look up the collection in our map.\n    const collectionData = shopifyCollectionsMap.get(collectionTitleKey);\n\n    if (collectionData) {\n      const sessionIdTag = item.json.tags && item.json.tags.length > 3 ? item.json.tags[3] : null;\n      if (!sessionIdTag) {\n        console.warn(`Could not find a session_id tag for product: \\\"${productTitle}\\\". Skipping.`);\n        return; // Skips this product\n      }\n\n      // ##### CHANGE 1: PUSH A PLAIN JAVASCRIPT OBJECT, NOT AN N8N ITEM STRUCTURE #####\n      productsToProcess.push({\n        product_title_to_search_in_shopify: productTitle,\n        shopify_collection_id: collectionData.collection_id,\n        shopify_collection_handle: collectionData.collection_handle,\n        shopify_collection_original_title: collectionTitleKey,\n        session_id_to_match: sessionIdTag,\n        gelato_product_id: item.json.id\n      });\n      console.log(`SUCCESS: Matched product \\\"${productTitle}\\\" to collection \\\"${collectionTitleKey}\\\"`);\n    } else {\n      console.warn(`FAIL: No Shopify collection found for product: \\\"${productTitle}\\\". (Used key: \\\"${collectionTitleKey}\\\"). This product will be skipped.`);\n    }\n  }\n});\n\nconsole.log(`Total products to process: ${productsToProcess.length}`);\n\n// Return each product object as a separate n8n item\nreturn productsToProcess.map(product => ({ json: product }));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -416,
          288
        ],
        "id": "2ff53d6c-b597-4bb1-828c-58db295bc46c",
        "name": "Collect All Products"
      },
      {
        "parameters": {
          "content": "LOOP 2 :\nAdding created products to the respective collection",
          "height": 300,
          "width": 1860
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -256,
          192
        ],
        "id": "2beb1859-a594-46c3-b9bb-501b20afae8e",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "d0f69185-0166-4f32-af49-863f7c60850a",
        "typeVersion": 1.1,
        "name": "Start",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          -624,
          32
        ]
      },
      {
        "parameters": {
          "jsCode": "const allItems = $input.all();\nconst collectionsMap = new Map();\n\nfor (const item of allItems) {\n  const collectionId = item.json.collection_id;\n  const productId = item.json.product_id;\n\n  // Skip items where product_id couldn't be found\n  if (!collectionId || !productId) {\n    continue;\n  }\n\n  // If the collection isn't in our map yet, add it with an empty product array\n  if (!collectionsMap.has(collectionId)) {\n    collectionsMap.set(collectionId, []);\n  }\n\n  // Add the product ID to the correct collection's array\n  collectionsMap.get(collectionId).push(productId);\n}\n\n// Convert the map into an array of objects that n8n can process\nconst outputItems = [];\nfor (const [collectionId, productIds] of collectionsMap.entries()) {\n  outputItems.push({\n    json: {\n      collectionId: `gid://shopify/Collection/${collectionId}`, // Convert to full GID\n      productIds: productIds\n    }\n  });\n}\n\nreturn outputItems;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          0
        ],
        "id": "e47d8193-aefb-42a5-9389-8943c9b1e304",
        "name": "Group Products by Collection"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          208,
          0
        ],
        "id": "05d9d9f8-5e02-44b9-a3ce-569661030c4f",
        "name": "Loop Each Collection"
      },
      {
        "parameters": {
          "authentication": "headerAuth",
          "endpoint": "https://j4zewh-kg.myshopify.com/admin/api/2025-04/graphql.json",
          "query": "mutation collectionAddProducts($collectionId: ID!, $productIds: [ID!]!) {\n  collectionAddProducts(id: $collectionId, productIds: $productIds) {\n    collection {\n      id\n      title\n    }\n    userErrors {\n      field\n      message\n    }\n  }\n}",
          "variables": "={\n  \"collectionId\": \"{{ $json.collectionId }}\",\n  \"productIds\": {{ JSON.stringify($json.productIds) }}\n}"
        },
        "type": "n8n-nodes-base.graphql",
        "typeVersion": 1.1,
        "position": [
          496,
          16
        ],
        "id": "1a2dfe11-915c-4deb-abe5-c36ba405b95b",
        "name": "Bulk Add Products to Collection",
        "credentials": {
          "httpHeaderAuth": {
            "id": "878XnnwYx10R4wXG",
            "name": "Shopify"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const response = $input.item.json.data.collectionAddProducts;\nconst inputData = $('Loop Each Collection').item.json;\n\nif (response.userErrors && response.userErrors.length > 0) {\n  console.error(`❌ FAILED to add products to collection ${inputData.collectionId}.`);\n  for (const err of response.userErrors) {\n    console.error(`   - Field: ${err.field}, Message: ${err.message}`);\n  }\n} else if (response.collection) {\n  console.log(`✅ SUCCESS: Bulk added ${inputData.productIds.length} products to collection ${response.collection.title} (${response.collection.id}).`);\n} else {\n  console.warn(`⚠️ UNKNOWN issue for collection ${inputData.collectionId}. Response was empty.`);\n}\n\nreturn $input.item;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          704,
          16
        ],
        "id": "4eb743c5-5bfb-4f6c-9b08-b992963ab50a",
        "name": "Log Bulk Add Result"
      }
    ],
    "connections": {
      "Collect All Products": {
        "main": [
          [
            {
              "node": "Loop Product Collection Linking",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Product Search Data": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Shopify Product ID": {
        "main": [
          [
            {
              "node": "Loop Product Collection Linking",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Product Collection Linking": {
        "main": [
          [
            {
              "node": "Group Products by Collection",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Format Product Search Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "SearchShopifyProduct",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SearchShopifyProduct": {
        "main": [
          [
            {
              "node": "Extract Shopify Product ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Start": {
        "main": [
          [
            {
              "node": "Collect All Products",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Group Products by Collection": {
        "main": [
          [
            {
              "node": "Loop Each Collection",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Each Collection": {
        "main": [
          [],
          [
            {
              "node": "Bulk Add Products to Collection",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Bulk Add Products to Collection": {
        "main": [
          [
            {
              "node": "Log Bulk Add Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log Bulk Add Result": {
        "main": [
          [
            {
              "node": "Loop Each Collection",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": "Version 307666fc",
    "description": "",
    "workflowPublishHistory": [
      {
        "createdAt": "2025-12-17T18:36:37.748Z",
        "id": 103,
        "workflowId": "kuZhVKOTnWOjsePq",
        "versionId": "307666fc-f62d-49a3-937a-a02fbf22e724",
        "event": "activated",
        "userId": "f88f8c62-813a-499e-aaee-b5f4da43c5a7"
      }
    ]
  }
}