workflows/production-main/05-Hermes.json
{
  "updatedAt": "2025-12-18T05:58:10.571Z",
  "createdAt": "2025-11-18T10:17:52.349Z",
  "id": "jPMcHRxP8t0jGpsT",
  "name": "05-Hermes",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://honest-ghoul-37248.upstash.io/rpop/myfurryprints_queue",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        320
      ],
      "id": "bc21562c-9f49-4642-b812-63b0c96b2efd",
      "name": "CheckQueueForMore",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OU4p8zTKeY9k8OYC",
          "name": "Upstash_new"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "7fd4bd14-be92-42ba-991c-009c111e9871",
              "leftValue": "={{ $json.result }}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        752,
        368
      ],
      "id": "682bc4dd-b0b8-43d7-99b1-ad22da852292",
      "name": "IfQueueHasJobs"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://j4zewh-kg.myshopify.com/admin/api/2025-04/pages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"page\": {\n    \"title\": \"{{ $json.petname }}\", \n    \"handle\": \"{{ $json.page_handle }}\",       \n    \"body_html\": \"<p>Gallery page for {{ $json.petname }}. Description managed in GemPages.</p>\", \n    \"template_suffix\": \"gp-template-569295308895290348\", \n    \"published\": true,\n    \"metafields\": [\n      {\n        \"key\": \"pet_name\", \n        \"namespace\": \"custom\", \n        \"value\": \"{{ $json.petname }}\", \n        \"type\": \"single_line_text_field\" \n      },\n      {\n        \"key\": \"gallery_description\", \n        \"namespace\": \"custom\", \n        \"value\": \"{{ $json.gallery_description }}\", \n        \"type\": \"multi_line_text_field\" \n      },\n      {\n        \"key\": \"collection_ids\", \n        \"namespace\": \"custom\", \n        \"value\": \"{{ $json.collection_handles }}\", \n        \"type\": \"single_line_text_field\"\n      }\n    ]\n  }\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "a580f525-3bba-4666-afda-694854a9a41b",
      "name": "Create Gallery Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -848,
        160
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "878XnnwYx10R4wXG",
          "name": "Shopify"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const pageResponse = $('Create Gallery Page').all()[0].json;\nconst config = $('Set Configuration').all()[0].json;\nconst processedData = $('Process Collections').all()[0].json;\n\n// Check if we have a successful response (201 Created)\nif (pageResponse.statusCode === 201 && pageResponse.body && pageResponse.body.page) {\n  const page = pageResponse.body.page;\n  const pageUrl = `https://${config.shopify_store_url.replace('.myshopify.com', '')}/pages/${page.handle}`;\n  \n  return {\n    success: true,\n    page_id: page.id,\n    page_handle: page.handle,\n    petname: $('Process Collections').first().json.petname,\n    phoneNumber: $('Debug Gallery Data1').first().json.phoneNumber,\n    page_url: pageUrl,\n    admin_url: `https://j4zewh-kg.myshopify.com/admin/pages/${page.id}`,\n    collections_included: processedData.collections.map(c => ({\n      handle: c.handle,\n      title: c.title,\n      products_count: c.products_count\n    })),\n    gallery_title: processedData.gallery_title,\n    metafields_set: [\n      'custom.gallery_title',\n      'custom.gallery_description',\n      'custom.collection_ids'\n    ],\n    created_at: new Date().toISOString()\n  };\n} else {\n  throw new Error(`Failed to create page: Status ${pageResponse.statusCode} - ${pageResponse.statusMessage}`);\n}"
      },
      "id": "0d00dd31-a379-437b-9243-dd726a31b79f",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "const config = $input.item.json;\n\n// ✅ Ensure we have a valid collectionHandlesString\nif (!config.collectionHandlesString || typeof config.collectionHandlesString !== 'string') {\n  throw new Error(\"Missing or invalid 'collectionHandlesString'\");\n}\n\n// ✅ Build minimal fake 'collections' array just from handles\nconst handles = config.collectionHandlesString\n  .split(',')\n  .map(h => h.trim())\n  .filter(h => h.length > 0);\n\n// You can optionally attach placeholder metadata if needed later\nconst collections = handles.map(h => ({\n  handle: h,\n  title: h.replace(/-/g, ' ').replace(/\\b\\w/g, l => l.toUpperCase()), // e.g., \\\"sammy-spa-day\\\" → \\\"Sammy Spa Day\\\"\n  products_count: 1\n}));\n\n// --- CORRECTED: Include petname and ensure gallery_description is passed through ---\nconst pageData = {\n  collections,\n  collection_handles: handles.join(','),\n  gallery_title: config.gallery_title || 'My Art Gallery', // Keep this for compatibility if needed later, but API call ignores it\n  gallery_description: config.gallery_description || 'Enjoy your custom artwork!', // Pass through description from input\n  page_handle: 'artwork-' + $('extracting handle1').first().json.sessionId,\n  petname: config.petname ,\n  phoneNumber: config.phoneNumber// <--- ADDED: Include petname from input\n};\n\nreturn [{ json: pageData }];"
      },
      "id": "2fc958cd-de84-4202-ab32-dba3ac4f41fe",
      "name": "Process Collections",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1264,
        160
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "shopify_store_url",
              "stringValue": "myfurryprints.com"
            },
            {
              "name": "collection_handles",
              "stringValue": "={{ $json.collectionHandlesString.toString() }}"
            },
            {
              "name": "email",
              "stringValue": "={{ $json.email }}"
            },
            {
              "name": "phoneNumber",
              "stringValue": "={{ $('extracting handle1').item.json.phoneNumber }}"
            },
            {
              "name": "petname",
              "stringValue": "={{ $json.petname }}"
            },
            {
              "name": "admin_store_url",
              "stringValue": "j4zewh-kg.myshopify.com"
            }
          ]
        },
        "options": {}
      },
      "id": "6f661dc7-bc99-4e5b-ac94-d6aa596b95b5",
      "name": "Set Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -1488,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "// Node Name: Extract Merged Data\n// Receives the array of items from the Merge node output.\n// Finds and consolidates collection handles string, email, and petname.\n// Outputs a single item with the consolidated data.\n\nconst items = $input.all(); // Get all items from the merge node output\n\n// Initialize variables to store the data we need to extract\nlet collectionHandlesString = '';\nlet email = '';\nlet petname = '';\n\n// Loop through each item produced by the merge node\nitems.forEach(item => {\n  // Check if the current item has the 'collectionHandlesString' property\n  if (item.json && item.json.collectionHandlesString) {\n    collectionHandlesString = item.json.collectionHandlesString;\n    // Optional: Log that we found it\n    console.log('Found collectionHandlesString:', collectionHandlesString);\n  }\n\n  // Check if the current item has the 'email' property (assuming email and petname are in the same item)\n  if (item.json && item.json.email) {\n    email = item.json.email;\n    petname = item.json.petname || ''; // Also get petname from the same item\n    // Optional: Log that we found user data\n    console.log('Found user data (email, petname):', email, petname);\n  }\n\n  // We don't need to process the items with the 'collect' object for this specific task.\n});\n\n// Check if essential data was found (optional but recommended)\nif (!collectionHandlesString || !email || !petname) {\n    console.warn('One or more required fields not found in merge output:', {\n        collectionHandlesString: collectionHandlesString ? 'Found' : 'Not Found',\n        email: email ? 'Found' : 'Not Found',\n        petname: petname ? 'Found' : 'Not Found'\n    });\n    // You might choose to throw an error here if the data is critical,\n    // or return an item indicating failure, or return with empty values.\n    // For now, we proceed with whatever was found.\n}\n\n\n// Return a single item containing the consolidated data\nreturn [{\n  json: {\n    collectionHandlesString: collectionHandlesString,\n    email: email,\n    petname: petname\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1712,
        160
      ],
      "id": "67769aa6-e99c-4512-83f4-9c88dac202b8",
      "name": "Consolidate Gallery Data1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "f6g7h8i9-j0k1-2l3m-4n5o-p6q7r8s9t0u1",
              "leftValue": "={{ $('Create Gallery Page').item.json.statusCode }}",
              "rightValue": 201,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3b7948f6-e5d4-488c-b679-1242ae019ed6",
      "name": "Validate Gallery Creation1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -624,
        160
      ]
    },
    {
      "parameters": {
        "functionCode": "// Debug what's being passed to Create Gallery Page\nconst passedData = { ...items[0].json };\nreturn [\n  {\n    json: {\n      ...passedData,\n      debug_info: {\n        time: new Date().toISOString(),\n        gallery_title_type: typeof passedData.gallery_title,\n        page_handle_type: typeof passedData.page_handle, \n      }\n    }\n  }\n];"
      },
      "id": "157030e9-1a67-4b82-8bde-de5cc42d11d0",
      "name": "Debug Gallery Data1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1072,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all(); // Get all input items\nconst handles = []; // To collect collection handles\n\n// Extract from the first item (where metadata like email, petname, etc. are stored)\nconst firstItem = items[0]?.json || {};\nconst email = firstItem.email || '';\nconst petname = firstItem.petname || '';\nconst petKind = firstItem.petKind || '';\nconst sessionId = firstItem.session_id || '';\nconst customerName = firstItem.customer_name || '';\nconst phoneNumber = firstItem.phoneNumber || ''; // Extract phone number\n\n// Loop through each item to extract collection handles\nitems.forEach(item => {\n  if (item.json && item.json.custom_collection && item.json.custom_collection.handle) {\n    handles.push(item.json.custom_collection.handle);\n  }\n});\n\n// Join all collected handles into a comma-separated string\nconst collectionHandlesString = handles.join(',');\n\n// Return a single output item with all requested fields\nreturn [{\n  json: {\n    email,\n    petname,\n    petKind,\n    sessionId,\n    phoneNumber,\n    customerName,\n    collectionHandlesString\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2016,
        160
      ],
      "id": "ee93587e-e0ac-4370-b066-99a8a28c3ba5",
      "name": "extracting handle1"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2272,
        160
      ],
      "id": "14059f7e-a386-40fe-8c22-be8b6d062951",
      "name": "Trigger From Ford"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/transactionalSMS/sms",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sender\": \"FurryPrints\",\n  \"recipient\": \"{{ $('Format Response').item.json.phoneNumber.replace(/\\s/g, '') }}\",\n  \"content\": \"🎉 {{ $('Format Response').item.json.petname }}’s artwork is ready! Tap here to see those adorable portraits 😍 {{ $('Format Response').item.json.page_url }}?utm_medium=sms\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        848,
        -112
      ],
      "id": "dc9bd1f8-1806-44b5-8ca3-b4826f079a99",
      "name": "send sms",
      "credentials": {
        "httpHeaderAuth": {
          "id": "aFcAEYavGsDojoat",
          "name": "Brevo api"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "sbikCUZ8YSTSByDN",
          "mode": "list",
          "cachedResultUrl": "/workflow/sbikCUZ8YSTSByDN",
          "cachedResultName": "01-Hagrid"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1952,
        240
      ],
      "id": "68c944d3-acd6-4c75-956a-f0cafea5422d",
      "name": "Call '01-Hagrid'",
      "executeOnce": false
    },
    {
      "parameters": {
        "url": "=https://honest-ghoul-37248.upstash.io/get/worker_slot_{{ $('Trigger From Ford').first().json.slot_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1296,
        496
      ],
      "id": "f487e319-dd81-4dba-a227-8be617c2aa94",
      "name": "Verify Ownership1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OU4p8zTKeY9k8OYC",
          "name": "Upstash_new"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1f4ddce0-4115-448c-b70c-89521bd7c847",
              "leftValue": "={{ $json.result }}",
              "rightValue": "={{ $('Trigger From Ford').first().json.worker_token }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1568,
        496
      ],
      "id": "a71ee7eb-c3b3-4425-964c-f459e0f7e68f",
      "name": "Am I Active?1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://honest-ghoul-37248.upstash.io/del/worker_slot_{{ $('Trigger From Ford').first().json.slot_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1824,
        480
      ],
      "id": "bd635db6-ebbe-4f64-a87d-7e8c313ba8f9",
      "name": "Delete Lock",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OU4p8zTKeY9k8OYC",
          "name": "Upstash_new"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "144b7ef2-350e-45a2-8a47-16a30f21a227",
              "leftValue": "={{ $('Format Response').item.json.phoneNumber }}",
              "rightValue": "=+44 7xxx xxxxxx",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "d0d5c3d3-32c5-4e12-a289-2249b2f26765",
              "leftValue": "={{ $('Format Response').item.json.phoneNumber }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        592,
        -128
      ],
      "id": "b145a869-3964-4580-926f-caf146c47f68",
      "name": "Need to Sent sms ?"
    },
    {
      "parameters": {
        "jsCode": "// 1. Parse the new job data popped from Redis\nconst redisResult = $input.item.json.result;\nconst newJobData = JSON.parse(redisResult);\n\n// 2. Retrieve the persistent infrastructure data (Slot ID) \n// form the very beginning of this workflow execution (P1's data)\nconst originalContext = $('Trigger From Ford').first().json;\n\nreturn {\n  json: {\n    // Pass the raw result string so 01-Hagrid can parse it exactly as it expects\n    result: redisResult,\n    \n    // PERSIST THE SLOT ID: The slot doesn't change, just the worker\n    slot_id: originalContext.slot_id,\n\n    // GENERATE NEW TOKEN: In your system, token seems to equal submission_id.\n    // We must update this so the lock matches the new job.\n    worker_token: newJobData.submission_id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        272
      ],
      "id": "ceed2f32-9287-4ff6-81ac-3012b75c0cc3",
      "name": "Prepare Next Job"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://honest-ghoul-37248.upstash.io/set/worker_slot_{{ $json.slot_id }}/{{ $json.worker_token }}/EX/10800",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        192
      ],
      "id": "45a2fb6d-3db5-4d98-bd27-5e372555fecd",
      "name": "Set New Lock",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OU4p8zTKeY9k8OYC",
          "name": "Upstash_new"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1664,
        224
      ],
      "id": "325367f8-65cc-4c8d-8192-8b7c163e46d5",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "sendTemplate",
        "templateId": 1,
        "receipients": "={{ $('Set Configuration').item.json.email + ', support@myfurryprints.com'}}",
        "additionalFields": {
          "templateParameters": {
            "parameterValues": {
              "parameters": "=registrationUrl={{ $('Format Response').item.json.page_url }},petname={{ $('prepare contact data').item.json.PET_NAME }}"
            }
          }
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.sendInBlue",
      "typeVersion": 1,
      "position": [
        144,
        160
      ],
      "id": "239494f3-3580-4757-8568-2b5be335e5f8",
      "name": "Brevo",
      "credentials": {
        "sendInBlueApi": {
          "id": "iKQewRm9lysjCraU",
          "name": "Brevo account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Get data from the Trigger (Source of Truth) and Format node\nconst triggerData = $('Trigger From Ford').first().json;\nconst formatData = $('Format Response').item.json;\n\n// 2. Split Name\nconst fullName = triggerData.customer_name || 'Valued Customer';\nconst nameParts = fullName.trim().split(' ');\nconst firstName = nameParts[0];\nconst lastName = nameParts.slice(1).join(' ') || '';\n\n// --- 3. CLEAN PHONE (THE FIX) ---\nlet rawPhone = formatData.phoneNumber || '';\n\n// A. Remove spaces and dashes\nlet phone = rawPhone.toString().replace(/[\\s-]/g, '');\n\n// B. Check for Placeholders (\"x\") or invalid numbers\n// If it contains 'x' (like +44 7xxx...) OR is too short to be real\nif (phone.toLowerCase().includes('x') || phone.length < 5) {\n    phone = \"\"; // Send empty string to Brevo (Brevo allows empty, but not duplicate x's)\n}\n// --------------------------------\n\n// 4. Output Data mapped to your EXACT Brevo Attributes\nreturn {\n  json: {\n    email: triggerData.email,\n    FIRSTNAME: firstName,\n    LASTNAME: lastName,\n    SMS: phone,\n    // Custom Attributes\n    PET_NAME: triggerData.petname,\n    PET_TYPE: triggerData.petKind,\n    PET_GENDER: triggerData.petGender,\n    PHONE_MODEL: triggerData.phoneModel\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        160
      ],
      "id": "425405de-975c-488f-b348-25f7acf36fd0",
      "name": "prepare contact data"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "Delivery alert",
        "options": {},
        "embeds": {
          "values": [
            {
              "description": "=Client : **{{ $('extracting handle1').item.json.customerName }}**\nClick the link to view page : {{ $json.page_url }}",
              "color": "#CD3E1A",
              "timestamp": "={{ $json.created_at }}",
              "title": "=Pet: **{{ $json.petname }}** page delivered 🎉 🎉  ",
              "url": "="
            }
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -432,
        448
      ],
      "id": "7019ad21-9c61-49f0-bafc-cb8a549666ec",
      "name": "Discord",
      "webhookId": "672f6499-5d9f-4e10-9c15-fdb0e83d3474",
      "credentials": {
        "discordWebhookApi": {
          "id": "xgichmKyuehtarny",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "ameena.k@gauger.in,  iamdanielsuresh@gmail.com, muhasin23@gmail.com",
        "subject": "={{ $('Format Response').item.json.petname }}'s Artwork page is created !",
        "message": "=<div style=\"font-family: Arial, sans-serif; font-size: 16px; color: #333; line-height: 1.5;\">\n  <!-- Header -->\n  <p style=\"font-size: 24px; font-weight: bold; margin-bottom: 5px;\">\n    Hi Team 👋\n  </p>\n\n  <!-- Good news -->\n  <p style=\"font-size: 18px; font-weight: bold; color: #28a745; margin-top: 0;\">\n    🎉 Good news! 🎉\n  </p>\n\n  <!-- Message -->\n  <p style=\"margin: 10px 0;\">\n    We have successfully created the gallery page for \n    <span style=\"font-size: 20px; font-weight: bold; color: #000;\">\n      {{ $('Format Response').item.json.petname }}\n    </span>.\n  </p>\n\n  <!-- Link -->\n  <p style=\"margin: 10px 0;\">\n    Click on the link below to view the page:<br>\n    <a href=\"{{ $('Format Response').item.json.page_url }}\" style=\"color: #1a73e8; text-decoration: none; font-weight: bold;\">\n      {{ $('Format Response').item.json.page_url }}\n    </a>\n  </p>\n\n  <!-- Closing -->\n  <p style=\"margin-top: 15px; font-style: italic; font-weight: bold; color: orange;\">\n    Great work guys! 💪🔥\n  </p>\n</div>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        256,
        1136
      ],
      "id": "71e9486d-6ac5-4ebc-ab92-018a496eae91",
      "name": "team message",
      "webhookId": "ab498464-f582-4b4d-9757-c7d7b24ff9a0",
      "alwaysOutputData": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "FsfUD7AAk7DNnm5t",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $json.email }}\",\n  \"attributes\": {\n    \"FIRSTNAME\": \"{{ $json.FIRSTNAME }}\",\n    \"LASTNAME\": \"{{ $json.LASTNAME }}\",\n    \"SMS\": \"{{ $json.SMS }}\",\n    \"PET_NAME\": \"{{ $json.PET_NAME }}\",\n    \"PET_GENDER\": \"{{ $json.PET_GENDER }}\",\n    \"PHONE_MODEL\": \"{{ $json.PHONE_MODEL }}\",\n    \"PET_TYPE\": \"{{ $json.PET_TYPE }}\",\n    \"PET_ARTWORK\": \"{{ $('Format Response').item.json.page_url }}\"\n  },\n  \"listIds\": [8],\n  \"updateEnabled\": true\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -16,
        -80
      ],
      "id": "969421f3-1985-4e43-9a31-5438ee7509bd",
      "name": "upsert contact in brevo",
      "credentials": {
        "httpHeaderAuth": {
          "id": "aFcAEYavGsDojoat",
          "name": "Brevo api"
        }
      }
    }
  ],
  "connections": {
    "CheckQueueForMore": {
      "main": [
        [
          {
            "node": "IfQueueHasJobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfQueueHasJobs": {
      "main": [
        [
          {
            "node": "Prepare Next Job",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verify Ownership1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Gallery Page": {
      "main": [
        [
          {
            "node": "Validate Gallery Creation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "prepare contact data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Collections": {
      "main": [
        [
          {
            "node": "Debug Gallery Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Configuration": {
      "main": [
        [
          {
            "node": "Process Collections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidate Gallery Data1": {
      "main": [
        [
          {
            "node": "Set Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Gallery Creation1": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debug Gallery Data1": {
      "main": [
        [
          {
            "node": "Create Gallery Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extracting handle1": {
      "main": [
        [
          {
            "node": "Consolidate Gallery Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger From Ford": {
      "main": [
        [
          {
            "node": "extracting handle1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send sms": {
      "main": [
        []
      ]
    },
    "Verify Ownership1": {
      "main": [
        [
          {
            "node": "Am I Active?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Am I Active?1": {
      "main": [
        [
          {
            "node": "Delete Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Need to Sent sms ?": {
      "main": [
        [],
        [
          {
            "node": "send sms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Next Job": {
      "main": [
        [
          {
            "node": "Set New Lock",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set New Lock": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Call '01-Hagrid'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepare contact data": {
      "main": [
        [
          {
            "node": "upsert contact in brevo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brevo": {
      "main": [
        [
          {
            "node": "Need to Sent sms ?",
            "type": "main",
            "index": 0
          },
          {
            "node": "CheckQueueForMore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upsert contact in brevo": {
      "main": [
        [
          {
            "node": "Brevo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Trigger From Ford": [
      {
        "json": {
          "session_id": "693fa27030ea4afd3d00b8b0",
          "customer_name": "Sree jith",
          "email": "mesreejithr@gmail.com",
          "petname": "Charpie ",
          "petKind": "Dog",
          "petGender": "Male",
          "phoneModel": "iPhone 16 Plus",
          "phoneNumber": null,
          "worker_token": "693fa27030ea4afd3d00b8b0",
          "slot_id": "2"
        }
      },
      {
        "json": {
          "asset_id": "8de09123cfd0ed45a95b88aa0d4ca7f4",
          "public_id": "693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt1",
          "version": 1765778431,
          "version_id": "ba900faee51d7a31479e32c9dd1bbc45",
          "signature": "3b7f779f5412ef2b32dd01e065805f6344c38e7a",
          "width": 1024,
          "height": 1536,
          "format": "jpg",
          "resource_type": "image",
          "created_at": "2025-12-15T06:00:31Z",
          "tags": [],
          "bytes": 234996,
          "type": "upload",
          "etag": "3bee88b43520b13dc3b2c162381c68f6",
          "placeholder": false,
          "url": "http://res.cloudinary.com/myfurryprints/image/upload/v1765778431/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt1.jpg",
          "secure_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1765778431/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt1.jpg",
          "asset_folder": "693fa27030ea4afd3d00b8b0",
          "display_name": "file",
          "existing": false,
          "original_filename": "file",
          "session_id": "693fa27030ea4afd3d00b8b0",
          "email": "mesreejithr@gmail.com",
          "petname": "Charpie ",
          "petKind": "Dog",
          "customer_name": "Sree jith",
          "promptIndex": 1,
          "theme_name": "Spa Day Deluxe",
          "customFilename": "693fa27030ea4afd3d00b8b0_prompt1",
          "original_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1765778431/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt1.jpg",
          "collection_image_url": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark2_rmmx8z.png/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt1",
          "transformations": {
            "clothing": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt1",
            "other": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt1",
            "watermark": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark2_rmmx8z.png/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt1"
          },
          "clothing_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt1",
          "other_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt1",
          "phoneNumber": null,
          "slot_id": "2",
          "worker_token": "693fa27030ea4afd3d00b8b0"
        }
      },
      {
        "json": {
          "asset_id": "35ac00556564e0a7126821bdd364dab1",
          "public_id": "693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt2",
          "version": 1765778431,
          "version_id": "ba900faee51d7a31479e32c9dd1bbc45",
          "signature": "577464c9e1c11db87772fea53c09d5dab997927f",
          "width": 1024,
          "height": 1536,
          "format": "jpg",
          "resource_type": "image",
          "created_at": "2025-12-15T06:00:31Z",
          "tags": [],
          "bytes": 182622,
          "type": "upload",
          "etag": "5b03df23932a6f7f75a73053ed7c425b",
          "placeholder": false,
          "url": "http://res.cloudinary.com/myfurryprints/image/upload/v1765778431/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt2.jpg",
          "secure_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1765778431/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt2.jpg",
          "asset_folder": "693fa27030ea4afd3d00b8b0",
          "display_name": "file",
          "existing": false,
          "original_filename": "file",
          "session_id": "693fa27030ea4afd3d00b8b0",
          "email": "mesreejithr@gmail.com",
          "petname": "Charpie ",
          "petKind": "Dog",
          "customer_name": "Sree jith",
          "promptIndex": 2,
          "theme_name": "Midnight Snack",
          "customFilename": "693fa27030ea4afd3d00b8b0_prompt2",
          "original_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1765778431/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt2.jpg",
          "collection_image_url": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark2_rmmx8z.png/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt2",
          "transformations": {
            "clothing": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt2",
            "other": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt2",
            "watermark": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark2_rmmx8z.png/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt2"
          },
          "clothing_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt2",
          "other_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt2",
          "phoneNumber": null,
          "slot_id": "2",
          "worker_token": "693fa27030ea4afd3d00b8b0"
        }
      },
      {
        "json": {
          "asset_id": "39923d9dab75f5de8a0e8efc6dc1d808",
          "public_id": "693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt3",
          "version": 1765778431,
          "version_id": "ba900faee51d7a31479e32c9dd1bbc45",
          "signature": "de9bc03ebfb332bd7f93dc12c44567b65d97d812",
          "width": 1024,
          "height": 1536,
          "format": "jpg",
          "resource_type": "image",
          "created_at": "2025-12-15T06:00:31Z",
          "tags": [],
          "bytes": 243683,
          "type": "upload",
          "etag": "af1bb3d7b31da4a41089ccc04aa26899",
          "placeholder": false,
          "url": "http://res.cloudinary.com/myfurryprints/image/upload/v1765778431/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt3.jpg",
          "secure_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1765778431/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt3.jpg",
          "asset_folder": "693fa27030ea4afd3d00b8b0",
          "display_name": "file",
          "existing": false,
          "original_filename": "file",
          "session_id": "693fa27030ea4afd3d00b8b0",
          "email": "mesreejithr@gmail.com",
          "petname": "Charpie ",
          "petKind": "Dog",
          "customer_name": "Sree jith",
          "promptIndex": 3,
          "theme_name": "Victorian Portrait",
          "customFilename": "693fa27030ea4afd3d00b8b0_prompt3",
          "original_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1765778431/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt3.jpg",
          "collection_image_url": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark2_rmmx8z.png/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt3",
          "transformations": {
            "clothing": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt3",
            "other": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt3",
            "watermark": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark2_rmmx8z.png/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt3"
          },
          "clothing_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt3",
          "other_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt3",
          "phoneNumber": null,
          "slot_id": "2",
          "worker_token": "693fa27030ea4afd3d00b8b0"
        }
      },
      {
        "json": {
          "asset_id": "f68a259120ab8e41f4493f4a44ef7245",
          "public_id": "693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt4",
          "version": 1765778431,
          "version_id": "ba900faee51d7a31479e32c9dd1bbc45",
          "signature": "a4ac353b087b93186bfa837666e02e5352f895ed",
          "width": 1024,
          "height": 1536,
          "format": "jpg",
          "resource_type": "image",
          "created_at": "2025-12-15T06:00:31Z",
          "tags": [],
          "bytes": 242041,
          "type": "upload",
          "etag": "d1f8cdeb34ca734c0de231a91e1fe2c8",
          "placeholder": false,
          "url": "http://res.cloudinary.com/myfurryprints/image/upload/v1765778431/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt4.jpg",
          "secure_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1765778431/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt4.jpg",
          "asset_folder": "693fa27030ea4afd3d00b8b0",
          "display_name": "file",
          "existing": false,
          "original_filename": "file",
          "session_id": "693fa27030ea4afd3d00b8b0",
          "email": "mesreejithr@gmail.com",
          "petname": "Charpie ",
          "petKind": "Dog",
          "customer_name": "Sree jith",
          "promptIndex": 4,
          "theme_name": "Harry Petter",
          "customFilename": "693fa27030ea4afd3d00b8b0_prompt4",
          "original_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1765778431/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt4.jpg",
          "collection_image_url": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark2_rmmx8z.png/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt4",
          "transformations": {
            "clothing": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt4",
            "other": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt4",
            "watermark": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark2_rmmx8z.png/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt4"
          },
          "clothing_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt4",
          "other_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt4",
          "phoneNumber": null,
          "slot_id": "2",
          "worker_token": "693fa27030ea4afd3d00b8b0"
        }
      },
      {
        "json": {
          "asset_id": "0efc4e44241cdb69adaca20c006c079a",
          "public_id": "693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt5",
          "version": 1765778431,
          "version_id": "ba900faee51d7a31479e32c9dd1bbc45",
          "signature": "4470161212d4830ffa3faa5f17b4b98e302cc550",
          "width": 1024,
          "height": 1536,
          "format": "jpg",
          "resource_type": "image",
          "created_at": "2025-12-15T06:00:31Z",
          "tags": [],
          "bytes": 223371,
          "type": "upload",
          "etag": "76bed45dfefe4b7e48c037dcdc8fca54",
          "placeholder": false,
          "url": "http://res.cloudinary.com/myfurryprints/image/upload/v1765778431/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt5.jpg",
          "secure_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1765778431/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt5.jpg",
          "asset_folder": "693fa27030ea4afd3d00b8b0",
          "display_name": "file",
          "existing": false,
          "original_filename": "file",
          "session_id": "693fa27030ea4afd3d00b8b0",
          "email": "mesreejithr@gmail.com",
          "petname": "Charpie ",
          "petKind": "Dog",
          "customer_name": "Sree jith",
          "promptIndex": 5,
          "theme_name": "Corporate Pet",
          "customFilename": "693fa27030ea4afd3d00b8b0_prompt5",
          "original_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1765778431/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt5.jpg",
          "collection_image_url": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark2_rmmx8z.png/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt5",
          "transformations": {
            "clothing": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt5",
            "other": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt5",
            "watermark": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark2_rmmx8z.png/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt5"
          },
          "clothing_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt5",
          "other_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt5",
          "phoneNumber": null,
          "slot_id": "2",
          "worker_token": "693fa27030ea4afd3d00b8b0"
        }
      },
      {
        "json": {
          "asset_id": "968b0790ab8485f89344442314b0d19d",
          "public_id": "693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt6",
          "version": 1765778431,
          "version_id": "ba900faee51d7a31479e32c9dd1bbc45",
          "signature": "de13696b468783c365717590aab6fd877b193332",
          "width": 1024,
          "height": 1536,
          "format": "jpg",
          "resource_type": "image",
          "created_at": "2025-12-15T06:00:31Z",
          "tags": [],
          "bytes": 221135,
          "type": "upload",
          "etag": "a99e41e1770607849d2a9955c537b0e9",
          "placeholder": false,
          "url": "http://res.cloudinary.com/myfurryprints/image/upload/v1765778431/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt6.jpg",
          "secure_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1765778431/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt6.jpg",
          "asset_folder": "693fa27030ea4afd3d00b8b0",
          "display_name": "file",
          "existing": false,
          "original_filename": "file",
          "session_id": "693fa27030ea4afd3d00b8b0",
          "email": "mesreejithr@gmail.com",
          "petname": "Charpie ",
          "petKind": "Dog",
          "customer_name": "Sree jith",
          "promptIndex": 6,
          "theme_name": "Home Yoga",
          "customFilename": "693fa27030ea4afd3d00b8b0_prompt6",
          "original_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1765778431/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt6.jpg",
          "collection_image_url": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark2_rmmx8z.png/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt6",
          "transformations": {
            "clothing": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt6",
            "other": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt6",
            "watermark": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark2_rmmx8z.png/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt6"
          },
          "clothing_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt6",
          "other_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt6",
          "phoneNumber": null,
          "slot_id": "2",
          "worker_token": "693fa27030ea4afd3d00b8b0"
        }
      },
      {
        "json": {
          "asset_id": "db740c244ae7181830b086d03226d6db",
          "public_id": "693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt7",
          "version": 1765778431,
          "version_id": "ba900faee51d7a31479e32c9dd1bbc45",
          "signature": "a2d27f6100484fe460787ef3658946e9c93174bd",
          "width": 1024,
          "height": 1536,
          "format": "jpg",
          "resource_type": "image",
          "created_at": "2025-12-15T06:00:31Z",
          "tags": [],
          "bytes": 164031,
          "type": "upload",
          "etag": "2db4f1a20399d35f2129ad221298f3ea",
          "placeholder": false,
          "url": "http://res.cloudinary.com/myfurryprints/image/upload/v1765778431/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt7.jpg",
          "secure_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1765778431/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt7.jpg",
          "asset_folder": "693fa27030ea4afd3d00b8b0",
          "display_name": "file",
          "existing": false,
          "original_filename": "file",
          "session_id": "693fa27030ea4afd3d00b8b0",
          "email": "mesreejithr@gmail.com",
          "petname": "Charpie ",
          "petKind": "Dog",
          "customer_name": "Sree jith",
          "promptIndex": 7,
          "theme_name": "Game of Thrones",
          "customFilename": "693fa27030ea4afd3d00b8b0_prompt7",
          "original_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1765778431/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt7.jpg",
          "collection_image_url": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark2_rmmx8z.png/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt7",
          "transformations": {
            "clothing": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt7",
            "other": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt7",
            "watermark": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark2_rmmx8z.png/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt7"
          },
          "clothing_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt7",
          "other_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt7",
          "phoneNumber": null,
          "slot_id": "2",
          "worker_token": "693fa27030ea4afd3d00b8b0"
        }
      },
      {
        "json": {
          "asset_id": "e906e95f8cfc03502fdebf0f6705c349",
          "public_id": "693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt8",
          "version": 1765778431,
          "version_id": "ba900faee51d7a31479e32c9dd1bbc45",
          "signature": "8f1d34afe49351e92d231df54cd314fd9d3ca86b",
          "width": 1024,
          "height": 1536,
          "format": "jpg",
          "resource_type": "image",
          "created_at": "2025-12-15T06:00:31Z",
          "tags": [],
          "bytes": 238018,
          "type": "upload",
          "etag": "4b8e86871d1d7fa4cada2a582957e25b",
          "placeholder": false,
          "url": "http://res.cloudinary.com/myfurryprints/image/upload/v1765778431/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt8.jpg",
          "secure_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1765778431/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt8.jpg",
          "asset_folder": "693fa27030ea4afd3d00b8b0",
          "display_name": "file",
          "existing": false,
          "original_filename": "file",
          "session_id": "693fa27030ea4afd3d00b8b0",
          "email": "mesreejithr@gmail.com",
          "petname": "Charpie ",
          "petKind": "Dog",
          "customer_name": "Sree jith",
          "promptIndex": 8,
          "theme_name": "Morning Coffee",
          "customFilename": "693fa27030ea4afd3d00b8b0_prompt8",
          "original_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1765778431/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt8.jpg",
          "collection_image_url": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark2_rmmx8z.png/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt8",
          "transformations": {
            "clothing": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt8",
            "other": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt8",
            "watermark": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark2_rmmx8z.png/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt8"
          },
          "clothing_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt8",
          "other_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt8",
          "phoneNumber": null,
          "slot_id": "2",
          "worker_token": "693fa27030ea4afd3d00b8b0"
        }
      },
      {
        "json": {
          "asset_id": "81955f7ba1ae9b51dba5e940c2a4f37a",
          "public_id": "693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt9",
          "version": 1765778431,
          "version_id": "ba900faee51d7a31479e32c9dd1bbc45",
          "signature": "0be5f071bd3d5684548bf10b9e69cbe0d775af30",
          "width": 1024,
          "height": 1536,
          "format": "jpg",
          "resource_type": "image",
          "created_at": "2025-12-15T06:00:31Z",
          "tags": [],
          "bytes": 376456,
          "type": "upload",
          "etag": "9dc2e02ae8e62584b5dc9bf1b5d8c7e1",
          "placeholder": false,
          "url": "http://res.cloudinary.com/myfurryprints/image/upload/v1765778431/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt9.jpg",
          "secure_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1765778431/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt9.jpg",
          "asset_folder": "693fa27030ea4afd3d00b8b0",
          "display_name": "file",
          "existing": false,
          "original_filename": "file",
          "session_id": "693fa27030ea4afd3d00b8b0",
          "email": "mesreejithr@gmail.com",
          "petname": "Charpie ",
          "petKind": "Dog",
          "customer_name": "Sree jith",
          "promptIndex": 9,
          "theme_name": "Anime Style",
          "customFilename": "693fa27030ea4afd3d00b8b0_prompt9",
          "original_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1765778431/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt9.jpg",
          "collection_image_url": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark2_rmmx8z.png/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt9",
          "transformations": {
            "clothing": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt9",
            "other": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt9",
            "watermark": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark2_rmmx8z.png/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt9"
          },
          "clothing_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt9",
          "other_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt9",
          "phoneNumber": null,
          "slot_id": "2",
          "worker_token": "693fa27030ea4afd3d00b8b0"
        }
      },
      {
        "json": {
          "asset_id": "29d76faf3fc7c018db2db1d9665bee4f",
          "public_id": "693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt10",
          "version": 1765778431,
          "version_id": "ba900faee51d7a31479e32c9dd1bbc45",
          "signature": "47e9f0ba5a656f783ff468eedf4e021386b6f8b1",
          "width": 1024,
          "height": 1536,
          "format": "jpg",
          "resource_type": "image",
          "created_at": "2025-12-15T06:00:31Z",
          "tags": [],
          "bytes": 297637,
          "type": "upload",
          "etag": "2e70bda18bcd2878edf09ce9b742c7c3",
          "placeholder": false,
          "url": "http://res.cloudinary.com/myfurryprints/image/upload/v1765778431/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt10.jpg",
          "secure_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1765778431/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt10.jpg",
          "asset_folder": "693fa27030ea4afd3d00b8b0",
          "display_name": "file",
          "existing": false,
          "original_filename": "file",
          "session_id": "693fa27030ea4afd3d00b8b0",
          "email": "mesreejithr@gmail.com",
          "petname": "Charpie ",
          "petKind": "Dog",
          "customer_name": "Sree jith",
          "promptIndex": 10,
          "theme_name": "The Viking",
          "customFilename": "693fa27030ea4afd3d00b8b0_prompt10",
          "original_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1765778431/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt10.jpg",
          "collection_image_url": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark2_rmmx8z.png/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt10",
          "transformations": {
            "clothing": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt10",
            "other": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt10",
            "watermark": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark2_rmmx8z.png/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt10"
          },
          "clothing_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt10",
          "other_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/693fa27030ea4afd3d00b8b0/693fa27030ea4afd3d00b8b0_prompt10",
          "phoneNumber": null,
          "slot_id": "2",
          "worker_token": "693fa27030ea4afd3d00b8b0"
        }
      },
      {
        "json": {
          "custom_collection": {
            "id": 696791892308,
            "handle": "charpie-spadaydeluxe-3d00b8b0",
            "title": "Charpie  Spa Day Deluxe",
            "updated_at": "2025-12-15T06:00:37+00:00",
            "body_html": "<p>Custom Spa Day Deluxe artwork featuring Charpie . High-quality, frame-worthy art available on various products.</p><p>Created for Sree jith (mesreejithr@gmail.com)</p>",
            "published_at": "2025-12-15T06:00:34+00:00",
            "sort_order": "best-selling",
            "template_suffix": null,
            "published_scope": "web",
            "admin_graphql_api_id": "gid://shopify/Collection/696791892308",
            "image": {
              "created_at": "2025-12-15T06:00:35+00:00",
              "alt": "Charpie  Spa Day Deluxe Artwork",
              "width": 1024,
              "height": 1536,
              "src": "https://cdn.shopify.com/s/files/1/0961/0831/4964/collections/693fa27030ea4afd3d00b8b0_prompt1.jpg?v=1765778437"
            }
          }
        }
      },
      {
        "json": {
          "custom_collection": {
            "id": 696791990612,
            "handle": "charpie-midnightsnack-3d00b8b0",
            "title": "Charpie  Midnight Snack",
            "updated_at": "2025-12-15T06:00:37+00:00",
            "body_html": "<p>Custom Midnight Snack artwork featuring Charpie . High-quality, frame-worthy art available on various products.</p><p>Created for Sree jith (mesreejithr@gmail.com)</p>",
            "published_at": "2025-12-15T06:00:34+00:00",
            "sort_order": "best-selling",
            "template_suffix": null,
            "published_scope": "web",
            "admin_graphql_api_id": "gid://shopify/Collection/696791990612",
            "image": {
              "created_at": "2025-12-15T06:00:36+00:00",
              "alt": "Charpie  Midnight Snack Artwork",
              "width": 1024,
              "height": 1536,
              "src": "https://cdn.shopify.com/s/files/1/0961/0831/4964/collections/693fa27030ea4afd3d00b8b0_prompt2.jpg?v=1765778437"
            }
          }
        }
      },
      {
        "json": {
          "custom_collection": {
            "id": 696791957844,
            "handle": "charpie-victorianportrait-3d00b8b0",
            "title": "Charpie  Victorian Portrait",
            "updated_at": "2025-12-15T06:00:38+00:00",
            "body_html": "<p>Custom Victorian Portrait artwork featuring Charpie . High-quality, frame-worthy art available on various products.</p><p>Created for Sree jith (mesreejithr@gmail.com)</p>",
            "published_at": "2025-12-15T06:00:34+00:00",
            "sort_order": "best-selling",
            "template_suffix": null,
            "published_scope": "web",
            "admin_graphql_api_id": "gid://shopify/Collection/696791957844",
            "image": {
              "created_at": "2025-12-15T06:00:35+00:00",
              "alt": "Charpie  Victorian Portrait Artwork",
              "width": 1024,
              "height": 1536,
              "src": "https://cdn.shopify.com/s/files/1/0961/0831/4964/collections/693fa27030ea4afd3d00b8b0_prompt3.jpg?v=1765778438"
            }
          }
        }
      },
      {
        "json": {
          "custom_collection": {
            "id": 696791925076,
            "handle": "charpie-harrypetter-3d00b8b0",
            "title": "Charpie  Harry Petter",
            "updated_at": "2025-12-15T06:00:37+00:00",
            "body_html": "<p>Custom Harry Petter artwork featuring Charpie . High-quality, frame-worthy art available on various products.</p><p>Created for Sree jith (mesreejithr@gmail.com)</p>",
            "published_at": "2025-12-15T06:00:34+00:00",
            "sort_order": "best-selling",
            "template_suffix": null,
            "published_scope": "web",
            "admin_graphql_api_id": "gid://shopify/Collection/696791925076",
            "image": {
              "created_at": "2025-12-15T06:00:35+00:00",
              "alt": "Charpie  Harry Petter Artwork",
              "width": 1024,
              "height": 1536,
              "src": "https://cdn.shopify.com/s/files/1/0961/0831/4964/collections/693fa27030ea4afd3d00b8b0_prompt4.jpg?v=1765778437"
            }
          }
        }
      },
      {
        "json": {
          "custom_collection": {
            "id": 696791761236,
            "handle": "charpie-corporatepet-3d00b8b0",
            "title": "Charpie  Corporate Pet",
            "updated_at": "2025-12-15T06:00:37+00:00",
            "body_html": "<p>Custom Corporate Pet artwork featuring Charpie . High-quality, frame-worthy art available on various products.</p><p>Created for Sree jith (mesreejithr@gmail.com)</p>",
            "published_at": "2025-12-15T06:00:34+00:00",
            "sort_order": "best-selling",
            "template_suffix": null,
            "published_scope": "web",
            "admin_graphql_api_id": "gid://shopify/Collection/696791761236",
            "image": {
              "created_at": "2025-12-15T06:00:35+00:00",
              "alt": "Charpie  Corporate Pet Artwork",
              "width": 1024,
              "height": 1536,
              "src": "https://cdn.shopify.com/s/files/1/0961/0831/4964/collections/693fa27030ea4afd3d00b8b0_prompt5.jpg?v=1765778437"
            }
          }
        }
      },
      {
        "json": {
          "custom_collection": {
            "id": 696791826772,
            "handle": "charpie-homeyoga-3d00b8b0",
            "title": "Charpie  Home Yoga",
            "updated_at": "2025-12-15T06:00:37+00:00",
            "body_html": "<p>Custom Home Yoga artwork featuring Charpie . High-quality, frame-worthy art available on various products.</p><p>Created for Sree jith (mesreejithr@gmail.com)</p>",
            "published_at": "2025-12-15T06:00:34+00:00",
            "sort_order": "best-selling",
            "template_suffix": null,
            "published_scope": "web",
            "admin_graphql_api_id": "gid://shopify/Collection/696791826772",
            "image": {
              "created_at": "2025-12-15T06:00:35+00:00",
              "alt": "Charpie  Home Yoga Artwork",
              "width": 1024,
              "height": 1536,
              "src": "https://cdn.shopify.com/s/files/1/0961/0831/4964/collections/693fa27030ea4afd3d00b8b0_prompt6.jpg?v=1765778437"
            }
          }
        }
      },
      {
        "json": {
          "custom_collection": {
            "id": 696791859540,
            "handle": "charpie-gameofthrones-3d00b8b0",
            "title": "Charpie  Game of Thrones",
            "updated_at": "2025-12-15T06:00:36+00:00",
            "body_html": "<p>Custom Game of Thrones artwork featuring Charpie . High-quality, frame-worthy art available on various products.</p><p>Created for Sree jith (mesreejithr@gmail.com)</p>",
            "published_at": "2025-12-15T06:00:34+00:00",
            "sort_order": "best-selling",
            "template_suffix": null,
            "published_scope": "web",
            "admin_graphql_api_id": "gid://shopify/Collection/696791859540",
            "image": {
              "created_at": "2025-12-15T06:00:35+00:00",
              "alt": "Charpie  Game of Thrones Artwork",
              "width": 1024,
              "height": 1536,
              "src": "https://cdn.shopify.com/s/files/1/0961/0831/4964/collections/693fa27030ea4afd3d00b8b0_prompt7.jpg?v=1765778436"
            }
          }
        }
      },
      {
        "json": {
          "custom_collection": {
            "id": 696791794004,
            "handle": "charpie-morningcoffee-3d00b8b0",
            "title": "Charpie  Morning Coffee",
            "updated_at": "2025-12-15T06:00:37+00:00",
            "body_html": "<p>Custom Morning Coffee artwork featuring Charpie . High-quality, frame-worthy art available on various products.</p><p>Created for Sree jith (mesreejithr@gmail.com)</p>",
            "published_at": "2025-12-15T06:00:34+00:00",
            "sort_order": "best-selling",
            "template_suffix": null,
            "published_scope": "web",
            "admin_graphql_api_id": "gid://shopify/Collection/696791794004",
            "image": {
              "created_at": "2025-12-15T06:00:35+00:00",
              "alt": "Charpie  Morning Coffee Artwork",
              "width": 1024,
              "height": 1536,
              "src": "https://cdn.shopify.com/s/files/1/0961/0831/4964/collections/693fa27030ea4afd3d00b8b0_prompt8.jpg?v=1765778437"
            }
          }
        }
      },
      {
        "json": {
          "custom_collection": {
            "id": 696792056148,
            "handle": "charpie-animestyle-3d00b8b0",
            "title": "Charpie  Anime Style",
            "updated_at": "2025-12-15T06:00:38+00:00",
            "body_html": "<p>Custom Anime Style artwork featuring Charpie . High-quality, frame-worthy art available on various products.</p><p>Created for Sree jith (mesreejithr@gmail.com)</p>",
            "published_at": "2025-12-15T06:00:34+00:00",
            "sort_order": "best-selling",
            "template_suffix": null,
            "published_scope": "web",
            "admin_graphql_api_id": "gid://shopify/Collection/696792056148",
            "image": {
              "created_at": "2025-12-15T06:00:36+00:00",
              "alt": "Charpie  Anime Style Artwork",
              "width": 1024,
              "height": 1536,
              "src": "https://cdn.shopify.com/s/files/1/0961/0831/4964/collections/693fa27030ea4afd3d00b8b0_prompt9.jpg?v=1765778438"
            }
          }
        }
      },
      {
        "json": {
          "custom_collection": {
            "id": 696792023380,
            "handle": "charpie-theviking-3d00b8b0",
            "title": "Charpie  The Viking",
            "updated_at": "2025-12-15T06:00:37+00:00",
            "body_html": "<p>Custom The Viking artwork featuring Charpie . High-quality, frame-worthy art available on various products.</p><p>Created for Sree jith (mesreejithr@gmail.com)</p>",
            "published_at": "2025-12-15T06:00:34+00:00",
            "sort_order": "best-selling",
            "template_suffix": null,
            "published_scope": "web",
            "admin_graphql_api_id": "gid://shopify/Collection/696792023380",
            "image": {
              "created_at": "2025-12-15T06:00:36+00:00",
              "alt": "Charpie  The Viking Artwork",
              "width": 1024,
              "height": 1536,
              "src": "https://cdn.shopify.com/s/files/1/0961/0831/4964/collections/693fa27030ea4afd3d00b8b0_prompt10.jpg?v=1765778437"
            }
          }
        }
      }
    ]
  },
  "versionId": "d9f51448-1428-4331-84e6-670e41882705",
  "activeVersionId": "d9f51448-1428-4331-84e6-670e41882705",
  "versionCounter": 43,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-18T10:17:52.349Z",
      "createdAt": "2025-11-18T10:17:52.349Z",
      "role": "workflow:owner",
      "workflowId": "jPMcHRxP8t0jGpsT",
      "projectId": "lLSHos7ohHn7AjNm",
      "project": {
        "updatedAt": "2025-06-14T17:25:02.061Z",
        "createdAt": "2025-06-14T17:13:49.092Z",
        "id": "lLSHos7ohHn7AjNm",
        "name": "Muhasin Rashid <muhasin@gauger.in>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-06-14T17:13:49.092Z",
            "createdAt": "2025-06-14T17:13:49.092Z",
            "userId": "f88f8c62-813a-499e-aaee-b5f4da43c5a7",
            "projectId": "lLSHos7ohHn7AjNm",
            "user": {
              "updatedAt": "2025-12-18T05:00:03.582Z",
              "createdAt": "2025-06-14T17:13:45.907Z",
              "id": "f88f8c62-813a-499e-aaee-b5f4da43c5a7",
              "email": "muhasin@gauger.in",
              "firstName": "Muhasin",
              "lastName": "Rashid",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-06-14T17:25:40.417Z",
                "personalization_survey_n8n_version": "1.97.1",
                "automationGoalDevops": [
                  "other"
                ],
                "automationGoalDevopsOther": "Product",
                "companyType": "ecommerce",
                "role": "engineering"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "JsDBWbsoYaKBkGmW",
                "userActivatedAt": 1758182279933,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1752395252283
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-18",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-12-18T05:57:00.738Z",
      "createdAt": "2025-12-18T05:57:00.738Z",
      "id": "UKI0v1bk4iF3oZWB",
      "name": "production-main"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-17T18:36:47.449Z",
    "createdAt": "2025-12-15T10:27:31.993Z",
    "versionId": "d9f51448-1428-4331-84e6-670e41882705",
    "workflowId": "jPMcHRxP8t0jGpsT",
    "nodes": [
      {
        "parameters": {
          "method": "POST",
          "url": "https://honest-ghoul-37248.upstash.io/rpop/myfurryprints_queue",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          560,
          320
        ],
        "id": "bc21562c-9f49-4642-b812-63b0c96b2efd",
        "name": "CheckQueueForMore",
        "credentials": {
          "httpHeaderAuth": {
            "id": "OU4p8zTKeY9k8OYC",
            "name": "Upstash_new"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "7fd4bd14-be92-42ba-991c-009c111e9871",
                "leftValue": "={{ $json.result }}",
                "rightValue": 0,
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          752,
          368
        ],
        "id": "682bc4dd-b0b8-43d7-99b1-ad22da852292",
        "name": "IfQueueHasJobs"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://j4zewh-kg.myshopify.com/admin/api/2025-04/pages.json",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"page\": {\n    \"title\": \"{{ $json.petname }}\", \n    \"handle\": \"{{ $json.page_handle }}\",       \n    \"body_html\": \"<p>Gallery page for {{ $json.petname }}. Description managed in GemPages.</p>\", \n    \"template_suffix\": \"gp-template-569295308895290348\", \n    \"published\": true,\n    \"metafields\": [\n      {\n        \"key\": \"pet_name\", \n        \"namespace\": \"custom\", \n        \"value\": \"{{ $json.petname }}\", \n        \"type\": \"single_line_text_field\" \n      },\n      {\n        \"key\": \"gallery_description\", \n        \"namespace\": \"custom\", \n        \"value\": \"{{ $json.gallery_description }}\", \n        \"type\": \"multi_line_text_field\" \n      },\n      {\n        \"key\": \"collection_ids\", \n        \"namespace\": \"custom\", \n        \"value\": \"{{ $json.collection_handles }}\", \n        \"type\": \"single_line_text_field\"\n      }\n    ]\n  }\n}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "json"
              }
            }
          }
        },
        "id": "a580f525-3bba-4666-afda-694854a9a41b",
        "name": "Create Gallery Page",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          -848,
          160
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "878XnnwYx10R4wXG",
            "name": "Shopify"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const pageResponse = $('Create Gallery Page').all()[0].json;\nconst config = $('Set Configuration').all()[0].json;\nconst processedData = $('Process Collections').all()[0].json;\n\n// Check if we have a successful response (201 Created)\nif (pageResponse.statusCode === 201 && pageResponse.body && pageResponse.body.page) {\n  const page = pageResponse.body.page;\n  const pageUrl = `https://${config.shopify_store_url.replace('.myshopify.com', '')}/pages/${page.handle}`;\n  \n  return {\n    success: true,\n    page_id: page.id,\n    page_handle: page.handle,\n    petname: $('Process Collections').first().json.petname,\n    phoneNumber: $('Debug Gallery Data1').first().json.phoneNumber,\n    page_url: pageUrl,\n    admin_url: `https://j4zewh-kg.myshopify.com/admin/pages/${page.id}`,\n    collections_included: processedData.collections.map(c => ({\n      handle: c.handle,\n      title: c.title,\n      products_count: c.products_count\n    })),\n    gallery_title: processedData.gallery_title,\n    metafields_set: [\n      'custom.gallery_title',\n      'custom.gallery_description',\n      'custom.collection_ids'\n    ],\n    created_at: new Date().toISOString()\n  };\n} else {\n  throw new Error(`Failed to create page: Status ${pageResponse.statusCode} - ${pageResponse.statusMessage}`);\n}"
        },
        "id": "0d00dd31-a379-437b-9243-dd726a31b79f",
        "name": "Format Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -416,
          144
        ]
      },
      {
        "parameters": {
          "jsCode": "const config = $input.item.json;\n\n// ✅ Ensure we have a valid collectionHandlesString\nif (!config.collectionHandlesString || typeof config.collectionHandlesString !== 'string') {\n  throw new Error(\"Missing or invalid 'collectionHandlesString'\");\n}\n\n// ✅ Build minimal fake 'collections' array just from handles\nconst handles = config.collectionHandlesString\n  .split(',')\n  .map(h => h.trim())\n  .filter(h => h.length > 0);\n\n// You can optionally attach placeholder metadata if needed later\nconst collections = handles.map(h => ({\n  handle: h,\n  title: h.replace(/-/g, ' ').replace(/\\b\\w/g, l => l.toUpperCase()), // e.g., \\\"sammy-spa-day\\\" → \\\"Sammy Spa Day\\\"\n  products_count: 1\n}));\n\n// --- CORRECTED: Include petname and ensure gallery_description is passed through ---\nconst pageData = {\n  collections,\n  collection_handles: handles.join(','),\n  gallery_title: config.gallery_title || 'My Art Gallery', // Keep this for compatibility if needed later, but API call ignores it\n  gallery_description: config.gallery_description || 'Enjoy your custom artwork!', // Pass through description from input\n  page_handle: 'artwork-' + $('extracting handle1').first().json.sessionId,\n  petname: config.petname ,\n  phoneNumber: config.phoneNumber// <--- ADDED: Include petname from input\n};\n\nreturn [{ json: pageData }];"
        },
        "id": "2fc958cd-de84-4202-ab32-dba3ac4f41fe",
        "name": "Process Collections",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1264,
          160
        ]
      },
      {
        "parameters": {
          "fields": {
            "values": [
              {
                "name": "shopify_store_url",
                "stringValue": "myfurryprints.com"
              },
              {
                "name": "collection_handles",
                "stringValue": "={{ $json.collectionHandlesString.toString() }}"
              },
              {
                "name": "email",
                "stringValue": "={{ $json.email }}"
              },
              {
                "name": "phoneNumber",
                "stringValue": "={{ $('extracting handle1').item.json.phoneNumber }}"
              },
              {
                "name": "petname",
                "stringValue": "={{ $json.petname }}"
              },
              {
                "name": "admin_store_url",
                "stringValue": "j4zewh-kg.myshopify.com"
              }
            ]
          },
          "options": {}
        },
        "id": "6f661dc7-bc99-4e5b-ac94-d6aa596b95b5",
        "name": "Set Configuration",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.2,
        "position": [
          -1488,
          160
        ]
      },
      {
        "parameters": {
          "jsCode": "// Node Name: Extract Merged Data\n// Receives the array of items from the Merge node output.\n// Finds and consolidates collection handles string, email, and petname.\n// Outputs a single item with the consolidated data.\n\nconst items = $input.all(); // Get all items from the merge node output\n\n// Initialize variables to store the data we need to extract\nlet collectionHandlesString = '';\nlet email = '';\nlet petname = '';\n\n// Loop through each item produced by the merge node\nitems.forEach(item => {\n  // Check if the current item has the 'collectionHandlesString' property\n  if (item.json && item.json.collectionHandlesString) {\n    collectionHandlesString = item.json.collectionHandlesString;\n    // Optional: Log that we found it\n    console.log('Found collectionHandlesString:', collectionHandlesString);\n  }\n\n  // Check if the current item has the 'email' property (assuming email and petname are in the same item)\n  if (item.json && item.json.email) {\n    email = item.json.email;\n    petname = item.json.petname || ''; // Also get petname from the same item\n    // Optional: Log that we found user data\n    console.log('Found user data (email, petname):', email, petname);\n  }\n\n  // We don't need to process the items with the 'collect' object for this specific task.\n});\n\n// Check if essential data was found (optional but recommended)\nif (!collectionHandlesString || !email || !petname) {\n    console.warn('One or more required fields not found in merge output:', {\n        collectionHandlesString: collectionHandlesString ? 'Found' : 'Not Found',\n        email: email ? 'Found' : 'Not Found',\n        petname: petname ? 'Found' : 'Not Found'\n    });\n    // You might choose to throw an error here if the data is critical,\n    // or return an item indicating failure, or return with empty values.\n    // For now, we proceed with whatever was found.\n}\n\n\n// Return a single item containing the consolidated data\nreturn [{\n  json: {\n    collectionHandlesString: collectionHandlesString,\n    email: email,\n    petname: petname\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1712,
          160
        ],
        "id": "67769aa6-e99c-4512-83f4-9c88dac202b8",
        "name": "Consolidate Gallery Data1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "f6g7h8i9-j0k1-2l3m-4n5o-p6q7r8s9t0u1",
                "leftValue": "={{ $('Create Gallery Page').item.json.statusCode }}",
                "rightValue": 201,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "3b7948f6-e5d4-488c-b679-1242ae019ed6",
        "name": "Validate Gallery Creation1",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -624,
          160
        ]
      },
      {
        "parameters": {
          "functionCode": "// Debug what's being passed to Create Gallery Page\nconst passedData = { ...items[0].json };\nreturn [\n  {\n    json: {\n      ...passedData,\n      debug_info: {\n        time: new Date().toISOString(),\n        gallery_title_type: typeof passedData.gallery_title,\n        page_handle_type: typeof passedData.page_handle, \n      }\n    }\n  }\n];"
        },
        "id": "157030e9-1a67-4b82-8bde-de5cc42d11d0",
        "name": "Debug Gallery Data1",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [
          -1072,
          160
        ]
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all(); // Get all input items\nconst handles = []; // To collect collection handles\n\n// Extract from the first item (where metadata like email, petname, etc. are stored)\nconst firstItem = items[0]?.json || {};\nconst email = firstItem.email || '';\nconst petname = firstItem.petname || '';\nconst petKind = firstItem.petKind || '';\nconst sessionId = firstItem.session_id || '';\nconst customerName = firstItem.customer_name || '';\nconst phoneNumber = firstItem.phoneNumber || ''; // Extract phone number\n\n// Loop through each item to extract collection handles\nitems.forEach(item => {\n  if (item.json && item.json.custom_collection && item.json.custom_collection.handle) {\n    handles.push(item.json.custom_collection.handle);\n  }\n});\n\n// Join all collected handles into a comma-separated string\nconst collectionHandlesString = handles.join(',');\n\n// Return a single output item with all requested fields\nreturn [{\n  json: {\n    email,\n    petname,\n    petKind,\n    sessionId,\n    phoneNumber,\n    customerName,\n    collectionHandlesString\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2016,
          160
        ],
        "id": "ee93587e-e0ac-4370-b066-99a8a28c3ba5",
        "name": "extracting handle1"
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -2272,
          160
        ],
        "id": "14059f7e-a386-40fe-8c22-be8b6d062951",
        "name": "Trigger From Ford"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.brevo.com/v3/transactionalSMS/sms",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"sender\": \"FurryPrints\",\n  \"recipient\": \"{{ $('Format Response').item.json.phoneNumber.replace(/\\s/g, '') }}\",\n  \"content\": \"🎉 {{ $('Format Response').item.json.petname }}’s artwork is ready! Tap here to see those adorable portraits 😍 {{ $('Format Response').item.json.page_url }}?utm_medium=sms\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          848,
          -112
        ],
        "id": "dc9bd1f8-1806-44b5-8ca3-b4826f079a99",
        "name": "send sms",
        "credentials": {
          "httpHeaderAuth": {
            "id": "aFcAEYavGsDojoat",
            "name": "Brevo api"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "sbikCUZ8YSTSByDN",
            "mode": "list",
            "cachedResultUrl": "/workflow/sbikCUZ8YSTSByDN",
            "cachedResultName": "01-Hagrid"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": false
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          1952,
          240
        ],
        "id": "68c944d3-acd6-4c75-956a-f0cafea5422d",
        "name": "Call '01-Hagrid'",
        "executeOnce": false
      },
      {
        "parameters": {
          "url": "=https://honest-ghoul-37248.upstash.io/get/worker_slot_{{ $('Trigger From Ford').first().json.slot_id }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1296,
          496
        ],
        "id": "f487e319-dd81-4dba-a227-8be617c2aa94",
        "name": "Verify Ownership1",
        "credentials": {
          "httpHeaderAuth": {
            "id": "OU4p8zTKeY9k8OYC",
            "name": "Upstash_new"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "1f4ddce0-4115-448c-b70c-89521bd7c847",
                "leftValue": "={{ $json.result }}",
                "rightValue": "={{ $('Trigger From Ford').first().json.worker_token }}",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1568,
          496
        ],
        "id": "a71ee7eb-c3b3-4425-964c-f459e0f7e68f",
        "name": "Am I Active?1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://honest-ghoul-37248.upstash.io/del/worker_slot_{{ $('Trigger From Ford').first().json.slot_id }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1824,
          480
        ],
        "id": "bd635db6-ebbe-4f64-a87d-7e8c313ba8f9",
        "name": "Delete Lock",
        "credentials": {
          "httpHeaderAuth": {
            "id": "OU4p8zTKeY9k8OYC",
            "name": "Upstash_new"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "144b7ef2-350e-45a2-8a47-16a30f21a227",
                "leftValue": "={{ $('Format Response').item.json.phoneNumber }}",
                "rightValue": "=+44 7xxx xxxxxx",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              },
              {
                "id": "d0d5c3d3-32c5-4e12-a289-2249b2f26765",
                "leftValue": "={{ $('Format Response').item.json.phoneNumber }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          592,
          -128
        ],
        "id": "b145a869-3964-4580-926f-caf146c47f68",
        "name": "Need to Sent sms ?"
      },
      {
        "parameters": {
          "jsCode": "// 1. Parse the new job data popped from Redis\nconst redisResult = $input.item.json.result;\nconst newJobData = JSON.parse(redisResult);\n\n// 2. Retrieve the persistent infrastructure data (Slot ID) \n// form the very beginning of this workflow execution (P1's data)\nconst originalContext = $('Trigger From Ford').first().json;\n\nreturn {\n  json: {\n    // Pass the raw result string so 01-Hagrid can parse it exactly as it expects\n    result: redisResult,\n    \n    // PERSIST THE SLOT ID: The slot doesn't change, just the worker\n    slot_id: originalContext.slot_id,\n\n    // GENERATE NEW TOKEN: In your system, token seems to equal submission_id.\n    // We must update this so the lock matches the new job.\n    worker_token: newJobData.submission_id\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1024,
          272
        ],
        "id": "ceed2f32-9287-4ff6-81ac-3012b75c0cc3",
        "name": "Prepare Next Job"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://honest-ghoul-37248.upstash.io/set/worker_slot_{{ $json.slot_id }}/{{ $json.worker_token }}/EX/10800",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1328,
          192
        ],
        "id": "45a2fb6d-3db5-4d98-bd27-5e372555fecd",
        "name": "Set New Lock",
        "credentials": {
          "httpHeaderAuth": {
            "id": "OU4p8zTKeY9k8OYC",
            "name": "Upstash_new"
          }
        }
      },
      {
        "parameters": {
          "mode": "chooseBranch"
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1664,
          224
        ],
        "id": "325367f8-65cc-4c8d-8192-8b7c163e46d5",
        "name": "Merge"
      },
      {
        "parameters": {
          "operation": "sendTemplate",
          "templateId": 1,
          "receipients": "={{ $('Set Configuration').item.json.email + ', support@myfurryprints.com'}}",
          "additionalFields": {
            "templateParameters": {
              "parameterValues": {
                "parameters": "=registrationUrl={{ $('Format Response').item.json.page_url }},petname={{ $('prepare contact data').item.json.PET_NAME }}"
              }
            }
          },
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.sendInBlue",
        "typeVersion": 1,
        "position": [
          144,
          160
        ],
        "id": "239494f3-3580-4757-8568-2b5be335e5f8",
        "name": "Brevo",
        "credentials": {
          "sendInBlueApi": {
            "id": "iKQewRm9lysjCraU",
            "name": "Brevo account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// 1. Get data from the Trigger (Source of Truth) and Format node\nconst triggerData = $('Trigger From Ford').first().json;\nconst formatData = $('Format Response').item.json;\n\n// 2. Split Name\nconst fullName = triggerData.customer_name || 'Valued Customer';\nconst nameParts = fullName.trim().split(' ');\nconst firstName = nameParts[0];\nconst lastName = nameParts.slice(1).join(' ') || '';\n\n// --- 3. CLEAN PHONE (THE FIX) ---\nlet rawPhone = formatData.phoneNumber || '';\n\n// A. Remove spaces and dashes\nlet phone = rawPhone.toString().replace(/[\\s-]/g, '');\n\n// B. Check for Placeholders (\"x\") or invalid numbers\n// If it contains 'x' (like +44 7xxx...) OR is too short to be real\nif (phone.toLowerCase().includes('x') || phone.length < 5) {\n    phone = \"\"; // Send empty string to Brevo (Brevo allows empty, but not duplicate x's)\n}\n// --------------------------------\n\n// 4. Output Data mapped to your EXACT Brevo Attributes\nreturn {\n  json: {\n    email: triggerData.email,\n    FIRSTNAME: firstName,\n    LASTNAME: lastName,\n    SMS: phone,\n    // Custom Attributes\n    PET_NAME: triggerData.petname,\n    PET_TYPE: triggerData.petKind,\n    PET_GENDER: triggerData.petGender,\n    PHONE_MODEL: triggerData.phoneModel\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -208,
          160
        ],
        "id": "425405de-975c-488f-b348-25f7acf36fd0",
        "name": "prepare contact data"
      },
      {
        "parameters": {
          "authentication": "webhook",
          "content": "Delivery alert",
          "options": {},
          "embeds": {
            "values": [
              {
                "description": "=Client : **{{ $('extracting handle1').item.json.customerName }}**\nClick the link to view page : {{ $json.page_url }}",
                "color": "#CD3E1A",
                "timestamp": "={{ $json.created_at }}",
                "title": "=Pet: **{{ $json.petname }}** page delivered 🎉 🎉  ",
                "url": "="
              }
            ]
          }
        },
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          -432,
          448
        ],
        "id": "7019ad21-9c61-49f0-bafc-cb8a549666ec",
        "name": "Discord",
        "webhookId": "672f6499-5d9f-4e10-9c15-fdb0e83d3474",
        "credentials": {
          "discordWebhookApi": {
            "id": "xgichmKyuehtarny",
            "name": "Discord Webhook account"
          }
        }
      },
      {
        "parameters": {
          "sendTo": "ameena.k@gauger.in,  iamdanielsuresh@gmail.com, muhasin23@gmail.com",
          "subject": "={{ $('Format Response').item.json.petname }}'s Artwork page is created !",
          "message": "=<div style=\"font-family: Arial, sans-serif; font-size: 16px; color: #333; line-height: 1.5;\">\n  <!-- Header -->\n  <p style=\"font-size: 24px; font-weight: bold; margin-bottom: 5px;\">\n    Hi Team 👋\n  </p>\n\n  <!-- Good news -->\n  <p style=\"font-size: 18px; font-weight: bold; color: #28a745; margin-top: 0;\">\n    🎉 Good news! 🎉\n  </p>\n\n  <!-- Message -->\n  <p style=\"margin: 10px 0;\">\n    We have successfully created the gallery page for \n    <span style=\"font-size: 20px; font-weight: bold; color: #000;\">\n      {{ $('Format Response').item.json.petname }}\n    </span>.\n  </p>\n\n  <!-- Link -->\n  <p style=\"margin: 10px 0;\">\n    Click on the link below to view the page:<br>\n    <a href=\"{{ $('Format Response').item.json.page_url }}\" style=\"color: #1a73e8; text-decoration: none; font-weight: bold;\">\n      {{ $('Format Response').item.json.page_url }}\n    </a>\n  </p>\n\n  <!-- Closing -->\n  <p style=\"margin-top: 15px; font-style: italic; font-weight: bold; color: orange;\">\n    Great work guys! 💪🔥\n  </p>\n</div>\n",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          256,
          1136
        ],
        "id": "71e9486d-6ac5-4ebc-ab92-018a496eae91",
        "name": "team message",
        "webhookId": "ab498464-f582-4b4d-9757-c7d7b24ff9a0",
        "alwaysOutputData": false,
        "credentials": {
          "gmailOAuth2": {
            "id": "FsfUD7AAk7DNnm5t",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.brevo.com/v3/contacts",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"email\": \"{{ $json.email }}\",\n  \"attributes\": {\n    \"FIRSTNAME\": \"{{ $json.FIRSTNAME }}\",\n    \"LASTNAME\": \"{{ $json.LASTNAME }}\",\n    \"SMS\": \"{{ $json.SMS }}\",\n    \"PET_NAME\": \"{{ $json.PET_NAME }}\",\n    \"PET_GENDER\": \"{{ $json.PET_GENDER }}\",\n    \"PHONE_MODEL\": \"{{ $json.PHONE_MODEL }}\",\n    \"PET_TYPE\": \"{{ $json.PET_TYPE }}\",\n    \"PET_ARTWORK\": \"{{ $('Format Response').item.json.page_url }}\"\n  },\n  \"listIds\": [8],\n  \"updateEnabled\": true\n}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -16,
          -80
        ],
        "id": "969421f3-1985-4e43-9a31-5438ee7509bd",
        "name": "upsert contact in brevo",
        "credentials": {
          "httpHeaderAuth": {
            "id": "aFcAEYavGsDojoat",
            "name": "Brevo api"
          }
        }
      }
    ],
    "connections": {
      "CheckQueueForMore": {
        "main": [
          [
            {
              "node": "IfQueueHasJobs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfQueueHasJobs": {
        "main": [
          [
            {
              "node": "Prepare Next Job",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Verify Ownership1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Gallery Page": {
        "main": [
          [
            {
              "node": "Validate Gallery Creation1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Response": {
        "main": [
          [
            {
              "node": "prepare contact data",
              "type": "main",
              "index": 0
            },
            {
              "node": "Discord",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process Collections": {
        "main": [
          [
            {
              "node": "Debug Gallery Data1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Configuration": {
        "main": [
          [
            {
              "node": "Process Collections",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Consolidate Gallery Data1": {
        "main": [
          [
            {
              "node": "Set Configuration",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Gallery Creation1": {
        "main": [
          [
            {
              "node": "Format Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Debug Gallery Data1": {
        "main": [
          [
            {
              "node": "Create Gallery Page",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "extracting handle1": {
        "main": [
          [
            {
              "node": "Consolidate Gallery Data1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Trigger From Ford": {
        "main": [
          [
            {
              "node": "extracting handle1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "send sms": {
        "main": [
          []
        ]
      },
      "Verify Ownership1": {
        "main": [
          [
            {
              "node": "Am I Active?1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Am I Active?1": {
        "main": [
          [
            {
              "node": "Delete Lock",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Need to Sent sms ?": {
        "main": [
          [],
          [
            {
              "node": "send sms",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Next Job": {
        "main": [
          [
            {
              "node": "Set New Lock",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set New Lock": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Call '01-Hagrid'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "prepare contact data": {
        "main": [
          [
            {
              "node": "upsert contact in brevo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Brevo": {
        "main": [
          [
            {
              "node": "Need to Sent sms ?",
              "type": "main",
              "index": 0
            },
            {
              "node": "CheckQueueForMore",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "upsert contact in brevo": {
        "main": [
          [
            {
              "node": "Brevo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Muhasin Rashid",
    "name": "Version d9f51448",
    "description": "",
    "workflowPublishHistory": [
      {
        "createdAt": "2025-12-17T18:36:47.432Z",
        "id": 104,
        "workflowId": "jPMcHRxP8t0jGpsT",
        "versionId": "d9f51448-1428-4331-84e6-670e41882705",
        "event": "activated",
        "userId": "f88f8c62-813a-499e-aaee-b5f4da43c5a7"
      }
    ]
  }
}