workflows/uncategorized/00_thoth_test.json
{
  "updatedAt": "2025-12-12T05:05:45.558Z",
  "createdAt": "2025-11-25T05:28:48.221Z",
  "id": "NuTqEfKjiHUEW2RY",
  "name": "00-Thoth-Test",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://honest-ghoul-37248.upstash.io/lpush/myfurryprints_queue_test",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"submission_id\": \"{{ $json.body.submission_id }}\",\n  \"customer_data\": {{ JSON.stringify($json.body.data) }},\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -848,
        16
      ],
      "id": "f4729a0b-4e71-4abb-b318-ea2c5ee6baa9",
      "name": "AddToQueue",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OU4p8zTKeY9k8OYC",
          "name": "Upstash_new"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "testing",
        "options": {
          "allowedOrigins": "*",
          "binaryPropertyName": "images"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1296,
        0
      ],
      "id": "7a5910e6-c483-4b42-99ac-0b5b39d8d4ed",
      "name": "Webhook1",
      "webhookId": "0949cf32-d022-4ed4-a0b4-a352d6c22a88"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://honest-ghoul-37248.upstash.io/set/worker_slot_1/{{ $('Webhook1').item.json.body.submission_id }}/NX/EX/7200",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 20000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -464,
        16
      ],
      "id": "f464afee-f122-4aac-b1bf-84e805559b01",
      "name": "Try Lock Slot 1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OU4p8zTKeY9k8OYC",
          "name": "Upstash_new"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://honest-ghoul-37248.upstash.io/set/worker_slot_2/{{ $('Webhook1').item.json.body.submission_id }}/NX/EX/7200",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        288
      ],
      "id": "7c6a362f-9f4a-46c7-bd05-b6e4b4e7fa38",
      "name": "Try Lock Slot 2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OU4p8zTKeY9k8OYC",
          "name": "Upstash_new"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "23fe652b-d6ff-4ff9-a113-2124a0aafd8d",
              "leftValue": "={{ $json.result }}",
              "rightValue": "OK",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -256,
        16
      ],
      "id": "7739eb67-0d4e-4554-b2ff-21716c98d68c",
      "name": "Did Slot 1 Lock?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0c8b442f-2222-40bb-81d6-5c93aa7f866a",
              "leftValue": "={{ $json.result }}",
              "rightValue": "OK",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        288
      ],
      "id": "bf92d1ca-2885-4b3f-8b0b-a964a66007ae",
      "name": "Did Slot 2 Lock?"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "57FzHVmSsFQJNFz9",
          "mode": "list",
          "cachedResultUrl": "/workflow/57FzHVmSsFQJNFz9",
          "cachedResultName": "01-Hagrid-MTest"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        448,
        0
      ],
      "id": "6158e609-8c8d-43f1-b2ce-676b70a1df82",
      "name": "Start Worker 1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "57FzHVmSsFQJNFz9",
          "mode": "list",
          "cachedResultUrl": "/workflow/57FzHVmSsFQJNFz9",
          "cachedResultName": "01-Hagrid-MTest"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        880,
        272
      ],
      "id": "3e3b6033-abd0-4ac0-85c2-bdb9cb617b0b",
      "name": "Start Worker 2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -736,
        304
      ],
      "id": "e4b39dd6-e698-472e-b46a-b67a27f96c3c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "sendTo": "ameena.k@gauger.in, iamdanielsuresh@gmail.com, muhasin23@gmail.com",
        "subject": "Client submission alert !",
        "message": "=<div style=\"font-family: 'Arial', sans-serif; color: #333; line-height: 1.6; background-color: #f9fafb; padding: 20px; border-radius: 12px; border: 1px solid #eee; max-width: 600px;\">\n  \n  <!-- Header -->\n  <h2 style=\"font-size: 24px; margin-top: 0; color: #1a73e8; text-align: center;\">\n    📩 New Client Submission Received!\n  </h2>\n  \n  <!-- Subheader -->\n  <p style=\"font-size: 16px; font-weight: bold; text-align: center; margin-bottom: 20px;\">\n    Hi Team 👋 — exciting update below!\n  </p>\n\n  <!-- Details Section -->\n  <div style=\"background-color: #ffffff; border-radius: 10px; padding: 15px; box-shadow: 0 2px 6px rgba(0,0,0,0.05);\">\n    <p style=\"margin: 6px 0;\">\n      🕒 <strong>Submission received at:</strong> {{$json[\"body\"][\"created_at\"]}}\n    </p>\n    <p style=\"margin: 6px 0;\">\n      👤 <strong>Client name:</strong> {{$json[\"body\"][\"data\"][4][\"value\"]}} {{$json[\"body\"][\"data\"][5][\"value\"]}}\n    </p>\n    <p style=\"margin: 6px 0;\">\n      📧 <strong>Email address:</strong> {{$json[\"body\"][\"data\"][6][\"value\"]}}\n    </p>\n    <p style=\"margin: 6px 0;\">\n      🐾 <strong>Pet name:</strong> \n      <span style=\"font-size: 18px; font-weight: bold; color: #ff6f00;\">\n        {{$json[\"body\"][\"data\"][2][\"value\"]}}\n      </span>\n    </p>\n  </div>\n\n  <!-- Footer -->\n  <p style=\"margin-top: 20px; font-style: italic; font-weight: bold; color: #28a745; text-align: center;\">\n    Good luck, team! 💪✨\n  </p>\n</div>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1104,
        320
      ],
      "id": "348a7702-f8ba-4bbe-ad1b-28645ea71858",
      "name": "Send a message1",
      "webhookId": "234f947e-2fe6-44a1-a878-32c16eafa621",
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "FsfUD7AAk7DNnm5t",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "43e45729-688b-4bc9-831d-96afd940ff73",
              "name": "slot_id",
              "value": 2,
              "type": "number"
            },
            {
              "id": "4a359c5e-ed41-4c26-92b8-175f395205b2",
              "name": "worker_token",
              "value": "={{ $('Webhook1').item.json.body.submission_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        272
      ],
      "id": "0901826e-6cb4-494a-a538-1fd442243299",
      "name": "Set Slot ID 2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "685ced10-1aab-4d2a-8e80-c46fc2dd1816",
              "name": "worker_token",
              "value": "={{ $('Webhook1').item.json.body.submission_id }}",
              "type": "string"
            },
            {
              "id": "c7fef7e7-2269-4de2-93f4-b0d641fd9e45",
              "name": "slot_id",
              "value": 1,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "2610fcf4-159b-4ed8-b1b5-48a174d8e612",
      "name": "Set Slot ID1"
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        656,
        272
      ],
      "id": "004de881-bef2-4684-91d7-8e33999cd1c9",
      "name": "Wait",
      "webhookId": "cb551f5c-5cc0-4203-b926-c0d5e0e650a7"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "Submission alert",
        "options": {},
        "embeds": {
          "values": [
            {
              "description": "=Client name 🧑🏼 :  {{ $json.body.data[4].value }}{{ $json.body.data[5].value }}\nPet name 🐶 : {{ $json.body.data[2].value }}",
              "color": "#32D74B",
              "timestamp": "={{ $json.body.created_at }}",
              "title": "=📌 Client Submission alert "
            }
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -736,
        -192
      ],
      "id": "a56cce12-e2ad-4cd0-b869-711ab1efdb53",
      "name": "Discord",
      "webhookId": "672f6499-5d9f-4e10-9c15-fdb0e83d3474",
      "credentials": {
        "discordWebhookApi": {
          "id": "xgichmKyuehtarny",
          "name": "Discord Webhook account"
        }
      }
    }
  ],
  "connections": {
    "AddToQueue": {
      "main": [
        [
          {
            "node": "Try Lock Slot 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          },
          {
            "node": "AddToQueue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Try Lock Slot 1": {
      "main": [
        [
          {
            "node": "Did Slot 1 Lock?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Did Slot 1 Lock?": {
      "main": [
        [
          {
            "node": "Set Slot ID1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Lock Slot 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Try Lock Slot 2": {
      "main": [
        [
          {
            "node": "Did Slot 2 Lock?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Did Slot 2 Lock?": {
      "main": [
        [
          {
            "node": "Set Slot ID 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Worker 2": {
      "main": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Try Lock Slot 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Slot ID 2": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Slot ID1": {
      "main": [
        [
          {
            "node": "Start Worker 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Start Worker 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "e3A2YjP2DNbrfl9C"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "primary-production-2739c.up.railway.app",
            "user-agent": "Paperform/1.0",
            "content-length": "3338",
            "content-type": "application/json",
            "x-forwarded-for": "98.83.41.136",
            "x-forwarded-host": "primary-production-2739c.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-edge": "railway/us-east4-eqdc4a",
            "x-railway-request-id": "9CkAW-DXRlevB4PDg4a9AQ",
            "x-real-ip": "98.83.41.136",
            "x-request-start": "1764821277636",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "data": [
              {
                "title": "Who is your furry friend ? ",
                "description": "",
                "type": "choices",
                "key": "tjhn",
                "custom_key": null,
                "value": "Cat"
              },
              {
                "title": "What is your pet's sex?",
                "description": null,
                "type": "choices",
                "key": "70foo",
                "custom_key": null,
                "value": "Male"
              },
              {
                "title": "Your pet's name",
                "description": "",
                "type": "text",
                "key": "1pl93",
                "custom_key": null,
                "value": "Brutus"
              },
              {
                "title": "Pet photos",
                "description": "Please upload 4 to 6 pictures of your pet",
                "type": "image",
                "key": "8objr",
                "custom_key": null,
                "value": [
                  {
                    "url": "https://paperform.co/file/s3.amazonaws.com/pf-user-files-01/t-474237/uploads/2025-12-04/n763bgl/IMG-20251025-WA0007.jpg?expires=1765426077&signature=7ff5a0ec045226ecc5037e780eb9c0a9032e7276a879cbb1ef4b34bb67182f05",
                    "name": "IMG-20251025-WA0007.jpg",
                    "type": "image/jpeg",
                    "size": 147072,
                    "width": 1080,
                    "height": 1920
                  },
                  {
                    "url": "https://paperform.co/file/s3.amazonaws.com/pf-user-files-01/t-474237/uploads/2025-12-04/ou73bin/IMG-20251101-WA0000.jpg?expires=1765426077&signature=d870d3df86b12f4c2a08a868ab0d9d76069a18d5fe9db2609cfee6d37ff0c800",
                    "name": "IMG-20251101-WA0000.jpg",
                    "type": "image/jpeg",
                    "size": 171815,
                    "width": 1200,
                    "height": 1600
                  },
                  {
                    "url": "https://paperform.co/file/s3.amazonaws.com/pf-user-files-01/t-474237/uploads/2025-12-04/oy83bm7/20251117_161447.jpg?expires=1765426077&signature=47d0e1da23a9c254d829c4c28b172376b2e18f1d417f9d2c6ce3f5eba3d62ff4",
                    "name": "20251117_161447.jpg",
                    "type": "image/jpeg",
                    "size": 1266285,
                    "width": 3000,
                    "height": 4000
                  },
                  {
                    "url": "https://paperform.co/file/s3.amazonaws.com/pf-user-files-01/t-474237/uploads/2025-12-04/pk93bc5/20251102_205917.jpg?expires=1765426077&signature=554dceb0953bfd24c48571858859639db215e6260e25cb1cdc73795ce99ea2bc",
                    "name": "20251102_205917.jpg",
                    "type": "image/jpeg",
                    "size": 3053870,
                    "width": 3000,
                    "height": 4000
                  }
                ]
              },
              {
                "title": "First name",
                "description": "",
                "type": "text",
                "key": "84g9u",
                "custom_key": null,
                "value": "Becky"
              },
              {
                "title": "Last name",
                "description": "",
                "type": "text",
                "key": "b6vtr",
                "custom_key": null,
                "value": "Price"
              },
              {
                "title": "Email",
                "description": "",
                "type": "email",
                "key": "aohp1",
                "custom_key": null,
                "value": "beckycharlotte1982@gmail.com"
              },
              {
                "title": "Phone (optional)",
                "description": "We'll text you when artwork is ready",
                "type": "phone",
                "key": "455ij",
                "custom_key": null,
                "value": "+44 7751 464663"
              },
              {
                "title": "What is your phone model?",
                "description": "Used to show your pet’s artwork on a phone case",
                "type": "dropdown",
                "key": "7850r",
                "custom_key": null,
                "value": "Samsung Galaxy S21 FE"
              }
            ],
            "form_id": "68fef990cb82f9eaea026003",
            "slug": "rri1q8ik",
            "submission_id": "6931091d23b2a452260ac996",
            "created_at": "2025-12-04 04:07:57",
            "ip_address": "92.207.1.176",
            "charge": {
              "products": [],
              "summary": "",
              "discount": 0,
              "discounted_subscriptions": [],
              "coupon": false,
              "total": 0,
              "total_cents": 0,
              "tax": 0,
              "tax_percentage": 0,
              "processing_fee": 0,
              "authorize": null,
              "receipt_email": false
            },
            "team_id": 474237,
            "trigger": "submission",
            "device": {
              "type": "desktop",
              "device": "WebKit",
              "platform": "Linux",
              "browser": "Chrome",
              "embedded": true,
              "url": "https://rri1q8ik.paperform.co/?embed=1&takeover=0&inline=1&popup=0&_d=myfurryprints.com&_in=0",
              "user_agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) SamsungBrowser/29.0 Chrome/136.0.0.0 Safari/537.36",
              "utm_source": null,
              "utm_medium": null,
              "utm_campaign": null,
              "utm_term": null,
              "utm_content": null,
              "ip_address": "92.207.1.176"
            }
          },
          "webhookUrl": "https://primary-production-2739c.up.railway.app/webhook/experiment",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "ffde03d6-20e6-4dc6-98da-520cba00e464",
  "activeVersionId": "ffde03d6-20e6-4dc6-98da-520cba00e464",
  "versionCounter": 49,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-25T05:28:48.221Z",
      "createdAt": "2025-11-25T05:28:48.221Z",
      "role": "workflow:owner",
      "workflowId": "NuTqEfKjiHUEW2RY",
      "projectId": "lLSHos7ohHn7AjNm",
      "project": {
        "updatedAt": "2025-06-14T17:25:02.061Z",
        "createdAt": "2025-06-14T17:13:49.092Z",
        "id": "lLSHos7ohHn7AjNm",
        "name": "Muhasin Rashid <muhasin@gauger.in>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-06-14T17:13:49.092Z",
            "createdAt": "2025-06-14T17:13:49.092Z",
            "userId": "f88f8c62-813a-499e-aaee-b5f4da43c5a7",
            "projectId": "lLSHos7ohHn7AjNm",
            "user": {
              "updatedAt": "2025-12-18T05:00:03.582Z",
              "createdAt": "2025-06-14T17:13:45.907Z",
              "id": "f88f8c62-813a-499e-aaee-b5f4da43c5a7",
              "email": "muhasin@gauger.in",
              "firstName": "Muhasin",
              "lastName": "Rashid",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-06-14T17:25:40.417Z",
                "personalization_survey_n8n_version": "1.97.1",
                "automationGoalDevops": [
                  "other"
                ],
                "automationGoalDevopsOther": "Product",
                "companyType": "ecommerce",
                "role": "engineering"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "JsDBWbsoYaKBkGmW",
                "userActivatedAt": 1758182279933,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1752395252283
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-18",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2025-12-12T05:05:45.521Z",
    "createdAt": "2025-12-12T05:05:45.521Z",
    "versionId": "ffde03d6-20e6-4dc6-98da-520cba00e464",
    "workflowId": "NuTqEfKjiHUEW2RY",
    "nodes": [
      {
        "parameters": {
          "method": "POST",
          "url": "https://honest-ghoul-37248.upstash.io/lpush/myfurryprints_queue_test",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"submission_id\": \"{{ $json.body.submission_id }}\",\n  \"customer_data\": {{ JSON.stringify($json.body.data) }},\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -848,
          16
        ],
        "id": "f4729a0b-4e71-4abb-b318-ea2c5ee6baa9",
        "name": "AddToQueue",
        "credentials": {
          "httpHeaderAuth": {
            "id": "OU4p8zTKeY9k8OYC",
            "name": "Upstash_new"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "testing",
          "options": {
            "allowedOrigins": "*",
            "binaryPropertyName": "images"
          }
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -1296,
          0
        ],
        "id": "7a5910e6-c483-4b42-99ac-0b5b39d8d4ed",
        "name": "Webhook1",
        "webhookId": "0949cf32-d022-4ed4-a0b4-a352d6c22a88"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://honest-ghoul-37248.upstash.io/set/worker_slot_1/{{ $('Webhook1').item.json.body.submission_id }}/NX/EX/7200",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {
            "timeout": 20000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -464,
          16
        ],
        "id": "f464afee-f122-4aac-b1bf-84e805559b01",
        "name": "Try Lock Slot 1",
        "credentials": {
          "httpHeaderAuth": {
            "id": "OU4p8zTKeY9k8OYC",
            "name": "Upstash_new"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://honest-ghoul-37248.upstash.io/set/worker_slot_2/{{ $('Webhook1').item.json.body.submission_id }}/NX/EX/7200",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          0,
          288
        ],
        "id": "7c6a362f-9f4a-46c7-bd05-b6e4b4e7fa38",
        "name": "Try Lock Slot 2",
        "credentials": {
          "httpHeaderAuth": {
            "id": "OU4p8zTKeY9k8OYC",
            "name": "Upstash_new"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "23fe652b-d6ff-4ff9-a113-2124a0aafd8d",
                "leftValue": "={{ $json.result }}",
                "rightValue": "OK",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -256,
          16
        ],
        "id": "7739eb67-0d4e-4554-b2ff-21716c98d68c",
        "name": "Did Slot 1 Lock?"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "0c8b442f-2222-40bb-81d6-5c93aa7f866a",
                "leftValue": "={{ $json.result }}",
                "rightValue": "OK",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          224,
          288
        ],
        "id": "bf92d1ca-2885-4b3f-8b0b-a964a66007ae",
        "name": "Did Slot 2 Lock?"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "57FzHVmSsFQJNFz9",
            "mode": "list",
            "cachedResultUrl": "/workflow/57FzHVmSsFQJNFz9",
            "cachedResultName": "01-Hagrid-MTest"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": false
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          448,
          0
        ],
        "id": "6158e609-8c8d-43f1-b2ce-676b70a1df82",
        "name": "Start Worker 1"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "57FzHVmSsFQJNFz9",
            "mode": "list",
            "cachedResultUrl": "/workflow/57FzHVmSsFQJNFz9",
            "cachedResultName": "01-Hagrid-MTest"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": false
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          880,
          272
        ],
        "id": "3e3b6033-abd0-4ac0-85c2-bdb9cb617b0b",
        "name": "Start Worker 2"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -736,
          304
        ],
        "id": "e4b39dd6-e698-472e-b46a-b67a27f96c3c",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "sendTo": "ameena.k@gauger.in, iamdanielsuresh@gmail.com, muhasin23@gmail.com",
          "subject": "Client submission alert !",
          "message": "=<div style=\"font-family: 'Arial', sans-serif; color: #333; line-height: 1.6; background-color: #f9fafb; padding: 20px; border-radius: 12px; border: 1px solid #eee; max-width: 600px;\">\n  \n  <!-- Header -->\n  <h2 style=\"font-size: 24px; margin-top: 0; color: #1a73e8; text-align: center;\">\n    📩 New Client Submission Received!\n  </h2>\n  \n  <!-- Subheader -->\n  <p style=\"font-size: 16px; font-weight: bold; text-align: center; margin-bottom: 20px;\">\n    Hi Team 👋 — exciting update below!\n  </p>\n\n  <!-- Details Section -->\n  <div style=\"background-color: #ffffff; border-radius: 10px; padding: 15px; box-shadow: 0 2px 6px rgba(0,0,0,0.05);\">\n    <p style=\"margin: 6px 0;\">\n      🕒 <strong>Submission received at:</strong> {{$json[\"body\"][\"created_at\"]}}\n    </p>\n    <p style=\"margin: 6px 0;\">\n      👤 <strong>Client name:</strong> {{$json[\"body\"][\"data\"][4][\"value\"]}} {{$json[\"body\"][\"data\"][5][\"value\"]}}\n    </p>\n    <p style=\"margin: 6px 0;\">\n      📧 <strong>Email address:</strong> {{$json[\"body\"][\"data\"][6][\"value\"]}}\n    </p>\n    <p style=\"margin: 6px 0;\">\n      🐾 <strong>Pet name:</strong> \n      <span style=\"font-size: 18px; font-weight: bold; color: #ff6f00;\">\n        {{$json[\"body\"][\"data\"][2][\"value\"]}}\n      </span>\n    </p>\n  </div>\n\n  <!-- Footer -->\n  <p style=\"margin-top: 20px; font-style: italic; font-weight: bold; color: #28a745; text-align: center;\">\n    Good luck, team! 💪✨\n  </p>\n</div>\n",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          -1104,
          320
        ],
        "id": "348a7702-f8ba-4bbe-ad1b-28645ea71858",
        "name": "Send a message1",
        "webhookId": "234f947e-2fe6-44a1-a878-32c16eafa621",
        "alwaysOutputData": true,
        "credentials": {
          "gmailOAuth2": {
            "id": "FsfUD7AAk7DNnm5t",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "43e45729-688b-4bc9-831d-96afd940ff73",
                "name": "slot_id",
                "value": 2,
                "type": "number"
              },
              {
                "id": "4a359c5e-ed41-4c26-92b8-175f395205b2",
                "name": "worker_token",
                "value": "={{ $('Webhook1').item.json.body.submission_id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          464,
          272
        ],
        "id": "0901826e-6cb4-494a-a538-1fd442243299",
        "name": "Set Slot ID 2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "685ced10-1aab-4d2a-8e80-c46fc2dd1816",
                "name": "worker_token",
                "value": "={{ $('Webhook1').item.json.body.submission_id }}",
                "type": "string"
              },
              {
                "id": "c7fef7e7-2269-4de2-93f4-b0d641fd9e45",
                "name": "slot_id",
                "value": 1,
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          208,
          0
        ],
        "id": "2610fcf4-159b-4ed8-b1b5-48a174d8e612",
        "name": "Set Slot ID1"
      },
      {
        "parameters": {
          "unit": "minutes"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          656,
          272
        ],
        "id": "004de881-bef2-4684-91d7-8e33999cd1c9",
        "name": "Wait",
        "webhookId": "cb551f5c-5cc0-4203-b926-c0d5e0e650a7"
      },
      {
        "parameters": {
          "authentication": "webhook",
          "content": "Submission alert",
          "options": {},
          "embeds": {
            "values": [
              {
                "description": "=Client name 🧑🏼 :  {{ $json.body.data[4].value }}{{ $json.body.data[5].value }}\nPet name 🐶 : {{ $json.body.data[2].value }}",
                "color": "#32D74B",
                "timestamp": "={{ $json.body.created_at }}",
                "title": "=📌 Client Submission alert "
              }
            ]
          }
        },
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          -736,
          -192
        ],
        "id": "a56cce12-e2ad-4cd0-b869-711ab1efdb53",
        "name": "Discord",
        "webhookId": "672f6499-5d9f-4e10-9c15-fdb0e83d3474",
        "credentials": {
          "discordWebhookApi": {
            "id": "xgichmKyuehtarny",
            "name": "Discord Webhook account"
          }
        }
      }
    ],
    "connections": {
      "AddToQueue": {
        "main": [
          [
            {
              "node": "Try Lock Slot 1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook1": {
        "main": [
          [
            {
              "node": "Discord",
              "type": "main",
              "index": 0
            },
            {
              "node": "AddToQueue",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Try Lock Slot 1": {
        "main": [
          [
            {
              "node": "Did Slot 1 Lock?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Did Slot 1 Lock?": {
        "main": [
          [
            {
              "node": "Set Slot ID1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Try Lock Slot 2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Try Lock Slot 2": {
        "main": [
          [
            {
              "node": "Did Slot 2 Lock?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Did Slot 2 Lock?": {
        "main": [
          [
            {
              "node": "Set Slot ID 2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Start Worker 2": {
        "main": [
          []
        ]
      },
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Try Lock Slot 1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Slot ID 2": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Slot ID1": {
        "main": [
          [
            {
              "node": "Start Worker 1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Start Worker 2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Muhasin Rashid",
    "name": null,
    "description": null,
    "workflowPublishHistory": [
      {
        "createdAt": "2025-12-12T05:05:45.558Z",
        "id": 38,
        "workflowId": "NuTqEfKjiHUEW2RY",
        "versionId": "ffde03d6-20e6-4dc6-98da-520cba00e464",
        "event": "activated",
        "userId": null
      }
    ]
  }
}