workflows/uncategorized/01-Hagrid-PL.json
{
  "updatedAt": "2025-11-19T05:02:53.842Z",
  "createdAt": "2025-10-13T08:59:44.687Z",
  "id": "Jjn3ZlysMbPA30J0",
  "name": "01-Hagrid-PL",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://honest-ghoul-37248.upstash.io/lpush/myfurryprints_queue",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"submission_id\": \"{{ $json.body.submission_id }}\",\n  \"customer_data\": {{ JSON.stringify($json.body.data) }},\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        368,
        288
      ],
      "id": "1a373471-492f-4b3b-b65c-5abaf2f56916",
      "name": "AddToQueue",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OU4p8zTKeY9k8OYC",
          "name": "Upstash_new"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "experiment",
        "options": {
          "allowedOrigins": "*",
          "binaryPropertyName": "images"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        32,
        288
      ],
      "id": "505739ec-f676-495a-9be2-cd2e0d47d347",
      "name": "Webhook",
      "webhookId": "622c3d89-e2bc-4b6d-9578-dafe52c5c32d"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://honest-ghoul-37248.upstash.io/get/processing_lock",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        784,
        288
      ],
      "id": "296c4e15-01af-48b6-8e38-f80888e16725",
      "name": "CheckProcessingLock",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OU4p8zTKeY9k8OYC",
          "name": "Upstash_new"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c61f1c28-46d7-4c55-b2a2-cea646a58c02",
              "leftValue": "={{ $json.result }}",
              "rightValue": "null",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        992,
        288
      ],
      "id": "3bd527d8-5ba3-44b1-9a04-381698526553",
      "name": "If Not Processing"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://honest-ghoul-37248.upstash.io/setex/processing_lock/4500/processing",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1232,
        288
      ],
      "id": "f8f1558b-2546-4988-ad62-dc016beb8e16",
      "name": "SetProcessingLock",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OU4p8zTKeY9k8OYC",
          "name": "Upstash_new"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://honest-ghoul-37248.upstash.io/rpop/myfurryprints_queue",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        288
      ],
      "id": "d19dbc96-0c45-4fa3-a93d-6a7eca5479af",
      "name": "PopJobAndProcess",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OU4p8zTKeY9k8OYC",
          "name": "Upstash_new"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        512,
        480
      ],
      "id": "5b95e824-a52f-4084-b105-63a0027b94b1",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "content": "WORKFLOW 1\n\n\nThis workflow handles incoming data from users and adds them to a queue in redis for processing. It makes sure that only one job is processed at a time by checking a processing lock in Redis (via Upstash). When ready, it pops a job from the queue, locks the processing, and triggers another workflow to handle the actual job. It helps manage jobs smoothly without overloading the system.",
        "height": 200,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e0d00eab-83b1-4855-a581-ee8bff396ed2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://honest-ghoul-37248.upstash.io/del/processing_lock",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        992,
        704
      ],
      "id": "3a068517-172b-42da-a5c4-721751047794",
      "name": "ClearProcessingLock",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OU4p8zTKeY9k8OYC",
          "name": "Upstash_new"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://honest-ghoul-37248.upstash.io/llen/myfurryprints_queue",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1184,
        704
      ],
      "id": "52e0b6c9-6cc6-469c-8a14-c09e73b86079",
      "name": "CheckQueueForMore",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OU4p8zTKeY9k8OYC",
          "name": "Upstash_new"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7fd4bd14-be92-42ba-991c-009c111e9871",
              "leftValue": "={{ $json.result }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1360,
        704
      ],
      "id": "fab5a88f-ca99-4eb9-83e7-79ec02cb2fc7",
      "name": "IfQueueHasJobs"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        720,
        752
      ],
      "id": "144056d0-39a6-4c0d-96fd-d57911193428",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Li7JWn8JrXVO5a5X",
          "mode": "list",
          "cachedResultUrl": "/workflow/Li7JWn8JrXVO5a5X",
          "cachedResultName": "02-Picasso-PL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1664,
        288
      ],
      "id": "8cc69c97-53d4-46e2-92f9-8b2900b6d241",
      "name": "Run Picasso"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Jjn3ZlysMbPA30J0",
          "mode": "list",
          "cachedResultUrl": "/workflow/Jjn3ZlysMbPA30J0",
          "cachedResultName": "01-Hagrid-Prod-PL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1600,
        704
      ],
      "id": "e67ba64d-48d9-4b00-be4e-6e8894fa6e44",
      "name": "Call '01-Hagrid-Prod-PL'"
    },
    {
      "parameters": {
        "sendTo": "ameena.k@gauger.in, iamdanielsuresh@gmail.com, muhasin23@gmail.com",
        "subject": "Client submission alert !",
        "message": "=<div style=\"font-family: 'Arial', sans-serif; color: #333; line-height: 1.6; background-color: #f9fafb; padding: 20px; border-radius: 12px; border: 1px solid #eee; max-width: 600px;\">\n  \n  <!-- Header -->\n  <h2 style=\"font-size: 24px; margin-top: 0; color: #1a73e8; text-align: center;\">\n    📩 New Client Submission Received!\n  </h2>\n  \n  <!-- Subheader -->\n  <p style=\"font-size: 16px; font-weight: bold; text-align: center; margin-bottom: 20px;\">\n    Hi Team 👋 — exciting update below!\n  </p>\n\n  <!-- Details Section -->\n  <div style=\"background-color: #ffffff; border-radius: 10px; padding: 15px; box-shadow: 0 2px 6px rgba(0,0,0,0.05);\">\n    <p style=\"margin: 6px 0;\">\n      🕒 <strong>Submission received at:</strong> {{$json[\"body\"][\"created_at\"]}}\n    </p>\n    <p style=\"margin: 6px 0;\">\n      👤 <strong>Client name:</strong> {{$json[\"body\"][\"data\"][4][\"value\"]}} {{$json[\"body\"][\"data\"][5][\"value\"]}}\n    </p>\n    <p style=\"margin: 6px 0;\">\n      📧 <strong>Email address:</strong> {{$json[\"body\"][\"data\"][6][\"value\"]}}\n    </p>\n    <p style=\"margin: 6px 0;\">\n      🐾 <strong>Pet name:</strong> \n      <span style=\"font-size: 18px; font-weight: bold; color: #ff6f00;\">\n        {{$json[\"body\"][\"data\"][2][\"value\"]}}\n      </span>\n    </p>\n  </div>\n\n  <!-- Footer -->\n  <p style=\"margin-top: 20px; font-style: italic; font-weight: bold; color: #28a745; text-align: center;\">\n    Good luck, team! 💪✨\n  </p>\n</div>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        48,
        592
      ],
      "id": "862030cb-d717-43da-b1e5-21e12ab3302c",
      "name": "Send a message1",
      "webhookId": "9bc04397-4a81-40cb-adce-33b03993b2fe",
      "credentials": {
        "gmailOAuth2": {
          "id": "FsfUD7AAk7DNnm5t",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "AddToQueue": {
      "main": [
        [
          {
            "node": "CheckProcessingLock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AddToQueue",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckProcessingLock": {
      "main": [
        [
          {
            "node": "If Not Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Not Processing": {
      "main": [
        [
          {
            "node": "SetProcessingLock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetProcessingLock": {
      "main": [
        [
          {
            "node": "PopJobAndProcess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PopJobAndProcess": {
      "main": [
        [
          {
            "node": "Run Picasso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "CheckProcessingLock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClearProcessingLock": {
      "main": [
        [
          {
            "node": "CheckQueueForMore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckQueueForMore": {
      "main": [
        [
          {
            "node": "IfQueueHasJobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfQueueHasJobs": {
      "main": [
        [
          {
            "node": "Call '01-Hagrid-Prod-PL'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "ClearProcessingLock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "primary-production-2739c.up.railway.app",
            "user-agent": "Paperform/1.0",
            "content-length": "3193",
            "content-type": "application/json",
            "x-forwarded-for": "35.174.166.35",
            "x-forwarded-host": "primary-production-2739c.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-edge": "railway/us-east4-eqdc4a",
            "x-railway-request-id": "Y3Qg7IosQeaS8lbSwoOzXw",
            "x-real-ip": "35.174.166.35",
            "x-request-start": "1762403446799",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "data": [
              {
                "title": "Who is your furry friend ? ",
                "description": "",
                "type": "choices",
                "key": "tjhn",
                "custom_key": null,
                "value": "Dog"
              },
              {
                "title": "What is your pet's sex?",
                "description": null,
                "type": "choices",
                "key": "70foo",
                "custom_key": null,
                "value": "Female"
              },
              {
                "title": "Your pet's name",
                "description": "",
                "type": "text",
                "key": "1pl93",
                "custom_key": null,
                "value": "Ricky Test"
              },
              {
                "title": "Pet photos",
                "description": "Please upload 4 to 6 pictures of your pet",
                "type": "image",
                "key": "8objr",
                "custom_key": null,
                "value": [
                  {
                    "url": "https://paperform.co/file/s3.amazonaws.com/pf-user-files-01/t-474237/uploads/2025-11-06/4h63c67/Luna%20Face%204.jpeg?expires=1763008246&signature=b664041830d56cfa26413a80b3f4f7c3c19717a91ebd79542f08d16890f78146",
                    "name": "Luna Face 4.jpeg",
                    "type": "image/jpeg",
                    "size": 207024,
                    "width": 1500,
                    "height": 2000
                  },
                  {
                    "url": "https://paperform.co/file/s3.amazonaws.com/pf-user-files-01/t-474237/uploads/2025-11-06/5t73c96/Luna%20Face%205.jpeg?expires=1763008246&signature=3d071e08d5a8d2be676230a8e38935a46a2616ebc5e8060372053cbb7e0b2742",
                    "name": "Luna Face 5.jpeg",
                    "type": "image/jpeg",
                    "size": 277134,
                    "width": 1500,
                    "height": 2000
                  },
                  {
                    "url": "https://paperform.co/file/s3.amazonaws.com/pf-user-files-01/t-474237/uploads/2025-11-06/zq43cbp/Luna%20Face%201.jpg?expires=1763008246&signature=8c9b970e6cbf1ce48ef91ba9756a2b17d224a08050a26568bf3a9a2a971d5eea",
                    "name": "Luna Face 1.jpg",
                    "type": "image/jpeg",
                    "size": 743979,
                    "width": 3000,
                    "height": 4000
                  },
                  {
                    "url": "https://paperform.co/file/s3.amazonaws.com/pf-user-files-01/t-474237/uploads/2025-11-06/zq53c2o/Luna%20Face%202.jpg?expires=1763008246&signature=63927cb0fc68e638c3248f3a8d21662d547bb84fdd3f61e482bce3a99f9587e0",
                    "name": "Luna Face 2.jpg",
                    "type": "image/jpeg",
                    "size": 833780,
                    "width": 3000,
                    "height": 4000
                  }
                ]
              },
              {
                "title": "First name",
                "description": "",
                "type": "text",
                "key": "84g9u",
                "custom_key": null,
                "value": "Daniel"
              },
              {
                "title": "Last name",
                "description": "",
                "type": "text",
                "key": "b6vtr",
                "custom_key": null,
                "value": "Suresh"
              },
              {
                "title": "Email",
                "description": "",
                "type": "email",
                "key": "aohp1",
                "custom_key": null,
                "value": "iamdanielsuresh@gmail.com"
              },
              {
                "title": "Phone ",
                "description": "",
                "type": "phone",
                "key": "455ij",
                "custom_key": null,
                "value": "+919567016819"
              },
              {
                "title": "What is your phone model?",
                "description": "Used to show your pet’s artwork on a phone case",
                "type": "dropdown",
                "key": "7850r",
                "custom_key": null,
                "value": "iPhone 16 Plus"
              }
            ],
            "form_id": "68fef990cb82f9eaea026003",
            "slug": "rri1q8ik",
            "submission_id": "690c24761f3471522e0789a8",
            "created_at": "2025-11-06 04:30:46",
            "ip_address": "111.92.67.68",
            "charge": {
              "products": [],
              "summary": "",
              "discount": 0,
              "discounted_subscriptions": [],
              "coupon": false,
              "total": 0,
              "total_cents": 0,
              "tax": 0,
              "tax_percentage": 0,
              "processing_fee": 0,
              "authorize": null,
              "receipt_email": false
            },
            "team_id": 474237,
            "trigger": "submission",
            "device": {
              "type": "desktop",
              "device": "Macintosh",
              "platform": "OS X",
              "browser": "Safari",
              "embedded": false,
              "url": "https://rri1q8ik.paperform.co/",
              "user_agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/26.1 Safari/605.1.15",
              "utm_source": null,
              "utm_medium": null,
              "utm_campaign": null,
              "utm_term": null,
              "utm_content": null,
              "ip_address": "111.92.67.68"
            }
          },
          "webhookUrl": "https://primary-production-2739c.up.railway.app/webhook/experiment",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "e2b0ec10-4066-4f98-9dea-140207a46be8",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-10-13T08:59:44.687Z",
      "createdAt": "2025-10-13T08:59:44.687Z",
      "role": "workflow:owner",
      "workflowId": "Jjn3ZlysMbPA30J0",
      "projectId": "lLSHos7ohHn7AjNm",
      "project": {
        "updatedAt": "2025-06-14T17:25:02.061Z",
        "createdAt": "2025-06-14T17:13:49.092Z",
        "id": "lLSHos7ohHn7AjNm",
        "name": "Muhasin Rashid <muhasin@gauger.in>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-06-14T17:13:49.092Z",
            "createdAt": "2025-06-14T17:13:49.092Z",
            "userId": "f88f8c62-813a-499e-aaee-b5f4da43c5a7",
            "projectId": "lLSHos7ohHn7AjNm",
            "user": {
              "updatedAt": "2025-12-18T05:00:03.582Z",
              "createdAt": "2025-06-14T17:13:45.907Z",
              "id": "f88f8c62-813a-499e-aaee-b5f4da43c5a7",
              "email": "muhasin@gauger.in",
              "firstName": "Muhasin",
              "lastName": "Rashid",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-06-14T17:25:40.417Z",
                "personalization_survey_n8n_version": "1.97.1",
                "automationGoalDevops": [
                  "other"
                ],
                "automationGoalDevopsOther": "Product",
                "companyType": "ecommerce",
                "role": "engineering"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "JsDBWbsoYaKBkGmW",
                "userActivatedAt": 1758182279933,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1752395252283
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-18",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-07-16T08:16:44.235Z",
      "createdAt": "2025-07-16T08:16:44.235Z",
      "id": "llHNDAkMynWsjGrL",
      "name": "stable"
    },
    {
      "updatedAt": "2025-07-23T05:50:47.125Z",
      "createdAt": "2025-07-23T05:50:47.125Z",
      "id": "35DLj8FhqJbXBz8P",
      "name": "printify"
    }
  ],
  "activeVersion": null
}