workflows/uncategorized/01_hagrid_prod_printify.json
{
  "updatedAt": "2025-10-10T04:44:52.135Z",
  "createdAt": "2025-09-09T07:42:55.489Z",
  "id": "IZs64ETsRU2JDDNi",
  "name": "01-Hagrid-Prod-Printify",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://honest-ghoul-37248.upstash.io/lpush/myfurryprints_queue",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"submission_id\": \"{{ $json.body.submission_id }}\",\n  \"customer_data\": {{ JSON.stringify($json.body.data) }},\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        368,
        288
      ],
      "id": "86f9079c-44e6-48d5-8976-2775464aae8e",
      "name": "AddToQueue",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OU4p8zTKeY9k8OYC",
          "name": "Upstash_new"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "start",
        "options": {
          "allowedOrigins": "*",
          "binaryPropertyName": "images"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        32,
        288
      ],
      "id": "e8a679a6-b147-4bd9-a9a4-4d5db2c34450",
      "name": "Webhook",
      "webhookId": "a8527436-2fec-4fd7-a839-b69ee48729a7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://honest-ghoul-37248.upstash.io/get/processing_lock",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        784,
        288
      ],
      "id": "1156583a-43fe-4475-a3da-97cdaa815e0c",
      "name": "CheckProcessingLock",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OU4p8zTKeY9k8OYC",
          "name": "Upstash_new"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c61f1c28-46d7-4c55-b2a2-cea646a58c02",
              "leftValue": "={{ $json.result }}",
              "rightValue": "null",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        992,
        288
      ],
      "id": "193ef789-3d2c-434c-8cb9-3c700153c051",
      "name": "If Not Processing"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://honest-ghoul-37248.upstash.io/setex/processing_lock/3700/processing",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1232,
        288
      ],
      "id": "0deb5d39-3a1c-4323-a655-6f762f99138b",
      "name": "SetProcessingLock",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OU4p8zTKeY9k8OYC",
          "name": "Upstash_new"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Go2jMkg3EqJ7aK44",
          "mode": "list",
          "cachedResultUrl": "/workflow/Go2jMkg3EqJ7aK44",
          "cachedResultName": "02-Picasso-Prod-Printify"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1664,
        288
      ],
      "id": "5629f557-fefb-4a21-b9e7-3e3d40ca0dbc",
      "name": "Execute Workflow1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://honest-ghoul-37248.upstash.io/rpop/myfurryprints_queue",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        288
      ],
      "id": "fe62257b-a85b-426d-b4b8-473469e2e5a2",
      "name": "PopJobAndProcess",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OU4p8zTKeY9k8OYC",
          "name": "Upstash_new"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        512,
        480
      ],
      "id": "839e04e4-e63a-4fd0-9e10-e9b33f0152b5",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "content": "WORKFLOW 1\n\n\nThis workflow handles incoming data from users and adds them to a queue in redis for processing. It makes sure that only one job is processed at a time by checking a processing lock in Redis (via Upstash). When ready, it pops a job from the queue, locks the processing, and triggers another workflow to handle the actual job. It helps manage jobs smoothly without overloading the system.",
        "height": 200,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "b6485439-36e9-48e4-b602-cb027bdae68b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://honest-ghoul-37248.upstash.io/del/processing_lock",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        992,
        704
      ],
      "id": "337f79d1-cfad-4eef-a266-f899b2cc2911",
      "name": "ClearProcessingLock",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OU4p8zTKeY9k8OYC",
          "name": "Upstash_new"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://honest-ghoul-37248.upstash.io/llen/myfurryprints_queue",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1184,
        704
      ],
      "id": "29b29cb5-ace6-420e-aaf8-2ac962580425",
      "name": "CheckQueueForMore",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OU4p8zTKeY9k8OYC",
          "name": "Upstash_new"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7fd4bd14-be92-42ba-991c-009c111e9871",
              "leftValue": "={{ $json.result }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1360,
        704
      ],
      "id": "1e428769-32c0-473b-b820-6ccb12a9e3e9",
      "name": "IfQueueHasJobs"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "IZs64ETsRU2JDDNi",
          "mode": "list",
          "cachedResultName": "01-Hagrid-Prod-Printify"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1600,
        704
      ],
      "id": "39111a6b-ee22-499e-97bc-9914b69ed699",
      "name": "Execute Workflow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        720,
        752
      ],
      "id": "313f51fd-9bbc-459f-9e08-cdef6e2f0f88",
      "name": "When clicking ‘Execute workflow’",
      "disabled": true
    }
  ],
  "connections": {
    "AddToQueue": {
      "main": [
        [
          {
            "node": "CheckProcessingLock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AddToQueue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckProcessingLock": {
      "main": [
        [
          {
            "node": "If Not Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Not Processing": {
      "main": [
        [
          {
            "node": "SetProcessingLock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetProcessingLock": {
      "main": [
        [
          {
            "node": "PopJobAndProcess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PopJobAndProcess": {
      "main": [
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "CheckProcessingLock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClearProcessingLock": {
      "main": [
        [
          {
            "node": "CheckQueueForMore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckQueueForMore": {
      "main": [
        [
          {
            "node": "IfQueueHasJobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfQueueHasJobs": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "ClearProcessingLock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "17a8bc2c-461b-4191-bfb0-a99aaffbc718",
  "activeVersionId": "17a8bc2c-461b-4191-bfb0-a99aaffbc718",
  "versionCounter": 3,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-09-09T07:42:55.489Z",
      "createdAt": "2025-09-09T07:42:55.489Z",
      "role": "workflow:owner",
      "workflowId": "IZs64ETsRU2JDDNi",
      "projectId": "lLSHos7ohHn7AjNm",
      "project": {
        "updatedAt": "2025-06-14T17:25:02.061Z",
        "createdAt": "2025-06-14T17:13:49.092Z",
        "id": "lLSHos7ohHn7AjNm",
        "name": "Muhasin Rashid <muhasin@gauger.in>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-06-14T17:13:49.092Z",
            "createdAt": "2025-06-14T17:13:49.092Z",
            "userId": "f88f8c62-813a-499e-aaee-b5f4da43c5a7",
            "projectId": "lLSHos7ohHn7AjNm",
            "user": {
              "updatedAt": "2025-12-18T05:00:03.582Z",
              "createdAt": "2025-06-14T17:13:45.907Z",
              "id": "f88f8c62-813a-499e-aaee-b5f4da43c5a7",
              "email": "muhasin@gauger.in",
              "firstName": "Muhasin",
              "lastName": "Rashid",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-06-14T17:25:40.417Z",
                "personalization_survey_n8n_version": "1.97.1",
                "automationGoalDevops": [
                  "other"
                ],
                "automationGoalDevopsOther": "Product",
                "companyType": "ecommerce",
                "role": "engineering"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "JsDBWbsoYaKBkGmW",
                "userActivatedAt": 1758182279933,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1752395252283
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-18",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-07-16T08:16:44.235Z",
      "createdAt": "2025-07-16T08:16:44.235Z",
      "id": "llHNDAkMynWsjGrL",
      "name": "stable"
    },
    {
      "updatedAt": "2025-07-23T05:50:47.125Z",
      "createdAt": "2025-07-23T05:50:47.125Z",
      "id": "35DLj8FhqJbXBz8P",
      "name": "printify"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-17T18:30:57.208Z",
    "createdAt": "2025-12-17T18:30:57.208Z",
    "versionId": "17a8bc2c-461b-4191-bfb0-a99aaffbc718",
    "workflowId": "IZs64ETsRU2JDDNi",
    "nodes": [
      {
        "parameters": {
          "method": "POST",
          "url": "https://honest-ghoul-37248.upstash.io/lpush/myfurryprints_queue",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"submission_id\": \"{{ $json.body.submission_id }}\",\n  \"customer_data\": {{ JSON.stringify($json.body.data) }},\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          368,
          288
        ],
        "id": "86f9079c-44e6-48d5-8976-2775464aae8e",
        "name": "AddToQueue",
        "credentials": {
          "httpHeaderAuth": {
            "id": "OU4p8zTKeY9k8OYC",
            "name": "Upstash_new"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "start",
          "options": {
            "allowedOrigins": "*",
            "binaryPropertyName": "images"
          }
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          32,
          288
        ],
        "id": "e8a679a6-b147-4bd9-a9a4-4d5db2c34450",
        "name": "Webhook",
        "webhookId": "a8527436-2fec-4fd7-a839-b69ee48729a7"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://honest-ghoul-37248.upstash.io/get/processing_lock",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          784,
          288
        ],
        "id": "1156583a-43fe-4475-a3da-97cdaa815e0c",
        "name": "CheckProcessingLock",
        "credentials": {
          "httpHeaderAuth": {
            "id": "OU4p8zTKeY9k8OYC",
            "name": "Upstash_new"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "c61f1c28-46d7-4c55-b2a2-cea646a58c02",
                "leftValue": "={{ $json.result }}",
                "rightValue": "null",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          992,
          288
        ],
        "id": "193ef789-3d2c-434c-8cb9-3c700153c051",
        "name": "If Not Processing"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://honest-ghoul-37248.upstash.io/setex/processing_lock/3700/processing",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1232,
          288
        ],
        "id": "0deb5d39-3a1c-4323-a655-6f762f99138b",
        "name": "SetProcessingLock",
        "credentials": {
          "httpHeaderAuth": {
            "id": "OU4p8zTKeY9k8OYC",
            "name": "Upstash_new"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "Go2jMkg3EqJ7aK44",
            "mode": "list",
            "cachedResultUrl": "/workflow/Go2jMkg3EqJ7aK44",
            "cachedResultName": "02-Picasso-Prod-Printify"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          1664,
          288
        ],
        "id": "5629f557-fefb-4a21-b9e7-3e3d40ca0dbc",
        "name": "Execute Workflow1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://honest-ghoul-37248.upstash.io/rpop/myfurryprints_queue",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1440,
          288
        ],
        "id": "fe62257b-a85b-426d-b4b8-473469e2e5a2",
        "name": "PopJobAndProcess",
        "credentials": {
          "httpHeaderAuth": {
            "id": "OU4p8zTKeY9k8OYC",
            "name": "Upstash_new"
          }
        }
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          512,
          480
        ],
        "id": "839e04e4-e63a-4fd0-9e10-e9b33f0152b5",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "content": "WORKFLOW 1\n\n\nThis workflow handles incoming data from users and adds them to a queue in redis for processing. It makes sure that only one job is processed at a time by checking a processing lock in Redis (via Upstash). When ready, it pops a job from the queue, locks the processing, and triggers another workflow to handle the actual job. It helps manage jobs smoothly without overloading the system.",
          "height": 200,
          "width": 640
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "b6485439-36e9-48e4-b602-cb027bdae68b",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://honest-ghoul-37248.upstash.io/del/processing_lock",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          992,
          704
        ],
        "id": "337f79d1-cfad-4eef-a266-f899b2cc2911",
        "name": "ClearProcessingLock",
        "credentials": {
          "httpHeaderAuth": {
            "id": "OU4p8zTKeY9k8OYC",
            "name": "Upstash_new"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://honest-ghoul-37248.upstash.io/llen/myfurryprints_queue",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1184,
          704
        ],
        "id": "29b29cb5-ace6-420e-aaf8-2ac962580425",
        "name": "CheckQueueForMore",
        "credentials": {
          "httpHeaderAuth": {
            "id": "OU4p8zTKeY9k8OYC",
            "name": "Upstash_new"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "7fd4bd14-be92-42ba-991c-009c111e9871",
                "leftValue": "={{ $json.result }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1360,
          704
        ],
        "id": "1e428769-32c0-473b-b820-6ccb12a9e3e9",
        "name": "IfQueueHasJobs"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "IZs64ETsRU2JDDNi",
            "mode": "list",
            "cachedResultName": "01-Hagrid-Prod-Printify"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          1600,
          704
        ],
        "id": "39111a6b-ee22-499e-97bc-9914b69ed699",
        "name": "Execute Workflow"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          720,
          752
        ],
        "id": "313f51fd-9bbc-459f-9e08-cdef6e2f0f88",
        "name": "When clicking ‘Execute workflow’",
        "disabled": true
      }
    ],
    "connections": {
      "AddToQueue": {
        "main": [
          [
            {
              "node": "CheckProcessingLock",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "AddToQueue",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CheckProcessingLock": {
        "main": [
          [
            {
              "node": "If Not Processing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Not Processing": {
        "main": [
          [
            {
              "node": "SetProcessingLock",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SetProcessingLock": {
        "main": [
          [
            {
              "node": "PopJobAndProcess",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PopJobAndProcess": {
        "main": [
          [
            {
              "node": "Execute Workflow1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "CheckProcessingLock",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ClearProcessingLock": {
        "main": [
          [
            {
              "node": "CheckQueueForMore",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CheckQueueForMore": {
        "main": [
          [
            {
              "node": "IfQueueHasJobs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfQueueHasJobs": {
        "main": [
          [
            {
              "node": "Execute Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "ClearProcessingLock",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "workflowPublishHistory": [
      {
        "createdAt": "2025-10-10T04:44:52.135Z",
        "id": 96,
        "workflowId": "IZs64ETsRU2JDDNi",
        "versionId": "17a8bc2c-461b-4191-bfb0-a99aaffbc718",
        "event": "activated",
        "userId": null
      }
    ]
  }
}