workflows/uncategorized/03-Dev-Ford-Printify.json
{
  "updatedAt": "2025-08-01T08:01:38.325Z",
  "createdAt": "2025-07-26T06:36:25.260Z",
  "id": "ECPPqAgYES8wa80s",
  "name": "03-Dev-Ford-Printify",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -4440,
        -840
      ],
      "id": "d05f1ee8-57a7-43c9-9fc4-ae940174b2a4",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "// In \"Split_Product_Types\" (ID: d1bb84ef-a798-4c7b-8c15-64726de190ca)\nconst items = $input.all(); // Items from \"Merge Customer With Transformations\"\nconst outputItems = [];\n\n// Customer data (item without asset_id, usually from Extract Parameters via the merge)\nconst customerDataItem = items.find(item => item.json && item.json.email && !item.json.asset_id && !item.json.public_id);\n// Image items (items with asset_id/public_id from Transformation node via the merge)\nconst imageItems = items.filter(item => item.json && (item.json.asset_id || item.json.public_id));\n\nif (!customerDataItem) {\n  console.error(\"Split_Product_Types: Customer data not found. Ensure 'Merge Customer With Transformations' is correctly merging.\");\n  return [{ json: { error: \"Customer data item not found.\" } }];\n}\nconst customerData = customerDataItem.json;\n\nif (imageItems.length === 0) {\n  console.warn(\"Split_Product_Types: No image items found to process.\");\n}\n\nimageItems.forEach(item => {\n  const imageJson = item.json; // This is the rich data from the Transformation node\n\n  // promptIndex and theme_name should now be directly available in imageJson\n  const promptIndex = imageJson.promptIndex;\n  const actualThemeName = imageJson.theme_name;\n\n  if (promptIndex === undefined || !actualThemeName) {\n    console.error(`Split_Product_Types: Missing promptIndex or theme_name for image item. Public ID: ${imageJson.public_id}. Skipping.`);\n    return; // Skip this item\n  }\n\n  // Use petname from customerData (more reliable) or fallback to imageJson if it somehow has it\n  const petName = customerData.petname || imageJson.petname || \"Pet\";\n  const petKind = customerData.petkind || imageJson.petkind || \"Pet\";\n  const petGender = $input.first().json.petGender|| imageJson.petgender || \"Pet\";\n  const sessionId = customerData.session_id || imageJson.session_id || Date.now().toString().slice(-8);\n\n  const baseHandle = `${petName.toLowerCase().replace(/\\s+/g, '-')}-${actualThemeName.toLowerCase().replace(/[^a-z0-9-]+/g, '').replace(/\\s+/g, '-')}`;\n  const sessionSuffix = sessionId.slice(-8);\n  const uniqueHandle = `${baseHandle}-${sessionSuffix}`;\n\n  // Use spread operator to preserve original field order, then override specific fields\n  outputItems.push({\n    json: {\n      // Start with customer data\n      session_id: sessionId,\n      email: customerData.email || imageJson.email,\n      petname: petName,\n      petGender: petGender,\n      petKind: customerData.petKind || imageJson.petKind,\n      customer_name: customerData.customer_name || imageJson.customer_name,\n      \n      // Include all cloudinary data (preserves original order)\n      ...imageJson,\n      \n      // Override/ensure these specific fields are set correctly\n      promptIndex: promptIndex,\n      collection_name: `${petName} ${actualThemeName}`,\n      collection_handle: uniqueHandle,\n      theme_name: actualThemeName,\n      collection_image_url: imageJson.original_url // Use original URL for collection image\n    }\n  });\n});\n\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4220,
        -840
      ],
      "id": "15d77b08-9c9d-4c85-b2dd-4988fab9078b",
      "name": "Split_Product_Types"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://j4zewh-kg.myshopify.com/admin/api/2025-04/custom_collections.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"custom_collection\": {\n    \"title\": \"{{ $json.collection_name }}\",\n    \"handle\": \"{{ $json.collection_handle }}\",\n    \"body_html\": \"<p>Custom {{ $json.theme_name }} artwork featuring {{ $json.petname }}. High-quality, frame-worthy art available on various products.</p><p>Created for {{ $json.customer_name }} ({{ $json.email }})</p>\",\n    \"published\": true,\n    \"image\": {\n      \"src\": \"{{ $json.transformations.watermark }}\",\n      \"alt\": \"{{ $json.petname }} {{ $json.theme_name }} Artwork\"\n    },\n    \"metafields\": [\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"session_id\",\n        \"value\": \"{{ $json.session_id }}\",\n        \"type\": \"single_line_text_field\"\n      },\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"customer_email\",\n        \"value\": \"{{ $json.email }}\",\n        \"type\": \"single_line_text_field\"\n      },\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"prompt_index\",\n        \"value\": \"{{ $json.promptIndex }}\",\n        \"type\": \"number_integer\"\n      },\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"pet_name\",\n        \"value\": \"{{ $json.petname }}\",\n        \"type\": \"single_line_text_field\"\n      },\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"theme_name\",\n        \"value\": \"{{ $json.theme_name }}\",\n        \"type\": \"single_line_text_field\"\n      },\n     {\n          \"namespace\": \"custom\",\n          \"key\": \"pet_kind\",                       \n          \"value\": \"{{ $json.petKind }}\",\n          \"type\": \"single_line_text_field\"\n     },\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"clothing_url\",\n        \"value\": \"{{ $json.clothing_url }}\",\n        \"type\": \"single_line_text_field\"\n      },\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"other_url\",\n        \"value\": \"{{ $json.other_url }}\",\n        \"type\": \"single_line_text_field\"\n      }\n    ]\n  }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4000,
        -840
      ],
      "id": "9e3b4426-d50e-4eb1-b6d2-a691cca2e59d",
      "name": "Create_shopify_collection1",
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "878XnnwYx10R4wXG",
          "name": "Shopify"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3560,
        -840
      ],
      "id": "cb9a5630-a4a3-4fea-81d1-504ab666945a",
      "name": "Extract Collection Data"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -3340,
        -840
      ],
      "id": "e660b1a2-482d-4f2d-b7c7-3f909a78ef7b",
      "name": "Loop Product Templates"
    },
    {
      "parameters": {
        "content": "LOOP 1: \nProduct creation",
        "height": 580,
        "width": 1840,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3400,
        -1100
      ],
      "id": "05df0e7d-0559-473d-820e-e7c165595eae",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst outputItems = [];\n\n// Define your Printify products\nconst printifyProducts = {\n  \"clothing\": [\n    { \n      blueprint_id: 12, \n      print_provider_id: 331, \n      name: \"Premium Cotton Unisex T-shirt\",\n      variant_id:[18099,18100,18101,18102,18103,18104,18539,18540,18541,18542,18543,18544],\n      product_type: \"clothing\"\n    }\n  ],\n  \"other\": [\n    { \n      blueprint_id: 635, \n      print_provider_id: 94, \n      name: \"Color Accent Mug\",\n      variant_id:[72180,72183,72184,105888],\n      product_type: \"other\"\n    },\n    { \n      blueprint_id: 421, \n      print_provider_id: 23, \n      name: \"Tough Phone Case - iPhone, Samsung, Google\",\n      variant_id:[75383,75385,75387,75389,77841,77843,77845,79425,80152,80154,80156,96397,96399,96401,96403,96738,96740,96742,98738,102547,102549,102551,102553,105148,105150,105152,105154,105156,112191,112193,112195,112197,116386,116388,116390,117862,117864,117866],\n      product_type: \"other\"\n    },\n    { \n      blueprint_id: 764, \n      print_provider_id: 72, \n      name: \"Premium Framed Poster\",\n      variant_id:[75328,75330,75332],\n      product_type: \"other\"\n    },\n    { \n      blueprint_id: 937, \n      print_provider_id: 105, \n      name: \"Canvas Portrait\",\n      variant_id: [95213,95214],\n      product_type: \"other\"\n    }    \n  ]\n};\n\n// Get source data from Split_Product_Types node\nconst allSourceData = $('Split_Product_Types').all();\n\n// Cloudinary config\nconst cloudName = 'myfurryprints';\nconst maskId = 'Mask3larger_jpm63l';\nconst CLOTHING_TX = `e_upscale/c_scale,w_4000/l_${maskId},w_4000,fl_cutter`;\nconst OTHER_TX = `e_upscale/c_scale,w_4000`;\n\n// Helper to build the Cloudinary URL based on product type\nfunction buildImageUrl(productType, publicId) {\n  const base = `https://res.cloudinary.com/${cloudName}/image/upload`;\n  return productType === 'clothing'\n    ? `${base}/${CLOTHING_TX}/${publicId}`\n    : `${base}/${OTHER_TX}/${publicId}`;\n}\n\n// Main loop\nitems.forEach(item => {\n  const collection = item.json.custom_collection;\n\n  const sourceDataItem = allSourceData.find(\n    sourceItem => sourceItem.json.collection_name === collection.title\n  );\n\n  if (!collection || !sourceDataItem) return; // skip if either is missing\n\n  const sourceData = sourceDataItem.json;\n  const publicId = sourceData.public_id;\n\n  // Combine clothing and other products into one loop\n  const allProducts = [...printifyProducts.clothing, ...printifyProducts.other];\n\n  allProducts.forEach(product => {\n    const imageUrl = buildImageUrl(product.product_type, publicId);\n\n    outputItems.push({\n      json: {\n        session_id:            sourceData.session_id,\n        email:                 sourceData.email,\n        petname:               sourceData.petname,\n        customer_name:         sourceData.customer_name,\n        promptIndex:           sourceData.promptIndex,\n        theme_name:            sourceData.theme_name,\n        shopify_collection_id: collection.id,\n\n        product_type:          product.product_type,\n        image_url:             imageUrl,\n        blueprint_id:          product.blueprint_id,\n        print_provider_id:     product.print_provider_id,\n        product_title:         `${sourceData.theme_name} - ${product.name}`,\n        template_name:         product.name,\n        required_variant_ids:  product.variant_id \n      }\n    });\n\n    console.log(`✅ Created ${product.product_type} product with URL: ${imageUrl}`);\n  });\n});\n\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3780,
        -840
      ],
      "id": "2cccc742-63b2-468e-89a3-d3b31841c29c",
      "name": "Map_Printify_Products"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.printify.com/v1/uploads/images.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"file_name\": \"{{ $json.petname }}_{{ $json.theme_name }}.jpg\",\n  \"url\": \"{{ $json.image_url }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2680,
        -1040
      ],
      "id": "c17b13d8-ac09-4aaa-9383-bf38b4b6a010",
      "name": "Upload_Image_To_Printify",
      "credentials": {
        "httpHeaderAuth": {
          "id": "QyrLm1DfKVd2QbzS",
          "name": "Printify API Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.printify.com/v1/catalog/blueprints/{{ $json.blueprint_id }}/print_providers/{{ $json.print_provider_id }}/variants.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2440,
        -860
      ],
      "id": "e15fbdec-b8df-4985-8072-da115280575b",
      "name": "Get_Print_Provider_Variants",
      "credentials": {
        "httpBasicAuth": {
          "id": "ZwQuXy3mFoa7bh3H",
          "name": "cloudinaryFurryPrints"
        },
        "httpHeaderAuth": {
          "id": "QyrLm1DfKVd2QbzS",
          "name": "Printify API Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// This code is designed for the SEQUENTIAL flow.\n\n// 1. Get the original data from the start of the loop\nconst productInfo = $('Loop Product Templates').item.json;\n\n// 2. Get the result of the image upload\nconst uploadedImage = $('Upload_Image_To_Printify').item.json;\n\n// 3. Get the result of the variants API call (this is the direct input)\nconst providerVariantsResponse = $input.item.json;\n\n// --- Error Checking --\nif (!productInfo || !productInfo.product_title) {\n  throw new Error(\"Could not find original product data (like product_title) from the loop.\");\n}\nif (!uploadedImage || !uploadedImage.id) {\n  throw new Error(\"Could not find a valid image ID from the upload step.\");\n}\nif (!providerVariantsResponse || !providerVariantsResponse.variants) {\n  throw new Error(\"Could not find a valid variants array from the API call.\");\n}\n\n\n// --- Dynamically extract placeholder position from provider response ---\nconst placeholderPosition = providerVariantsResponse.variants?.[0]?.print_areas?.[0]?.placeholders?.[0]?.position || \"front\";\n\n// --- UPDATED LOGIC STARTS HERE --\n\n// Get the list of variant IDs we passed from the \"Map_Printify_Products\" node\nconst requiredVariantIds = productInfo.required_variant_ids;\nif (!requiredVariantIds || !Array.isArray(requiredVariantIds)) {\n  throw new Error(\"Could not find the 'required_variant_ids' array. Check the 'Map_Printify_Products' node.\");\n}\n\n// Filter the variants from the API response to only include the ones we want\nconst variants = providerVariantsResponse.variants\n  .filter(variant => requiredVariantIds.includes(variant.id))\n  .map(variant => ({\n    id: variant.id,\n    price: 2999, // You can keep this or adjust as needed\n    is_enabled: true\n  }));\n\nif (variants.length === 0) {\n    throw new Error(`Could not find any matching variants for the provided IDs: ${requiredVariantIds.join(', ')}`);\n}\n\nconst all_variant_ids = variants.map(v => v.id);\n\n// --- UPDATED LOGIC ENDS HERE ---\n\nconst payload = {\n  \"title\": productInfo.product_title,\n  \"description\": `<p>Custom ${productInfo.theme_name} artwork featuring ${productInfo.petname}. High-quality print-on-demand product perfect for pet lovers.</p>`,\n  \"blueprint_id\": productInfo.blueprint_id,\n  \"print_provider_id\": productInfo.print_provider_id,\n  \"variants\": variants,\n  \"print_areas\": [\n    {\n      \"variant_ids\": all_variant_ids,\n      \"placeholders\": [\n        {\n          \"position\": placeholderPosition,\n          \"images\": [\n            {\n              \"id\": uploadedImage.id,\n              \"x\": 0.5,\n              \"y\": 0.5,\n              \"scale\": 1,\n              \"angle\": 0\n            }\n          ]\n        }\n      ]\n    }\n  ],\n  // Add your tags here\n  \"tags\": [\n    $('When Executed by Another Workflow').first().json.email,\n    $('When Executed by Another Workflow').first().json.petGender,\n    $('When Executed by Another Workflow').first().json.petKind,\n    $('When Executed by Another Workflow').first().json.session_id,\n    productInfo.theme_name // <-- ADD THIS LINE\n  ]\n};\n\n// Return the final data\nreturn {\n  json: {\n    ...productInfo,\n    printifyPayload: payload\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2000,
        -940
      ],
      "id": "21c3d5be-5d30-4d03-a251-c10b3284597f",
      "name": "Prepare_Printify_Product_Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.printify.com/v1/shops/21658609/products.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.printifyPayload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1720,
        -940
      ],
      "id": "6fec1f8d-585b-4151-b44f-1c4a2bdaaa0d",
      "name": "Create_Printify_Product",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "QyrLm1DfKVd2QbzS",
          "name": "Printify API Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.printify.com/v1/shops/21658609/products/{{ $('Create_Printify_Product').item.json.id }}/publish.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"title\": true,\n  \"description\": true,\n  \"images\": true,\n  \"variants\": true,\n  \"tags\": true,\n  \"keyFeatures\": true,\n  \"shipping_template\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1280,
        -860
      ],
      "id": "aef84fe0-3ea3-449f-9667-670fb2a8908a",
      "name": "Publish_Printify_Product",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "QyrLm1DfKVd2QbzS",
          "name": "Printify API Auth"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2240,
        -940
      ],
      "id": "84c61a93-9c55-420d-898e-04a92033626d",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f46f174-b276-433a-a2a8-d11be21fa51f",
              "name": "image_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2460,
        -1040
      ],
      "id": "5aabb750-b1ce-4d32-a695-627995fb402e",
      "name": "Set_Image_ID"
    },
    {
      "parameters": {
        "url": "=https://api.printify.com/v1/shops/21658609/products/68847d51039a7e8acf08bb57.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3520,
        520
      ],
      "id": "71720a26-1fdd-4f37-ba80-e719fd150e94",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "QyrLm1DfKVd2QbzS",
          "name": "Printify API Auth"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3820,
        560
      ],
      "id": "65b1978e-8fdf-4195-8496-073075a613f6",
      "name": "When clicking ‘Execute workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://j4zewh-kg.myshopify.com/admin/api/2025-04/collects.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"collect\": {\n    \"product_id\": {{$json[\"product_id\"]}},\n    \"collection_id\": {{$json[\"collection_id\"]}}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -580,
        20
      ],
      "id": "a4cc8864-2f08-4482-ae85-9d078247e687",
      "name": "Add_Product_To_Collection",
      "credentials": {
        "httpHeaderAuth": {
          "id": "878XnnwYx10R4wXG",
          "name": "Shopify"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://j4zewh-kg.myshopify.com/admin/api/2023-10/products.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "tags",
              "value": "={{ $json.session_id_to_match }}"
            },
            {
              "name": "title",
              "value": "={{ $json.product_title }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1060,
        20
      ],
      "id": "68863542-1b9c-4980-a974-0299a78c6923",
      "name": "SearchShopifyProduct",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "878XnnwYx10R4wXG",
          "name": "Shopify"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Node: Collect All Products (FIXED)\nconst allItems = $input.all();\nconst shopifyCollectionsMap = new Map();\nconst productsToProcess = [];\n\nconsole.log(`Collect All Products - Received ${allItems.length} items.`);\n\n// --- First Pass: Map all Shopify collections by their title ---\nallItems.forEach((item) => {\n  // Identify collection items (they have a collection_id but no product id)\n  if (item.json.collection_id && !item.json.id) {\n    const collectionTitle = item.json.title;\n    if (collectionTitle && !shopifyCollectionsMap.has(collectionTitle)) {\n      shopifyCollectionsMap.set(collectionTitle, {\n        collection_id: item.json.collection_id,\n        collection_handle: item.json.handle,\n      });\n      console.log(`Mapped Shopify Collection: \"${collectionTitle}\" -> ID: ${item.json.collection_id}`);\n    }\n  }\n});\n\n// --- Pre-computation: Find the pet name for this batch ---\nconst referenceItem = allItems.find(item => item.json.petname);\nconst petnameForBatch = referenceItem ? referenceItem.json.petname : null;\n\nif (!petnameForBatch) {\n  console.error(\"CRITICAL: Could not determine pet name for this batch. Processing will likely fail.\");\n  return [];\n}\n\n// --- Second Pass: Match products to their collections ---\nallItems.forEach((item) => {\n  // Identify product items (they have a product ID, tags, and a title)\n  if (item.json.id && item.json.tags && item.json.title && item.json.title.includes(' - ')) {\n    const productTitle = item.json.title;\n    \n    // 1. Extract the theme name from the product title.\n    // e.g., \"Spa Day Deluxe - Premium T-Shirt\" -> \"Spa Day Deluxe\"\n    const productTheme = productTitle.split(' - ')[0].trim();\n\n    // 2. Construct the expected Shopify collection title.\n    // e.g., \"Milo\" + \" \" + \"Spa Day Deluxe\" -> \"Milo Spa Day Deluxe\"\n    const collectionTitleKey = `${petnameForBatch} ${productTheme}`;\n\n    // 3. Look up the collection in our map.\n    const collectionData = shopifyCollectionsMap.get(collectionTitleKey);\n\n    if (collectionData) {\n      // Find the session_id from the tags (assuming it's the 4th tag)\n      const sessionIdTag = item.json.tags && item.json.tags.length > 3 ? item.json.tags[3] : null;\n      if (!sessionIdTag) {\n        console.warn(`Could not find a session_id tag for product: \"${productTitle}\". Skipping.`);\n        return; // Skips this product\n      }\n\n      productsToProcess.push({\n        json: {\n          product_title_to_search_in_shopify: productTitle,\n          shopify_collection_id: collectionData.collection_id,\n          shopify_collection_handle: collectionData.collection_handle,\n          shopify_collection_original_title: collectionTitleKey,\n          session_id_to_match: sessionIdTag,\n          gelato_product_id: item.json.id // Note: This field name is from your original code\n        }\n      });\n      console.log(`SUCCESS: Matched product \"${productTitle}\" to collection \"${collectionTitleKey}\"`);\n    } else {\n      console.warn(`FAIL: No Shopify collection found for product: \"${productTitle}\". (Used key: \"${collectionTitleKey}\"). This product will be skipped.`);\n    }\n  }\n});\n\nconsole.log(`Total products to process: ${productsToProcess.length}`);\nreturn productsToProcess;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1980,
        -20
      ],
      "id": "657d24d0-6ca1-45c8-9caf-ec0d9696e251",
      "name": "Collect All Products"
    },
    {
      "parameters": {
        "jsCode": "const currentProductData = $input.item.json;\nreturn {\n  json: {\n    product_title: currentProductData.product_title_to_search_in_shopify,\n    shopify_collection_id: currentProductData.shopify_collection_id,\n    \n    // --- ADD THIS LINE ---\n    session_id_to_match: currentProductData.session_id_to_match, // Pass it through\n\n    // Context fields (no changes needed here)\n    original_search_title: currentProductData.product_title_to_search_in_shopify,\n    original_shopify_collection_title: currentProductData.shopify_collection_original_title,\n    gelato_product_id_context: currentProductData.gelato_product_id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1480,
        20
      ],
      "id": "901f2957-a6fe-4ceb-8d29-6bc341f6ecf2",
      "name": "Format Product Search Data"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Get the API response from SearchShopifyProduct\nconst shopifyApiResponse = $input.item.json;\n\n// Get the data sent *into* SearchShopifyProduct\nconst dataFromPreviousNode = $('Format Product Search Data').item.json;\n\nlet foundProduct = null;\nconst allFoundProducts = shopifyApiResponse.products || [];\nconst targetSessionId = dataFromPreviousNode.session_id_to_match;\nconst searchedTitle = dataFromPreviousNode.product_title;\n\nconsole.log(`--- Starting Product ID Extraction ---`);\nconsole.log(`Target Session ID: \"${targetSessionId}\"`);\nconsole.log(`Searching for product title: \"${searchedTitle}\"`);\n\nif (!targetSessionId) {\n  console.error(\"CRITICAL ERROR: No session_id was passed to this node. Cannot perform matching. Check the 'Collect All Products' node.\");\n  // FIXED: Return a single object, not an array\n  return { json: { product_id: null, error: \"Missing session_id_to_match\" } };\n}\n\nif (allFoundProducts.length === 0) {\n  console.warn(`Shopify search returned ZERO products for title \"${searchedTitle}\".`);\n} else {\n  console.log(`Shopify search returned ${allFoundProducts.length} product(s). Now filtering...`);\n\n  const lowerCaseTargetSessionId = targetSessionId.toLowerCase();\n\n  for (const product of allFoundProducts) {\n    const shopifyTagsString = product.tags;\n\n    if (shopifyTagsString) {\n      const lowerCaseShopifyTags = shopifyTagsString.toLowerCase();\n      console.log(`- Checking Product ID: ${product.id}. Lowercase Tags: \"${lowerCaseShopifyTags}\". Does it include \"${lowerCaseTargetSessionId}\"?`);\n      if (lowerCaseShopifyTags.includes(lowerCaseTargetSessionId)) {\n        foundProduct = product;\n        console.log(`✅ MATCH FOUND! Using Product ID: ${foundProduct.id}`);\n        break;\n      }\n    } else {\n      console.log(`- Checking Product ID: ${product.id}. No tags found.`);\n    }\n  }\n}\n\nif (foundProduct) {\n  // FIXED: Return a single object, not an array\n  return {\n    json: {\n      product_id: foundProduct.id,\n      collection_id: dataFromPreviousNode.shopify_collection_id,\n      context_searched_title: searchedTitle,\n      context_original_shopify_collection_title: dataFromPreviousNode.original_shopify_collection_title,\n      context_gelato_product_id: dataFromPreviousNode.gelato_product_id_context\n    }\n  };\n} else {\n  console.error(`❌ FAILED: After checking all ${allFoundProducts.length} products, none had the tag \"${targetSessionId}\".`);\n  // FIXED: Return a single object, not an array\n  return {\n    json: {\n      product_id: null,\n      collection_id: dataFromPreviousNode.shopify_collection_id,\n      error: `Product with matching session_id tag '${targetSessionId}' not found.`\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -840,
        20
      ],
      "id": "14e86e88-d68f-4b8a-8680-41b5b3ab7e99",
      "name": "Extract Shopify Product ID"
    },
    {
      "parameters": {
        "jsCode": "const shopifyCollectApiResponse = $input.first().json;\nconst contextData = $('Extract Shopify Product ID').item.json; // Data from Code3\n\nif (shopifyCollectApiResponse.collect && shopifyCollectApiResponse.collect.id) {\n  console.log(`✅ SUCCESS: Shopify Product (Shopify ID: ${shopifyCollectApiResponse.collect.product_id}, originally searched as \"${contextData.context_searched_title}\") added to Shopify Collection (Shopify ID: ${shopifyCollectApiResponse.collect.collection_id}, title: \"${contextData.context_original_shopify_collection_title}\"). Gelato Product ID was: ${contextData.context_gelato_product_id}.`);\n} else {\n  console.error(`❌ FAILED or SKIPPED: Could not add product to collection...`);\n}\nreturn [$input.first()]; // Passes the Shopify API response along"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -120,
        20
      ],
      "id": "9d50e119-6b9f-4e81-94c2-33e56e49d128",
      "name": "Log Collection Link Result"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -2440,
        -320
      ],
      "id": "d81c36bf-817a-4af8-8fcb-ab00068354fe",
      "name": "Merge Collections With Products"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1680,
        0
      ],
      "id": "f4d6ada9-a926-46ce-bc87-9386220f579b",
      "name": "Loop Product Collection Linking"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "y8oyhB8oJsXRl9jr",
          "mode": "list",
          "cachedResultName": "04-Dev-Hermes-Printify"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1980,
        340
      ],
      "id": "310894d1-38f0-435b-87c5-63738daf0c24",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "320bc315-deea-4d87-a7b6-5c2d27f84ca1",
              "name": "session_id",
              "value": "={{ $json.session_id }}",
              "type": "string"
            },
            {
              "id": "b9eb2c98-b46b-4a8c-9f9a-7d0908d297c9",
              "name": "customer_name",
              "value": "={{ $json.customer_name }}",
              "type": "string"
            },
            {
              "id": "8db2e7ef-f12c-478c-bd2b-eae3cd9e5c1c",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "cca910d1-c893-4860-888d-36ecc2f0b0a7",
              "name": "petname",
              "value": "={{ $json.petname }}",
              "type": "string"
            },
            {
              "id": "b3d85d82-adb6-4f18-a0e9-8d0586afad05",
              "name": "petKind",
              "value": "={{ $json.petKind }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2640,
        420
      ],
      "id": "ec463ba5-c871-4f43-a0f1-4bb9ec34bd18",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -360,
        20
      ],
      "id": "1beb85ec-27a8-4cd6-8a50-caf6629a8d42",
      "name": "Wait2",
      "webhookId": "9484b464-01f3-4a87-a9ca-12cd670f86c5"
    },
    {
      "parameters": {
        "content": "LOOP 2 :\nAdding created products to the respective collection",
        "height": 300,
        "width": 1860
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2240,
        -60
      ],
      "id": "08222de0-cb8a-4f61-b99c-28e1f4cfdfbe",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eedd32cb-3722-4169-ae9e-b5e0b7114fd9",
              "name": "collection_id",
              "value": "={{ $json.custom_collection.id }}",
              "type": "number"
            },
            {
              "id": "0ea0ee40-d5e9-4980-ad45-35f941a86cb5",
              "name": "handle",
              "value": "={{ $json.custom_collection.handle }}",
              "type": "string"
            },
            {
              "id": "30fe9f3f-53af-4c85-bd1b-e2f489aefefa",
              "name": "title",
              "value": "={{ $json.custom_collection.title }}",
              "type": "string"
            },
            {
              "id": "5d3f929e-6ee3-498a-bbbe-acf01ab9324a",
              "name": "petname",
              "value": "={{ $('Split_Product_Types').item.json.petname }}",
              "type": "string"
            },
            {
              "id": "1d667b57-1fc1-477e-a10b-99aa06fa2d6b",
              "name": "themename",
              "value": "={{ $json.custom_collection.title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2880,
        -20
      ],
      "id": "ca5922ca-53fc-4040-a280-90ea30d694c9",
      "name": "gather collections"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2180,
        340
      ],
      "id": "0c8b6eb2-faa3-4773-8203-864a27b318fd",
      "name": "Merge1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1260,
        20
      ],
      "id": "c6025dd5-e4e0-466c-a8cb-6be34d3a043d",
      "name": "Wait",
      "webhookId": "35c14ef3-d2f2-4717-a6c4-108f221576f4"
    },
    {
      "parameters": {
        "amount": 1.3,
        "unit": "hours"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2980,
        -460
      ],
      "id": "e8bc00a3-a276-4dfa-a7a7-73f88d3fcd13",
      "name": "Wait_for_Image_Upload",
      "webhookId": "5e765d68-baee-460a-b9df-da7c6c1f70e5"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Split_Product_Types",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split_Product_Types": {
      "main": [
        [
          {
            "node": "Create_shopify_collection1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create_shopify_collection1": {
      "main": [
        [
          {
            "node": "Map_Printify_Products",
            "type": "main",
            "index": 0
          },
          {
            "node": "gather collections",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract Collection Data": {
      "main": [
        [
          {
            "node": "Loop Product Templates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Product Templates": {
      "main": [
        [
          {
            "node": "Wait_for_Image_Upload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload_Image_To_Printify",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get_Print_Provider_Variants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map_Printify_Products": {
      "main": [
        [
          {
            "node": "Extract Collection Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload_Image_To_Printify": {
      "main": [
        [
          {
            "node": "Set_Image_ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_Print_Provider_Variants": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare_Printify_Product_Payload": {
      "main": [
        [
          {
            "node": "Create_Printify_Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create_Printify_Product": {
      "main": [
        [
          {
            "node": "Publish_Printify_Product",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Product Templates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish_Printify_Product": {
      "main": [
        []
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Prepare_Printify_Product_Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_Image_ID": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add_Product_To_Collection": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SearchShopifyProduct": {
      "main": [
        [
          {
            "node": "Extract Shopify Product ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect All Products": {
      "main": [
        [
          {
            "node": "Loop Product Collection Linking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Product Search Data": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Shopify Product ID": {
      "main": [
        [
          {
            "node": "Add_Product_To_Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Collection Link Result": {
      "main": [
        [
          {
            "node": "Loop Product Collection Linking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Collections With Products": {
      "main": [
        [
          {
            "node": "Collect All Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Product Collection Linking": {
      "main": [
        [],
        [
          {
            "node": "Format Product Search Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Log Collection Link Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gather collections": {
      "main": [
        [
          {
            "node": "Merge Collections With Products",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "SearchShopifyProduct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait_for_Image_Upload": {
      "main": [
        [
          {
            "node": "Merge Collections With Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "a9fd1b0c-2901-434d-9327-9deadaeafd8c",
  "activeVersionId": "a9fd1b0c-2901-434d-9327-9deadaeafd8c",
  "versionCounter": 3,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-07-26T06:36:25.260Z",
      "createdAt": "2025-07-26T06:36:25.260Z",
      "role": "workflow:owner",
      "workflowId": "ECPPqAgYES8wa80s",
      "projectId": "lLSHos7ohHn7AjNm",
      "project": {
        "updatedAt": "2025-06-14T17:25:02.061Z",
        "createdAt": "2025-06-14T17:13:49.092Z",
        "id": "lLSHos7ohHn7AjNm",
        "name": "Muhasin Rashid <muhasin@gauger.in>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-06-14T17:13:49.092Z",
            "createdAt": "2025-06-14T17:13:49.092Z",
            "userId": "f88f8c62-813a-499e-aaee-b5f4da43c5a7",
            "projectId": "lLSHos7ohHn7AjNm",
            "user": {
              "updatedAt": "2025-12-18T05:00:03.582Z",
              "createdAt": "2025-06-14T17:13:45.907Z",
              "id": "f88f8c62-813a-499e-aaee-b5f4da43c5a7",
              "email": "muhasin@gauger.in",
              "firstName": "Muhasin",
              "lastName": "Rashid",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-06-14T17:25:40.417Z",
                "personalization_survey_n8n_version": "1.97.1",
                "automationGoalDevops": [
                  "other"
                ],
                "automationGoalDevopsOther": "Product",
                "companyType": "ecommerce",
                "role": "engineering"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "JsDBWbsoYaKBkGmW",
                "userActivatedAt": 1758182279933,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1752395252283
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-18",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-07-16T05:47:05.580Z",
      "createdAt": "2025-07-16T05:47:05.580Z",
      "id": "hn6s8vvm70Sc55aF",
      "name": "testing"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-17T18:30:57.187Z",
    "createdAt": "2025-12-17T18:30:57.187Z",
    "versionId": "a9fd1b0c-2901-434d-9327-9deadaeafd8c",
    "workflowId": "ECPPqAgYES8wa80s",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -4440,
          -840
        ],
        "id": "d05f1ee8-57a7-43c9-9fc4-ae940174b2a4",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "jsCode": "// In \"Split_Product_Types\" (ID: d1bb84ef-a798-4c7b-8c15-64726de190ca)\nconst items = $input.all(); // Items from \"Merge Customer With Transformations\"\nconst outputItems = [];\n\n// Customer data (item without asset_id, usually from Extract Parameters via the merge)\nconst customerDataItem = items.find(item => item.json && item.json.email && !item.json.asset_id && !item.json.public_id);\n// Image items (items with asset_id/public_id from Transformation node via the merge)\nconst imageItems = items.filter(item => item.json && (item.json.asset_id || item.json.public_id));\n\nif (!customerDataItem) {\n  console.error(\"Split_Product_Types: Customer data not found. Ensure 'Merge Customer With Transformations' is correctly merging.\");\n  return [{ json: { error: \"Customer data item not found.\" } }];\n}\nconst customerData = customerDataItem.json;\n\nif (imageItems.length === 0) {\n  console.warn(\"Split_Product_Types: No image items found to process.\");\n}\n\nimageItems.forEach(item => {\n  const imageJson = item.json; // This is the rich data from the Transformation node\n\n  // promptIndex and theme_name should now be directly available in imageJson\n  const promptIndex = imageJson.promptIndex;\n  const actualThemeName = imageJson.theme_name;\n\n  if (promptIndex === undefined || !actualThemeName) {\n    console.error(`Split_Product_Types: Missing promptIndex or theme_name for image item. Public ID: ${imageJson.public_id}. Skipping.`);\n    return; // Skip this item\n  }\n\n  // Use petname from customerData (more reliable) or fallback to imageJson if it somehow has it\n  const petName = customerData.petname || imageJson.petname || \"Pet\";\n  const petKind = customerData.petkind || imageJson.petkind || \"Pet\";\n  const petGender = $input.first().json.petGender|| imageJson.petgender || \"Pet\";\n  const sessionId = customerData.session_id || imageJson.session_id || Date.now().toString().slice(-8);\n\n  const baseHandle = `${petName.toLowerCase().replace(/\\s+/g, '-')}-${actualThemeName.toLowerCase().replace(/[^a-z0-9-]+/g, '').replace(/\\s+/g, '-')}`;\n  const sessionSuffix = sessionId.slice(-8);\n  const uniqueHandle = `${baseHandle}-${sessionSuffix}`;\n\n  // Use spread operator to preserve original field order, then override specific fields\n  outputItems.push({\n    json: {\n      // Start with customer data\n      session_id: sessionId,\n      email: customerData.email || imageJson.email,\n      petname: petName,\n      petGender: petGender,\n      petKind: customerData.petKind || imageJson.petKind,\n      customer_name: customerData.customer_name || imageJson.customer_name,\n      \n      // Include all cloudinary data (preserves original order)\n      ...imageJson,\n      \n      // Override/ensure these specific fields are set correctly\n      promptIndex: promptIndex,\n      collection_name: `${petName} ${actualThemeName}`,\n      collection_handle: uniqueHandle,\n      theme_name: actualThemeName,\n      collection_image_url: imageJson.original_url // Use original URL for collection image\n    }\n  });\n});\n\nreturn outputItems;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -4220,
          -840
        ],
        "id": "15d77b08-9c9d-4c85-b2dd-4988fab9078b",
        "name": "Split_Product_Types"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://j4zewh-kg.myshopify.com/admin/api/2025-04/custom_collections.json",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"custom_collection\": {\n    \"title\": \"{{ $json.collection_name }}\",\n    \"handle\": \"{{ $json.collection_handle }}\",\n    \"body_html\": \"<p>Custom {{ $json.theme_name }} artwork featuring {{ $json.petname }}. High-quality, frame-worthy art available on various products.</p><p>Created for {{ $json.customer_name }} ({{ $json.email }})</p>\",\n    \"published\": true,\n    \"image\": {\n      \"src\": \"{{ $json.transformations.watermark }}\",\n      \"alt\": \"{{ $json.petname }} {{ $json.theme_name }} Artwork\"\n    },\n    \"metafields\": [\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"session_id\",\n        \"value\": \"{{ $json.session_id }}\",\n        \"type\": \"single_line_text_field\"\n      },\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"customer_email\",\n        \"value\": \"{{ $json.email }}\",\n        \"type\": \"single_line_text_field\"\n      },\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"prompt_index\",\n        \"value\": \"{{ $json.promptIndex }}\",\n        \"type\": \"number_integer\"\n      },\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"pet_name\",\n        \"value\": \"{{ $json.petname }}\",\n        \"type\": \"single_line_text_field\"\n      },\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"theme_name\",\n        \"value\": \"{{ $json.theme_name }}\",\n        \"type\": \"single_line_text_field\"\n      },\n     {\n          \"namespace\": \"custom\",\n          \"key\": \"pet_kind\",                       \n          \"value\": \"{{ $json.petKind }}\",\n          \"type\": \"single_line_text_field\"\n     },\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"clothing_url\",\n        \"value\": \"{{ $json.clothing_url }}\",\n        \"type\": \"single_line_text_field\"\n      },\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"other_url\",\n        \"value\": \"{{ $json.other_url }}\",\n        \"type\": \"single_line_text_field\"\n      }\n    ]\n  }\n}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -4000,
          -840
        ],
        "id": "9e3b4426-d50e-4eb1-b6d2-a691cca2e59d",
        "name": "Create_shopify_collection1",
        "retryOnFail": false,
        "maxTries": 5,
        "waitBetweenTries": 5000,
        "credentials": {
          "httpHeaderAuth": {
            "id": "878XnnwYx10R4wXG",
            "name": "Shopify"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -3560,
          -840
        ],
        "id": "cb9a5630-a4a3-4fea-81d1-504ab666945a",
        "name": "Extract Collection Data"
      },
      {
        "parameters": {
          "options": {
            "reset": false
          }
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -3340,
          -840
        ],
        "id": "e660b1a2-482d-4f2d-b7c7-3f909a78ef7b",
        "name": "Loop Product Templates"
      },
      {
        "parameters": {
          "content": "LOOP 1: \nProduct creation",
          "height": 580,
          "width": 1840,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -3400,
          -1100
        ],
        "id": "05df0e7d-0559-473d-820e-e7c165595eae",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst outputItems = [];\n\n// Define your Printify products\nconst printifyProducts = {\n  \"clothing\": [\n    { \n      blueprint_id: 12, \n      print_provider_id: 331, \n      name: \"Premium Cotton Unisex T-shirt\",\n      variant_id:[18099,18100,18101,18102,18103,18104,18539,18540,18541,18542,18543,18544],\n      product_type: \"clothing\"\n    }\n  ],\n  \"other\": [\n    { \n      blueprint_id: 635, \n      print_provider_id: 94, \n      name: \"Color Accent Mug\",\n      variant_id:[72180,72183,72184,105888],\n      product_type: \"other\"\n    },\n    { \n      blueprint_id: 421, \n      print_provider_id: 23, \n      name: \"Tough Phone Case - iPhone, Samsung, Google\",\n      variant_id:[75383,75385,75387,75389,77841,77843,77845,79425,80152,80154,80156,96397,96399,96401,96403,96738,96740,96742,98738,102547,102549,102551,102553,105148,105150,105152,105154,105156,112191,112193,112195,112197,116386,116388,116390,117862,117864,117866],\n      product_type: \"other\"\n    },\n    { \n      blueprint_id: 764, \n      print_provider_id: 72, \n      name: \"Premium Framed Poster\",\n      variant_id:[75328,75330,75332],\n      product_type: \"other\"\n    },\n    { \n      blueprint_id: 937, \n      print_provider_id: 105, \n      name: \"Canvas Portrait\",\n      variant_id: [95213,95214],\n      product_type: \"other\"\n    }    \n  ]\n};\n\n// Get source data from Split_Product_Types node\nconst allSourceData = $('Split_Product_Types').all();\n\n// Cloudinary config\nconst cloudName = 'myfurryprints';\nconst maskId = 'Mask3larger_jpm63l';\nconst CLOTHING_TX = `e_upscale/c_scale,w_4000/l_${maskId},w_4000,fl_cutter`;\nconst OTHER_TX = `e_upscale/c_scale,w_4000`;\n\n// Helper to build the Cloudinary URL based on product type\nfunction buildImageUrl(productType, publicId) {\n  const base = `https://res.cloudinary.com/${cloudName}/image/upload`;\n  return productType === 'clothing'\n    ? `${base}/${CLOTHING_TX}/${publicId}`\n    : `${base}/${OTHER_TX}/${publicId}`;\n}\n\n// Main loop\nitems.forEach(item => {\n  const collection = item.json.custom_collection;\n\n  const sourceDataItem = allSourceData.find(\n    sourceItem => sourceItem.json.collection_name === collection.title\n  );\n\n  if (!collection || !sourceDataItem) return; // skip if either is missing\n\n  const sourceData = sourceDataItem.json;\n  const publicId = sourceData.public_id;\n\n  // Combine clothing and other products into one loop\n  const allProducts = [...printifyProducts.clothing, ...printifyProducts.other];\n\n  allProducts.forEach(product => {\n    const imageUrl = buildImageUrl(product.product_type, publicId);\n\n    outputItems.push({\n      json: {\n        session_id:            sourceData.session_id,\n        email:                 sourceData.email,\n        petname:               sourceData.petname,\n        customer_name:         sourceData.customer_name,\n        promptIndex:           sourceData.promptIndex,\n        theme_name:            sourceData.theme_name,\n        shopify_collection_id: collection.id,\n\n        product_type:          product.product_type,\n        image_url:             imageUrl,\n        blueprint_id:          product.blueprint_id,\n        print_provider_id:     product.print_provider_id,\n        product_title:         `${sourceData.theme_name} - ${product.name}`,\n        template_name:         product.name,\n        required_variant_ids:  product.variant_id \n      }\n    });\n\n    console.log(`✅ Created ${product.product_type} product with URL: ${imageUrl}`);\n  });\n});\n\nreturn outputItems;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -3780,
          -840
        ],
        "id": "2cccc742-63b2-468e-89a3-d3b31841c29c",
        "name": "Map_Printify_Products"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.printify.com/v1/uploads/images.json",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"file_name\": \"{{ $json.petname }}_{{ $json.theme_name }}.jpg\",\n  \"url\": \"{{ $json.image_url }}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -2680,
          -1040
        ],
        "id": "c17b13d8-ac09-4aaa-9383-bf38b4b6a010",
        "name": "Upload_Image_To_Printify",
        "credentials": {
          "httpHeaderAuth": {
            "id": "QyrLm1DfKVd2QbzS",
            "name": "Printify API Auth"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://api.printify.com/v1/catalog/blueprints/{{ $json.blueprint_id }}/print_providers/{{ $json.print_provider_id }}/variants.json",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -2440,
          -860
        ],
        "id": "e15fbdec-b8df-4985-8072-da115280575b",
        "name": "Get_Print_Provider_Variants",
        "credentials": {
          "httpBasicAuth": {
            "id": "ZwQuXy3mFoa7bh3H",
            "name": "cloudinaryFurryPrints"
          },
          "httpHeaderAuth": {
            "id": "QyrLm1DfKVd2QbzS",
            "name": "Printify API Auth"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// This code is designed for the SEQUENTIAL flow.\n\n// 1. Get the original data from the start of the loop\nconst productInfo = $('Loop Product Templates').item.json;\n\n// 2. Get the result of the image upload\nconst uploadedImage = $('Upload_Image_To_Printify').item.json;\n\n// 3. Get the result of the variants API call (this is the direct input)\nconst providerVariantsResponse = $input.item.json;\n\n// --- Error Checking --\nif (!productInfo || !productInfo.product_title) {\n  throw new Error(\"Could not find original product data (like product_title) from the loop.\");\n}\nif (!uploadedImage || !uploadedImage.id) {\n  throw new Error(\"Could not find a valid image ID from the upload step.\");\n}\nif (!providerVariantsResponse || !providerVariantsResponse.variants) {\n  throw new Error(\"Could not find a valid variants array from the API call.\");\n}\n\n\n// --- Dynamically extract placeholder position from provider response ---\nconst placeholderPosition = providerVariantsResponse.variants?.[0]?.print_areas?.[0]?.placeholders?.[0]?.position || \"front\";\n\n// --- UPDATED LOGIC STARTS HERE --\n\n// Get the list of variant IDs we passed from the \"Map_Printify_Products\" node\nconst requiredVariantIds = productInfo.required_variant_ids;\nif (!requiredVariantIds || !Array.isArray(requiredVariantIds)) {\n  throw new Error(\"Could not find the 'required_variant_ids' array. Check the 'Map_Printify_Products' node.\");\n}\n\n// Filter the variants from the API response to only include the ones we want\nconst variants = providerVariantsResponse.variants\n  .filter(variant => requiredVariantIds.includes(variant.id))\n  .map(variant => ({\n    id: variant.id,\n    price: 2999, // You can keep this or adjust as needed\n    is_enabled: true\n  }));\n\nif (variants.length === 0) {\n    throw new Error(`Could not find any matching variants for the provided IDs: ${requiredVariantIds.join(', ')}`);\n}\n\nconst all_variant_ids = variants.map(v => v.id);\n\n// --- UPDATED LOGIC ENDS HERE ---\n\nconst payload = {\n  \"title\": productInfo.product_title,\n  \"description\": `<p>Custom ${productInfo.theme_name} artwork featuring ${productInfo.petname}. High-quality print-on-demand product perfect for pet lovers.</p>`,\n  \"blueprint_id\": productInfo.blueprint_id,\n  \"print_provider_id\": productInfo.print_provider_id,\n  \"variants\": variants,\n  \"print_areas\": [\n    {\n      \"variant_ids\": all_variant_ids,\n      \"placeholders\": [\n        {\n          \"position\": placeholderPosition,\n          \"images\": [\n            {\n              \"id\": uploadedImage.id,\n              \"x\": 0.5,\n              \"y\": 0.5,\n              \"scale\": 1,\n              \"angle\": 0\n            }\n          ]\n        }\n      ]\n    }\n  ],\n  // Add your tags here\n  \"tags\": [\n    $('When Executed by Another Workflow').first().json.email,\n    $('When Executed by Another Workflow').first().json.petGender,\n    $('When Executed by Another Workflow').first().json.petKind,\n    $('When Executed by Another Workflow').first().json.session_id,\n    productInfo.theme_name // <-- ADD THIS LINE\n  ]\n};\n\n// Return the final data\nreturn {\n  json: {\n    ...productInfo,\n    printifyPayload: payload\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2000,
          -940
        ],
        "id": "21c3d5be-5d30-4d03-a251-c10b3284597f",
        "name": "Prepare_Printify_Product_Payload"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.printify.com/v1/shops/21658609/products.json",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.printifyPayload }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1720,
          -940
        ],
        "id": "6fec1f8d-585b-4151-b44f-1c4a2bdaaa0d",
        "name": "Create_Printify_Product",
        "retryOnFail": true,
        "maxTries": 5,
        "waitBetweenTries": 5000,
        "credentials": {
          "httpHeaderAuth": {
            "id": "QyrLm1DfKVd2QbzS",
            "name": "Printify API Auth"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.printify.com/v1/shops/21658609/products/{{ $('Create_Printify_Product').item.json.id }}/publish.json",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{\n  \"title\": true,\n  \"description\": true,\n  \"images\": true,\n  \"variants\": true,\n  \"tags\": true,\n  \"keyFeatures\": true,\n  \"shipping_template\": true\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1280,
          -860
        ],
        "id": "aef84fe0-3ea3-449f-9667-670fb2a8908a",
        "name": "Publish_Printify_Product",
        "retryOnFail": true,
        "waitBetweenTries": 5000,
        "alwaysOutputData": true,
        "credentials": {
          "httpHeaderAuth": {
            "id": "QyrLm1DfKVd2QbzS",
            "name": "Printify API Auth"
          }
        }
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -2240,
          -940
        ],
        "id": "84c61a93-9c55-420d-898e-04a92033626d",
        "name": "Merge"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "6f46f174-b276-433a-a2a8-d11be21fa51f",
                "name": "image_id",
                "value": "={{ $json.id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -2460,
          -1040
        ],
        "id": "5aabb750-b1ce-4d32-a695-627995fb402e",
        "name": "Set_Image_ID"
      },
      {
        "parameters": {
          "url": "=https://api.printify.com/v1/shops/21658609/products/68847d51039a7e8acf08bb57.json",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -3520,
          520
        ],
        "id": "71720a26-1fdd-4f37-ba80-e719fd150e94",
        "name": "HTTP Request",
        "credentials": {
          "httpHeaderAuth": {
            "id": "QyrLm1DfKVd2QbzS",
            "name": "Printify API Auth"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -3820,
          560
        ],
        "id": "65b1978e-8fdf-4195-8496-073075a613f6",
        "name": "When clicking ‘Execute workflow’",
        "disabled": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://j4zewh-kg.myshopify.com/admin/api/2025-04/collects.json",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"collect\": {\n    \"product_id\": {{$json[\"product_id\"]}},\n    \"collection_id\": {{$json[\"collection_id\"]}}\n  }\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -580,
          20
        ],
        "id": "a4cc8864-2f08-4482-ae85-9d078247e687",
        "name": "Add_Product_To_Collection",
        "credentials": {
          "httpHeaderAuth": {
            "id": "878XnnwYx10R4wXG",
            "name": "Shopify"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "url": "=https://j4zewh-kg.myshopify.com/admin/api/2023-10/products.json",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "tags",
                "value": "={{ $json.session_id_to_match }}"
              },
              {
                "name": "title",
                "value": "={{ $json.product_title }}"
              }
            ]
          },
          "options": {
            "response": {
              "response": {}
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1060,
          20
        ],
        "id": "68863542-1b9c-4980-a974-0299a78c6923",
        "name": "SearchShopifyProduct",
        "alwaysOutputData": false,
        "credentials": {
          "httpHeaderAuth": {
            "id": "878XnnwYx10R4wXG",
            "name": "Shopify"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Node: Collect All Products (FIXED)\nconst allItems = $input.all();\nconst shopifyCollectionsMap = new Map();\nconst productsToProcess = [];\n\nconsole.log(`Collect All Products - Received ${allItems.length} items.`);\n\n// --- First Pass: Map all Shopify collections by their title ---\nallItems.forEach((item) => {\n  // Identify collection items (they have a collection_id but no product id)\n  if (item.json.collection_id && !item.json.id) {\n    const collectionTitle = item.json.title;\n    if (collectionTitle && !shopifyCollectionsMap.has(collectionTitle)) {\n      shopifyCollectionsMap.set(collectionTitle, {\n        collection_id: item.json.collection_id,\n        collection_handle: item.json.handle,\n      });\n      console.log(`Mapped Shopify Collection: \"${collectionTitle}\" -> ID: ${item.json.collection_id}`);\n    }\n  }\n});\n\n// --- Pre-computation: Find the pet name for this batch ---\nconst referenceItem = allItems.find(item => item.json.petname);\nconst petnameForBatch = referenceItem ? referenceItem.json.petname : null;\n\nif (!petnameForBatch) {\n  console.error(\"CRITICAL: Could not determine pet name for this batch. Processing will likely fail.\");\n  return [];\n}\n\n// --- Second Pass: Match products to their collections ---\nallItems.forEach((item) => {\n  // Identify product items (they have a product ID, tags, and a title)\n  if (item.json.id && item.json.tags && item.json.title && item.json.title.includes(' - ')) {\n    const productTitle = item.json.title;\n    \n    // 1. Extract the theme name from the product title.\n    // e.g., \"Spa Day Deluxe - Premium T-Shirt\" -> \"Spa Day Deluxe\"\n    const productTheme = productTitle.split(' - ')[0].trim();\n\n    // 2. Construct the expected Shopify collection title.\n    // e.g., \"Milo\" + \" \" + \"Spa Day Deluxe\" -> \"Milo Spa Day Deluxe\"\n    const collectionTitleKey = `${petnameForBatch} ${productTheme}`;\n\n    // 3. Look up the collection in our map.\n    const collectionData = shopifyCollectionsMap.get(collectionTitleKey);\n\n    if (collectionData) {\n      // Find the session_id from the tags (assuming it's the 4th tag)\n      const sessionIdTag = item.json.tags && item.json.tags.length > 3 ? item.json.tags[3] : null;\n      if (!sessionIdTag) {\n        console.warn(`Could not find a session_id tag for product: \"${productTitle}\". Skipping.`);\n        return; // Skips this product\n      }\n\n      productsToProcess.push({\n        json: {\n          product_title_to_search_in_shopify: productTitle,\n          shopify_collection_id: collectionData.collection_id,\n          shopify_collection_handle: collectionData.collection_handle,\n          shopify_collection_original_title: collectionTitleKey,\n          session_id_to_match: sessionIdTag,\n          gelato_product_id: item.json.id // Note: This field name is from your original code\n        }\n      });\n      console.log(`SUCCESS: Matched product \"${productTitle}\" to collection \"${collectionTitleKey}\"`);\n    } else {\n      console.warn(`FAIL: No Shopify collection found for product: \"${productTitle}\". (Used key: \"${collectionTitleKey}\"). This product will be skipped.`);\n    }\n  }\n});\n\nconsole.log(`Total products to process: ${productsToProcess.length}`);\nreturn productsToProcess;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1980,
          -20
        ],
        "id": "657d24d0-6ca1-45c8-9caf-ec0d9696e251",
        "name": "Collect All Products"
      },
      {
        "parameters": {
          "jsCode": "const currentProductData = $input.item.json;\nreturn {\n  json: {\n    product_title: currentProductData.product_title_to_search_in_shopify,\n    shopify_collection_id: currentProductData.shopify_collection_id,\n    \n    // --- ADD THIS LINE ---\n    session_id_to_match: currentProductData.session_id_to_match, // Pass it through\n\n    // Context fields (no changes needed here)\n    original_search_title: currentProductData.product_title_to_search_in_shopify,\n    original_shopify_collection_title: currentProductData.shopify_collection_original_title,\n    gelato_product_id_context: currentProductData.gelato_product_id\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1480,
          20
        ],
        "id": "901f2957-a6fe-4ceb-8d29-6bc341f6ecf2",
        "name": "Format Product Search Data"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Get the API response from SearchShopifyProduct\nconst shopifyApiResponse = $input.item.json;\n\n// Get the data sent *into* SearchShopifyProduct\nconst dataFromPreviousNode = $('Format Product Search Data').item.json;\n\nlet foundProduct = null;\nconst allFoundProducts = shopifyApiResponse.products || [];\nconst targetSessionId = dataFromPreviousNode.session_id_to_match;\nconst searchedTitle = dataFromPreviousNode.product_title;\n\nconsole.log(`--- Starting Product ID Extraction ---`);\nconsole.log(`Target Session ID: \"${targetSessionId}\"`);\nconsole.log(`Searching for product title: \"${searchedTitle}\"`);\n\nif (!targetSessionId) {\n  console.error(\"CRITICAL ERROR: No session_id was passed to this node. Cannot perform matching. Check the 'Collect All Products' node.\");\n  // FIXED: Return a single object, not an array\n  return { json: { product_id: null, error: \"Missing session_id_to_match\" } };\n}\n\nif (allFoundProducts.length === 0) {\n  console.warn(`Shopify search returned ZERO products for title \"${searchedTitle}\".`);\n} else {\n  console.log(`Shopify search returned ${allFoundProducts.length} product(s). Now filtering...`);\n\n  const lowerCaseTargetSessionId = targetSessionId.toLowerCase();\n\n  for (const product of allFoundProducts) {\n    const shopifyTagsString = product.tags;\n\n    if (shopifyTagsString) {\n      const lowerCaseShopifyTags = shopifyTagsString.toLowerCase();\n      console.log(`- Checking Product ID: ${product.id}. Lowercase Tags: \"${lowerCaseShopifyTags}\". Does it include \"${lowerCaseTargetSessionId}\"?`);\n      if (lowerCaseShopifyTags.includes(lowerCaseTargetSessionId)) {\n        foundProduct = product;\n        console.log(`✅ MATCH FOUND! Using Product ID: ${foundProduct.id}`);\n        break;\n      }\n    } else {\n      console.log(`- Checking Product ID: ${product.id}. No tags found.`);\n    }\n  }\n}\n\nif (foundProduct) {\n  // FIXED: Return a single object, not an array\n  return {\n    json: {\n      product_id: foundProduct.id,\n      collection_id: dataFromPreviousNode.shopify_collection_id,\n      context_searched_title: searchedTitle,\n      context_original_shopify_collection_title: dataFromPreviousNode.original_shopify_collection_title,\n      context_gelato_product_id: dataFromPreviousNode.gelato_product_id_context\n    }\n  };\n} else {\n  console.error(`❌ FAILED: After checking all ${allFoundProducts.length} products, none had the tag \"${targetSessionId}\".`);\n  // FIXED: Return a single object, not an array\n  return {\n    json: {\n      product_id: null,\n      collection_id: dataFromPreviousNode.shopify_collection_id,\n      error: `Product with matching session_id tag '${targetSessionId}' not found.`\n    }\n  };\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -840,
          20
        ],
        "id": "14e86e88-d68f-4b8a-8680-41b5b3ab7e99",
        "name": "Extract Shopify Product ID"
      },
      {
        "parameters": {
          "jsCode": "const shopifyCollectApiResponse = $input.first().json;\nconst contextData = $('Extract Shopify Product ID').item.json; // Data from Code3\n\nif (shopifyCollectApiResponse.collect && shopifyCollectApiResponse.collect.id) {\n  console.log(`✅ SUCCESS: Shopify Product (Shopify ID: ${shopifyCollectApiResponse.collect.product_id}, originally searched as \"${contextData.context_searched_title}\") added to Shopify Collection (Shopify ID: ${shopifyCollectApiResponse.collect.collection_id}, title: \"${contextData.context_original_shopify_collection_title}\"). Gelato Product ID was: ${contextData.context_gelato_product_id}.`);\n} else {\n  console.error(`❌ FAILED or SKIPPED: Could not add product to collection...`);\n}\nreturn [$input.first()]; // Passes the Shopify API response along"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -120,
          20
        ],
        "id": "9d50e119-6b9f-4e81-94c2-33e56e49d128",
        "name": "Log Collection Link Result"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.1,
        "position": [
          -2440,
          -320
        ],
        "id": "d81c36bf-817a-4af8-8fcb-ab00068354fe",
        "name": "Merge Collections With Products"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -1680,
          0
        ],
        "id": "f4d6ada9-a926-46ce-bc87-9386220f579b",
        "name": "Loop Product Collection Linking"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "y8oyhB8oJsXRl9jr",
            "mode": "list",
            "cachedResultName": "04-Dev-Hermes-Printify"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          -1980,
          340
        ],
        "id": "310894d1-38f0-435b-87c5-63738daf0c24",
        "name": "Execute Workflow"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "320bc315-deea-4d87-a7b6-5c2d27f84ca1",
                "name": "session_id",
                "value": "={{ $json.session_id }}",
                "type": "string"
              },
              {
                "id": "b9eb2c98-b46b-4a8c-9f9a-7d0908d297c9",
                "name": "customer_name",
                "value": "={{ $json.customer_name }}",
                "type": "string"
              },
              {
                "id": "8db2e7ef-f12c-478c-bd2b-eae3cd9e5c1c",
                "name": "email",
                "value": "={{ $json.email }}",
                "type": "string"
              },
              {
                "id": "cca910d1-c893-4860-888d-36ecc2f0b0a7",
                "name": "petname",
                "value": "={{ $json.petname }}",
                "type": "string"
              },
              {
                "id": "b3d85d82-adb6-4f18-a0e9-8d0586afad05",
                "name": "petKind",
                "value": "={{ $json.petKind }}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -2640,
          420
        ],
        "id": "ec463ba5-c871-4f43-a0f1-4bb9ec34bd18",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "amount": 2
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -360,
          20
        ],
        "id": "1beb85ec-27a8-4cd6-8a50-caf6629a8d42",
        "name": "Wait2",
        "webhookId": "9484b464-01f3-4a87-a9ca-12cd670f86c5"
      },
      {
        "parameters": {
          "content": "LOOP 2 :\nAdding created products to the respective collection",
          "height": 300,
          "width": 1860
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -2240,
          -60
        ],
        "id": "08222de0-cb8a-4f61-b99c-28e1f4cfdfbe",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "eedd32cb-3722-4169-ae9e-b5e0b7114fd9",
                "name": "collection_id",
                "value": "={{ $json.custom_collection.id }}",
                "type": "number"
              },
              {
                "id": "0ea0ee40-d5e9-4980-ad45-35f941a86cb5",
                "name": "handle",
                "value": "={{ $json.custom_collection.handle }}",
                "type": "string"
              },
              {
                "id": "30fe9f3f-53af-4c85-bd1b-e2f489aefefa",
                "name": "title",
                "value": "={{ $json.custom_collection.title }}",
                "type": "string"
              },
              {
                "id": "5d3f929e-6ee3-498a-bbbe-acf01ab9324a",
                "name": "petname",
                "value": "={{ $('Split_Product_Types').item.json.petname }}",
                "type": "string"
              },
              {
                "id": "1d667b57-1fc1-477e-a10b-99aa06fa2d6b",
                "name": "themename",
                "value": "={{ $json.custom_collection.title }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -2880,
          -20
        ],
        "id": "ca5922ca-53fc-4040-a280-90ea30d694c9",
        "name": "gather collections"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -2180,
          340
        ],
        "id": "0c8b6eb2-faa3-4773-8203-864a27b318fd",
        "name": "Merge1"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -1260,
          20
        ],
        "id": "c6025dd5-e4e0-466c-a8cb-6be34d3a043d",
        "name": "Wait",
        "webhookId": "35c14ef3-d2f2-4717-a6c4-108f221576f4"
      },
      {
        "parameters": {
          "amount": 1.3,
          "unit": "hours"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -2980,
          -460
        ],
        "id": "e8bc00a3-a276-4dfa-a7a7-73f88d3fcd13",
        "name": "Wait_for_Image_Upload",
        "webhookId": "5e765d68-baee-460a-b9df-da7c6c1f70e5"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Split_Product_Types",
              "type": "main",
              "index": 0
            },
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split_Product_Types": {
        "main": [
          [
            {
              "node": "Create_shopify_collection1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create_shopify_collection1": {
        "main": [
          [
            {
              "node": "Map_Printify_Products",
              "type": "main",
              "index": 0
            },
            {
              "node": "gather collections",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge1",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Extract Collection Data": {
        "main": [
          [
            {
              "node": "Loop Product Templates",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Product Templates": {
        "main": [
          [
            {
              "node": "Wait_for_Image_Upload",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Upload_Image_To_Printify",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get_Print_Provider_Variants",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Map_Printify_Products": {
        "main": [
          [
            {
              "node": "Extract Collection Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload_Image_To_Printify": {
        "main": [
          [
            {
              "node": "Set_Image_ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get_Print_Provider_Variants": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare_Printify_Product_Payload": {
        "main": [
          [
            {
              "node": "Create_Printify_Product",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create_Printify_Product": {
        "main": [
          [
            {
              "node": "Publish_Printify_Product",
              "type": "main",
              "index": 0
            },
            {
              "node": "Loop Product Templates",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Publish_Printify_Product": {
        "main": [
          []
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Prepare_Printify_Product_Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set_Image_ID": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Add_Product_To_Collection": {
        "main": [
          [
            {
              "node": "Wait2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SearchShopifyProduct": {
        "main": [
          [
            {
              "node": "Extract Shopify Product ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Collect All Products": {
        "main": [
          [
            {
              "node": "Loop Product Collection Linking",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Product Search Data": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Shopify Product ID": {
        "main": [
          [
            {
              "node": "Add_Product_To_Collection",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log Collection Link Result": {
        "main": [
          [
            {
              "node": "Loop Product Collection Linking",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Collections With Products": {
        "main": [
          [
            {
              "node": "Collect All Products",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Product Collection Linking": {
        "main": [
          [],
          [
            {
              "node": "Format Product Search Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait2": {
        "main": [
          [
            {
              "node": "Log Collection Link Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "gather collections": {
        "main": [
          [
            {
              "node": "Merge Collections With Products",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge1": {
        "main": [
          [
            {
              "node": "Execute Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "SearchShopifyProduct",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait_for_Image_Upload": {
        "main": [
          [
            {
              "node": "Merge Collections With Products",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "workflowPublishHistory": [
      {
        "createdAt": "2025-08-01T08:01:38.325Z",
        "id": 80,
        "workflowId": "ECPPqAgYES8wa80s",
        "versionId": "a9fd1b0c-2901-434d-9327-9deadaeafd8c",
        "event": "activated",
        "userId": null
      }
    ]
  }
}