workflows/uncategorized/03-Dev-Ford-Printify-Daniel.json
{
  "updatedAt": "2025-08-04T05:44:21.733Z",
  "createdAt": "2025-08-04T05:11:39.774Z",
  "id": "l4JPaCK6aXC125o6",
  "name": "03-Dev-Ford-Printify-Daniel",
  "description": null,
  "active": true,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -4360,
        -540
      ],
      "id": "5a6e3a23-8af3-48f8-8158-1e257e773ea4",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "// In \"Split_Product_Types\" (ID: d1bb84ef-a798-4c7b-8c15-64726de190ca)\nconst items = $input.all(); // Items from \"Merge Customer With Transformations\"\nconst outputItems = [];\n\n// Customer data (item without asset_id, usually from Extract Parameters via the merge)\nconst customerDataItem = items.find(item => item.json && item.json.email && !item.json.asset_id && !item.json.public_id);\n// Image items (items with asset_id/public_id from Transformation node via the merge)\nconst imageItems = items.filter(item => item.json && (item.json.asset_id || item.json.public_id));\n\nif (!customerDataItem) {\n  console.error(\"Split_Product_Types: Customer data not found. Ensure 'Merge Customer With Transformations' is correctly merging.\");\n  return [{ json: { error: \"Customer data item not found.\" } }];\n}\nconst customerData = customerDataItem.json;\n\nif (imageItems.length === 0) {\n  console.warn(\"Split_Product_Types: No image items found to process.\");\n}\n\nimageItems.forEach(item => {\n  const imageJson = item.json; // This is the rich data from the Transformation node\n\n  // promptIndex and theme_name should now be directly available in imageJson\n  const promptIndex = imageJson.promptIndex;\n  const actualThemeName = imageJson.theme_name;\n\n  if (promptIndex === undefined || !actualThemeName) {\n    console.error(`Split_Product_Types: Missing promptIndex or theme_name for image item. Public ID: ${imageJson.public_id}. Skipping.`);\n    return; // Skip this item\n  }\n\n  // Use petname from customerData (more reliable) or fallback to imageJson if it somehow has it\n  const petName = customerData.petname || imageJson.petname || \"Pet\";\n  const petKind = customerData.petkind || imageJson.petkind || \"Pet\";\n  const petGender = $input.first().json.petGender|| imageJson.petgender || \"Pet\";\n  const sessionId = customerData.session_id || imageJson.session_id || Date.now().toString().slice(-8);\n\n  const baseHandle = `${petName.toLowerCase().replace(/\\s+/g, '-')}-${actualThemeName.toLowerCase().replace(/[^a-z0-9-]+/g, '').replace(/\\s+/g, '-')}`;\n  const sessionSuffix = sessionId.slice(-8);\n  const uniqueHandle = `${baseHandle}-${sessionSuffix}`;\n\n  // Use spread operator to preserve original field order, then override specific fields\n  outputItems.push({\n    json: {\n      // Start with customer data\n      session_id: sessionId,\n      email: customerData.email || imageJson.email,\n      petname: petName,\n      petGender: petGender,\n      petKind: customerData.petKind || imageJson.petKind,\n      customer_name: customerData.customer_name || imageJson.customer_name,\n      \n      // Include all cloudinary data (preserves original order)\n      ...imageJson,\n      \n      // Override/ensure these specific fields are set correctly\n      promptIndex: promptIndex,\n      collection_name: `${petName} ${actualThemeName}`,\n      collection_handle: uniqueHandle,\n      theme_name: actualThemeName,\n      collection_image_url: imageJson.original_url // Use original URL for collection image\n    }\n  });\n});\n\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4140,
        -540
      ],
      "id": "594da83d-0a9e-4eda-892f-1ec6dc13e604",
      "name": "Split_Product_Types"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://j4zewh-kg.myshopify.com/admin/api/2025-04/custom_collections.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"custom_collection\": {\n    \"title\": \"{{ $json.collection_name }}\",\n    \"handle\": \"{{ $json.collection_handle }}\",\n    \"body_html\": \"<p>Custom {{ $json.theme_name }} artwork featuring {{ $json.petname }}. High-quality, frame-worthy art available on various products.</p><p>Created for {{ $json.customer_name }} ({{ $json.email }})</p>\",\n    \"published\": true,\n    \"image\": {\n      \"src\": \"{{ $json.transformations.watermark }}\",\n      \"alt\": \"{{ $json.petname }} {{ $json.theme_name }} Artwork\"\n    },\n    \"metafields\": [\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"session_id\",\n        \"value\": \"{{ $json.session_id }}\",\n        \"type\": \"single_line_text_field\"\n      },\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"customer_email\",\n        \"value\": \"{{ $json.email }}\",\n        \"type\": \"single_line_text_field\"\n      },\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"prompt_index\",\n        \"value\": \"{{ $json.promptIndex }}\",\n        \"type\": \"number_integer\"\n      },\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"pet_name\",\n        \"value\": \"{{ $json.petname }}\",\n        \"type\": \"single_line_text_field\"\n      },\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"theme_name\",\n        \"value\": \"{{ $json.theme_name }}\",\n        \"type\": \"single_line_text_field\"\n      },\n     {\n          \"namespace\": \"custom\",\n          \"key\": \"pet_kind\",                       \n          \"value\": \"{{ $json.petKind }}\",\n          \"type\": \"single_line_text_field\"\n     },\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"clothing_url\",\n        \"value\": \"{{ $json.clothing_url }}\",\n        \"type\": \"single_line_text_field\"\n      },\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"other_url\",\n        \"value\": \"{{ $json.other_url }}\",\n        \"type\": \"single_line_text_field\"\n      }\n    ]\n  }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3920,
        -540
      ],
      "id": "92e52c80-463a-4898-a6c5-3ba2d6941b59",
      "name": "Create_shopify_collection1",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "878XnnwYx10R4wXG",
          "name": "Shopify"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3480,
        -540
      ],
      "id": "517cb8e4-67d0-46d5-8f9c-b236a142c94f",
      "name": "Extract Collection Data"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2520,
        -560
      ],
      "id": "7c11667b-f23d-462f-9585-970b7144401e",
      "name": "Loop Product Templates"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst outputItems = [];\n\n// Define your Printify products\nconst printifyProducts = {\n  \"clothing\": [\n    { \n      blueprint_id: 12, \n      print_provider_id: 331, \n      name: \"Premium Cotton Unisex T-shirt\",\n      variant_id:[18099,18100,18101,18102,18103,18104,18539,18540,18541,18542,18543,18544],\n      product_type: \"clothing\"\n    }\n  ],\n  \"other\": [\n    { \n      blueprint_id: 635, \n      print_provider_id: 94, \n      name: \"Color Accent Mug\",\n      variant_id:[72180,72183,72184,105888],\n      product_type: \"other\"\n    },\n    { \n      blueprint_id: 421, \n      print_provider_id: 23, \n      name: \"Tough Phone Case - iPhone, Samsung, Google\",\n      variant_id:[75383,75385,75387,75389,77841,77843,77845,79425,80152,80154,80156,96397,96399,96401,96403,96738,96740,96742,98738,102547,102549,102551,102553,105148,105150,105152,105154,105156,112191,112193,112195,112197,116386,116388,116390,117862,117864,117866],\n      product_type: \"other\"\n    },\n    { \n      blueprint_id: 764, \n      print_provider_id: 72, \n      name: \"Premium Framed Poster\",\n      variant_id:[75328,75330,75332],\n      product_type: \"other\"\n    },\n    { \n      blueprint_id: 937, \n      print_provider_id: 105, \n      name: \"Canvas Portrait\",\n      variant_id: [95213,95214],\n      product_type: \"other\"\n    }    \n  ]\n};\n\n// Get source data from Split_Product_Types node\nconst allSourceData = $('Split_Product_Types').all();\n\n// Cloudinary config\nconst cloudName = 'myfurryprints';\nconst maskId = 'Mask3larger_jpm63l';\nconst CLOTHING_TX = `e_upscale/c_scale,w_4000/l_${maskId},w_4000,fl_cutter`;\nconst OTHER_TX = `e_upscale/c_scale,w_4000`;\n\n// Helper to build the Cloudinary URL based on product type\nfunction buildImageUrl(productType, publicId) {\n  const base = `https://res.cloudinary.com/${cloudName}/image/upload`;\n  return productType === 'clothing'\n    ? `${base}/${CLOTHING_TX}/${publicId}`\n    : `${base}/${OTHER_TX}/${publicId}`;\n}\n\n// Main loop\nitems.forEach(item => {\n  const collection = item.json.custom_collection;\n\n  const sourceDataItem = allSourceData.find(\n    sourceItem => sourceItem.json.collection_name === collection.title\n  );\n\n  if (!collection || !sourceDataItem) return; // skip if either is missing\n\n  const sourceData = sourceDataItem.json;\n  const publicId = sourceData.public_id;\n\n  // Combine clothing and other products into one loop\n  const allProducts = [...printifyProducts.clothing, ...printifyProducts.other];\n\n  allProducts.forEach(product => {\n    const imageUrl = buildImageUrl(product.product_type, publicId);\n\n    outputItems.push({\n      json: {\n        session_id:            sourceData.session_id,\n        email:                 sourceData.email,\n        petname:               sourceData.petname,\n        customer_name:         sourceData.customer_name,\n        promptIndex:           sourceData.promptIndex,\n        theme_name:            sourceData.theme_name,\n        shopify_collection_id: collection.id,\n\n        product_type:          product.product_type,\n        image_url:             imageUrl,\n        blueprint_id:          product.blueprint_id,\n        print_provider_id:     product.print_provider_id,\n        product_title:         `${sourceData.theme_name} - ${product.name}`,\n        template_name:         product.name,\n        required_variant_ids:  product.variant_id \n      }\n    });\n\n    console.log(`✅ Created ${product.product_type} product with URL: ${imageUrl}`);\n  });\n});\n\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3700,
        -540
      ],
      "id": "15a3732a-9c46-45a2-97b3-99ebb009ee8c",
      "name": "Map_Printify_Products"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.printify.com/v1/uploads/images.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"file_name\": \"{{ $json.petname }}_{{ $json.theme_name }}.jpg\",\n  \"url\": \"{{ $json.image_url }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2240,
        -620
      ],
      "id": "ab0b74cb-1c38-4f6e-97b4-cc41743a6d82",
      "name": "Upload_Image_To_Printify",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "QyrLm1DfKVd2QbzS",
          "name": "Printify API Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.printify.com/v1/catalog/blueprints/{{ $json.blueprint_id }}/print_providers/{{ $json.print_provider_id }}/variants.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2060,
        -460
      ],
      "id": "8f5fcd2c-ed3b-4d82-9bcc-416564d0606a",
      "name": "Get_Print_Provider_Variants",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBasicAuth": {
          "id": "ZwQuXy3mFoa7bh3H",
          "name": "cloudinaryFurryPrints"
        },
        "httpHeaderAuth": {
          "id": "QyrLm1DfKVd2QbzS",
          "name": "Printify API Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// In \"Prepare_Printify_Product_Payload\" (ID: d98090aa-3355-4fc8-bc41-63373c3e29c7)\n\n// --- NEW: Read all variant data from the Google Sheet node ---\nconst sheetData = $('Get_Variant_Pricing_From_Sheet').all();\n\n// --- NEW: Create Maps for fast lookups. One for prices, one for descriptions ---\nconst variantPriceMap = new Map();\nconst blueprintDescriptionMap = new Map();\n\nfor (const item of sheetData) {\n  const { variant_id, price, blueprint_id, product_description } = item.json;\n  \n  // Map each variant_id to its price\n  if (variant_id && price !== undefined) {\n    variantPriceMap.set(String(variant_id), parseInt(price, 10));\n  }\n  \n  // Map each blueprint_id to a description. This avoids storing redundant descriptions.\n  // We only store the first valid description we find for a blueprint.\n  if (blueprint_id && product_description && !blueprintDescriptionMap.has(String(blueprint_id))) {\n    blueprintDescriptionMap.set(String(blueprint_id), product_description);\n  }\n}\nconsole.log(`Loaded ${variantPriceMap.size} prices and ${blueprintDescriptionMap.size} descriptions from the sheet.`);\n\n\n// 1. Get the original data from the start of the loop\nconst productInfo = $('Loop Product Templates').item.json;\n\n// 2. Get the result of the image upload\nconst uploadedImage = $('Upload_Image_To_Printify').item.json;\n\n// 3. Get the result of the variants API call\nconst providerVariantsResponse = $input.item.json;\n\n// --- Error Checking ---\nif (!productInfo || !productInfo.product_title) {\n  throw new Error(\"Could not find original product data from the loop.\");\n}\nif (!uploadedImage || !uploadedImage.id) {\n  throw new Error(\"Could not find a valid image ID from the upload step.\");\n}\nif (!providerVariantsResponse || !providerVariantsResponse.variants) {\n  throw new Error(\"Could not find a valid variants array from the API call.\");\n}\n\nconst placeholderPosition = providerVariantsResponse.variants?.[0]?.print_areas?.[0]?.placeholders?.[0]?.position || \"front\";\nconst requiredVariantIds = productInfo.required_variant_ids;\n\n// --- UPDATED LOGIC: Set price for each variant based on the Google Sheet ---\nconst variants = providerVariantsResponse.variants\n  .filter(variant => requiredVariantIds.includes(variant.id))\n  .map(variant => {\n    // Look up the price from our map\n    const priceFromSheet = variantPriceMap.get(String(variant.id));\n\n    if (priceFromSheet === undefined) {\n      console.warn(`⚠️ Price for variant ID ${variant.id} not found in Google Sheet. Using fallback price.`);\n    }\n\n    return {\n      id: variant.id,\n      price: priceFromSheet || 2999, // Use price from sheet or fallback to 2999\n      is_enabled: true\n    };\n  });\n\nif (variants.length === 0) {\n    throw new Error(`Could not find any matching variants for the provided IDs: ${requiredVariantIds.join(', ')}`);\n}\n\nconst all_variant_ids = variants.map(v => v.id);\n\n// --- Get the description from our map ---\nlet description = blueprintDescriptionMap.get(String(productInfo.blueprint_id));\nif (!description) {\n  console.warn(`⚠️ Description for blueprint ID ${productInfo.blueprint_id} not found. Using generic fallback.`);\n  description = `<p>Custom ${productInfo.theme_name} artwork featuring ${productInfo.petname}.</p>`;\n}\n// Replace placeholders\nconst finalDescription = description\n  .replace(/{{petname}}/g, productInfo.petname)\n  .replace(/{{theme_name}}/g, productInfo.theme_name);\n\n\n// --- HARD-CODED PLACEMENT SETTINGS (No change here) ---\nconst imagePlacementMap = {\n   //tshirt\n 12 : { x: 0.5,y: 0.5045,scale: 0.8,angle: 0},\n\n  //Color Accent Mug\n  635: { x: 0.20573430849374247,\n         y: 0.4950372661929266,\n       scale: 0.31111111111111106,\n      angle: 0},\n\n  //Tough phone case\n  421: {x: 0.5533677600162773,\n          y: 0.5141509433962264,\n        scale: 1,\n        angle: 0},\n\n  //framed poster \n  764 : { x : 0.5, y: 0.5, scale : 1, angle : 0}, \n\n  //canvas portrait\n  937 : {x: 0.5,\n        y: 0.5000067762626349,\n         scale: 0.9999999999999997,\n          angle: 0}\n  // Add more as needed\n};\nconst fallbackPlacement = { x: 0.5, y: 0.5, scale: 1, angle: 0 };\nconst placement = imagePlacementMap[productInfo.blueprint_id] || fallbackPlacement;\n\n// --- Payload Assembly ---\nconst payload = {\n  \"title\": productInfo.product_title,\n  \"description\": finalDescription, // Use the description from the sheet\n  \"blueprint_id\": productInfo.blueprint_id,\n  \"print_provider_id\": productInfo.print_provider_id,\n  \"variants\": variants, // This array now has prices from the sheet\n  \"print_areas\": [\n    {\n      \"variant_ids\": all_variant_ids,\n      \"placeholders\": [\n        {\n          \"position\": placeholderPosition,\n          \"images\": [\n            {\n              \"id\": uploadedImage.id,\n              \"x\": placement.x,\n              \"y\": placement.y,\n              \"scale\": placement.scale,\n              \"angle\": placement.angle\n            }\n          ]\n        }\n      ]\n    }\n  ],\n  \"tags\": [\n    $('When Executed by Another Workflow').first().json.email,\n    $('When Executed by Another Workflow').first().json.petGender,\n    $('When Executed by Another Workflow').first().json.petKind,\n    $('When Executed by Another Workflow').first().json.session_id,\n    productInfo.theme_name\n  ]\n};\n\n// Return the final data\nreturn {\n  json: {\n    ...productInfo,\n    printifyPayload: payload\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        -480
      ],
      "id": "08ea9149-49e2-4aa7-9894-6951658cf0e6",
      "name": "Prepare_Printify_Product_Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.printify.com/v1/shops/21658609/products.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.printifyPayload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -800,
        -480
      ],
      "id": "1948e40c-a595-487b-a2ea-3abe639d6437",
      "name": "Create_Printify_Product",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "QyrLm1DfKVd2QbzS",
          "name": "Printify API Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.printify.com/v1/shops/21658609/products/{{ $('Create_Printify_Product').item.json.id }}/publish.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"title\": true,\n  \"description\": true,\n  \"images\": true,\n  \"variants\": true,\n  \"tags\": true,\n  \"keyFeatures\": true,\n  \"shipping_template\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -380,
        -480
      ],
      "id": "32401b19-9aa0-4560-9032-65986945cbdc",
      "name": "Publish_Printify_Product",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "QyrLm1DfKVd2QbzS",
          "name": "Printify API Auth"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1480,
        -480
      ],
      "id": "211b943f-2170-40b3-a250-0cdfa7ceaf74",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f46f174-b276-433a-a2a8-d11be21fa51f",
              "name": "image_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1940,
        -620
      ],
      "id": "f432740c-26cd-42fd-9fe0-e4c7a0747d8a",
      "name": "Set_Image_ID"
    },
    {
      "parameters": {
        "url": "=https://api.printify.com/v1/shops/21658609/products/687b3a2ed857375c120bf72b.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3520,
        520
      ],
      "id": "8712c962-8501-4aa3-8adf-36aac6d725d9",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "QyrLm1DfKVd2QbzS",
          "name": "Printify API Auth"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3820,
        560
      ],
      "id": "b045fb61-6278-41a9-a44d-747fbf979131",
      "name": "When clicking ‘Execute workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://j4zewh-kg.myshopify.com/admin/api/2025-04/collects.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"collect\": {\n    \"product_id\": {{$json[\"product_id\"]}},\n    \"collection_id\": {{$json[\"collection_id\"]}}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1040,
        40
      ],
      "id": "c9f9e1c4-f518-4679-bca2-1419e1c60549",
      "name": "Add_Product_To_Collection",
      "credentials": {
        "httpHeaderAuth": {
          "id": "878XnnwYx10R4wXG",
          "name": "Shopify"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://j4zewh-kg.myshopify.com/admin/api/2023-10/products.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "tags",
              "value": "={{ $json.session_id_to_match }}"
            },
            {
              "name": "title",
              "value": "={{ $json.product_title }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1520,
        40
      ],
      "id": "6b2f45db-15d8-47b3-a7e5-b7e5a5999f15",
      "name": "SearchShopifyProduct",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "878XnnwYx10R4wXG",
          "name": "Shopify"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Node: Collect All Products (FIXED)\nconst allItems = $input.all();\nconst shopifyCollectionsMap = new Map();\nconst productsToProcess = [];\n\nconsole.log(`Collect All Products - Received ${allItems.length} items.`);\n\n// --- First Pass: Map all Shopify collections by their title ---\nallItems.forEach((item) => {\n  // Identify collection items (they have a collection_id but no product id)\n  if (item.json.collection_id && !item.json.id) {\n    const collectionTitle = item.json.title;\n    if (collectionTitle && !shopifyCollectionsMap.has(collectionTitle)) {\n      shopifyCollectionsMap.set(collectionTitle, {\n        collection_id: item.json.collection_id,\n        collection_handle: item.json.handle,\n      });\n      console.log(`Mapped Shopify Collection: \"${collectionTitle}\" -> ID: ${item.json.collection_id}`);\n    }\n  }\n});\n\n// --- Pre-computation: Find the pet name for this batch ---\nconst referenceItem = allItems.find(item => item.json.petname);\nconst petnameForBatch = referenceItem ? referenceItem.json.petname : null;\n\nif (!petnameForBatch) {\n  console.error(\"CRITICAL: Could not determine pet name for this batch. Processing will likely fail.\");\n  return [];\n}\n\n// --- Second Pass: Match products to their collections ---\nallItems.forEach((item) => {\n  // Identify product items (they have a product ID, tags, and a title)\n  if (item.json.id && item.json.tags && item.json.title && item.json.title.includes(' - ')) {\n    const productTitle = item.json.title;\n    \n    // 1. Extract the theme name from the product title.\n    // e.g., \"Spa Day Deluxe - Premium T-Shirt\" -> \"Spa Day Deluxe\"\n    const productTheme = productTitle.split(' - ')[0].trim();\n\n    // 2. Construct the expected Shopify collection title.\n    // e.g., \"Milo\" + \" \" + \"Spa Day Deluxe\" -> \"Milo Spa Day Deluxe\"\n    const collectionTitleKey = `${petnameForBatch} ${productTheme}`;\n\n    // 3. Look up the collection in our map.\n    const collectionData = shopifyCollectionsMap.get(collectionTitleKey);\n\n    if (collectionData) {\n      // Find the session_id from the tags (assuming it's the 4th tag)\n      const sessionIdTag = item.json.tags && item.json.tags.length > 3 ? item.json.tags[3] : null;\n      if (!sessionIdTag) {\n        console.warn(`Could not find a session_id tag for product: \"${productTitle}\". Skipping.`);\n        return; // Skips this product\n      }\n\n      productsToProcess.push({\n        json: {\n          product_title_to_search_in_shopify: productTitle,\n          shopify_collection_id: collectionData.collection_id,\n          shopify_collection_handle: collectionData.collection_handle,\n          shopify_collection_original_title: collectionTitleKey,\n          session_id_to_match: sessionIdTag,\n          gelato_product_id: item.json.id // Note: This field name is from your original code\n        }\n      });\n      console.log(`SUCCESS: Matched product \"${productTitle}\" to collection \"${collectionTitleKey}\"`);\n    } else {\n      console.warn(`FAIL: No Shopify collection found for product: \"${productTitle}\". (Used key: \"${collectionTitleKey}\"). This product will be skipped.`);\n    }\n  }\n});\n\nconsole.log(`Total products to process: ${productsToProcess.length}`);\nreturn productsToProcess;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2440,
        0
      ],
      "id": "fe11353e-68d3-4d10-937c-0db0c592d5df",
      "name": "Collect All Products"
    },
    {
      "parameters": {
        "jsCode": "const currentProductData = $input.item.json;\nreturn {\n  json: {\n    product_title: currentProductData.product_title_to_search_in_shopify,\n    shopify_collection_id: currentProductData.shopify_collection_id,\n    \n    // --- ADD THIS LINE ---\n    session_id_to_match: currentProductData.session_id_to_match, // Pass it through\n\n    // Context fields (no changes needed here)\n    original_search_title: currentProductData.product_title_to_search_in_shopify,\n    original_shopify_collection_title: currentProductData.shopify_collection_original_title,\n    gelato_product_id_context: currentProductData.gelato_product_id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1900,
        40
      ],
      "id": "4f4c88a1-cd27-4fb4-83ca-b3fdb932711c",
      "name": "Format Product Search Data"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Get the API response from SearchShopifyProduct\nconst shopifyApiResponse = $input.item.json;\n\n// Get the data sent *into* SearchShopifyProduct\nconst dataFromPreviousNode = $('Format Product Search Data').item.json;\n\nlet foundProduct = null;\nconst allFoundProducts = shopifyApiResponse.products || [];\nconst targetSessionId = dataFromPreviousNode.session_id_to_match;\nconst searchedTitle = dataFromPreviousNode.product_title;\n\nconsole.log(`--- Starting Product ID Extraction ---`);\nconsole.log(`Target Session ID: \"${targetSessionId}\"`);\nconsole.log(`Searching for product title: \"${searchedTitle}\"`);\n\nif (!targetSessionId) {\n  console.error(\"CRITICAL ERROR: No session_id was passed to this node. Cannot perform matching. Check the 'Collect All Products' node.\");\n  // FIXED: Return a single object, not an array\n  return { json: { product_id: null, error: \"Missing session_id_to_match\" } };\n}\n\nif (allFoundProducts.length === 0) {\n  console.warn(`Shopify search returned ZERO products for title \"${searchedTitle}\".`);\n} else {\n  console.log(`Shopify search returned ${allFoundProducts.length} product(s). Now filtering...`);\n\n  const lowerCaseTargetSessionId = targetSessionId.toLowerCase();\n\n  for (const product of allFoundProducts) {\n    const shopifyTagsString = product.tags;\n\n    if (shopifyTagsString) {\n      const lowerCaseShopifyTags = shopifyTagsString.toLowerCase();\n      console.log(`- Checking Product ID: ${product.id}. Lowercase Tags: \"${lowerCaseShopifyTags}\". Does it include \"${lowerCaseTargetSessionId}\"?`);\n      if (lowerCaseShopifyTags.includes(lowerCaseTargetSessionId)) {\n        foundProduct = product;\n        console.log(`✅ MATCH FOUND! Using Product ID: ${foundProduct.id}`);\n        break;\n      }\n    } else {\n      console.log(`- Checking Product ID: ${product.id}. No tags found.`);\n    }\n  }\n}\n\nif (foundProduct) {\n  // FIXED: Return a single object, not an array\n  return {\n    json: {\n      product_id: foundProduct.id,\n      collection_id: dataFromPreviousNode.shopify_collection_id,\n      context_searched_title: searchedTitle,\n      context_original_shopify_collection_title: dataFromPreviousNode.original_shopify_collection_title,\n      context_gelato_product_id: dataFromPreviousNode.gelato_product_id_context\n    }\n  };\n} else {\n  console.error(`❌ FAILED: After checking all ${allFoundProducts.length} products, none had the tag \"${targetSessionId}\".`);\n  // FIXED: Return a single object, not an array\n  return {\n    json: {\n      product_id: null,\n      collection_id: dataFromPreviousNode.shopify_collection_id,\n      error: `Product with matching session_id tag '${targetSessionId}' not found.`\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1300,
        40
      ],
      "id": "cd3d3076-c175-474f-887d-dd9e22d0f33b",
      "name": "Extract Shopify Product ID"
    },
    {
      "parameters": {
        "jsCode": "const shopifyCollectApiResponse = $input.first().json;\nconst contextData = $('Extract Shopify Product ID').item.json; // Data from Code3\n\nif (shopifyCollectApiResponse.collect && shopifyCollectApiResponse.collect.id) {\n  console.log(`✅ SUCCESS: Shopify Product (Shopify ID: ${shopifyCollectApiResponse.collect.product_id}, originally searched as \"${contextData.context_searched_title}\") added to Shopify Collection (Shopify ID: ${shopifyCollectApiResponse.collect.collection_id}, title: \"${contextData.context_original_shopify_collection_title}\"). Gelato Product ID was: ${contextData.context_gelato_product_id}.`);\n} else {\n  console.error(`❌ FAILED or SKIPPED: Could not add product to collection...`);\n}\nreturn [$input.first()]; // Passes the Shopify API response along"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -580,
        40
      ],
      "id": "89b45ad6-085b-49b7-a2aa-91dc2ce6ef52",
      "name": "Log Collection Link Result"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -2660,
        -180
      ],
      "id": "2934b4e5-e47d-4fcc-94d7-3186ad18ded9",
      "name": "Merge Collections With Products"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2140,
        20
      ],
      "id": "aba0f00f-f51a-4cd7-b53b-c7c10ba416ba",
      "name": "Loop Product Collection Linking"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "y8oyhB8oJsXRl9jr",
          "mode": "list",
          "cachedResultName": "04-Dev-Hermes-Printify1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1980,
        340
      ],
      "id": "9ec9d5c0-2445-4efc-b774-f11ff2cc5426",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "320bc315-deea-4d87-a7b6-5c2d27f84ca1",
              "name": "session_id",
              "value": "={{ $json.session_id }}",
              "type": "string"
            },
            {
              "id": "b9eb2c98-b46b-4a8c-9f9a-7d0908d297c9",
              "name": "customer_name",
              "value": "={{ $json.customer_name }}",
              "type": "string"
            },
            {
              "id": "8db2e7ef-f12c-478c-bd2b-eae3cd9e5c1c",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "cca910d1-c893-4860-888d-36ecc2f0b0a7",
              "name": "petname",
              "value": "={{ $json.petname }}",
              "type": "string"
            },
            {
              "id": "b3d85d82-adb6-4f18-a0e9-8d0586afad05",
              "name": "petKind",
              "value": "={{ $json.petKind }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2640,
        420
      ],
      "id": "f2313cda-991f-4d55-ac28-5efcbd823eb2",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "amount": 2,
        "path": "9170dcad-a52c-4004-8dd2-d60a6890d91c"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -820,
        40
      ],
      "id": "26fbc5c3-1852-45e6-be56-5d333cea4578",
      "name": "Wait2",
      "webhookId": "9170dcad-a52c-4004-8dd2-d60a6890d91c"
    },
    {
      "parameters": {
        "content": "LOOP 2 :\nAdding created products to the respective collection",
        "height": 300,
        "width": 1860
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2240,
        -60
      ],
      "id": "32316d66-7fb6-4e38-ab25-99f0c9311b78",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eedd32cb-3722-4169-ae9e-b5e0b7114fd9",
              "name": "collection_id",
              "value": "={{ $json.custom_collection.id }}",
              "type": "number"
            },
            {
              "id": "0ea0ee40-d5e9-4980-ad45-35f941a86cb5",
              "name": "handle",
              "value": "={{ $json.custom_collection.handle }}",
              "type": "string"
            },
            {
              "id": "30fe9f3f-53af-4c85-bd1b-e2f489aefefa",
              "name": "title",
              "value": "={{ $json.custom_collection.title }}",
              "type": "string"
            },
            {
              "id": "5d3f929e-6ee3-498a-bbbe-acf01ab9324a",
              "name": "petname",
              "value": "={{ $('Split_Product_Types').item.json.petname }}",
              "type": "string"
            },
            {
              "id": "1d667b57-1fc1-477e-a10b-99aa06fa2d6b",
              "name": "themename",
              "value": "={{ $json.custom_collection.title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2880,
        -20
      ],
      "id": "9a3fd873-403c-4954-98a5-78c9577094bd",
      "name": "gather collections"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2180,
        340
      ],
      "id": "e63631ab-b40c-4b55-a9fb-0193b140d57b",
      "name": "Merge1"
    },
    {
      "parameters": {
        "path": "4edfb8e0-fe79-42b4-ac94-8449900ca3fa"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1720,
        40
      ],
      "id": "f4c14bc3-8561-49d6-bf41-8aaed01b9ad2",
      "name": "Wait",
      "webhookId": "4edfb8e0-fe79-42b4-ac94-8449900ca3fa"
    },
    {
      "parameters": {
        "amount": 1.3,
        "unit": "hours",
        "path": "55744de3-94cc-4ced-8811-86d41c943ed2"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2820,
        -360
      ],
      "id": "57ebd089-8fc0-46e6-9578-9eb15cd8046a",
      "name": "Wait_for_Image_Upload",
      "webhookId": "55744de3-94cc-4ced-8811-86d41c943ed2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/17p4GRGITaLN-qIUb3YrGOZTusbqpV_mJ_brRLqS0jWA/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Output",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17p4GRGITaLN-qIUb3YrGOZTusbqpV_mJ_brRLqS0jWA/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -4040,
        -1000
      ],
      "id": "7bdb3ae7-eaf8-46fa-a313-be17c928c780",
      "name": "Get_Variant_Pricing_From_Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rsPEEcMmuFCh0fvw",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Split_Product_Types",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get_Variant_Pricing_From_Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split_Product_Types": {
      "main": [
        [
          {
            "node": "Create_shopify_collection1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create_shopify_collection1": {
      "main": [
        [
          {
            "node": "Map_Printify_Products",
            "type": "main",
            "index": 0
          },
          {
            "node": "gather collections",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract Collection Data": {
      "main": [
        [
          {
            "node": "Loop Product Templates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Product Templates": {
      "main": [
        [
          {
            "node": "Wait_for_Image_Upload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload_Image_To_Printify",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get_Print_Provider_Variants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map_Printify_Products": {
      "main": [
        [
          {
            "node": "Extract Collection Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload_Image_To_Printify": {
      "main": [
        [
          {
            "node": "Set_Image_ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_Print_Provider_Variants": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare_Printify_Product_Payload": {
      "main": [
        [
          {
            "node": "Create_Printify_Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create_Printify_Product": {
      "main": [
        [
          {
            "node": "Publish_Printify_Product",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Product Templates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish_Printify_Product": {
      "main": [
        []
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Prepare_Printify_Product_Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_Image_ID": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add_Product_To_Collection": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SearchShopifyProduct": {
      "main": [
        [
          {
            "node": "Extract Shopify Product ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect All Products": {
      "main": [
        [
          {
            "node": "Loop Product Collection Linking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Product Search Data": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Shopify Product ID": {
      "main": [
        [
          {
            "node": "Add_Product_To_Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Collection Link Result": {
      "main": [
        [
          {
            "node": "Loop Product Collection Linking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Collections With Products": {
      "main": [
        [
          {
            "node": "Collect All Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Product Collection Linking": {
      "main": [
        [],
        [
          {
            "node": "Format Product Search Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Log Collection Link Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gather collections": {
      "main": [
        [
          {
            "node": "Merge Collections With Products",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "SearchShopifyProduct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait_for_Image_Upload": {
      "main": [
        [
          {
            "node": "Merge Collections With Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "session_id": "6889bf031956663368046cf9",
          "customer_name": "Ameena K",
          "email": "ameena.k@gauger.in",
          "petname": "Garry",
          "petKind": "Dog",
          "petGender": "Male"
        }
      },
      {
        "json": {
          "asset_id": "e41a4bf750bfe2ba6f69d589c94c3cd6",
          "public_id": "6889bf031956663368046cf9/6889bf031956663368046cf9_prompt1",
          "version": 1753857914,
          "version_id": "33f3c5d461ff361177c51d9be120e15e",
          "signature": "a9ccf67a06723d065ecbd5d1c0e50dc484f38a28",
          "width": 1024,
          "height": 1536,
          "format": "jpg",
          "resource_type": "image",
          "created_at": "2025-07-30T06:45:14Z",
          "tags": [],
          "bytes": 221652,
          "type": "upload",
          "etag": "5a21607c6dfc190fe83a417368b06e22",
          "placeholder": false,
          "url": "http://res.cloudinary.com/myfurryprints/image/upload/v1753857914/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt1.jpg",
          "secure_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1753857914/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt1.jpg",
          "asset_folder": "6889bf031956663368046cf9",
          "display_name": "file",
          "existing": false,
          "original_filename": "file",
          "session_id": "6889bf031956663368046cf9",
          "email": "ameena.k@gauger.in",
          "petname": "Garry",
          "petKind": "Dog",
          "customer_name": "Ameena K",
          "promptIndex": 1,
          "theme_name": "Spa Day Deluxe",
          "customFilename": "6889bf031956663368046cf9_prompt1",
          "original_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1753857914/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt1.jpg",
          "collection_image_url": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark_k1usnu.png/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt1",
          "transformations": {
            "clothing": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt1",
            "other": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/c_scale,w_4000/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt1",
            "watermark": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark_k1usnu.png/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt1"
          },
          "clothing_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt1",
          "other_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/c_scale,w_4000/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt1"
        }
      },
      {
        "json": {
          "asset_id": "23b67ce3d00b108636df3ada7a07900f",
          "public_id": "6889bf031956663368046cf9/6889bf031956663368046cf9_prompt2",
          "version": 1753857914,
          "version_id": "33f3c5d461ff361177c51d9be120e15e",
          "signature": "3e2d588d1c79867405b66f549a1603cd72c7dfac",
          "width": 1024,
          "height": 1536,
          "format": "jpg",
          "resource_type": "image",
          "created_at": "2025-07-30T06:45:14Z",
          "tags": [],
          "bytes": 164219,
          "type": "upload",
          "etag": "49b251d637657df102afce065856e1e7",
          "placeholder": false,
          "url": "http://res.cloudinary.com/myfurryprints/image/upload/v1753857914/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt2.jpg",
          "secure_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1753857914/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt2.jpg",
          "asset_folder": "6889bf031956663368046cf9",
          "display_name": "file",
          "existing": false,
          "original_filename": "file",
          "session_id": "6889bf031956663368046cf9",
          "email": "ameena.k@gauger.in",
          "petname": "Garry",
          "petKind": "Dog",
          "customer_name": "Ameena K",
          "promptIndex": 2,
          "theme_name": "Midnight Snack",
          "customFilename": "6889bf031956663368046cf9_prompt2",
          "original_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1753857914/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt2.jpg",
          "collection_image_url": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark_k1usnu.png/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt2",
          "transformations": {
            "clothing": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt2",
            "other": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/c_scale,w_4000/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt2",
            "watermark": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark_k1usnu.png/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt2"
          },
          "clothing_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt2",
          "other_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/c_scale,w_4000/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt2"
        }
      },
      {
        "json": {
          "asset_id": "6a20011dbb2a14f99e2b4cdc28d14a09",
          "public_id": "6889bf031956663368046cf9/6889bf031956663368046cf9_prompt3",
          "version": 1753857914,
          "version_id": "33f3c5d461ff361177c51d9be120e15e",
          "signature": "269f7c0360e285f4b43e20b7c87a975d3c19de26",
          "width": 1024,
          "height": 1536,
          "format": "jpg",
          "resource_type": "image",
          "created_at": "2025-07-30T06:45:14Z",
          "tags": [],
          "bytes": 267161,
          "type": "upload",
          "etag": "f78c42ecb36b19ab1e4b7e9fe844f775",
          "placeholder": false,
          "url": "http://res.cloudinary.com/myfurryprints/image/upload/v1753857914/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt3.jpg",
          "secure_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1753857914/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt3.jpg",
          "asset_folder": "6889bf031956663368046cf9",
          "display_name": "file",
          "existing": false,
          "original_filename": "file",
          "session_id": "6889bf031956663368046cf9",
          "email": "ameena.k@gauger.in",
          "petname": "Garry",
          "petKind": "Dog",
          "customer_name": "Ameena K",
          "promptIndex": 3,
          "theme_name": "Victorian Portrait",
          "customFilename": "6889bf031956663368046cf9_prompt3",
          "original_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1753857914/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt3.jpg",
          "collection_image_url": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark_k1usnu.png/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt3",
          "transformations": {
            "clothing": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt3",
            "other": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/c_scale,w_4000/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt3",
            "watermark": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark_k1usnu.png/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt3"
          },
          "clothing_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt3",
          "other_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/c_scale,w_4000/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt3"
        }
      },
      {
        "json": {
          "asset_id": "0039d724f9c2a9bbca70608087adfafe",
          "public_id": "6889bf031956663368046cf9/6889bf031956663368046cf9_prompt4",
          "version": 1753857914,
          "version_id": "33f3c5d461ff361177c51d9be120e15e",
          "signature": "ad5a42885484f154e4d4cc00807f79875a5b9a85",
          "width": 1024,
          "height": 1536,
          "format": "jpg",
          "resource_type": "image",
          "created_at": "2025-07-30T06:45:14Z",
          "tags": [],
          "bytes": 233567,
          "type": "upload",
          "etag": "fd3f10f099beae0eb1356ac51e5c0d58",
          "placeholder": false,
          "url": "http://res.cloudinary.com/myfurryprints/image/upload/v1753857914/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt4.jpg",
          "secure_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1753857914/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt4.jpg",
          "asset_folder": "6889bf031956663368046cf9",
          "display_name": "file",
          "existing": false,
          "original_filename": "file",
          "session_id": "6889bf031956663368046cf9",
          "email": "ameena.k@gauger.in",
          "petname": "Garry",
          "petKind": "Dog",
          "customer_name": "Ameena K",
          "promptIndex": 4,
          "theme_name": "Harry Petter",
          "customFilename": "6889bf031956663368046cf9_prompt4",
          "original_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1753857914/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt4.jpg",
          "collection_image_url": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark_k1usnu.png/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt4",
          "transformations": {
            "clothing": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt4",
            "other": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/c_scale,w_4000/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt4",
            "watermark": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark_k1usnu.png/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt4"
          },
          "clothing_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt4",
          "other_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/c_scale,w_4000/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt4"
        }
      },
      {
        "json": {
          "asset_id": "f6ddd50e94ccff4e9802787d213300d3",
          "public_id": "6889bf031956663368046cf9/6889bf031956663368046cf9_prompt5",
          "version": 1753857914,
          "version_id": "33f3c5d461ff361177c51d9be120e15e",
          "signature": "6fcf01393d55367e0d01768f3bccf9ac5def3379",
          "width": 1024,
          "height": 1536,
          "format": "jpg",
          "resource_type": "image",
          "created_at": "2025-07-30T06:45:14Z",
          "tags": [],
          "bytes": 206989,
          "type": "upload",
          "etag": "e04d0d36e51f01fb6dd9893b64a534fd",
          "placeholder": false,
          "url": "http://res.cloudinary.com/myfurryprints/image/upload/v1753857914/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt5.jpg",
          "secure_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1753857914/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt5.jpg",
          "asset_folder": "6889bf031956663368046cf9",
          "display_name": "file",
          "existing": false,
          "original_filename": "file",
          "session_id": "6889bf031956663368046cf9",
          "email": "ameena.k@gauger.in",
          "petname": "Garry",
          "petKind": "Dog",
          "customer_name": "Ameena K",
          "promptIndex": 5,
          "theme_name": "Corporate Pet",
          "customFilename": "6889bf031956663368046cf9_prompt5",
          "original_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1753857914/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt5.jpg",
          "collection_image_url": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark_k1usnu.png/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt5",
          "transformations": {
            "clothing": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt5",
            "other": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/c_scale,w_4000/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt5",
            "watermark": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark_k1usnu.png/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt5"
          },
          "clothing_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt5",
          "other_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/c_scale,w_4000/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt5"
        }
      },
      {
        "json": {
          "asset_id": "ecd35dc4e49cf9ade3514ab933615c0d",
          "public_id": "6889bf031956663368046cf9/6889bf031956663368046cf9_prompt6",
          "version": 1753857914,
          "version_id": "33f3c5d461ff361177c51d9be120e15e",
          "signature": "2d424b83e7be205a77a66aa3fc0b8e7c9a3e6c4e",
          "width": 1024,
          "height": 1536,
          "format": "jpg",
          "resource_type": "image",
          "created_at": "2025-07-30T06:45:14Z",
          "tags": [],
          "bytes": 207231,
          "type": "upload",
          "etag": "a1f414d162cd4e85cc933862ad9c141e",
          "placeholder": false,
          "url": "http://res.cloudinary.com/myfurryprints/image/upload/v1753857914/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt6.jpg",
          "secure_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1753857914/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt6.jpg",
          "asset_folder": "6889bf031956663368046cf9",
          "display_name": "file",
          "existing": false,
          "original_filename": "file",
          "session_id": "6889bf031956663368046cf9",
          "email": "ameena.k@gauger.in",
          "petname": "Garry",
          "petKind": "Dog",
          "customer_name": "Ameena K",
          "promptIndex": 6,
          "theme_name": "Home Yoga",
          "customFilename": "6889bf031956663368046cf9_prompt6",
          "original_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1753857914/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt6.jpg",
          "collection_image_url": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark_k1usnu.png/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt6",
          "transformations": {
            "clothing": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt6",
            "other": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/c_scale,w_4000/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt6",
            "watermark": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark_k1usnu.png/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt6"
          },
          "clothing_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt6",
          "other_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/c_scale,w_4000/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt6"
        }
      },
      {
        "json": {
          "asset_id": "a2e68e8a21af952c17516916e95ba80a",
          "public_id": "6889bf031956663368046cf9/6889bf031956663368046cf9_prompt7",
          "version": 1753857914,
          "version_id": "33f3c5d461ff361177c51d9be120e15e",
          "signature": "536e8567f57b00621e5b8accfa3ac7275ecea3e4",
          "width": 1024,
          "height": 1536,
          "format": "jpg",
          "resource_type": "image",
          "created_at": "2025-07-30T06:45:14Z",
          "tags": [],
          "bytes": 197660,
          "type": "upload",
          "etag": "93413b75cbaf83d3a77fb09e581aad9d",
          "placeholder": false,
          "url": "http://res.cloudinary.com/myfurryprints/image/upload/v1753857914/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt7.jpg",
          "secure_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1753857914/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt7.jpg",
          "asset_folder": "6889bf031956663368046cf9",
          "display_name": "file",
          "existing": false,
          "original_filename": "file",
          "session_id": "6889bf031956663368046cf9",
          "email": "ameena.k@gauger.in",
          "petname": "Garry",
          "petKind": "Dog",
          "customer_name": "Ameena K",
          "promptIndex": 7,
          "theme_name": "Game of Thrones",
          "customFilename": "6889bf031956663368046cf9_prompt7",
          "original_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1753857914/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt7.jpg",
          "collection_image_url": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark_k1usnu.png/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt7",
          "transformations": {
            "clothing": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt7",
            "other": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/c_scale,w_4000/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt7",
            "watermark": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark_k1usnu.png/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt7"
          },
          "clothing_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt7",
          "other_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/c_scale,w_4000/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt7"
        }
      },
      {
        "json": {
          "asset_id": "8f00bf2bcb7b2ba448e0f65c909d2d3b",
          "public_id": "6889bf031956663368046cf9/6889bf031956663368046cf9_prompt8",
          "version": 1753857914,
          "version_id": "33f3c5d461ff361177c51d9be120e15e",
          "signature": "bf382a61d93b238630c9719ab19eea1aa73f8bb6",
          "width": 1024,
          "height": 1536,
          "format": "jpg",
          "resource_type": "image",
          "created_at": "2025-07-30T06:45:14Z",
          "tags": [],
          "bytes": 214471,
          "type": "upload",
          "etag": "225f035cca8132dfbe5f0545a2b0e103",
          "placeholder": false,
          "url": "http://res.cloudinary.com/myfurryprints/image/upload/v1753857914/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt8.jpg",
          "secure_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1753857914/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt8.jpg",
          "asset_folder": "6889bf031956663368046cf9",
          "display_name": "file",
          "existing": false,
          "original_filename": "file",
          "session_id": "6889bf031956663368046cf9",
          "email": "ameena.k@gauger.in",
          "petname": "Garry",
          "petKind": "Dog",
          "customer_name": "Ameena K",
          "promptIndex": 8,
          "theme_name": "Morning Coffee",
          "customFilename": "6889bf031956663368046cf9_prompt8",
          "original_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1753857914/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt8.jpg",
          "collection_image_url": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark_k1usnu.png/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt8",
          "transformations": {
            "clothing": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt8",
            "other": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/c_scale,w_4000/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt8",
            "watermark": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark_k1usnu.png/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt8"
          },
          "clothing_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt8",
          "other_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/c_scale,w_4000/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt8"
        }
      },
      {
        "json": {
          "asset_id": "44af1f1268d723f67c027af6447a9e61",
          "public_id": "6889bf031956663368046cf9/6889bf031956663368046cf9_prompt9",
          "version": 1753857914,
          "version_id": "33f3c5d461ff361177c51d9be120e15e",
          "signature": "4323df88af198608924b928ec65be4d93e801abb",
          "width": 1024,
          "height": 1536,
          "format": "jpg",
          "resource_type": "image",
          "created_at": "2025-07-30T06:45:14Z",
          "tags": [],
          "bytes": 414998,
          "type": "upload",
          "etag": "07b24437ac75a3aacd591661b52020ae",
          "placeholder": false,
          "url": "http://res.cloudinary.com/myfurryprints/image/upload/v1753857914/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt9.jpg",
          "secure_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1753857914/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt9.jpg",
          "asset_folder": "6889bf031956663368046cf9",
          "display_name": "file",
          "existing": false,
          "original_filename": "file",
          "session_id": "6889bf031956663368046cf9",
          "email": "ameena.k@gauger.in",
          "petname": "Garry",
          "petKind": "Dog",
          "customer_name": "Ameena K",
          "promptIndex": 9,
          "theme_name": "Anime Style",
          "customFilename": "6889bf031956663368046cf9_prompt9",
          "original_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1753857914/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt9.jpg",
          "collection_image_url": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark_k1usnu.png/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt9",
          "transformations": {
            "clothing": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt9",
            "other": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/c_scale,w_4000/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt9",
            "watermark": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark_k1usnu.png/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt9"
          },
          "clothing_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt9",
          "other_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/c_scale,w_4000/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt9"
        }
      },
      {
        "json": {
          "asset_id": "c0068f2caa55f4e0c3a3df3574663efc",
          "public_id": "6889bf031956663368046cf9/6889bf031956663368046cf9_prompt10",
          "version": 1753857914,
          "version_id": "33f3c5d461ff361177c51d9be120e15e",
          "signature": "2ab7103d11326eda2173c47f99c6a071b11d5f47",
          "width": 1024,
          "height": 1536,
          "format": "jpg",
          "resource_type": "image",
          "created_at": "2025-07-30T06:45:14Z",
          "tags": [],
          "bytes": 342860,
          "type": "upload",
          "etag": "a538d969aaf99d39958f4ae8223e220d",
          "placeholder": false,
          "url": "http://res.cloudinary.com/myfurryprints/image/upload/v1753857914/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt10.jpg",
          "secure_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1753857914/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt10.jpg",
          "asset_folder": "6889bf031956663368046cf9",
          "display_name": "file",
          "existing": false,
          "original_filename": "file",
          "session_id": "6889bf031956663368046cf9",
          "email": "ameena.k@gauger.in",
          "petname": "Garry",
          "petKind": "Dog",
          "customer_name": "Ameena K",
          "promptIndex": 10,
          "theme_name": "The Viking",
          "customFilename": "6889bf031956663368046cf9_prompt10",
          "original_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1753857914/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt10.jpg",
          "collection_image_url": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark_k1usnu.png/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt10",
          "transformations": {
            "clothing": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt10",
            "other": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/c_scale,w_4000/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt10",
            "watermark": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark_k1usnu.png/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt10"
          },
          "clothing_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt10",
          "other_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/c_scale,w_4000/6889bf031956663368046cf9/6889bf031956663368046cf9_prompt10"
        }
      }
    ]
  },
  "versionId": "230af8e1-b8d8-4250-8a13-0401a6ba3f3b",
  "activeVersionId": "230af8e1-b8d8-4250-8a13-0401a6ba3f3b",
  "versionCounter": 3,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-08-04T05:11:39.774Z",
      "createdAt": "2025-08-04T05:11:39.774Z",
      "role": "workflow:owner",
      "workflowId": "l4JPaCK6aXC125o6",
      "projectId": "lLSHos7ohHn7AjNm",
      "project": {
        "updatedAt": "2025-06-14T17:25:02.061Z",
        "createdAt": "2025-06-14T17:13:49.092Z",
        "id": "lLSHos7ohHn7AjNm",
        "name": "Muhasin Rashid <muhasin@gauger.in>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-06-14T17:13:49.092Z",
            "createdAt": "2025-06-14T17:13:49.092Z",
            "userId": "f88f8c62-813a-499e-aaee-b5f4da43c5a7",
            "projectId": "lLSHos7ohHn7AjNm",
            "user": {
              "updatedAt": "2025-12-18T05:00:03.582Z",
              "createdAt": "2025-06-14T17:13:45.907Z",
              "id": "f88f8c62-813a-499e-aaee-b5f4da43c5a7",
              "email": "muhasin@gauger.in",
              "firstName": "Muhasin",
              "lastName": "Rashid",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-06-14T17:25:40.417Z",
                "personalization_survey_n8n_version": "1.97.1",
                "automationGoalDevops": [
                  "other"
                ],
                "automationGoalDevopsOther": "Product",
                "companyType": "ecommerce",
                "role": "engineering"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "JsDBWbsoYaKBkGmW",
                "userActivatedAt": 1758182279933,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1752395252283
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-18",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-07-16T05:47:05.580Z",
      "createdAt": "2025-07-16T05:47:05.580Z",
      "id": "hn6s8vvm70Sc55aF",
      "name": "testing"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-17T18:30:57.166Z",
    "createdAt": "2025-12-17T18:30:57.166Z",
    "versionId": "230af8e1-b8d8-4250-8a13-0401a6ba3f3b",
    "workflowId": "l4JPaCK6aXC125o6",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -4360,
          -540
        ],
        "id": "5a6e3a23-8af3-48f8-8158-1e257e773ea4",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "jsCode": "// In \"Split_Product_Types\" (ID: d1bb84ef-a798-4c7b-8c15-64726de190ca)\nconst items = $input.all(); // Items from \"Merge Customer With Transformations\"\nconst outputItems = [];\n\n// Customer data (item without asset_id, usually from Extract Parameters via the merge)\nconst customerDataItem = items.find(item => item.json && item.json.email && !item.json.asset_id && !item.json.public_id);\n// Image items (items with asset_id/public_id from Transformation node via the merge)\nconst imageItems = items.filter(item => item.json && (item.json.asset_id || item.json.public_id));\n\nif (!customerDataItem) {\n  console.error(\"Split_Product_Types: Customer data not found. Ensure 'Merge Customer With Transformations' is correctly merging.\");\n  return [{ json: { error: \"Customer data item not found.\" } }];\n}\nconst customerData = customerDataItem.json;\n\nif (imageItems.length === 0) {\n  console.warn(\"Split_Product_Types: No image items found to process.\");\n}\n\nimageItems.forEach(item => {\n  const imageJson = item.json; // This is the rich data from the Transformation node\n\n  // promptIndex and theme_name should now be directly available in imageJson\n  const promptIndex = imageJson.promptIndex;\n  const actualThemeName = imageJson.theme_name;\n\n  if (promptIndex === undefined || !actualThemeName) {\n    console.error(`Split_Product_Types: Missing promptIndex or theme_name for image item. Public ID: ${imageJson.public_id}. Skipping.`);\n    return; // Skip this item\n  }\n\n  // Use petname from customerData (more reliable) or fallback to imageJson if it somehow has it\n  const petName = customerData.petname || imageJson.petname || \"Pet\";\n  const petKind = customerData.petkind || imageJson.petkind || \"Pet\";\n  const petGender = $input.first().json.petGender|| imageJson.petgender || \"Pet\";\n  const sessionId = customerData.session_id || imageJson.session_id || Date.now().toString().slice(-8);\n\n  const baseHandle = `${petName.toLowerCase().replace(/\\s+/g, '-')}-${actualThemeName.toLowerCase().replace(/[^a-z0-9-]+/g, '').replace(/\\s+/g, '-')}`;\n  const sessionSuffix = sessionId.slice(-8);\n  const uniqueHandle = `${baseHandle}-${sessionSuffix}`;\n\n  // Use spread operator to preserve original field order, then override specific fields\n  outputItems.push({\n    json: {\n      // Start with customer data\n      session_id: sessionId,\n      email: customerData.email || imageJson.email,\n      petname: petName,\n      petGender: petGender,\n      petKind: customerData.petKind || imageJson.petKind,\n      customer_name: customerData.customer_name || imageJson.customer_name,\n      \n      // Include all cloudinary data (preserves original order)\n      ...imageJson,\n      \n      // Override/ensure these specific fields are set correctly\n      promptIndex: promptIndex,\n      collection_name: `${petName} ${actualThemeName}`,\n      collection_handle: uniqueHandle,\n      theme_name: actualThemeName,\n      collection_image_url: imageJson.original_url // Use original URL for collection image\n    }\n  });\n});\n\nreturn outputItems;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -4140,
          -540
        ],
        "id": "594da83d-0a9e-4eda-892f-1ec6dc13e604",
        "name": "Split_Product_Types"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://j4zewh-kg.myshopify.com/admin/api/2025-04/custom_collections.json",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"custom_collection\": {\n    \"title\": \"{{ $json.collection_name }}\",\n    \"handle\": \"{{ $json.collection_handle }}\",\n    \"body_html\": \"<p>Custom {{ $json.theme_name }} artwork featuring {{ $json.petname }}. High-quality, frame-worthy art available on various products.</p><p>Created for {{ $json.customer_name }} ({{ $json.email }})</p>\",\n    \"published\": true,\n    \"image\": {\n      \"src\": \"{{ $json.transformations.watermark }}\",\n      \"alt\": \"{{ $json.petname }} {{ $json.theme_name }} Artwork\"\n    },\n    \"metafields\": [\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"session_id\",\n        \"value\": \"{{ $json.session_id }}\",\n        \"type\": \"single_line_text_field\"\n      },\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"customer_email\",\n        \"value\": \"{{ $json.email }}\",\n        \"type\": \"single_line_text_field\"\n      },\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"prompt_index\",\n        \"value\": \"{{ $json.promptIndex }}\",\n        \"type\": \"number_integer\"\n      },\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"pet_name\",\n        \"value\": \"{{ $json.petname }}\",\n        \"type\": \"single_line_text_field\"\n      },\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"theme_name\",\n        \"value\": \"{{ $json.theme_name }}\",\n        \"type\": \"single_line_text_field\"\n      },\n     {\n          \"namespace\": \"custom\",\n          \"key\": \"pet_kind\",                       \n          \"value\": \"{{ $json.petKind }}\",\n          \"type\": \"single_line_text_field\"\n     },\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"clothing_url\",\n        \"value\": \"{{ $json.clothing_url }}\",\n        \"type\": \"single_line_text_field\"\n      },\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"other_url\",\n        \"value\": \"{{ $json.other_url }}\",\n        \"type\": \"single_line_text_field\"\n      }\n    ]\n  }\n}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -3920,
          -540
        ],
        "id": "92e52c80-463a-4898-a6c5-3ba2d6941b59",
        "name": "Create_shopify_collection1",
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000,
        "credentials": {
          "httpHeaderAuth": {
            "id": "878XnnwYx10R4wXG",
            "name": "Shopify"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -3480,
          -540
        ],
        "id": "517cb8e4-67d0-46d5-8f9c-b236a142c94f",
        "name": "Extract Collection Data"
      },
      {
        "parameters": {
          "options": {
            "reset": false
          }
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -2520,
          -560
        ],
        "id": "7c11667b-f23d-462f-9585-970b7144401e",
        "name": "Loop Product Templates"
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst outputItems = [];\n\n// Define your Printify products\nconst printifyProducts = {\n  \"clothing\": [\n    { \n      blueprint_id: 12, \n      print_provider_id: 331, \n      name: \"Premium Cotton Unisex T-shirt\",\n      variant_id:[18099,18100,18101,18102,18103,18104,18539,18540,18541,18542,18543,18544],\n      product_type: \"clothing\"\n    }\n  ],\n  \"other\": [\n    { \n      blueprint_id: 635, \n      print_provider_id: 94, \n      name: \"Color Accent Mug\",\n      variant_id:[72180,72183,72184,105888],\n      product_type: \"other\"\n    },\n    { \n      blueprint_id: 421, \n      print_provider_id: 23, \n      name: \"Tough Phone Case - iPhone, Samsung, Google\",\n      variant_id:[75383,75385,75387,75389,77841,77843,77845,79425,80152,80154,80156,96397,96399,96401,96403,96738,96740,96742,98738,102547,102549,102551,102553,105148,105150,105152,105154,105156,112191,112193,112195,112197,116386,116388,116390,117862,117864,117866],\n      product_type: \"other\"\n    },\n    { \n      blueprint_id: 764, \n      print_provider_id: 72, \n      name: \"Premium Framed Poster\",\n      variant_id:[75328,75330,75332],\n      product_type: \"other\"\n    },\n    { \n      blueprint_id: 937, \n      print_provider_id: 105, \n      name: \"Canvas Portrait\",\n      variant_id: [95213,95214],\n      product_type: \"other\"\n    }    \n  ]\n};\n\n// Get source data from Split_Product_Types node\nconst allSourceData = $('Split_Product_Types').all();\n\n// Cloudinary config\nconst cloudName = 'myfurryprints';\nconst maskId = 'Mask3larger_jpm63l';\nconst CLOTHING_TX = `e_upscale/c_scale,w_4000/l_${maskId},w_4000,fl_cutter`;\nconst OTHER_TX = `e_upscale/c_scale,w_4000`;\n\n// Helper to build the Cloudinary URL based on product type\nfunction buildImageUrl(productType, publicId) {\n  const base = `https://res.cloudinary.com/${cloudName}/image/upload`;\n  return productType === 'clothing'\n    ? `${base}/${CLOTHING_TX}/${publicId}`\n    : `${base}/${OTHER_TX}/${publicId}`;\n}\n\n// Main loop\nitems.forEach(item => {\n  const collection = item.json.custom_collection;\n\n  const sourceDataItem = allSourceData.find(\n    sourceItem => sourceItem.json.collection_name === collection.title\n  );\n\n  if (!collection || !sourceDataItem) return; // skip if either is missing\n\n  const sourceData = sourceDataItem.json;\n  const publicId = sourceData.public_id;\n\n  // Combine clothing and other products into one loop\n  const allProducts = [...printifyProducts.clothing, ...printifyProducts.other];\n\n  allProducts.forEach(product => {\n    const imageUrl = buildImageUrl(product.product_type, publicId);\n\n    outputItems.push({\n      json: {\n        session_id:            sourceData.session_id,\n        email:                 sourceData.email,\n        petname:               sourceData.petname,\n        customer_name:         sourceData.customer_name,\n        promptIndex:           sourceData.promptIndex,\n        theme_name:            sourceData.theme_name,\n        shopify_collection_id: collection.id,\n\n        product_type:          product.product_type,\n        image_url:             imageUrl,\n        blueprint_id:          product.blueprint_id,\n        print_provider_id:     product.print_provider_id,\n        product_title:         `${sourceData.theme_name} - ${product.name}`,\n        template_name:         product.name,\n        required_variant_ids:  product.variant_id \n      }\n    });\n\n    console.log(`✅ Created ${product.product_type} product with URL: ${imageUrl}`);\n  });\n});\n\nreturn outputItems;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -3700,
          -540
        ],
        "id": "15a3732a-9c46-45a2-97b3-99ebb009ee8c",
        "name": "Map_Printify_Products"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.printify.com/v1/uploads/images.json",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"file_name\": \"{{ $json.petname }}_{{ $json.theme_name }}.jpg\",\n  \"url\": \"{{ $json.image_url }}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -2240,
          -620
        ],
        "id": "ab0b74cb-1c38-4f6e-97b4-cc41743a6d82",
        "name": "Upload_Image_To_Printify",
        "retryOnFail": true,
        "waitBetweenTries": 5000,
        "credentials": {
          "httpHeaderAuth": {
            "id": "QyrLm1DfKVd2QbzS",
            "name": "Printify API Auth"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://api.printify.com/v1/catalog/blueprints/{{ $json.blueprint_id }}/print_providers/{{ $json.print_provider_id }}/variants.json",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -2060,
          -460
        ],
        "id": "8f5fcd2c-ed3b-4d82-9bcc-416564d0606a",
        "name": "Get_Print_Provider_Variants",
        "retryOnFail": true,
        "waitBetweenTries": 5000,
        "credentials": {
          "httpBasicAuth": {
            "id": "ZwQuXy3mFoa7bh3H",
            "name": "cloudinaryFurryPrints"
          },
          "httpHeaderAuth": {
            "id": "QyrLm1DfKVd2QbzS",
            "name": "Printify API Auth"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// In \"Prepare_Printify_Product_Payload\" (ID: d98090aa-3355-4fc8-bc41-63373c3e29c7)\n\n// --- NEW: Read all variant data from the Google Sheet node ---\nconst sheetData = $('Get_Variant_Pricing_From_Sheet').all();\n\n// --- NEW: Create Maps for fast lookups. One for prices, one for descriptions ---\nconst variantPriceMap = new Map();\nconst blueprintDescriptionMap = new Map();\n\nfor (const item of sheetData) {\n  const { variant_id, price, blueprint_id, product_description } = item.json;\n  \n  // Map each variant_id to its price\n  if (variant_id && price !== undefined) {\n    variantPriceMap.set(String(variant_id), parseInt(price, 10));\n  }\n  \n  // Map each blueprint_id to a description. This avoids storing redundant descriptions.\n  // We only store the first valid description we find for a blueprint.\n  if (blueprint_id && product_description && !blueprintDescriptionMap.has(String(blueprint_id))) {\n    blueprintDescriptionMap.set(String(blueprint_id), product_description);\n  }\n}\nconsole.log(`Loaded ${variantPriceMap.size} prices and ${blueprintDescriptionMap.size} descriptions from the sheet.`);\n\n\n// 1. Get the original data from the start of the loop\nconst productInfo = $('Loop Product Templates').item.json;\n\n// 2. Get the result of the image upload\nconst uploadedImage = $('Upload_Image_To_Printify').item.json;\n\n// 3. Get the result of the variants API call\nconst providerVariantsResponse = $input.item.json;\n\n// --- Error Checking ---\nif (!productInfo || !productInfo.product_title) {\n  throw new Error(\"Could not find original product data from the loop.\");\n}\nif (!uploadedImage || !uploadedImage.id) {\n  throw new Error(\"Could not find a valid image ID from the upload step.\");\n}\nif (!providerVariantsResponse || !providerVariantsResponse.variants) {\n  throw new Error(\"Could not find a valid variants array from the API call.\");\n}\n\nconst placeholderPosition = providerVariantsResponse.variants?.[0]?.print_areas?.[0]?.placeholders?.[0]?.position || \"front\";\nconst requiredVariantIds = productInfo.required_variant_ids;\n\n// --- UPDATED LOGIC: Set price for each variant based on the Google Sheet ---\nconst variants = providerVariantsResponse.variants\n  .filter(variant => requiredVariantIds.includes(variant.id))\n  .map(variant => {\n    // Look up the price from our map\n    const priceFromSheet = variantPriceMap.get(String(variant.id));\n\n    if (priceFromSheet === undefined) {\n      console.warn(`⚠️ Price for variant ID ${variant.id} not found in Google Sheet. Using fallback price.`);\n    }\n\n    return {\n      id: variant.id,\n      price: priceFromSheet || 2999, // Use price from sheet or fallback to 2999\n      is_enabled: true\n    };\n  });\n\nif (variants.length === 0) {\n    throw new Error(`Could not find any matching variants for the provided IDs: ${requiredVariantIds.join(', ')}`);\n}\n\nconst all_variant_ids = variants.map(v => v.id);\n\n// --- Get the description from our map ---\nlet description = blueprintDescriptionMap.get(String(productInfo.blueprint_id));\nif (!description) {\n  console.warn(`⚠️ Description for blueprint ID ${productInfo.blueprint_id} not found. Using generic fallback.`);\n  description = `<p>Custom ${productInfo.theme_name} artwork featuring ${productInfo.petname}.</p>`;\n}\n// Replace placeholders\nconst finalDescription = description\n  .replace(/{{petname}}/g, productInfo.petname)\n  .replace(/{{theme_name}}/g, productInfo.theme_name);\n\n\n// --- HARD-CODED PLACEMENT SETTINGS (No change here) ---\nconst imagePlacementMap = {\n   //tshirt\n 12 : { x: 0.5,y: 0.5045,scale: 0.8,angle: 0},\n\n  //Color Accent Mug\n  635: { x: 0.20573430849374247,\n         y: 0.4950372661929266,\n       scale: 0.31111111111111106,\n      angle: 0},\n\n  //Tough phone case\n  421: {x: 0.5533677600162773,\n          y: 0.5141509433962264,\n        scale: 1,\n        angle: 0},\n\n  //framed poster \n  764 : { x : 0.5, y: 0.5, scale : 1, angle : 0}, \n\n  //canvas portrait\n  937 : {x: 0.5,\n        y: 0.5000067762626349,\n         scale: 0.9999999999999997,\n          angle: 0}\n  // Add more as needed\n};\nconst fallbackPlacement = { x: 0.5, y: 0.5, scale: 1, angle: 0 };\nconst placement = imagePlacementMap[productInfo.blueprint_id] || fallbackPlacement;\n\n// --- Payload Assembly ---\nconst payload = {\n  \"title\": productInfo.product_title,\n  \"description\": finalDescription, // Use the description from the sheet\n  \"blueprint_id\": productInfo.blueprint_id,\n  \"print_provider_id\": productInfo.print_provider_id,\n  \"variants\": variants, // This array now has prices from the sheet\n  \"print_areas\": [\n    {\n      \"variant_ids\": all_variant_ids,\n      \"placeholders\": [\n        {\n          \"position\": placeholderPosition,\n          \"images\": [\n            {\n              \"id\": uploadedImage.id,\n              \"x\": placement.x,\n              \"y\": placement.y,\n              \"scale\": placement.scale,\n              \"angle\": placement.angle\n            }\n          ]\n        }\n      ]\n    }\n  ],\n  \"tags\": [\n    $('When Executed by Another Workflow').first().json.email,\n    $('When Executed by Another Workflow').first().json.petGender,\n    $('When Executed by Another Workflow').first().json.petKind,\n    $('When Executed by Another Workflow').first().json.session_id,\n    productInfo.theme_name\n  ]\n};\n\n// Return the final data\nreturn {\n  json: {\n    ...productInfo,\n    printifyPayload: payload\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1120,
          -480
        ],
        "id": "08ea9149-49e2-4aa7-9894-6951658cf0e6",
        "name": "Prepare_Printify_Product_Payload"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.printify.com/v1/shops/21658609/products.json",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.printifyPayload }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -800,
          -480
        ],
        "id": "1948e40c-a595-487b-a2ea-3abe639d6437",
        "name": "Create_Printify_Product",
        "retryOnFail": true,
        "maxTries": 5,
        "waitBetweenTries": 5000,
        "credentials": {
          "httpHeaderAuth": {
            "id": "QyrLm1DfKVd2QbzS",
            "name": "Printify API Auth"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.printify.com/v1/shops/21658609/products/{{ $('Create_Printify_Product').item.json.id }}/publish.json",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{\n  \"title\": true,\n  \"description\": true,\n  \"images\": true,\n  \"variants\": true,\n  \"tags\": true,\n  \"keyFeatures\": true,\n  \"shipping_template\": true\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -380,
          -480
        ],
        "id": "32401b19-9aa0-4560-9032-65986945cbdc",
        "name": "Publish_Printify_Product",
        "retryOnFail": true,
        "waitBetweenTries": 5000,
        "alwaysOutputData": true,
        "credentials": {
          "httpHeaderAuth": {
            "id": "QyrLm1DfKVd2QbzS",
            "name": "Printify API Auth"
          }
        }
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -1480,
          -480
        ],
        "id": "211b943f-2170-40b3-a250-0cdfa7ceaf74",
        "name": "Merge"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "6f46f174-b276-433a-a2a8-d11be21fa51f",
                "name": "image_id",
                "value": "={{ $json.id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1940,
          -620
        ],
        "id": "f432740c-26cd-42fd-9fe0-e4c7a0747d8a",
        "name": "Set_Image_ID"
      },
      {
        "parameters": {
          "url": "=https://api.printify.com/v1/shops/21658609/products/687b3a2ed857375c120bf72b.json",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -3520,
          520
        ],
        "id": "8712c962-8501-4aa3-8adf-36aac6d725d9",
        "name": "HTTP Request",
        "credentials": {
          "httpHeaderAuth": {
            "id": "QyrLm1DfKVd2QbzS",
            "name": "Printify API Auth"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -3820,
          560
        ],
        "id": "b045fb61-6278-41a9-a44d-747fbf979131",
        "name": "When clicking ‘Execute workflow’",
        "disabled": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://j4zewh-kg.myshopify.com/admin/api/2025-04/collects.json",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"collect\": {\n    \"product_id\": {{$json[\"product_id\"]}},\n    \"collection_id\": {{$json[\"collection_id\"]}}\n  }\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1040,
          40
        ],
        "id": "c9f9e1c4-f518-4679-bca2-1419e1c60549",
        "name": "Add_Product_To_Collection",
        "credentials": {
          "httpHeaderAuth": {
            "id": "878XnnwYx10R4wXG",
            "name": "Shopify"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "url": "=https://j4zewh-kg.myshopify.com/admin/api/2023-10/products.json",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "tags",
                "value": "={{ $json.session_id_to_match }}"
              },
              {
                "name": "title",
                "value": "={{ $json.product_title }}"
              }
            ]
          },
          "options": {
            "response": {
              "response": {}
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1520,
          40
        ],
        "id": "6b2f45db-15d8-47b3-a7e5-b7e5a5999f15",
        "name": "SearchShopifyProduct",
        "alwaysOutputData": false,
        "credentials": {
          "httpHeaderAuth": {
            "id": "878XnnwYx10R4wXG",
            "name": "Shopify"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Node: Collect All Products (FIXED)\nconst allItems = $input.all();\nconst shopifyCollectionsMap = new Map();\nconst productsToProcess = [];\n\nconsole.log(`Collect All Products - Received ${allItems.length} items.`);\n\n// --- First Pass: Map all Shopify collections by their title ---\nallItems.forEach((item) => {\n  // Identify collection items (they have a collection_id but no product id)\n  if (item.json.collection_id && !item.json.id) {\n    const collectionTitle = item.json.title;\n    if (collectionTitle && !shopifyCollectionsMap.has(collectionTitle)) {\n      shopifyCollectionsMap.set(collectionTitle, {\n        collection_id: item.json.collection_id,\n        collection_handle: item.json.handle,\n      });\n      console.log(`Mapped Shopify Collection: \"${collectionTitle}\" -> ID: ${item.json.collection_id}`);\n    }\n  }\n});\n\n// --- Pre-computation: Find the pet name for this batch ---\nconst referenceItem = allItems.find(item => item.json.petname);\nconst petnameForBatch = referenceItem ? referenceItem.json.petname : null;\n\nif (!petnameForBatch) {\n  console.error(\"CRITICAL: Could not determine pet name for this batch. Processing will likely fail.\");\n  return [];\n}\n\n// --- Second Pass: Match products to their collections ---\nallItems.forEach((item) => {\n  // Identify product items (they have a product ID, tags, and a title)\n  if (item.json.id && item.json.tags && item.json.title && item.json.title.includes(' - ')) {\n    const productTitle = item.json.title;\n    \n    // 1. Extract the theme name from the product title.\n    // e.g., \"Spa Day Deluxe - Premium T-Shirt\" -> \"Spa Day Deluxe\"\n    const productTheme = productTitle.split(' - ')[0].trim();\n\n    // 2. Construct the expected Shopify collection title.\n    // e.g., \"Milo\" + \" \" + \"Spa Day Deluxe\" -> \"Milo Spa Day Deluxe\"\n    const collectionTitleKey = `${petnameForBatch} ${productTheme}`;\n\n    // 3. Look up the collection in our map.\n    const collectionData = shopifyCollectionsMap.get(collectionTitleKey);\n\n    if (collectionData) {\n      // Find the session_id from the tags (assuming it's the 4th tag)\n      const sessionIdTag = item.json.tags && item.json.tags.length > 3 ? item.json.tags[3] : null;\n      if (!sessionIdTag) {\n        console.warn(`Could not find a session_id tag for product: \"${productTitle}\". Skipping.`);\n        return; // Skips this product\n      }\n\n      productsToProcess.push({\n        json: {\n          product_title_to_search_in_shopify: productTitle,\n          shopify_collection_id: collectionData.collection_id,\n          shopify_collection_handle: collectionData.collection_handle,\n          shopify_collection_original_title: collectionTitleKey,\n          session_id_to_match: sessionIdTag,\n          gelato_product_id: item.json.id // Note: This field name is from your original code\n        }\n      });\n      console.log(`SUCCESS: Matched product \"${productTitle}\" to collection \"${collectionTitleKey}\"`);\n    } else {\n      console.warn(`FAIL: No Shopify collection found for product: \"${productTitle}\". (Used key: \"${collectionTitleKey}\"). This product will be skipped.`);\n    }\n  }\n});\n\nconsole.log(`Total products to process: ${productsToProcess.length}`);\nreturn productsToProcess;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2440,
          0
        ],
        "id": "fe11353e-68d3-4d10-937c-0db0c592d5df",
        "name": "Collect All Products"
      },
      {
        "parameters": {
          "jsCode": "const currentProductData = $input.item.json;\nreturn {\n  json: {\n    product_title: currentProductData.product_title_to_search_in_shopify,\n    shopify_collection_id: currentProductData.shopify_collection_id,\n    \n    // --- ADD THIS LINE ---\n    session_id_to_match: currentProductData.session_id_to_match, // Pass it through\n\n    // Context fields (no changes needed here)\n    original_search_title: currentProductData.product_title_to_search_in_shopify,\n    original_shopify_collection_title: currentProductData.shopify_collection_original_title,\n    gelato_product_id_context: currentProductData.gelato_product_id\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1900,
          40
        ],
        "id": "4f4c88a1-cd27-4fb4-83ca-b3fdb932711c",
        "name": "Format Product Search Data"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Get the API response from SearchShopifyProduct\nconst shopifyApiResponse = $input.item.json;\n\n// Get the data sent *into* SearchShopifyProduct\nconst dataFromPreviousNode = $('Format Product Search Data').item.json;\n\nlet foundProduct = null;\nconst allFoundProducts = shopifyApiResponse.products || [];\nconst targetSessionId = dataFromPreviousNode.session_id_to_match;\nconst searchedTitle = dataFromPreviousNode.product_title;\n\nconsole.log(`--- Starting Product ID Extraction ---`);\nconsole.log(`Target Session ID: \"${targetSessionId}\"`);\nconsole.log(`Searching for product title: \"${searchedTitle}\"`);\n\nif (!targetSessionId) {\n  console.error(\"CRITICAL ERROR: No session_id was passed to this node. Cannot perform matching. Check the 'Collect All Products' node.\");\n  // FIXED: Return a single object, not an array\n  return { json: { product_id: null, error: \"Missing session_id_to_match\" } };\n}\n\nif (allFoundProducts.length === 0) {\n  console.warn(`Shopify search returned ZERO products for title \"${searchedTitle}\".`);\n} else {\n  console.log(`Shopify search returned ${allFoundProducts.length} product(s). Now filtering...`);\n\n  const lowerCaseTargetSessionId = targetSessionId.toLowerCase();\n\n  for (const product of allFoundProducts) {\n    const shopifyTagsString = product.tags;\n\n    if (shopifyTagsString) {\n      const lowerCaseShopifyTags = shopifyTagsString.toLowerCase();\n      console.log(`- Checking Product ID: ${product.id}. Lowercase Tags: \"${lowerCaseShopifyTags}\". Does it include \"${lowerCaseTargetSessionId}\"?`);\n      if (lowerCaseShopifyTags.includes(lowerCaseTargetSessionId)) {\n        foundProduct = product;\n        console.log(`✅ MATCH FOUND! Using Product ID: ${foundProduct.id}`);\n        break;\n      }\n    } else {\n      console.log(`- Checking Product ID: ${product.id}. No tags found.`);\n    }\n  }\n}\n\nif (foundProduct) {\n  // FIXED: Return a single object, not an array\n  return {\n    json: {\n      product_id: foundProduct.id,\n      collection_id: dataFromPreviousNode.shopify_collection_id,\n      context_searched_title: searchedTitle,\n      context_original_shopify_collection_title: dataFromPreviousNode.original_shopify_collection_title,\n      context_gelato_product_id: dataFromPreviousNode.gelato_product_id_context\n    }\n  };\n} else {\n  console.error(`❌ FAILED: After checking all ${allFoundProducts.length} products, none had the tag \"${targetSessionId}\".`);\n  // FIXED: Return a single object, not an array\n  return {\n    json: {\n      product_id: null,\n      collection_id: dataFromPreviousNode.shopify_collection_id,\n      error: `Product with matching session_id tag '${targetSessionId}' not found.`\n    }\n  };\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1300,
          40
        ],
        "id": "cd3d3076-c175-474f-887d-dd9e22d0f33b",
        "name": "Extract Shopify Product ID"
      },
      {
        "parameters": {
          "jsCode": "const shopifyCollectApiResponse = $input.first().json;\nconst contextData = $('Extract Shopify Product ID').item.json; // Data from Code3\n\nif (shopifyCollectApiResponse.collect && shopifyCollectApiResponse.collect.id) {\n  console.log(`✅ SUCCESS: Shopify Product (Shopify ID: ${shopifyCollectApiResponse.collect.product_id}, originally searched as \"${contextData.context_searched_title}\") added to Shopify Collection (Shopify ID: ${shopifyCollectApiResponse.collect.collection_id}, title: \"${contextData.context_original_shopify_collection_title}\"). Gelato Product ID was: ${contextData.context_gelato_product_id}.`);\n} else {\n  console.error(`❌ FAILED or SKIPPED: Could not add product to collection...`);\n}\nreturn [$input.first()]; // Passes the Shopify API response along"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -580,
          40
        ],
        "id": "89b45ad6-085b-49b7-a2aa-91dc2ce6ef52",
        "name": "Log Collection Link Result"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.1,
        "position": [
          -2660,
          -180
        ],
        "id": "2934b4e5-e47d-4fcc-94d7-3186ad18ded9",
        "name": "Merge Collections With Products"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -2140,
          20
        ],
        "id": "aba0f00f-f51a-4cd7-b53b-c7c10ba416ba",
        "name": "Loop Product Collection Linking"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "y8oyhB8oJsXRl9jr",
            "mode": "list",
            "cachedResultName": "04-Dev-Hermes-Printify1"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          -1980,
          340
        ],
        "id": "9ec9d5c0-2445-4efc-b774-f11ff2cc5426",
        "name": "Execute Workflow"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "320bc315-deea-4d87-a7b6-5c2d27f84ca1",
                "name": "session_id",
                "value": "={{ $json.session_id }}",
                "type": "string"
              },
              {
                "id": "b9eb2c98-b46b-4a8c-9f9a-7d0908d297c9",
                "name": "customer_name",
                "value": "={{ $json.customer_name }}",
                "type": "string"
              },
              {
                "id": "8db2e7ef-f12c-478c-bd2b-eae3cd9e5c1c",
                "name": "email",
                "value": "={{ $json.email }}",
                "type": "string"
              },
              {
                "id": "cca910d1-c893-4860-888d-36ecc2f0b0a7",
                "name": "petname",
                "value": "={{ $json.petname }}",
                "type": "string"
              },
              {
                "id": "b3d85d82-adb6-4f18-a0e9-8d0586afad05",
                "name": "petKind",
                "value": "={{ $json.petKind }}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -2640,
          420
        ],
        "id": "f2313cda-991f-4d55-ac28-5efcbd823eb2",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "amount": 2,
          "path": "9170dcad-a52c-4004-8dd2-d60a6890d91c"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -820,
          40
        ],
        "id": "26fbc5c3-1852-45e6-be56-5d333cea4578",
        "name": "Wait2",
        "webhookId": "9170dcad-a52c-4004-8dd2-d60a6890d91c"
      },
      {
        "parameters": {
          "content": "LOOP 2 :\nAdding created products to the respective collection",
          "height": 300,
          "width": 1860
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -2240,
          -60
        ],
        "id": "32316d66-7fb6-4e38-ab25-99f0c9311b78",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "eedd32cb-3722-4169-ae9e-b5e0b7114fd9",
                "name": "collection_id",
                "value": "={{ $json.custom_collection.id }}",
                "type": "number"
              },
              {
                "id": "0ea0ee40-d5e9-4980-ad45-35f941a86cb5",
                "name": "handle",
                "value": "={{ $json.custom_collection.handle }}",
                "type": "string"
              },
              {
                "id": "30fe9f3f-53af-4c85-bd1b-e2f489aefefa",
                "name": "title",
                "value": "={{ $json.custom_collection.title }}",
                "type": "string"
              },
              {
                "id": "5d3f929e-6ee3-498a-bbbe-acf01ab9324a",
                "name": "petname",
                "value": "={{ $('Split_Product_Types').item.json.petname }}",
                "type": "string"
              },
              {
                "id": "1d667b57-1fc1-477e-a10b-99aa06fa2d6b",
                "name": "themename",
                "value": "={{ $json.custom_collection.title }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -2880,
          -20
        ],
        "id": "9a3fd873-403c-4954-98a5-78c9577094bd",
        "name": "gather collections"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -2180,
          340
        ],
        "id": "e63631ab-b40c-4b55-a9fb-0193b140d57b",
        "name": "Merge1"
      },
      {
        "parameters": {
          "path": "4edfb8e0-fe79-42b4-ac94-8449900ca3fa"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -1720,
          40
        ],
        "id": "f4c14bc3-8561-49d6-bf41-8aaed01b9ad2",
        "name": "Wait",
        "webhookId": "4edfb8e0-fe79-42b4-ac94-8449900ca3fa"
      },
      {
        "parameters": {
          "amount": 1.3,
          "unit": "hours",
          "path": "55744de3-94cc-4ced-8811-86d41c943ed2"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -2820,
          -360
        ],
        "id": "57ebd089-8fc0-46e6-9578-9eb15cd8046a",
        "name": "Wait_for_Image_Upload",
        "webhookId": "55744de3-94cc-4ced-8811-86d41c943ed2"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "https://docs.google.com/spreadsheets/d/17p4GRGITaLN-qIUb3YrGOZTusbqpV_mJ_brRLqS0jWA/edit?gid=0#gid=0",
            "mode": "url"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Output",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17p4GRGITaLN-qIUb3YrGOZTusbqpV_mJ_brRLqS0jWA/edit#gid=0"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [
          -4040,
          -1000
        ],
        "id": "7bdb3ae7-eaf8-46fa-a313-be17c928c780",
        "name": "Get_Variant_Pricing_From_Sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "rsPEEcMmuFCh0fvw",
            "name": "Google Sheets account 2"
          }
        }
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Split_Product_Types",
              "type": "main",
              "index": 0
            },
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get_Variant_Pricing_From_Sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split_Product_Types": {
        "main": [
          [
            {
              "node": "Create_shopify_collection1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create_shopify_collection1": {
        "main": [
          [
            {
              "node": "Map_Printify_Products",
              "type": "main",
              "index": 0
            },
            {
              "node": "gather collections",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge1",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Extract Collection Data": {
        "main": [
          [
            {
              "node": "Loop Product Templates",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Product Templates": {
        "main": [
          [
            {
              "node": "Wait_for_Image_Upload",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Upload_Image_To_Printify",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get_Print_Provider_Variants",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Map_Printify_Products": {
        "main": [
          [
            {
              "node": "Extract Collection Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload_Image_To_Printify": {
        "main": [
          [
            {
              "node": "Set_Image_ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get_Print_Provider_Variants": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare_Printify_Product_Payload": {
        "main": [
          [
            {
              "node": "Create_Printify_Product",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create_Printify_Product": {
        "main": [
          [
            {
              "node": "Publish_Printify_Product",
              "type": "main",
              "index": 0
            },
            {
              "node": "Loop Product Templates",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Publish_Printify_Product": {
        "main": [
          []
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Prepare_Printify_Product_Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set_Image_ID": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Add_Product_To_Collection": {
        "main": [
          [
            {
              "node": "Wait2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SearchShopifyProduct": {
        "main": [
          [
            {
              "node": "Extract Shopify Product ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Collect All Products": {
        "main": [
          [
            {
              "node": "Loop Product Collection Linking",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Product Search Data": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Shopify Product ID": {
        "main": [
          [
            {
              "node": "Add_Product_To_Collection",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log Collection Link Result": {
        "main": [
          [
            {
              "node": "Loop Product Collection Linking",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Collections With Products": {
        "main": [
          [
            {
              "node": "Collect All Products",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Product Collection Linking": {
        "main": [
          [],
          [
            {
              "node": "Format Product Search Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait2": {
        "main": [
          [
            {
              "node": "Log Collection Link Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "gather collections": {
        "main": [
          [
            {
              "node": "Merge Collections With Products",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge1": {
        "main": [
          [
            {
              "node": "Execute Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "SearchShopifyProduct",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait_for_Image_Upload": {
        "main": [
          [
            {
              "node": "Merge Collections With Products",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "workflowPublishHistory": [
      {
        "createdAt": "2025-08-04T05:44:21.733Z",
        "id": 73,
        "workflowId": "l4JPaCK6aXC125o6",
        "versionId": "230af8e1-b8d8-4250-8a13-0401a6ba3f3b",
        "event": "activated",
        "userId": null
      }
    ]
  }
}