workflows/uncategorized/03-Ford-Test-Daniel.json
{
  "updatedAt": "2025-10-13T05:49:06.267Z",
  "createdAt": "2025-09-15T05:08:03.011Z",
  "id": "JsDBWbsoYaKBkGmW",
  "name": "03-Ford-Test-Daniel",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -4816,
        1520
      ],
      "id": "ff25913d-1b47-4299-a0d7-b6fec73db8f8",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/17p4GRGITaLN-qIUb3YrGOZTusbqpV_mJ_brRLqS0jWA/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Output",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17p4GRGITaLN-qIUb3YrGOZTusbqpV_mJ_brRLqS0jWA/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -4576,
        1232
      ],
      "id": "b71a6eba-eece-4bdf-8c92-a616e79ef259",
      "name": "Get_Variant_Pricing_From_Sheet",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rsPEEcMmuFCh0fvw",
          "name": "Google Sheets account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -3792,
        1888
      ],
      "id": "3bf2fae3-b3fc-46cd-b8ab-579840499e3c",
      "name": "Merge Collections With Products"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "llY1ozJ1ROdrEnMH",
          "mode": "list",
          "cachedResultName": "04-Hermes-Prod-Printify"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -3392,
        2144
      ],
      "id": "bcc93640-1e4c-4f52-8343-740f4ce7979e",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "320bc315-deea-4d87-a7b6-5c2d27f84ca1",
              "name": "session_id",
              "value": "={{ $json.session_id }}",
              "type": "string"
            },
            {
              "id": "b9eb2c98-b46b-4a8c-9f9a-7d0908d297c9",
              "name": "customer_name",
              "value": "={{ $json.customer_name }}",
              "type": "string"
            },
            {
              "id": "8db2e7ef-f12c-478c-bd2b-eae3cd9e5c1c",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "cca910d1-c893-4860-888d-36ecc2f0b0a7",
              "name": "petname",
              "value": "={{ $json.petname }}",
              "type": "string"
            },
            {
              "id": "b3d85d82-adb6-4f18-a0e9-8d0586afad05",
              "name": "petKind",
              "value": "={{ $json.petKind }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3792,
        2144
      ],
      "id": "ab8f041f-242c-482a-9b7f-3711ed1f3d06",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eedd32cb-3722-4169-ae9e-b5e0b7114fd9",
              "name": "collection_id",
              "value": "={{ $json.custom_collection.id }}",
              "type": "number"
            },
            {
              "id": "0ea0ee40-d5e9-4980-ad45-35f941a86cb5",
              "name": "handle",
              "value": "={{ $json.custom_collection.handle }}",
              "type": "string"
            },
            {
              "id": "30fe9f3f-53af-4c85-bd1b-e2f489aefefa",
              "name": "title",
              "value": "={{ $json.custom_collection.title }}",
              "type": "string"
            },
            {
              "id": "5d3f929e-6ee3-498a-bbbe-acf01ab9324a",
              "name": "petname",
              "value": "={{ $('Split_Product_Types2').item.json.petname }}",
              "type": "string"
            },
            {
              "id": "1d667b57-1fc1-477e-a10b-99aa06fa2d6b",
              "name": "themename",
              "value": "={{ $json.custom_collection.title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4032,
        1920
      ],
      "id": "5836447c-386d-41ca-8815-44df00ad4a7b",
      "name": "gather collections"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -3584,
        2144
      ],
      "id": "450167aa-c802-4080-aaf9-d6dca7cc29bf",
      "name": "Merge1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://j4zewh-kg.myshopify.com/admin/api/2025-04/custom_collections.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"custom_collection\": {\n    \"title\": \"{{ $json.collection_name }}\",\n    \"handle\": \"{{ $json.collection_handle }}\",\n    \"body_html\": \"<p>Custom {{ $json.theme_name }} artwork featuring {{ $json.petname }}. High-quality, frame-worthy art available on various products.</p><p>Created for {{ $json.customer_name }} ({{ $json.email }})</p>\",\n    \"published\": true,\n    \"image\": {\n      \"src\": \"{{ $json.transformations.watermark }}\",\n      \"alt\": \"{{ $json.petname }} {{ $json.theme_name }} Artwork\"\n    },\n    \"metafields\": [\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"session_id\",\n        \"value\": \"{{ $json.session_id }}\",\n        \"type\": \"single_line_text_field\"\n      },\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"customer_email\",\n        \"value\": \"{{ $json.email }}\",\n        \"type\": \"single_line_text_field\"\n      },\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"prompt_index\",\n        \"value\": \"{{ $json.promptIndex }}\",\n        \"type\": \"number_integer\"\n      },\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"pet_name\",\n        \"value\": \"{{ $json.petname }}\",\n        \"type\": \"single_line_text_field\"\n      },\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"theme_name\",\n        \"value\": \"{{ $json.theme_name }}\",\n        \"type\": \"single_line_text_field\"\n      },\n     {\n          \"namespace\": \"custom\",\n          \"key\": \"pet_kind\",                       \n          \"value\": \"{{ $json.petKind }}\",\n          \"type\": \"single_line_text_field\"\n     },\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"clothing_url\",\n        \"value\": \"{{ $json.clothing_url }}\",\n        \"type\": \"single_line_text_field\"\n      },\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"other_url\",\n        \"value\": \"{{ $json.other_url }}\",\n        \"type\": \"single_line_text_field\"\n      }\n    ]\n  }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4384,
        1520
      ],
      "id": "e68386be-e1e5-4b8a-9216-e36cf61db57e",
      "name": "Create_shopify_collection",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "878XnnwYx10R4wXG",
          "name": "Shopify"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3936,
        1520
      ],
      "id": "66a7ba35-330f-45e1-93dd-e9dd0a653bca",
      "name": "Extract Collection Data1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst outputItems = [];\n\n// Define your Printify products\nconst printifyProducts = {\n  \"clothing\": [\n    { \n      blueprint_id: 12, \n      print_provider_id: 331, \n      name: \"Premium Cotton Unisex T-shirt\",\n      variant_id:[18539,18540,18541,18542,18543,18544],\n      product_type: \"clothing\"\n    }\n    //black variants 18099,18100,18101,18102,18103,18104,\n  ],\n  \"other\": [\n    { \n      blueprint_id: 635, \n      print_provider_id: 94, \n      name: \"Color Accent Mug\",\n      variant_id:[72180,72183,72184,105888],\n      product_type: \"other\"\n    },\n    // { \n    //   blueprint_id: 421, \n    //   print_provider_id: 23, \n    //   name: \"Tough Phone Case - iPhone, Samsung, Google\",\n    //   variant_id:[75383,75385,75387,75389,77841,77843,77845,79425,80152,80154,80156,96397,96399,96401,96403,96738,96740,96742,98738,102547,102549,102551,102553,105148,105150,105152,105154,105156,112191,112193,112195,112197,116386,116388,116390,117862,117864,117866],\n    //   product_type: \"other\"\n    // },\n    { \n      blueprint_id: 421, \n      print_provider_id: 23, \n      name: \"Tough Phone Case - iPhone\",\n      variant_id:[75383,75385,75387,75389,96397,96399,96401,96403,102547,102549,102551,102553,112191,112193,112195,112197],\n      product_type: \"other\",\n      mockup_style: \"iphone-case\" \n    },\n    { \n      blueprint_id: 421, \n      print_provider_id: 23, \n      name: \"Tough Phone Case - Samsung\",\n      variant_id:[77841,77843,77845,79425,80152,80154,80156,96738,96740,96742,105148,105150,105152,117862,117864,117866],\n      product_type: \"other\",\n      mockup_style: \"samsung-case\" \n    },\n    { \n      blueprint_id: 764, \n      print_provider_id: 72, \n      name: \"Premium Framed Poster\",\n      variant_id:[75328,75330,75332],\n      product_type: \"other\"\n    },\n    { \n      blueprint_id: 937, \n      print_provider_id: 105, \n      name: \"Canvas Portrait\",\n      variant_id: [95213,95214], \n      product_type: \"other\"\n    }    \n  ]\n};\n\n// Get source data from Split_Product_Types node\nconst allSourceData = $('Split_Product_Types2').all();\n\n// Cloudinary config\nconst cloudName = 'myfurryprints';\nconst maskId = 'Mask3larger_jpm63l';\nconst CLOTHING_TX = `e_upscale/c_scale,w_4000/l_${maskId},w_4000,fl_cutter`;\nconst OTHER_TX = `e_upscale/c_scale,w_4000`;\n\n// Helper to build the Cloudinary URL based on product type\nfunction buildImageUrl(productType, publicId) {\n  const base = `https://res.cloudinary.com/${cloudName}/image/upload`;\n  return productType === 'clothing'\n    ? `${base}/${CLOTHING_TX}/${publicId}`\n    : `${base}/${OTHER_TX}/${publicId}`;\n}\n\n// Main loop\nitems.forEach(item => {\n  const collection = item.json.custom_collection;\n\n  const sourceDataItem = allSourceData.find(\n    sourceItem => sourceItem.json.collection_name === collection.title\n  );\n\n  if (!collection || !sourceDataItem) return; // skip if either is missing\n\n  const sourceData = sourceDataItem.json;\n  const publicId = sourceData.public_id;\n\n  // Combine clothing and other products into one loop\n  const allProducts = [...printifyProducts.clothing, ...printifyProducts.other];\n\n  allProducts.forEach(product => {\n    const imageUrl = buildImageUrl(product.product_type, publicId);\n\n    outputItems.push({\n      json: {\n        session_id:            sourceData.session_id,\n        email:                 sourceData.email,\n        petname:               sourceData.petname,\n        customer_name:         sourceData.customer_name,\n        promptIndex:           sourceData.promptIndex,\n        theme_name:            sourceData.theme_name,\n        shopify_collection_id: collection.id,\n\n        product_type:          product.product_type,\n        image_url:             imageUrl,\n        blueprint_id:          product.blueprint_id,\n        print_provider_id:     product.print_provider_id,\n        product_title:         `${sourceData.theme_name} - ${product.name}`,\n        template_name:         product.name,\n        required_variant_ids:  product.variant_id ,\n        mockup_style:          product.mockup_style \n      }\n    });\n\n    console.log(`✅ Created ${product.product_type} product with URL: ${imageUrl}`);\n  });\n});\n\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4144,
        1520
      ],
      "id": "a6f47bd7-5460-48b8-8e6b-c4a095222d72",
      "name": "Map_Printify_Products1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.printify.com/v1/uploads/images.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"file_name\": \"{{ $json.petname }}_{{ $json.theme_name }}.jpg\",\n  \"url\": \"{{ $json.image_url }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3120,
        1328
      ],
      "id": "6added2e-f87a-4685-9085-2da217c14998",
      "name": "Upload_Image_To_Printify",
      "retryOnFail": false,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "credentials": {
        "httpHeaderAuth": {
          "id": "QyrLm1DfKVd2QbzS",
          "name": "Printify API Auth"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://api.printify.com/v1/catalog/blueprints/{{ $json.blueprint_id }}/print_providers/{{ $json.print_provider_id }}/variants.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3168,
        1552
      ],
      "id": "e060a83d-feda-4766-b7b2-c296b4e42f67",
      "name": "Get_Print_Provider_Variants",
      "retryOnFail": false,
      "waitBetweenTries": null,
      "maxTries": 2,
      "alwaysOutputData": false,
      "credentials": {
        "httpBasicAuth": {
          "id": "ZwQuXy3mFoa7bh3H",
          "name": "cloudinaryFurryPrints"
        },
        "httpHeaderAuth": {
          "id": "QyrLm1DfKVd2QbzS",
          "name": "Printify API Auth"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// In \"Prepare_Printify_Product_Payload\" (ID: d98090aa-3355-4fc8-bc41-63373c3e29c7)\n\n// --- NEW: Read all variant data from the Google Sheet node ---\nconst sheetData = $('Get_Variant_Pricing_From_Sheet').all();\n\n// --- NEW: Create Maps for fast lookups. One for prices, one for descriptions ---\nconst variantPriceMap = new Map();\nconst blueprintDescriptionMap = new Map();\n\nfor (const item of sheetData) {\n  const { variant_id, price, blueprint_id, product_description } = item.json;\n  \n  // Map each variant_id to its price\n  if (variant_id && price !== undefined) {\n    variantPriceMap.set(String(variant_id), parseInt(price, 10));\n  }\n  \n  // Map each blueprint_id to a description. This avoids storing redundant descriptions.\n  // We only store the first valid description we find for a blueprint.\n  if (blueprint_id && product_description && !blueprintDescriptionMap.has(String(blueprint_id))) {\n    blueprintDescriptionMap.set(String(blueprint_id), product_description);\n  }\n}\nconsole.log(`Loaded ${variantPriceMap.size} prices and ${blueprintDescriptionMap.size} descriptions from the sheet.`);\n\n\n// 1. Get the original data from the start of the loop\nconst productInfo = $('Loop Product Templates2').item.json;\n\n// 2. Get the result of the image upload\nconst uploadedImage = $('Upload_Image_To_Printify').item.json;\n\n// 3. Get the result of the variants API call\nconst providerVariantsResponse = $input.item.json;\n\n// --- Error Checking ---\nif (!productInfo || !productInfo.product_title) {\n  throw new Error(\"Could not find original product data from the loop.\");\n}\nif (!uploadedImage || !uploadedImage.id) {\n  throw new Error(\"Could not find a valid image ID from the upload step.\");\n}\nif (!providerVariantsResponse || !providerVariantsResponse.variants) {\n  throw new Error(\"Could not find a valid variants array from the API call.\");\n}\n\nconst placeholderPosition = providerVariantsResponse.variants?.[0]?.print_areas?.[0]?.placeholders?.[0]?.position || \"front\";\nconst requiredVariantIds = productInfo.required_variant_ids;\n\n// --- UPDATED LOGIC: Set price for each variant based on the Google Sheet ---\nconst variants = providerVariantsResponse.variants\n  .filter(variant => requiredVariantIds.includes(variant.id))\n  .map(variant => {\n    // Look up the price from our map\n    const priceFromSheet = variantPriceMap.get(String(variant.id));\n\n    if (priceFromSheet === undefined) {\n      console.warn(`⚠️ Price for variant ID ${variant.id} not found in Google Sheet. Using fallback price.`);\n    }\n\n    return {\n      id: variant.id,\n      price: priceFromSheet || 2999, // Use price from sheet or fallback to 2999\n      is_enabled: true\n    };\n  });\n\nif (variants.length === 0) {\n    throw new Error(`Could not find any matching variants for the provided IDs: ${requiredVariantIds.join(', ')}`);\n}\n\nconst all_variant_ids = variants.map(v => v.id);\n\n// --- UPDATED DESCRIPTION HANDLING ---\nlet description = blueprintDescriptionMap.get(String(productInfo.blueprint_id));\nif (!description) {\n  console.warn(`⚠️ Description for blueprint ID ${productInfo.blueprint_id} not found. Using generic fallback.`);\n  description = `<p>Custom ${productInfo.theme_name} artwork featuring ${productInfo.petname}.</p>`;\n}\n\n// 1. Replace placeholders like {{petname}}\nlet processedDescription = description\n  .replace(/{{petname}}/g, productInfo.petname)\n  .replace(/{{theme_name}}/g, productInfo.theme_name);\n\n// 2. Convert paragraph and heading breaks to a unique placeholder\nprocessedDescription = processedDescription.replace(/<\\/p>|<\\/h[1-6]>/gi, '__BREAK__');\n\n// 3. Now, strip all remaining HTML tags and non-breaking spaces\nlet cleanText = processedDescription.replace(/<[^>]*>/g, '').replace(/&nbsp;/g, ' ').trim();\n\n// 4. Convert the placeholder to standard HTML line breaks for Shopify\nconst finalDescription = cleanText.replace(/(__BREAK__\\s*)+/g, '<br><br>');\n\n\n// --- HARD-CODED PLACEMENT SETTINGS (No change here) ---\nconst imagePlacementMap = {\n   //tshirt\n 12 : { x: 0.5,y: 0.5045,scale: 0.8,angle: 0},\n\n  //Color Accent Mug\n  635: { x: 0.20573430849374247,\n         y: 0.4950372661929266,\n       scale: 0.31111111111111106,\n      angle: 0},\n\n  //Tough phone case-iPhone\n  421: {x: 0.5533677600162773,\n          y: 0.5141509433962264,\n        scale: 1,\n        angle: 0},\n  \n//Tough phone case-Samsung\n  421: {x: 0.5533677600162773,\n          y: 0.5141509433962264,\n        scale: 1,\n        angle: 0},\n  \n\n  //framed poster \n  764 : { x : 0.5, y: 0.5, scale : 1, angle : 0}, \n\n  //canvas portrait\n  937 : {x: 0.5,\n        y: 0.5000067762626349,\n         scale: 0.9999999999999997,\n          angle: 0}\n  // Add more as needed\n};\nconst fallbackPlacement = { x: 0.5, y: 0.5, scale: 1, angle: 0 };\nconst placement = imagePlacementMap[productInfo.blueprint_id] || fallbackPlacement;\n\n// --- Payload Assembly ---\nconst payload = {\n  \"title\": productInfo.product_title,\n  \"description\": finalDescription, // Use the new clean description\n  \"blueprint_id\": productInfo.blueprint_id,\n  \"print_provider_id\": productInfo.print_provider_id,\n  \"variants\": variants,\n  \"print_areas\": [\n    {\n      \"variant_ids\": all_variant_ids,\n      \"placeholders\": [\n        {\n          \"position\": placeholderPosition,\n          \"images\": [\n            {\n              \"id\": uploadedImage.id,\n              \"x\": placement.x,\n              \"y\": placement.y,\n              \"scale\": placement.scale,\n              \"angle\": placement.angle\n            }\n          ]\n        }\n      ]\n    }\n  ],\n  \"tags\": [\n    $('When Executed by Another Workflow').first().json.email,\n    $('When Executed by Another Workflow').first().json.petGender,\n    $('When Executed by Another Workflow').first().json.petKind,\n    $('When Executed by Another Workflow').first().json.session_id,\n    $('When Executed by Another Workflow').first().json.petname,\n    productInfo.theme_name\n  ]\n};\n\n// --- THIS IS THE FINAL, CORRECTED LOGIC ---\n// Add print_details object for the canvas product, as you discovered.\nif (productInfo.blueprint_id === 937) {\n  payload.print_details = {\n    \"print_on_side\": \"mirror\" // Use \"regular\" for print on sides\n  };\n  console.log(`✅ Added print_details object for Canvas Portrait.`);\n}\n// Return the final data\nreturn {\n  json: {\n    ...productInfo,\n    mockup_style: productInfo.mockup_style,\n    printifyPayload: payload\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2624,
        1552
      ],
      "id": "32e59c8b-2e8a-451c-a4f0-6376e18bcaca",
      "name": "Prepare_Printify_Product_Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.printify.com/v1/shops/21658609/products.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.printifyPayload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2416,
        1552
      ],
      "id": "f0d905cf-969e-4f46-8855-352dc68b5d01",
      "name": "Create_Printify_Product",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "QyrLm1DfKVd2QbzS",
          "name": "Printify API Auth"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.printify.com/v1/shops/21658609/products/{{ $('Create_Printify_Product').item.json.id }}/publish.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"title\": true,\n  \"description\": true,\n  \"images\": false,\n  \"variants\": true,\n  \"tags\": true,\n  \"keyFeatures\": true,\n  \"shipping_template\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1856,
        1552
      ],
      "id": "e8b4d013-6f4a-4465-8c32-da7d3856f2c3",
      "name": "Publish_Printify_Product",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "alwaysOutputData": true,
      "maxTries": 5,
      "credentials": {
        "httpHeaderAuth": {
          "id": "QyrLm1DfKVd2QbzS",
          "name": "Printify API Auth"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2800,
        1552
      ],
      "id": "bdcc25cb-ca29-4641-95f5-ccee8afc7b25",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f46f174-b276-433a-a2a8-d11be21fa51f",
              "name": "image_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2688,
        1312
      ],
      "id": "2715f858-b39a-4fc1-a62b-bb85acb5d198",
      "name": "Set_Image_ID"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ef95f814-d688-40a2-807b-65ee4b93962b",
              "name": "product_title_to_find",
              "value": "={{ $('Prepare_Printify_Product_Payload').item.json.printifyPayload.title }}",
              "type": "string"
            },
            {
              "id": "24b43e63-f731-4664-aa97-306bc09ceb41",
              "name": "session_id_tag",
              "value": "={{ $('When Executed by Another Workflow').first().json.session_id }}",
              "type": "string"
            },
            {
              "id": "2e2f8b66-3a65-4a2d-8e9b-7b924f814b82",
              "name": "curated_image_url",
              "value": "={{ JSON.stringify($('Construct_Curated_Mockups').item.json.curatedImageUrls) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1648,
        1552
      ],
      "id": "d52fb237-3ac6-4d49-9a4c-98c22314e804",
      "name": "Preserve_Product_Data"
    },
    {
      "parameters": {
        "jsCode": "const simpleMockupMap = {\n  // Key: blueprint_id\n  12: { // Premium Cotton Unisex T-shirt\n    generatePerVariant: false,\n    template_name: 'template-premium-cotton-unisex-t-shirt',\n    primaryImageKey: 'lifestyle', \n    mockups: [\n      { id: 92584, camera_label: 'lifestyle' },\n      { id: 102044, camera_label: 'front-2' }, \n      { id: 102050, camera_label: 'size-chart' }\n    ]\n  },\n  635: { // Color Accent Mug\n    generatePerVariant: true,\n    template_name: 'template-color-accent-mug',\n    primaryImageKey: 'camera_label=context-2', \n    mockups: [\n      { id: 102762, camera_label: 'context-2' }\n    ]\n  },\n  764: \n  { // Framed poster\n    generatePerVariant: false,\n    template_name: 'template-premium-framed-poster',\n    primaryImageKey: 'camera_label=context-2', \n    mockups: [\n      { id: 89536, camera_label: 'front' }, \n      { id: 89602, camera_label: 'context-1' }\n    ]\n }, \n   937: \n   { // Canvas portrait\n    generatePerVariant: false,\n    template_name: 'template-canvas-portrait',\n    primaryImageKey: 'camera_label=context-2', \n    mockups: [\n      { id:78904 , camera_label: 'side' }, \n      { id: 108121, camera_label: 'context-1' }\n    ]\n }\n};\n\nconst variantSpecificMockups = {\n\n'iphone-case' : {\n\n   template_name: 'template-tough-phone-case-iphone',\n   variants : {\n    '112195' : [{id :105694, camera_label:'front'}],\n    '112197' : [{id :105696, camera_label:'front'}],\n    '112191' : [{id :105690, camera_label:'front'}],\n    '112193' : [{id :105692, camera_label:'front'}],\n    '102547' : [{id :99047, camera_label:'front-and-side'}],\n    '102551' : [{id :99049, camera_label:'front-and-side'}],\n    '102549' : [{id :99048, camera_label:'front-and-side'}],\n    '102553' : [{id :99050, camera_label:'front-and-side'}],\n    '96397' : [{id :87995, camera_label:'front-and-side'}],\n    '96399' : [{id :87997, camera_label:'front-and-side'}],\n    '96401' : [{id :87996, camera_label:'front-and-side'}],\n    '96403' : [{id :87998, camera_label:'front-and-side'}],\n    '75383' : [{id :22089, camera_label:'front-and-side'}],\n    '75385' : [{id :22091, camera_label:'front-and-side'}],\n    '75387' : [{id :22093, camera_label:'front-and-side'}],\n    '75389' : [{id :22095, camera_label:'front-and-side'}]\n    }\n    },\n   'samsung-case' : {\n     template_name: 'template-tough-phone-case-samsung',\n   variants : {\n    '117862' : [{id :109805, camera_label:'front'}],\n    '117864' : [{id :109807, camera_label:'front'}],\n    '117866' : [{id :109803, camera_label:'front'}],\n    '105148' : [{id :102070, camera_label:'front'}],\n    '105150' : [{id :102068, camera_label:'front'}],\n    '105152' : [{id :102066, camera_label:'front'}],\n    '96738' : [{id :86592, camera_label:'front-and-side'}],\n    '96740' : [{id :86594, camera_label:'front-and-side'}],\n    '96742' : [{id :86596, camera_label:'front-and-side'}],\n    '80152' : [{id :46725, camera_label:'front-and-side'}],\n    '80154' : [{id :46727, camera_label:'front-and-side'}],\n    '80156' : [{id :46706, camera_label:'front-and-side'}],\n    '77841' : [{id :40181, camera_label:'front-and-side'}],\n    '77843' : [{id :40183, camera_label:'front-and-side'}],\n    '77845' : [{id :40185, camera_label:'front-and-side'}],\n    '79425' : [{id :41187, camera_label:'front-and-side'}] \n    }\n    }\n    };\n\nconst createdProduct = $input.item.json;\nconst productInfo = $('Prepare_Printify_Product_Payload').item.json;\nconst blueprintId = productInfo.blueprint_id;\nconst mockupStyle = productInfo.mockup_style; // Get the style key\nconst requiredVariantIds = productInfo.required_variant_ids;\n\nconst newProductId = createdProduct.id;\nconst curatedImageUrls = [];\n\n// First, check if there's a detailed, variant-specific recipe for this style\nif (mockupStyle && variantSpecificMockups[mockupStyle]) {\n  console.log(`🚀 Using detailed variant-specific logic for style: ${mockupStyle}`);\n  const config = variantSpecificMockups[mockupStyle];\n  const templateName = config.template_name;\n  const enabledVariants = createdProduct.variants.filter(v => requiredVariantIds.includes(v.id));\n\n  // --- Logic to prioritize the iPhone 16 Pro variant ---\n\n  // Set the confirmed variant ID for the iPhone 16 Pro as the primary one.\n  const primaryVariantId = '112191'; \n\n  // Separate the primary variant from the others\n  const primaryVariant = enabledVariants.find(v => v.id == primaryVariantId);\n  const otherVariants = enabledVariants.filter(v => v.id != primaryVariantId);\n\n  // Helper function to add mockups to the array to avoid repeating code\n  const addMockupsForVariant = (variant) => {\n    if (!variant) return;\n    const mockupsForThisVariant = config.variants[variant.id];\n    if (mockupsForThisVariant) {\n      for (const mockup of mockupsForThisVariant) {\n        const imageUrl = `https://images.printify.com/mockup/${newProductId}/${variant.id}/${mockup.id}/${templateName}.jpg?camera_label=${mockup.camera_label}`;\n        curatedImageUrls.push(imageUrl);\n      }\n    }\n  };\n\n  // 1. Process the primary variant FIRST to ensure its image is at the start of the list\n  addMockupsForVariant(primaryVariant);\n\n  // 2. Process all other variants AFTERWARD\n  for (const variant of otherVariants) {\n    addMockupsForVariant(variant);\n  }\n  // --- END of new logic ---\n} \n// If not, fall back to our simple logic for mugs, t-shirts, etc.\nelse if (simpleMockupMap[blueprintId]) {\n  console.log(`🚀 Using simple logic for Blueprint ID: ${blueprintId}`);\n  const config = simpleMockupMap[blueprintId];\n  if (config.generatePerVariant) {\n    const enabledVariants = createdProduct.variants.filter(v => requiredVariantIds.includes(v.id));\n    for (const variant of enabledVariants) {\n      for (const mockup of config.mockups) {\n        const imageUrl = `https://images.printify.com/mockup/${newProductId}/${variant.id}/${mockup.id}/${config.template_name}.jpg?camera_label=${mockup.camera_label}`;\n        curatedImageUrls.push(imageUrl);\n      }\n    }\n  } else {\n    const defaultVariant = createdProduct.variants.find(v => v.is_default);\n    if (!defaultVariant) { throw new Error(`Could not find a default variant for product ${newProductId}`); }\n    const referenceVariantId = defaultVariant.id;\n    for (const mockup of config.mockups) {\n      const imageUrl = `https://images.printify.com/mockup/${newProductId}/${referenceVariantId}/${mockup.id}/${config.template_name}.jpg?camera_label=${mockup.camera_label}`;\n      curatedImageUrls.push(imageUrl);\n    }\n  }\n} \nelse {\n  console.warn(`⚠️ No mockup configuration found for blueprint_id: ${blueprintId} or style: ${mockupStyle}.`);\n}\n\nreturn [{\n  json: {\n    ...createdProduct,\n    curatedImageUrls: curatedImageUrls\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2064,
        1552
      ],
      "id": "0f62570d-1f1a-4b40-a123-d3ffaac8091e",
      "name": "Construct_Curated_Mockups"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://j4zewh-kg.myshopify.com/admin/api/2025-04/graphql.json",
        "query": "query findProductByTitleAndTag($query: String!) {\n  products(first: 1, query: $query) {\n    edges {\n      node {\n        id\n        title\n        variants(first: 100) {\n          edges {\n            node {\n              id\n              title           \n            }\n          }\n        }\n      }\n    }\n  }\n}",
        "variables": "={\n  \"query\": \"title:'{{ $('Preserve_Product_Data').item.json.product_title_to_find }}' AND tag:'{{ $('Preserve_Product_Data').item.json.session_id_tag }}'\"\n}"
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        -1248,
        1552
      ],
      "id": "688e293d-6385-49c5-abf7-11df9b223ceb",
      "name": "Search Shopify Product (GraphQL)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "878XnnwYx10R4wXG",
          "name": "Shopify"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// // This node splits the single list of mockups into individual items to be processed one by one.\n\n// const inputData = $input.item.json;\n\n// // Get the Shopify Product ID from the search result\n// const shopifyProductId = inputData.data.products.edges[0]?.node.id;\n// if (!shopifyProductId) {\n//   throw new Error(\"Could not find Shopify Product ID in the merged data.\");\n// }\n\n// // Parse the string of URLs into a real array\n// const curatedImageUrls = JSON.parse(inputData.curated_image_url);\n\n// const outputItems = [];\n\n// // Create a separate n8n item for each URL\n// for (const imageUrl of curatedImageUrls) {\n//   outputItems.push({\n//     json: {\n//       productId: shopifyProductId,\n//       curatedImageUrl: imageUrl\n//     }\n//   });\n// }\n\n// return outputItems;\n\n\n\n// This node now also creates a unique \"fingerprint\" for each image using the alt text.\n\nconst inputData = $input.item.json;\nconst shopifyProductId = inputData.data.products.edges[0]?.node.id;\nif (!shopifyProductId) {\n  throw new Error(\"Could not find Shopify Product ID.\");\n}\nconst curatedImageUrls = JSON.parse(inputData.curated_image_url);\nconst outputItems = [];\n\nfor (const imageUrl of curatedImageUrls) {\n  // Deconstruct the URL to get the unique parts\n  const urlParts = imageUrl.split('/');\n  const printifyProductId = urlParts[4];\n  const printifyVariantId = urlParts[5];\n  const printifyMockupId = urlParts[6];\n\n  // Create a unique, predictable fingerprint. Example: \"ppid-pvid-pmid\"\n  const uniqueAltText = `ppid-${printifyProductId}-pvid-${printifyVariantId}-pmid-${printifyMockupId}`;\n\n  outputItems.push({\n    json: {\n      productId: shopifyProductId,\n      curatedImageUrl: imageUrl,\n      uniqueAltText: uniqueAltText // Our new fingerprint\n    }\n  });\n}\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        1552
      ],
      "id": "106c343e-3873-43d3-811b-3920569235f1",
      "name": "Split Mockups For Individual Upload"
    },
    {
      "parameters": {
        "url": "={{ $json.curatedImageUrl }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "mockup"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -384,
        1456
      ],
      "id": "298be775-5c76-4eb6-a72f-13ef9fbdebbb",
      "name": "Download curated image",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "QyrLm1DfKVd2QbzS",
          "name": "Printify API Auth"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://j4zewh-kg.myshopify.com/admin/api/2025-04/graphql.json",
        "query": "mutation stagedUploadsCreate($input: [StagedUploadInput!]!) {\n  stagedUploadsCreate(input: $input) {\n    stagedTargets {\n      url\n      resourceUrl\n      parameters { name value }\n    }\n    userErrors { field message }\n  }\n}\n",
        "variables": "{\n  \"input\": [\n    {\n      \"filename\": \"myfile.jpg\",\n      \"mimeType\": \"image/jpeg\",\n      \"resource\": \"IMAGE\",\n      \"httpMethod\": \"PUT\"\n    }\n  ]\n}\n",
        "responseFormat": "string",
        "dataPropertyName": "mockup"
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        -368,
        1648
      ],
      "id": "3d43ae46-9eb9-47b2-9e38-f8e2f7805ee8",
      "name": "staged upload1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "878XnnwYx10R4wXG",
          "name": "Shopify"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.mockup.data.stagedUploadsCreate.stagedTargets[0].url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "image/jpeg"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "mockup",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        1408
      ],
      "id": "be525da1-27e0-4a0d-ad3f-ef0d1d6ef647",
      "name": "PUT upload image",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -160,
        1520
      ],
      "id": "64d2a17b-773b-4355-bc2b-65565bdce3d9",
      "name": "Merge2"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const target = item.json.mockup.data.stagedUploadsCreate.stagedTargets[0];\n  return {\n    json: {\n      productId: item.json.productId,\n      curatedImageUrl: item.json.curatedImageUrl,\n      resourceUrl: target.resourceUrl,\n      uniqueAltText: item.json.uniqueAltText,\n      packagedData: item.json.packagedData\n    },\n    binary: item.binary // preserve binary if needed\n  }\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        1600
      ],
      "id": "a52b8834-bdeb-4392-93ff-d4f416d995a7",
      "name": "Output filtering"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        16,
        1600
      ],
      "id": "5fdb5b33-a582-419a-be5f-348181ef4af9",
      "name": "Merge3"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://j4zewh-kg.myshopify.com/admin/api/2025-04/graphql.json",
        "query": "mutation productCreateMedia($productId: ID!, $media: [CreateMediaInput!]!) {\n  productCreateMedia(productId: $productId, media: $media) {\n    media {\n      alt\n      mediaContentType\n      status\n      preview {\n        image {\n          url\n        }\n      }\n    }\n    mediaUserErrors {\n      field\n      message\n    }\n    product {\n      id\n      title\n    }\n  }\n}\n",
        "variables": "={{\n  {\n    \"productId\": $json.productId,\n    \"media\": [\n      {\n        \"alt\": $json.uniqueAltText,\n        \"mediaContentType\": \"IMAGE\",\n        \"originalSource\": $json.resourceUrl\n      }\n    ]\n  }\n}}"
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        464,
        1600
      ],
      "id": "f55dc369-8ca7-48ec-bb08-f7ffa94d3f94",
      "name": "Attaching image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "878XnnwYx10R4wXG",
          "name": "Shopify"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://j4zewh-kg.myshopify.com/admin/api/2025-04/graphql.json",
        "query": "query getProductMediaStatus($id: ID!) {\n  product(id: $id) {\n    id\n    media(first: 25) {\n      edges {\n        node {\n          ... on MediaImage {\n            id\n            status\n            alt   \n            image {\n              id\n              url\n            }\n          }\n        }\n      }\n    }\n  }\n}",
        "variables": "={{ { \"id\": $json.data?.productCreateMedia?.product?.id || $json.processedProductData?.id } }}"
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        624,
        1584
      ],
      "id": "c712c6a8-c2e2-4882-8113-a8e04c8fbcef",
      "name": "Refetch Product Media",
      "credentials": {
        "httpHeaderAuth": {
          "id": "878XnnwYx10R4wXG",
          "name": "Shopify"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// This is the final, robust version. It gets all data from the Merge node that runs right before it.\n\n// --- 1. GATHER ALL DATA ---\n// The data is now perfectly combined in the input.\nconst readyProductData = $input.item.json.data.product; \nconst packagedData = $input.item.json.packagedData;\n\nconst printifyProduct = packagedData.printifyProduct;\nconst shopifyProduct = packagedData.shopifyProduct;\nconst allCuratedImageUrls = packagedData.allCuratedImageUrls;\n\n// --- 2. BUILD THE MAPS (No changes here) ---\nconst fingerprintMediaMap = new Map();\nreadyProductData.media.edges.forEach(edge => {\n  const mediaNode = edge.node;\n  if (mediaNode.alt && mediaNode.id) {\n    fingerprintMediaMap.set(mediaNode.alt, mediaNode.id);\n  }\n});\n\nconst shopifyVariantMap = new Map();\nshopifyProduct.variants.edges.forEach(edge => {\n  if (edge.node) {\n    shopifyVariantMap.set(edge.node.title, edge.node.id);\n  }\n});\n\n// --- 3. ASSEMBLE THE FINAL PAYLOAD (No changes here) ---\nconst variantsUpdatePayload = [];\nconst assignedVariants = new Set(); \n\nfor (const printifyVariant of printifyProduct.variants) {\n    const shopifyVariantId = shopifyVariantMap.get(printifyVariant.title);\n    const primaryImageUrl = allCuratedImageUrls.find(url => url.includes(`/${printifyVariant.id}/`));\n\n    if (shopifyVariantId && primaryImageUrl && !assignedVariants.has(shopifyVariantId)) {\n        const urlParts = primaryImageUrl.split('/');\n        const printifyProductId = urlParts[4];\n        const printifyMockupId = urlParts[6];\n        const fingerprint = `ppid-${printifyProductId}-pvid-${printifyVariant.id}-pmid-${printifyMockupId}`;\n        const shopifyMediaId = fingerprintMediaMap.get(fingerprint);\n\n        if (shopifyMediaId) {\n            variantsUpdatePayload.push({\n                id: shopifyVariantId,\n                mediaId: shopifyMediaId\n            });\n            assignedVariants.add(shopifyVariantId);\n        }\n    }\n}\n\n// --- 4. RETURN THE FINAL COMMAND ---\nreturn {\n    json: {\n        productId: shopifyProduct.id,\n        variants: variantsUpdatePayload\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        1584
      ],
      "id": "4944bc79-74f5-4135-9f48-7dfaff9488e3",
      "name": "Final assignment"
    },
    {
      "parameters": {
        "jsCode": "// This node gathers all the data we need for the final assignment\n// and packages it up so it doesn't get lost in the loop.\n\nconst mergedData = $input.item.json;\nconst printifyProduct = $('Create_Printify_Product').item.json;\nconst shopifyProduct = $('Search Shopify Product (GraphQL)').item.json.data.products.edges[0]?.node;\nconst allCuratedImageUrls = JSON.parse($('Preserve_Product_Data').item.json.curated_image_url);\n\nconst packagedData = {\n  printifyProduct: printifyProduct,\n  shopifyProduct: shopifyProduct,\n  allCuratedImageUrls: allCuratedImageUrls\n};\n\nreturn {\n  json: {\n    ...mergedData,\n    packagedData: packagedData // Our new \"baton\"\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        1552
      ],
      "id": "93cf760b-062b-48da-ba99-1d0da059518a",
      "name": "Package All Required Data"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        832,
        1584
      ],
      "id": "12e15bd0-8f7e-42eb-a2a9-729a14583f46",
      "name": "Merge4"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://j4zewh-kg.myshopify.com/admin/api/2025-04/graphql.json",
        "query": "mutation productVariantsBulkUpdate($productId: ID!, $variants: [ProductVariantsBulkInput!]!) {\n  productVariantsBulkUpdate(productId: $productId, variants: $variants) {\n    product {\n      id\n    }\n    userErrors {\n      field\n      message\n    }\n  }\n}",
        "variables": "={{$json}}"
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        1168,
        1584
      ],
      "id": "7e19ea50-d18c-48e9-a521-b3fc6450b224",
      "name": "Assignment to variants",
      "credentials": {
        "httpHeaderAuth": {
          "id": "878XnnwYx10R4wXG",
          "name": "Shopify"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -3696,
        1520
      ],
      "id": "faa89403-7c5a-480b-832a-9e5eee0d9381",
      "name": "Loop Product Templates2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1056,
        1552
      ],
      "id": "67230f2e-b65b-4970-bdb6-99492d30321f",
      "name": "Merge5"
    },
    {
      "parameters": {
        "url": "=https://j4zewh-kg.myshopify.com/admin/api/2023-10/products.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "tags",
              "value": "={{ $json.session_id_to_match }}"
            },
            {
              "name": "title",
              "value": "={{ $json.product_title }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -864,
        3664
      ],
      "id": "7a28e3a3-cc49-431a-85ee-4636193d30aa",
      "name": "SearchShopifyProduct--1",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "878XnnwYx10R4wXG",
          "name": "Shopify"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// In \"Split_Product_Types\" (ID: d1bb84ef-a798-4c7b-8c15-64726de190ca)\nconst items = $input.all(); // Items from \"Merge Customer With Transformations\"\nconst outputItems = [];\n\n// Customer data (item without asset_id, usually from Extract Parameters via the merge)\nconst customerDataItem = items.find(item => item.json && item.json.email && !item.json.asset_id && !item.json.public_id);\n// Image items (items with asset_id/public_id from Transformation node via the merge)\nconst imageItems = items.filter(item => item.json && (item.json.asset_id || item.json.public_id));\n\nif (!customerDataItem) {\n  console.error(\"Split_Product_Types: Customer data not found. Ensure 'Merge Customer With Transformations' is correctly merging.\");\n  return [{ json: { error: \"Customer data item not found.\" } }];\n}\nconst customerData = customerDataItem.json;\n\nif (imageItems.length === 0) {\n  console.warn(\"Split_Product_Types: No image items found to process.\");\n}\n\nimageItems.forEach(item => {\n  const imageJson = item.json; // This is the rich data from the Transformation node\n\n  // promptIndex and theme_name should now be directly available in imageJson\n  const promptIndex = imageJson.promptIndex;\n  const actualThemeName = imageJson.theme_name;\n\n  if (promptIndex === undefined || !actualThemeName) {\n    console.error(`Split_Product_Types: Missing promptIndex or theme_name for image item. Public ID: ${imageJson.public_id}. Skipping.`);\n    return; // Skip this item\n  }\n\n  // Use petname from customerData (more reliable) or fallback to imageJson if it somehow has it\n  const petName = customerData.petname || imageJson.petname || \"Pet\";\n  const petKind = customerData.petkind || imageJson.petkind || \"Pet\";\n  const petGender = $input.first().json.petGender|| imageJson.petgender || \"Pet\";\n  const sessionId = customerData.session_id || imageJson.session_id || Date.now().toString().slice(-8);\n\n  const baseHandle = `${petName.toLowerCase().replace(/\\s+/g, '-')}-${actualThemeName.toLowerCase().replace(/[^a-z0-9-]+/g, '').replace(/\\s+/g, '-')}`;\n  const sessionSuffix = sessionId.slice(-8);\n  const uniqueHandle = `${baseHandle}-${sessionSuffix}`;\n\n  // Use spread operator to preserve original field order, then override specific fields\n  outputItems.push({\n    json: {\n      // Start with customer data\n      session_id: sessionId,\n      email: customerData.email || imageJson.email,\n      petname: petName,\n      petGender: petGender,\n      petKind: customerData.petKind || imageJson.petKind,\n      customer_name: customerData.customer_name || imageJson.customer_name,\n      \n      // Include all cloudinary data (preserves original order)\n      ...imageJson,\n      \n      // Override/ensure these specific fields are set correctly\n      promptIndex: promptIndex,\n      collection_name: `${petName} ${actualThemeName}`,\n      collection_handle: uniqueHandle,\n      theme_name: actualThemeName,\n      collection_image_url: imageJson.original_url // Use original URL for collection image\n    }\n  });\n});\n\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4592,
        1520
      ],
      "id": "e33bccb8-3f49-49f1-863b-c569d49d102f",
      "name": "Split_Product_Types2"
    },
    {
      "parameters": {
        "amount": 25
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -3504,
        1728
      ],
      "id": "f27d44d8-2818-4a9c-8c75-8467adf393da",
      "name": "Wait3",
      "webhookId": "971797f8-0f5e-4f31-a2d2-f93dbb275ceb"
    },
    {
      "parameters": {
        "jsCode": "// This node's purpose is to control what data the loop's \"Done\" output collects.\n// It looks back and fetches the result from the 'Create_Printify_Product' node\n// from this specific iteration.\nconst productData = $('Create_Printify_Product').item;\n\n// By returning this specific data, we ensure it's what gets aggregated\n// after all the loop iterations are complete.\nreturn productData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        1584
      ],
      "id": "266c8f23-8c5d-4f11-a6ef-5997c00f1198",
      "name": "Set Iteration Output"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "160d8c08-1987-48d8-9536-b610b9b82412",
              "leftValue": "={{ $json.data.products.edges.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -608,
        1312
      ],
      "id": "95dc9fb0-fb08-4402-bc0f-4d000d0c1a01",
      "name": "Check if Product Found"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -848,
        1296
      ],
      "id": "cff0bbc4-f976-4b3c-81a9-f014e6b08aa6",
      "name": "Wait Before Retry",
      "webhookId": "b7f6f934-f370-4507-ac83-dd918caadd82"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "72c3c872-b7a3-4827-93d0-1c7a71d6e7d2",
              "leftValue": "={{ $json.data.products.edges.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        912,
        -480
      ],
      "id": "b6a5030a-01ce-43de-a8c8-1cef59143821",
      "name": "Verify Success or Failure"
    },
    {
      "parameters": {
        "errorMessage": "=Failed to find Shopify product \"{{ $('Preserve_Product_Data').item.json.product_title_to_find }}\" after 6 attempts."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1168,
        -608
      ],
      "id": "f5486f88-e999-414a-a845-7f66aed5e1d3",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1584,
        1584
      ],
      "id": "f4d04dc8-2fa6-48a8-974f-df588e49999f",
      "name": "Wait1",
      "webhookId": "eab56639-596b-4c37-9f33-edd6c92542aa"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -3328,
        1424
      ],
      "id": "c06dcc95-fdac-48ac-b3b7-e51e21300181",
      "name": "Wait5",
      "webhookId": "15cbadbf-330a-404f-8ab6-2b363d5de099"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -3408,
        1552
      ],
      "id": "4b1d5960-28e3-40a5-a647-ce5f8216f597",
      "name": "Wait6",
      "webhookId": "46a41511-f8bc-4965-93c3-c1e07e2cb520"
    },
    {
      "parameters": {
        "amount": 4
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2240,
        1552
      ],
      "id": "daddc1c3-3cc3-485d-8e28-100de91989e9",
      "name": "Wait7",
      "webhookId": "15221961-db37-42e6-8cc8-8bb648a04bbf"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Z8ivsnCwRLsUVze5",
          "mode": "list",
          "cachedResultName": "addToCollectionByGraphQL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -3600,
        1920
      ],
      "name": "Call addProductsToCollection",
      "id": "90a47243-4142-4066-8b98-a5397f499a27"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1488,
        1552
      ],
      "id": "4218d8b0-0c47-477d-bc1a-3ead0f697725",
      "name": "Wait",
      "webhookId": "32632462-c9ad-40c4-b281-ca0feec1a9f6"
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2992,
        1632
      ],
      "id": "6ff60997-4f2b-40da-9afb-4b018b6f983f",
      "name": "WaitBeforeRetry",
      "webhookId": "d627ad09-3da3-4265-a332-e5f3e1155392"
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2928,
        1216
      ],
      "id": "5935b252-8845-4107-82f3-a779d81e7030",
      "name": "WaitBeforeRetry1",
      "webhookId": "d627ad09-3da3-4265-a332-e5f3e1155392"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://honest-ghoul-37248.upstash.io/del/processing_lock",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4128,
        1232
      ],
      "id": "fdd90109-1d8e-4fc9-8909-793369dc7915",
      "name": "ClearProcessingLock",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OU4p8zTKeY9k8OYC",
          "name": "Upstash_new"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://honest-ghoul-37248.upstash.io/llen/myfurryprints_queue",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3936,
        1232
      ],
      "id": "0dd7791a-ded1-461a-bae9-cb90a773defb",
      "name": "CheckQueueForMore",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OU4p8zTKeY9k8OYC",
          "name": "Upstash_new"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7fd4bd14-be92-42ba-991c-009c111e9871",
              "leftValue": "={{ $json.result }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3760,
        1232
      ],
      "id": "7f4a6b6e-e1a1-403d-92db-dbcee952653f",
      "name": "IfQueueHasJobs"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "IZs64ETsRU2JDDNi",
          "mode": "list",
          "cachedResultName": "01-Hagrid-Prod-Printify"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -3520,
        1232
      ],
      "id": "4d7cd4f7-cf51-472a-8fab-cf99897e12a6",
      "name": "Execute Workflow1"
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -240,
        1264
      ],
      "id": "b9c197d4-49c8-4fee-ab52-9f67ec659012",
      "name": "WaitBeforeRetry2",
      "webhookId": "36af7c85-b873-40b3-82da-2ca642f77bf2"
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        112,
        1200
      ],
      "id": "97d4f5a2-3bfa-4d46-aa38-e92fe12410ad",
      "name": "WaitbeforeRetry",
      "webhookId": "6580bd32-1448-4454-ba4e-9a14183eb541"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8439ca5f-397f-441e-805d-305315caff8a",
              "name": "yes",
              "value": "1",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4320,
        1232
      ],
      "id": "ed67e66e-4882-4ef9-9fdb-77f853ece0af",
      "name": "Trigger"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get_Variant_Pricing_From_Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split_Product_Types2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Collections With Products": {
      "main": [
        [
          {
            "node": "Call addProductsToCollection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gather collections": {
      "main": [
        [
          {
            "node": "Merge Collections With Products",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create_shopify_collection": {
      "main": [
        [
          {
            "node": "Map_Printify_Products1",
            "type": "main",
            "index": 0
          },
          {
            "node": "gather collections",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract Collection Data1": {
      "main": [
        [
          {
            "node": "Loop Product Templates2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map_Printify_Products1": {
      "main": [
        [
          {
            "node": "Extract Collection Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload_Image_To_Printify": {
      "main": [
        [
          {
            "node": "Set_Image_ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WaitBeforeRetry1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_Print_Provider_Variants": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WaitBeforeRetry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare_Printify_Product_Payload": {
      "main": [
        [
          {
            "node": "Create_Printify_Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create_Printify_Product": {
      "main": [
        [
          {
            "node": "Wait7",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Publish_Printify_Product": {
      "main": [
        [
          {
            "node": "Preserve_Product_Data",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Prepare_Printify_Product_Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_Image_ID": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Preserve_Product_Data": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construct_Curated_Mockups": {
      "main": [
        [
          {
            "node": "Publish_Printify_Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Shopify Product (GraphQL)": {
      "main": [
        [
          {
            "node": "Check if Product Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Mockups For Individual Upload": {
      "main": [
        [
          {
            "node": "staged upload1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download curated image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download curated image": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "WaitBeforeRetry2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "staged upload1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PUT upload image": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "WaitbeforeRetry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "PUT upload image",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output filtering": {
      "main": [
        [
          {
            "node": "Attaching image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Output filtering",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attaching image": {
      "main": [
        [
          {
            "node": "Refetch Product Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refetch Product Media": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final assignment": {
      "main": [
        [
          {
            "node": "Assignment to variants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Package All Required Data": {
      "main": [
        [
          {
            "node": "Split Mockups For Individual Upload",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Final assignment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assignment to variants": {
      "main": [
        [
          {
            "node": "Set Iteration Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Product Templates2": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Package All Required Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SearchShopifyProduct--1": {
      "main": [
        []
      ]
    },
    "Split_Product_Types2": {
      "main": [
        [
          {
            "node": "Create_shopify_collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Merge Collections With Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Iteration Output": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Product Found": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Before Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before Retry": {
      "main": [
        [
          {
            "node": "Search Shopify Product (GraphQL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Success or Failure": {
      "main": [
        [],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Product Templates2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "Upload_Image_To_Printify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "Get_Print_Provider_Variants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait7": {
      "main": [
        [
          {
            "node": "Construct_Curated_Mockups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Search Shopify Product (GraphQL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WaitBeforeRetry": {
      "main": [
        [
          {
            "node": "Get_Print_Provider_Variants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WaitBeforeRetry1": {
      "main": [
        [
          {
            "node": "Upload_Image_To_Printify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClearProcessingLock": {
      "main": [
        [
          {
            "node": "CheckQueueForMore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckQueueForMore": {
      "main": [
        [
          {
            "node": "IfQueueHasJobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfQueueHasJobs": {
      "main": [
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_Variant_Pricing_From_Sheet": {
      "main": [
        [
          {
            "node": "Trigger",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "WaitBeforeRetry2": {
      "main": [
        [
          {
            "node": "Download curated image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WaitbeforeRetry": {
      "main": [
        [
          {
            "node": "PUT upload image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger": {
      "main": [
        [
          {
            "node": "ClearProcessingLock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "session_id": "68db77494a81a887cf0c9ea3",
          "customer_name": "Daniel Suresh",
          "email": "danielsureshkm@gmail.com",
          "petname": "Sheru",
          "petKind": "Cat",
          "petGender": "Male"
        }
      },
      {
        "json": {
          "asset_id": "b973f230f7c3015505e5bb24aaceac8e",
          "public_id": "68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt1",
          "version": 1759213445,
          "version_id": "037dd6e5e9afb821d03c753399de9e14",
          "signature": "fed4a4d560689de437abf847e969e3863fe88452",
          "width": 1024,
          "height": 1536,
          "format": "jpg",
          "resource_type": "image",
          "created_at": "2025-09-30T06:24:05Z",
          "tags": [],
          "bytes": 170052,
          "type": "upload",
          "etag": "3c9e5f1fec00320aa04179b16eca42c8",
          "placeholder": false,
          "url": "http://res.cloudinary.com/myfurryprints/image/upload/v1759213445/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt1.jpg",
          "secure_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1759213445/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt1.jpg",
          "asset_folder": "68db77494a81a887cf0c9ea3",
          "display_name": "file",
          "existing": false,
          "original_filename": "file",
          "session_id": "68db77494a81a887cf0c9ea3",
          "email": "danielsureshkm@gmail.com",
          "petname": "Sheru",
          "petKind": "Cat",
          "customer_name": "Daniel Suresh",
          "promptIndex": 1,
          "theme_name": "Spa Day Deluxe",
          "customFilename": "68db77494a81a887cf0c9ea3_prompt1",
          "original_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1759213445/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt1.jpg",
          "collection_image_url": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark_k1usnu.png/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt1",
          "transformations": {
            "clothing": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt1",
            "other": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt1",
            "watermark": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark_k1usnu.png/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt1"
          },
          "clothing_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt1",
          "other_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt1"
        }
      },
      {
        "json": {
          "asset_id": "d9bfbb82160d84477ebb975ce5939de2",
          "public_id": "68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt2",
          "version": 1759213445,
          "version_id": "037dd6e5e9afb821d03c753399de9e14",
          "signature": "8955bd639aa2c8a870ab2b0a39bf2655aaaf8053",
          "width": 1024,
          "height": 1536,
          "format": "jpg",
          "resource_type": "image",
          "created_at": "2025-09-30T06:24:05Z",
          "tags": [],
          "bytes": 144914,
          "type": "upload",
          "etag": "b5a295b8f5503d40939c9ed13a9f7c32",
          "placeholder": false,
          "url": "http://res.cloudinary.com/myfurryprints/image/upload/v1759213445/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt2.jpg",
          "secure_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1759213445/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt2.jpg",
          "asset_folder": "68db77494a81a887cf0c9ea3",
          "display_name": "file",
          "existing": false,
          "original_filename": "file",
          "session_id": "68db77494a81a887cf0c9ea3",
          "email": "danielsureshkm@gmail.com",
          "petname": "Sheru",
          "petKind": "Cat",
          "customer_name": "Daniel Suresh",
          "promptIndex": 2,
          "theme_name": "Midnight Snack",
          "customFilename": "68db77494a81a887cf0c9ea3_prompt2",
          "original_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1759213445/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt2.jpg",
          "collection_image_url": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark_k1usnu.png/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt2",
          "transformations": {
            "clothing": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt2",
            "other": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt2",
            "watermark": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark_k1usnu.png/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt2"
          },
          "clothing_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt2",
          "other_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt2"
        }
      },
      {
        "json": {
          "asset_id": "7559b9908892640b4d2c10d1c48dd8b7",
          "public_id": "68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt3",
          "version": 1759213445,
          "version_id": "037dd6e5e9afb821d03c753399de9e14",
          "signature": "f10dc4080196f24f66f5e280936b13630cd5b83e",
          "width": 1024,
          "height": 1536,
          "format": "jpg",
          "resource_type": "image",
          "created_at": "2025-09-30T06:24:05Z",
          "tags": [],
          "bytes": 162578,
          "type": "upload",
          "etag": "17fb6fbd170e828ea4a0f176af5008d5",
          "placeholder": false,
          "url": "http://res.cloudinary.com/myfurryprints/image/upload/v1759213445/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt3.jpg",
          "secure_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1759213445/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt3.jpg",
          "asset_folder": "68db77494a81a887cf0c9ea3",
          "display_name": "file",
          "existing": false,
          "original_filename": "file",
          "session_id": "68db77494a81a887cf0c9ea3",
          "email": "danielsureshkm@gmail.com",
          "petname": "Sheru",
          "petKind": "Cat",
          "customer_name": "Daniel Suresh",
          "promptIndex": 3,
          "theme_name": "Victorian Portrait",
          "customFilename": "68db77494a81a887cf0c9ea3_prompt3",
          "original_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1759213445/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt3.jpg",
          "collection_image_url": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark_k1usnu.png/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt3",
          "transformations": {
            "clothing": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt3",
            "other": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt3",
            "watermark": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark_k1usnu.png/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt3"
          },
          "clothing_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt3",
          "other_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt3"
        }
      },
      {
        "json": {
          "asset_id": "1942ba040516f1c5bf33686f11462f4e",
          "public_id": "68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt4",
          "version": 1759213445,
          "version_id": "037dd6e5e9afb821d03c753399de9e14",
          "signature": "b3b58bf5c6c6f0e5972b4988e3ba713932f319ba",
          "width": 1024,
          "height": 1536,
          "format": "jpg",
          "resource_type": "image",
          "created_at": "2025-09-30T06:24:05Z",
          "tags": [],
          "bytes": 169777,
          "type": "upload",
          "etag": "e631ea85a913de63791bba6430cc6686",
          "placeholder": false,
          "url": "http://res.cloudinary.com/myfurryprints/image/upload/v1759213445/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt4.jpg",
          "secure_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1759213445/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt4.jpg",
          "asset_folder": "68db77494a81a887cf0c9ea3",
          "display_name": "file",
          "existing": false,
          "original_filename": "file",
          "session_id": "68db77494a81a887cf0c9ea3",
          "email": "danielsureshkm@gmail.com",
          "petname": "Sheru",
          "petKind": "Cat",
          "customer_name": "Daniel Suresh",
          "promptIndex": 4,
          "theme_name": "Harry Petter",
          "customFilename": "68db77494a81a887cf0c9ea3_prompt4",
          "original_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1759213445/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt4.jpg",
          "collection_image_url": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark_k1usnu.png/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt4",
          "transformations": {
            "clothing": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt4",
            "other": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt4",
            "watermark": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark_k1usnu.png/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt4"
          },
          "clothing_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt4",
          "other_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt4"
        }
      },
      {
        "json": {
          "asset_id": "300c82614e9c7588a7c87cf0674010b5",
          "public_id": "68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt5",
          "version": 1759213445,
          "version_id": "037dd6e5e9afb821d03c753399de9e14",
          "signature": "070131f6d32bbc4086c9db736b9f2372bf2e60f8",
          "width": 1024,
          "height": 1536,
          "format": "jpg",
          "resource_type": "image",
          "created_at": "2025-09-30T06:24:05Z",
          "tags": [],
          "bytes": 161592,
          "type": "upload",
          "etag": "0aaced9b000269896bdf05927a8388e4",
          "placeholder": false,
          "url": "http://res.cloudinary.com/myfurryprints/image/upload/v1759213445/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt5.jpg",
          "secure_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1759213445/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt5.jpg",
          "asset_folder": "68db77494a81a887cf0c9ea3",
          "display_name": "file",
          "existing": false,
          "original_filename": "file",
          "session_id": "68db77494a81a887cf0c9ea3",
          "email": "danielsureshkm@gmail.com",
          "petname": "Sheru",
          "petKind": "Cat",
          "customer_name": "Daniel Suresh",
          "promptIndex": 5,
          "theme_name": "Corporate Pet",
          "customFilename": "68db77494a81a887cf0c9ea3_prompt5",
          "original_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1759213445/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt5.jpg",
          "collection_image_url": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark_k1usnu.png/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt5",
          "transformations": {
            "clothing": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt5",
            "other": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt5",
            "watermark": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark_k1usnu.png/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt5"
          },
          "clothing_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt5",
          "other_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt5"
        }
      },
      {
        "json": {
          "asset_id": "3b8411fa886ed494e23822fe0444cac9",
          "public_id": "68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt6",
          "version": 1759213445,
          "version_id": "037dd6e5e9afb821d03c753399de9e14",
          "signature": "ea110aa7823bb5bf7a27f75f342ff2c1fd7b32d8",
          "width": 1024,
          "height": 1536,
          "format": "jpg",
          "resource_type": "image",
          "created_at": "2025-09-30T06:24:05Z",
          "tags": [],
          "bytes": 153179,
          "type": "upload",
          "etag": "4ae6fe61e0baa7728b522b335318d3e8",
          "placeholder": false,
          "url": "http://res.cloudinary.com/myfurryprints/image/upload/v1759213445/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt6.jpg",
          "secure_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1759213445/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt6.jpg",
          "asset_folder": "68db77494a81a887cf0c9ea3",
          "display_name": "file",
          "existing": false,
          "original_filename": "file",
          "session_id": "68db77494a81a887cf0c9ea3",
          "email": "danielsureshkm@gmail.com",
          "petname": "Sheru",
          "petKind": "Cat",
          "customer_name": "Daniel Suresh",
          "promptIndex": 6,
          "theme_name": "Home Yoga",
          "customFilename": "68db77494a81a887cf0c9ea3_prompt6",
          "original_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1759213445/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt6.jpg",
          "collection_image_url": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark_k1usnu.png/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt6",
          "transformations": {
            "clothing": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt6",
            "other": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt6",
            "watermark": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark_k1usnu.png/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt6"
          },
          "clothing_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt6",
          "other_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt6"
        }
      },
      {
        "json": {
          "asset_id": "ea31fb1b9ba7d50f7d3b04cd4e0d8ba4",
          "public_id": "68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt7",
          "version": 1759213445,
          "version_id": "037dd6e5e9afb821d03c753399de9e14",
          "signature": "30efbf03f21047fb04ccdbd7a070ecf7e4dc44d2",
          "width": 1024,
          "height": 1536,
          "format": "jpg",
          "resource_type": "image",
          "created_at": "2025-09-30T06:24:05Z",
          "tags": [],
          "bytes": 121399,
          "type": "upload",
          "etag": "e0a97a4aa20711c428f84ef80c98d581",
          "placeholder": false,
          "url": "http://res.cloudinary.com/myfurryprints/image/upload/v1759213445/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt7.jpg",
          "secure_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1759213445/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt7.jpg",
          "asset_folder": "68db77494a81a887cf0c9ea3",
          "display_name": "file",
          "existing": false,
          "original_filename": "file",
          "session_id": "68db77494a81a887cf0c9ea3",
          "email": "danielsureshkm@gmail.com",
          "petname": "Sheru",
          "petKind": "Cat",
          "customer_name": "Daniel Suresh",
          "promptIndex": 7,
          "theme_name": "Game of Thrones",
          "customFilename": "68db77494a81a887cf0c9ea3_prompt7",
          "original_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1759213445/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt7.jpg",
          "collection_image_url": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark_k1usnu.png/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt7",
          "transformations": {
            "clothing": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt7",
            "other": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt7",
            "watermark": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark_k1usnu.png/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt7"
          },
          "clothing_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt7",
          "other_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt7"
        }
      },
      {
        "json": {
          "asset_id": "687da11dbc9d820d63aed78f648b59bc",
          "public_id": "68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt9",
          "version": 1759213445,
          "version_id": "037dd6e5e9afb821d03c753399de9e14",
          "signature": "a779167eb45567b0a2331838236e39f2785d578e",
          "width": 1024,
          "height": 1536,
          "format": "jpg",
          "resource_type": "image",
          "created_at": "2025-09-30T06:24:05Z",
          "tags": [],
          "bytes": 267564,
          "type": "upload",
          "etag": "e6cc661dc7e3ff5aebc7780923f31c26",
          "placeholder": false,
          "url": "http://res.cloudinary.com/myfurryprints/image/upload/v1759213445/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt9.jpg",
          "secure_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1759213445/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt9.jpg",
          "asset_folder": "68db77494a81a887cf0c9ea3",
          "display_name": "file",
          "existing": false,
          "original_filename": "file",
          "session_id": "68db77494a81a887cf0c9ea3",
          "email": "danielsureshkm@gmail.com",
          "petname": "Sheru",
          "petKind": "Cat",
          "customer_name": "Daniel Suresh",
          "promptIndex": 9,
          "theme_name": "Anime Style",
          "customFilename": "68db77494a81a887cf0c9ea3_prompt9",
          "original_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1759213445/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt9.jpg",
          "collection_image_url": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark_k1usnu.png/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt9",
          "transformations": {
            "clothing": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt9",
            "other": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt9",
            "watermark": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark_k1usnu.png/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt9"
          },
          "clothing_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt9",
          "other_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt9"
        }
      },
      {
        "json": {
          "asset_id": "d46a7334457b008782e7f5756523cc1b",
          "public_id": "68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt10",
          "version": 1759213445,
          "version_id": "037dd6e5e9afb821d03c753399de9e14",
          "signature": "5d8ff23b7b654e4181b712a85395135ccf77474c",
          "width": 1024,
          "height": 1536,
          "format": "jpg",
          "resource_type": "image",
          "created_at": "2025-09-30T06:24:05Z",
          "tags": [],
          "bytes": 196997,
          "type": "upload",
          "etag": "5c0fe36d990433d4f9a83d7f4c6f51f9",
          "placeholder": false,
          "url": "http://res.cloudinary.com/myfurryprints/image/upload/v1759213445/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt10.jpg",
          "secure_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1759213445/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt10.jpg",
          "asset_folder": "68db77494a81a887cf0c9ea3",
          "display_name": "file",
          "existing": false,
          "original_filename": "file",
          "session_id": "68db77494a81a887cf0c9ea3",
          "email": "danielsureshkm@gmail.com",
          "petname": "Sheru",
          "petKind": "Cat",
          "customer_name": "Daniel Suresh",
          "promptIndex": 10,
          "theme_name": "The Viking",
          "customFilename": "68db77494a81a887cf0c9ea3_prompt10",
          "original_url": "https://res.cloudinary.com/myfurryprints/image/upload/v1759213445/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt10.jpg",
          "collection_image_url": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark_k1usnu.png/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt10",
          "transformations": {
            "clothing": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt10",
            "other": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt10",
            "watermark": "https://res.cloudinary.com/myfurryprints/image/upload/l_MFP-Watermark_k1usnu.png/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt10"
          },
          "clothing_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/l_Mask3larger_jpm63l,w_4000,fl_cutter/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt10",
          "other_url": "https://res.cloudinary.com/myfurryprints/image/upload/e_upscale/f_webp/c_scale,w_4000/68db77494a81a887cf0c9ea3/68db77494a81a887cf0c9ea3_prompt10"
        }
      }
    ]
  },
  "versionId": "aa83ad1e-15b9-4f6a-b54d-74b84d8bf34b",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-09-15T05:08:03.011Z",
      "createdAt": "2025-09-15T05:08:03.011Z",
      "role": "workflow:owner",
      "workflowId": "JsDBWbsoYaKBkGmW",
      "projectId": "lLSHos7ohHn7AjNm",
      "project": {
        "updatedAt": "2025-06-14T17:25:02.061Z",
        "createdAt": "2025-06-14T17:13:49.092Z",
        "id": "lLSHos7ohHn7AjNm",
        "name": "Muhasin Rashid <muhasin@gauger.in>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-06-14T17:13:49.092Z",
            "createdAt": "2025-06-14T17:13:49.092Z",
            "userId": "f88f8c62-813a-499e-aaee-b5f4da43c5a7",
            "projectId": "lLSHos7ohHn7AjNm",
            "user": {
              "updatedAt": "2025-12-18T05:00:03.582Z",
              "createdAt": "2025-06-14T17:13:45.907Z",
              "id": "f88f8c62-813a-499e-aaee-b5f4da43c5a7",
              "email": "muhasin@gauger.in",
              "firstName": "Muhasin",
              "lastName": "Rashid",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-06-14T17:25:40.417Z",
                "personalization_survey_n8n_version": "1.97.1",
                "automationGoalDevops": [
                  "other"
                ],
                "automationGoalDevopsOther": "Product",
                "companyType": "ecommerce",
                "role": "engineering"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "JsDBWbsoYaKBkGmW",
                "userActivatedAt": 1758182279933,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1752395252283
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-18",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-06-15T17:28:03.681Z",
      "createdAt": "2025-06-15T17:28:03.681Z",
      "id": "0PmTkj5wyJ1G9I0R",
      "name": "dev"
    },
    {
      "updatedAt": "2025-07-23T05:50:47.125Z",
      "createdAt": "2025-07-23T05:50:47.125Z",
      "id": "35DLj8FhqJbXBz8P",
      "name": "printify"
    }
  ],
  "activeVersion": null
}