workflows/uncategorized/04-Hermes.json
{
  "updatedAt": "2025-08-11T07:01:31.915Z",
  "createdAt": "2025-07-02T06:12:36.556Z",
  "id": "n5DrLFaE5bv9SdQw",
  "name": "04-Hermes",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        112,
        80
      ],
      "id": "1da460ee-559d-4c9e-8141-df09462535e1",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://j4zewh-kg.myshopify.com/admin/api/2025-04/pages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"page\": {\n    \"title\": \"{{ $json.petname }}'\", \n    \"handle\": \"{{ $json.page_handle }}\",       \n    \"body_html\": \"<p>Gallery page for {{ $json.petname }}. Description managed in GemPages.</p>\", \n    \"template_suffix\": \"gp-template-569295308895290348\", \n    \"published\": true,\n    \"metafields\": [\n      {\n        \"key\": \"pet_name\", \n        \"namespace\": \"custom\", \n        \"value\": \"{{ $json.petname }}\", \n        \"type\": \"single_line_text_field\" \n      },\n      {\n        \"key\": \"gallery_description\", \n        \"namespace\": \"custom\", \n        \"value\": \"{{ $json.gallery_description }}\", \n        \"type\": \"multi_line_text_field\" \n      },\n      {\n        \"key\": \"collection_ids\", \n        \"namespace\": \"custom\", \n        \"value\": \"{{ $json.collection_handles }}\", \n        \"type\": \"single_line_text_field\"\n      }\n    ]\n  }\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "d89b1699-112b-46ae-99b8-2ea7d7cbcf6e",
      "name": "Create Gallery Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1568,
        80
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "878XnnwYx10R4wXG",
          "name": "Shopify"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const pageResponse = $('Create Gallery Page').all()[0].json;\nconst config = $('Set Configuration').all()[0].json;\nconst processedData = $('Process Collections').all()[0].json;\n\n// Check if we have a successful response (201 Created)\nif (pageResponse.statusCode === 201 && pageResponse.body && pageResponse.body.page) {\n  const page = pageResponse.body.page;\n  const pageUrl = `https://${config.shopify_store_url.replace('.myshopify.com', '')}.myshopify.com/pages/${page.handle}`;\n  \n  return {\n    success: true,\n    page_id: page.id,\n    page_handle: page.handle,\n    page_url: pageUrl,\n    admin_url: `https://${config.shopify_store_url}/admin/pages/${page.id}`,\n    collections_included: processedData.collections.map(c => ({\n      handle: c.handle,\n      title: c.title,\n      products_count: c.products_count\n    })),\n    gallery_title: processedData.gallery_title,\n    metafields_set: [\n      'custom.gallery_title',\n      'custom.gallery_description',\n      'custom.collection_ids'\n    ],\n    created_at: new Date().toISOString()\n  };\n} else {\n  throw new Error(`Failed to create page: Status ${pageResponse.statusCode} - ${pageResponse.statusMessage}`);\n}"
      },
      "id": "e8404814-a48c-4a17-af0c-306af243c45c",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const config = $input.item.json;\n\n// ✅ Ensure we have a valid collectionHandlesString\nif (!config.collectionHandlesString || typeof config.collectionHandlesString !== 'string') {\n  throw new Error(\"Missing or invalid 'collectionHandlesString'\");\n}\n\n// ✅ Build minimal fake 'collections' array just from handles\nconst handles = config.collectionHandlesString\n  .split(',')\n  .map(h => h.trim())\n  .filter(h => h.length > 0);\n\n// You can optionally attach placeholder metadata if needed later\nconst collections = handles.map(h => ({\n  handle: h,\n  title: h.replace(/-/g, ' ').replace(/\\b\\w/g, l => l.toUpperCase()), // e.g., \\\"sammy-spa-day\\\" → \\\"Sammy Spa Day\\\"\n  products_count: 1\n}));\n\n// --- CORRECTED: Include petname and ensure gallery_description is passed through ---\nconst pageData = {\n  collections,\n  collection_handles: handles.join(','),\n  gallery_title: config.gallery_title || 'My Art Gallery', // Keep this for compatibility if needed later, but API call ignores it\n  gallery_description: config.gallery_description || 'Enjoy your custom artwork!', // Pass through description from input\n  page_handle: 'myfurryprints-' + Date.now().toString().slice(-4),\n  petname: config.petname // <--- ADDED: Include petname from input\n};\n\nreturn [{ json: pageData }];"
      },
      "id": "24d07091-a873-41f4-85ab-a5a7254a2473",
      "name": "Process Collections",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        80
      ]
    },
    {
      "parameters": {
        "operation": "sendTemplate",
        "templateId": 1,
        "receipients": "={{ $('Set Configuration').item.json.email + ', support@myfurryprints.com'}}",
        "additionalFields": {
          "templateParameters": {
            "parameterValues": {
              "parameters": "=registrationUrl={{ $json.page_url }}"
            }
          }
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.sendInBlue",
      "typeVersion": 1,
      "position": [
        2144,
        80
      ],
      "id": "39594d66-24d2-412b-a601-9e9f46bdeb3c",
      "name": "Brevo",
      "credentials": {
        "sendInBlueApi": {
          "id": "iKQewRm9lysjCraU",
          "name": "Brevo account"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "shopify_store_url",
              "stringValue": "j4zewh-kg.myshopify.com"
            },
            {
              "name": "collection_handles",
              "stringValue": "={{ $json.collectionHandlesString.toString() }}"
            },
            {
              "name": "email",
              "stringValue": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "efc2b11b-db3e-4562-8eae-36a7109d65b4",
      "name": "Set Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        912,
        80
      ]
    },
    {
      "parameters": {
        "content": "",
        "height": 300,
        "width": 2300,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "de282cd7-0b23-4e8c-9ba8-0fa1088ab3e0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "// Node Name: Extract Merged Data\n// Receives the array of items from the Merge node output.\n// Finds and consolidates collection handles string, email, and petname.\n// Outputs a single item with the consolidated data.\n\nconst items = $input.all(); // Get all items from the merge node output\n\n// Initialize variables to store the data we need to extract\nlet collectionHandlesString = '';\nlet email = '';\nlet petname = '';\n\n// Loop through each item produced by the merge node\nitems.forEach(item => {\n  // Check if the current item has the 'collectionHandlesString' property\n  if (item.json && item.json.collectionHandlesString) {\n    collectionHandlesString = item.json.collectionHandlesString;\n    // Optional: Log that we found it\n    console.log('Found collectionHandlesString:', collectionHandlesString);\n  }\n\n  // Check if the current item has the 'email' property (assuming email and petname are in the same item)\n  if (item.json && item.json.email) {\n    email = item.json.email;\n    petname = item.json.petname || ''; // Also get petname from the same item\n    // Optional: Log that we found user data\n    console.log('Found user data (email, petname):', email, petname);\n  }\n\n  // We don't need to process the items with the 'collect' object for this specific task.\n});\n\n// Check if essential data was found (optional but recommended)\nif (!collectionHandlesString || !email || !petname) {\n    console.warn('One or more required fields not found in merge output:', {\n        collectionHandlesString: collectionHandlesString ? 'Found' : 'Not Found',\n        email: email ? 'Found' : 'Not Found',\n        petname: petname ? 'Found' : 'Not Found'\n    });\n    // You might choose to throw an error here if the data is critical,\n    // or return an item indicating failure, or return with empty values.\n    // For now, we proceed with whatever was found.\n}\n\n\n// Return a single item containing the consolidated data\nreturn [{\n  json: {\n    collectionHandlesString: collectionHandlesString,\n    email: email,\n    petname: petname\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        80
      ],
      "id": "2e9be28b-7e68-4bd7-a5aa-b0a105bc4d37",
      "name": "Consolidate Gallery Data1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "f6g7h8i9-j0k1-2l3m-4n5o-p6q7r8s9t0u1",
              "leftValue": "={{ $('Create Gallery Page').item.json.statusCode }}",
              "rightValue": 201,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "30348e45-d559-43a6-b045-94043df43c64",
      "name": "Validate Gallery Creation1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1744,
        80
      ]
    },
    {
      "parameters": {
        "functionCode": "// Debug what's being passed to Create Gallery Page\nconst passedData = { ...items[0].json };\nreturn [\n  {\n    json: {\n      ...passedData,\n      debug_info: {\n        time: new Date().toISOString(),\n        gallery_title_type: typeof passedData.gallery_title,\n        page_handle_type: typeof passedData.page_handle, \n      }\n    }\n  }\n];"
      },
      "id": "d692a643-ef16-40e8-93d6-fc29ef71999c",
      "name": "Debug Gallery Data1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1360,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all(); // Get all input items\nconst handles = []; // To collect collection handles\n\n// Extract from the first item (where metadata like email, petname, etc. are stored)\nconst firstItem = items[0]?.json || {};\nconst email = firstItem.email || '';\nconst petname = firstItem.petname || '';\nconst petKind = firstItem.petKind || '';\nconst sessionId = firstItem.session_id || '';\nconst customerName = firstItem.customer_name || '';\n\n// Loop through each item to extract collection handles\nitems.forEach(item => {\n  if (item.json && item.json.custom_collection && item.json.custom_collection.handle) {\n    handles.push(item.json.custom_collection.handle);\n  }\n});\n\n// Join all collected handles into a comma-separated string\nconst collectionHandlesString = handles.join(',');\n\n// Return a single output item with all requested fields\nreturn [{\n  json: {\n    email,\n    petname,\n    petKind,\n    sessionId,\n    customerName,\n    collectionHandlesString\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        80
      ],
      "id": "86e6f6d4-04d0-467a-873f-5860f36a488d",
      "name": "extracting handle1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://integral-squirrel-52866.upstash.io/del/processing_lock",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2528,
        288
      ],
      "id": "6c569174-eaa6-40af-a82c-255795595b6e",
      "name": "ClearProcessingLock",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OU4p8zTKeY9k8OYC",
          "name": "Upstash_new"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://integral-squirrel-52866.upstash.io/llen/myfurryprints_queue",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2720,
        288
      ],
      "id": "58fa72b2-a819-4382-83a0-95dd1dc8a0c8",
      "name": "CheckQueueForMore",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OU4p8zTKeY9k8OYC",
          "name": "Upstash_new"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7fd4bd14-be92-42ba-991c-009c111e9871",
              "leftValue": "={{ $json.result }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2912,
        288
      ],
      "id": "87e3d3d2-2b0a-4466-be74-a83a672fefac",
      "name": "IfQueueHasJobs"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Y7vNxCbGr57aIw3T",
          "mode": "list",
          "cachedResultName": "01-Prod-Hagrid"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3152,
        288
      ],
      "id": "bd8f3dcb-563a-4bb2-a078-882c837dd7fe",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "content": "Clears the processing lock, checks for jobs in the queue.\nIf job exists, returns to 01Hagrid and next submission gets executed",
        "height": 120
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2768,
        464
      ],
      "id": "cfdd35df-f000-41c9-83a1-f2f3b52a765a",
      "name": "Sticky Note1"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "extracting handle1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Gallery Page": {
      "main": [
        [
          {
            "node": "Validate Gallery Creation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Brevo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Collections": {
      "main": [
        [
          {
            "node": "Debug Gallery Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brevo": {
      "main": [
        [
          {
            "node": "ClearProcessingLock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Configuration": {
      "main": [
        [
          {
            "node": "Process Collections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidate Gallery Data1": {
      "main": [
        [
          {
            "node": "Set Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Gallery Creation1": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debug Gallery Data1": {
      "main": [
        [
          {
            "node": "Create Gallery Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extracting handle1": {
      "main": [
        [
          {
            "node": "Consolidate Gallery Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClearProcessingLock": {
      "main": [
        [
          {
            "node": "CheckQueueForMore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckQueueForMore": {
      "main": [
        [
          {
            "node": "IfQueueHasJobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfQueueHasJobs": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "eaf1ab63-be18-4bae-a72c-8778b7f38b91",
  "activeVersionId": "eaf1ab63-be18-4bae-a72c-8778b7f38b91",
  "versionCounter": 3,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-07-02T06:12:36.556Z",
      "createdAt": "2025-07-02T06:12:36.556Z",
      "role": "workflow:owner",
      "workflowId": "n5DrLFaE5bv9SdQw",
      "projectId": "lLSHos7ohHn7AjNm",
      "project": {
        "updatedAt": "2025-06-14T17:25:02.061Z",
        "createdAt": "2025-06-14T17:13:49.092Z",
        "id": "lLSHos7ohHn7AjNm",
        "name": "Muhasin Rashid <muhasin@gauger.in>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-06-14T17:13:49.092Z",
            "createdAt": "2025-06-14T17:13:49.092Z",
            "userId": "f88f8c62-813a-499e-aaee-b5f4da43c5a7",
            "projectId": "lLSHos7ohHn7AjNm",
            "user": {
              "updatedAt": "2025-12-18T05:00:03.582Z",
              "createdAt": "2025-06-14T17:13:45.907Z",
              "id": "f88f8c62-813a-499e-aaee-b5f4da43c5a7",
              "email": "muhasin@gauger.in",
              "firstName": "Muhasin",
              "lastName": "Rashid",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-06-14T17:25:40.417Z",
                "personalization_survey_n8n_version": "1.97.1",
                "automationGoalDevops": [
                  "other"
                ],
                "automationGoalDevopsOther": "Product",
                "companyType": "ecommerce",
                "role": "engineering"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "JsDBWbsoYaKBkGmW",
                "userActivatedAt": 1758182279933,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1752395252283
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-18",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-07-16T08:16:44.235Z",
      "createdAt": "2025-07-16T08:16:44.235Z",
      "id": "llHNDAkMynWsjGrL",
      "name": "stable"
    },
    {
      "updatedAt": "2025-07-16T08:16:55.035Z",
      "createdAt": "2025-07-16T08:16:55.035Z",
      "id": "HpZuiTbFKrPkyXWu",
      "name": "production"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-11-27T07:27:47.774Z",
    "createdAt": "2025-11-27T07:27:47.774Z",
    "versionId": "eaf1ab63-be18-4bae-a72c-8778b7f38b91",
    "workflowId": "n5DrLFaE5bv9SdQw",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          112,
          80
        ],
        "id": "1da460ee-559d-4c9e-8141-df09462535e1",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://j4zewh-kg.myshopify.com/admin/api/2025-04/pages.json",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"page\": {\n    \"title\": \"{{ $json.petname }}'\", \n    \"handle\": \"{{ $json.page_handle }}\",       \n    \"body_html\": \"<p>Gallery page for {{ $json.petname }}. Description managed in GemPages.</p>\", \n    \"template_suffix\": \"gp-template-569295308895290348\", \n    \"published\": true,\n    \"metafields\": [\n      {\n        \"key\": \"pet_name\", \n        \"namespace\": \"custom\", \n        \"value\": \"{{ $json.petname }}\", \n        \"type\": \"single_line_text_field\" \n      },\n      {\n        \"key\": \"gallery_description\", \n        \"namespace\": \"custom\", \n        \"value\": \"{{ $json.gallery_description }}\", \n        \"type\": \"multi_line_text_field\" \n      },\n      {\n        \"key\": \"collection_ids\", \n        \"namespace\": \"custom\", \n        \"value\": \"{{ $json.collection_handles }}\", \n        \"type\": \"single_line_text_field\"\n      }\n    ]\n  }\n}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "json"
              }
            }
          }
        },
        "id": "d89b1699-112b-46ae-99b8-2ea7d7cbcf6e",
        "name": "Create Gallery Page",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1568,
          80
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "878XnnwYx10R4wXG",
            "name": "Shopify"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const pageResponse = $('Create Gallery Page').all()[0].json;\nconst config = $('Set Configuration').all()[0].json;\nconst processedData = $('Process Collections').all()[0].json;\n\n// Check if we have a successful response (201 Created)\nif (pageResponse.statusCode === 201 && pageResponse.body && pageResponse.body.page) {\n  const page = pageResponse.body.page;\n  const pageUrl = `https://${config.shopify_store_url.replace('.myshopify.com', '')}.myshopify.com/pages/${page.handle}`;\n  \n  return {\n    success: true,\n    page_id: page.id,\n    page_handle: page.handle,\n    page_url: pageUrl,\n    admin_url: `https://${config.shopify_store_url}/admin/pages/${page.id}`,\n    collections_included: processedData.collections.map(c => ({\n      handle: c.handle,\n      title: c.title,\n      products_count: c.products_count\n    })),\n    gallery_title: processedData.gallery_title,\n    metafields_set: [\n      'custom.gallery_title',\n      'custom.gallery_description',\n      'custom.collection_ids'\n    ],\n    created_at: new Date().toISOString()\n  };\n} else {\n  throw new Error(`Failed to create page: Status ${pageResponse.statusCode} - ${pageResponse.statusMessage}`);\n}"
        },
        "id": "e8404814-a48c-4a17-af0c-306af243c45c",
        "name": "Format Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1968,
          80
        ]
      },
      {
        "parameters": {
          "jsCode": "const config = $input.item.json;\n\n// ✅ Ensure we have a valid collectionHandlesString\nif (!config.collectionHandlesString || typeof config.collectionHandlesString !== 'string') {\n  throw new Error(\"Missing or invalid 'collectionHandlesString'\");\n}\n\n// ✅ Build minimal fake 'collections' array just from handles\nconst handles = config.collectionHandlesString\n  .split(',')\n  .map(h => h.trim())\n  .filter(h => h.length > 0);\n\n// You can optionally attach placeholder metadata if needed later\nconst collections = handles.map(h => ({\n  handle: h,\n  title: h.replace(/-/g, ' ').replace(/\\b\\w/g, l => l.toUpperCase()), // e.g., \\\"sammy-spa-day\\\" → \\\"Sammy Spa Day\\\"\n  products_count: 1\n}));\n\n// --- CORRECTED: Include petname and ensure gallery_description is passed through ---\nconst pageData = {\n  collections,\n  collection_handles: handles.join(','),\n  gallery_title: config.gallery_title || 'My Art Gallery', // Keep this for compatibility if needed later, but API call ignores it\n  gallery_description: config.gallery_description || 'Enjoy your custom artwork!', // Pass through description from input\n  page_handle: 'myfurryprints-' + Date.now().toString().slice(-4),\n  petname: config.petname // <--- ADDED: Include petname from input\n};\n\nreturn [{ json: pageData }];"
        },
        "id": "24d07091-a873-41f4-85ab-a5a7254a2473",
        "name": "Process Collections",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1120,
          80
        ]
      },
      {
        "parameters": {
          "operation": "sendTemplate",
          "templateId": 1,
          "receipients": "={{ $('Set Configuration').item.json.email + ', support@myfurryprints.com'}}",
          "additionalFields": {
            "templateParameters": {
              "parameterValues": {
                "parameters": "=registrationUrl={{ $json.page_url }}"
              }
            }
          },
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.sendInBlue",
        "typeVersion": 1,
        "position": [
          2144,
          80
        ],
        "id": "39594d66-24d2-412b-a601-9e9f46bdeb3c",
        "name": "Brevo",
        "credentials": {
          "sendInBlueApi": {
            "id": "iKQewRm9lysjCraU",
            "name": "Brevo account"
          }
        }
      },
      {
        "parameters": {
          "fields": {
            "values": [
              {
                "name": "shopify_store_url",
                "stringValue": "j4zewh-kg.myshopify.com"
              },
              {
                "name": "collection_handles",
                "stringValue": "={{ $json.collectionHandlesString.toString() }}"
              },
              {
                "name": "email",
                "stringValue": "={{ $json.email }}"
              }
            ]
          },
          "options": {}
        },
        "id": "efc2b11b-db3e-4562-8eae-36a7109d65b4",
        "name": "Set Configuration",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.2,
        "position": [
          912,
          80
        ]
      },
      {
        "parameters": {
          "content": "",
          "height": 300,
          "width": 2300,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "de282cd7-0b23-4e8c-9ba8-0fa1088ab3e0",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "jsCode": "// Node Name: Extract Merged Data\n// Receives the array of items from the Merge node output.\n// Finds and consolidates collection handles string, email, and petname.\n// Outputs a single item with the consolidated data.\n\nconst items = $input.all(); // Get all items from the merge node output\n\n// Initialize variables to store the data we need to extract\nlet collectionHandlesString = '';\nlet email = '';\nlet petname = '';\n\n// Loop through each item produced by the merge node\nitems.forEach(item => {\n  // Check if the current item has the 'collectionHandlesString' property\n  if (item.json && item.json.collectionHandlesString) {\n    collectionHandlesString = item.json.collectionHandlesString;\n    // Optional: Log that we found it\n    console.log('Found collectionHandlesString:', collectionHandlesString);\n  }\n\n  // Check if the current item has the 'email' property (assuming email and petname are in the same item)\n  if (item.json && item.json.email) {\n    email = item.json.email;\n    petname = item.json.petname || ''; // Also get petname from the same item\n    // Optional: Log that we found user data\n    console.log('Found user data (email, petname):', email, petname);\n  }\n\n  // We don't need to process the items with the 'collect' object for this specific task.\n});\n\n// Check if essential data was found (optional but recommended)\nif (!collectionHandlesString || !email || !petname) {\n    console.warn('One or more required fields not found in merge output:', {\n        collectionHandlesString: collectionHandlesString ? 'Found' : 'Not Found',\n        email: email ? 'Found' : 'Not Found',\n        petname: petname ? 'Found' : 'Not Found'\n    });\n    // You might choose to throw an error here if the data is critical,\n    // or return an item indicating failure, or return with empty values.\n    // For now, we proceed with whatever was found.\n}\n\n\n// Return a single item containing the consolidated data\nreturn [{\n  json: {\n    collectionHandlesString: collectionHandlesString,\n    email: email,\n    petname: petname\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          672,
          80
        ],
        "id": "2e9be28b-7e68-4bd7-a5aa-b0a105bc4d37",
        "name": "Consolidate Gallery Data1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "f6g7h8i9-j0k1-2l3m-4n5o-p6q7r8s9t0u1",
                "leftValue": "={{ $('Create Gallery Page').item.json.statusCode }}",
                "rightValue": 201,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "30348e45-d559-43a6-b045-94043df43c64",
        "name": "Validate Gallery Creation1",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1744,
          80
        ]
      },
      {
        "parameters": {
          "functionCode": "// Debug what's being passed to Create Gallery Page\nconst passedData = { ...items[0].json };\nreturn [\n  {\n    json: {\n      ...passedData,\n      debug_info: {\n        time: new Date().toISOString(),\n        gallery_title_type: typeof passedData.gallery_title,\n        page_handle_type: typeof passedData.page_handle, \n      }\n    }\n  }\n];"
        },
        "id": "d692a643-ef16-40e8-93d6-fc29ef71999c",
        "name": "Debug Gallery Data1",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [
          1360,
          80
        ]
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all(); // Get all input items\nconst handles = []; // To collect collection handles\n\n// Extract from the first item (where metadata like email, petname, etc. are stored)\nconst firstItem = items[0]?.json || {};\nconst email = firstItem.email || '';\nconst petname = firstItem.petname || '';\nconst petKind = firstItem.petKind || '';\nconst sessionId = firstItem.session_id || '';\nconst customerName = firstItem.customer_name || '';\n\n// Loop through each item to extract collection handles\nitems.forEach(item => {\n  if (item.json && item.json.custom_collection && item.json.custom_collection.handle) {\n    handles.push(item.json.custom_collection.handle);\n  }\n});\n\n// Join all collected handles into a comma-separated string\nconst collectionHandlesString = handles.join(',');\n\n// Return a single output item with all requested fields\nreturn [{\n  json: {\n    email,\n    petname,\n    petKind,\n    sessionId,\n    customerName,\n    collectionHandlesString\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          368,
          80
        ],
        "id": "86e6f6d4-04d0-467a-873f-5860f36a488d",
        "name": "extracting handle1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://integral-squirrel-52866.upstash.io/del/processing_lock",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2528,
          288
        ],
        "id": "6c569174-eaa6-40af-a82c-255795595b6e",
        "name": "ClearProcessingLock",
        "credentials": {
          "httpHeaderAuth": {
            "id": "OU4p8zTKeY9k8OYC",
            "name": "Upstash_new"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://integral-squirrel-52866.upstash.io/llen/myfurryprints_queue",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2720,
          288
        ],
        "id": "58fa72b2-a819-4382-83a0-95dd1dc8a0c8",
        "name": "CheckQueueForMore",
        "credentials": {
          "httpHeaderAuth": {
            "id": "OU4p8zTKeY9k8OYC",
            "name": "Upstash_new"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "7fd4bd14-be92-42ba-991c-009c111e9871",
                "leftValue": "={{ $json.result }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          2912,
          288
        ],
        "id": "87e3d3d2-2b0a-4466-be74-a83a672fefac",
        "name": "IfQueueHasJobs"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "Y7vNxCbGr57aIw3T",
            "mode": "list",
            "cachedResultName": "01-Prod-Hagrid"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          3152,
          288
        ],
        "id": "bd8f3dcb-563a-4bb2-a078-882c837dd7fe",
        "name": "Execute Workflow"
      },
      {
        "parameters": {
          "content": "Clears the processing lock, checks for jobs in the queue.\nIf job exists, returns to 01Hagrid and next submission gets executed",
          "height": 120
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          2768,
          464
        ],
        "id": "cfdd35df-f000-41c9-83a1-f2f3b52a765a",
        "name": "Sticky Note1"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "extracting handle1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Gallery Page": {
        "main": [
          [
            {
              "node": "Validate Gallery Creation1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Response": {
        "main": [
          [
            {
              "node": "Brevo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process Collections": {
        "main": [
          [
            {
              "node": "Debug Gallery Data1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Brevo": {
        "main": [
          [
            {
              "node": "ClearProcessingLock",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Configuration": {
        "main": [
          [
            {
              "node": "Process Collections",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Consolidate Gallery Data1": {
        "main": [
          [
            {
              "node": "Set Configuration",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Gallery Creation1": {
        "main": [
          [
            {
              "node": "Format Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Debug Gallery Data1": {
        "main": [
          [
            {
              "node": "Create Gallery Page",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "extracting handle1": {
        "main": [
          [
            {
              "node": "Consolidate Gallery Data1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ClearProcessingLock": {
        "main": [
          [
            {
              "node": "CheckQueueForMore",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CheckQueueForMore": {
        "main": [
          [
            {
              "node": "IfQueueHasJobs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfQueueHasJobs": {
        "main": [
          [
            {
              "node": "Execute Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "workflowPublishHistory": [
      {
        "createdAt": "2025-08-11T07:01:31.915Z",
        "id": 88,
        "workflowId": "n5DrLFaE5bv9SdQw",
        "versionId": "eaf1ab63-be18-4bae-a72c-8778b7f38b91",
        "event": "activated",
        "userId": null
      }
    ]
  }
}