workflows/uncategorized/w03ford.json
{
  "updatedAt": "2025-06-27T05:46:38.556Z",
  "createdAt": "2025-06-14T17:41:10.589Z",
  "id": "ajLOcSXtg7wrNq4f",
  "name": "W03Ford",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1580,
        -880
      ],
      "id": "2f2101e9-6895-4736-9cd6-9d55945c65f5",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "// In \"Split_Product_Types\" (ID: d1bb84ef-a798-4c7b-8c15-64726de190ca)\nconst items = $input.all(); // Items from \"Merge Customer With Transformations\"\nconst outputItems = [];\n\n// Customer data (item without asset_id, usually from Extract Parameters via the merge)\nconst customerDataItem = items.find(item => item.json && item.json.email && !item.json.asset_id && !item.json.public_id);\n// Image items (items with asset_id/public_id from Transformation node via the merge)\nconst imageItems = items.filter(item => item.json && (item.json.asset_id || item.json.public_id));\n\nif (!customerDataItem) {\n  console.error(\"Split_Product_Types: Customer data not found. Ensure 'Merge Customer With Transformations' is correctly merging.\");\n  return [{ json: { error: \"Customer data item not found.\" } }];\n}\nconst customerData = customerDataItem.json;\n\nif (imageItems.length === 0) {\n  console.warn(\"Split_Product_Types: No image items found to process.\");\n}\n\nimageItems.forEach(item => {\n  const imageJson = item.json; // This is the rich data from the Transformation node\n\n  // promptIndex and theme_name should now be directly available in imageJson\n  const promptIndex = imageJson.promptIndex;\n  const actualThemeName = imageJson.theme_name;\n\n  if (promptIndex === undefined || !actualThemeName) {\n    console.error(`Split_Product_Types: Missing promptIndex or theme_name for image item. Public ID: ${imageJson.public_id}. Skipping.`);\n    return; // Skip this item\n  }\n\n  // Use petname from customerData (more reliable) or fallback to imageJson if it somehow has it\n  const petName = customerData.petname || imageJson.petname || \"Pet\";\n  const sessionId = customerData.session_id || imageJson.session_id || Date.now().toString().slice(-8);\n\n  const baseHandle = `${petName.toLowerCase().replace(/\\s+/g, '-')}-${actualThemeName.toLowerCase().replace(/[^a-z0-9-]+/g, '').replace(/\\s+/g, '-')}`;\n  const sessionSuffix = sessionId.slice(-8);\n  const uniqueHandle = `${baseHandle}-${sessionSuffix}`;\n\n  // Use spread operator to preserve original field order, then override specific fields\n  outputItems.push({\n    json: {\n      // Start with customer data\n      session_id: sessionId,\n      email: customerData.email || imageJson.email,\n      petname: petName,\n      petKind: customerData.petKind || imageJson.petKind,\n      customer_name: customerData.customer_name || imageJson.customer_name,\n      \n      // Include all cloudinary data (preserves original order)\n      ...imageJson,\n      \n      // Override/ensure these specific fields are set correctly\n      promptIndex: promptIndex,\n      collection_name: `${petName} ${actualThemeName}`,\n      collection_handle: uniqueHandle,\n      theme_name: actualThemeName,\n      collection_image_url: imageJson.original_url // Use original URL for collection image\n    }\n  });\n});\n\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1320,
        -880
      ],
      "id": "b48554a2-f7c3-4e4e-a933-535c5a5cecd6",
      "name": "Split_Product_Types"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://j4zewh-kg.myshopify.com/admin/api/2025-04/custom_collections.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"custom_collection\": {\n    \"title\": \"{{ $json.collection_name }}\",\n    \"handle\": \"{{ $json.collection_handle }}\",\n    \"body_html\": \"<p>Custom {{ $json.theme_name }} artwork featuring {{ $json.petname }}. High-quality, frame-worthy art available on various products.</p><p>Created for {{ $json.customer_name }} ({{ $json.email }})</p>\",\n    \"published\": true,\n    \"image\": {\n      \"src\": \"{{ $json.collection_image_url }}\",\n      \"alt\": \"{{ $json.petname }} {{ $json.theme_name }} Artwork\"\n    },\n    \"metafields\": [\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"session_id\",\n        \"value\": \"{{ $json.session_id }}\",\n        \"type\": \"single_line_text_field\"\n      },\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"customer_email\",\n        \"value\": \"{{ $json.email }}\",\n        \"type\": \"single_line_text_field\"\n      },\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"prompt_index\",\n        \"value\": \"{{ $json.promptIndex }}\",\n        \"type\": \"number_integer\"\n      },\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"pet_name\",\n        \"value\": \"{{ $json.petname }}\",\n        \"type\": \"single_line_text_field\"\n      },\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"theme_name\",\n        \"value\": \"{{ $json.theme_name }}\",\n        \"type\": \"single_line_text_field\"\n      },\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"clothing_url\",\n        \"value\": \"{{ $json.clothing_url }}\",\n        \"type\": \"single_line_text_field\"\n      },\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"other_url\",\n        \"value\": \"{{ $json.other_url }}\",\n        \"type\": \"single_line_text_field\"\n      }\n    ]\n  }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1060,
        -880
      ],
      "id": "1a0bca19-8e58-4af0-b5c6-a09486bc3c77",
      "name": "Create_shopify_collection1",
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "878XnnwYx10R4wXG",
          "name": "Shopify"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://ecommerce.gelatoapis.com/v1/templates/{{ $json.gelato_template_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        40,
        -860
      ],
      "id": "70ad1a89-4054-4bed-b4a3-20282e477010",
      "name": "Get_template_varients1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "vWLCrNzEd4XJ6ADx",
          "name": "Gelato"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Fix the Process_Template_Variants node - position [1600, 160]:\nconst item = $input.item;\n\n// Extract original data\nconst originalData = {\n  shopify_collection_id: item.json.shopify_collection_id || $('Map_Gelato_Templates1').item.json.shopify_collection_id,\n  collection_handle: item.json.collection_handle || $('Map_Gelato_Templates1').item.json.collection_handle,\n  collection_title: item.json.collection_title || $('Map_Gelato_Templates1').item.json.collection_title,\n  session_id: item.json.session_id || $('Map_Gelato_Templates1').item.json.session_id,\n  email: item.json.email || $('Map_Gelato_Templates1').item.json.email,\n  petname: item.json.petname || $('Map_Gelato_Templates1').item.json.petname,\n  customer_name: item.json.customer_name || $('Map_Gelato_Templates1').item.json.customer_name,\n  promptIndex: item.json.promptIndex || $('Map_Gelato_Templates1').item.json.promptIndex,\n  theme_name: item.json.theme_name || $('Map_Gelato_Templates1').item.json.theme_name,\n  clothing_url: item.json.clothing_url || $('Map_Gelato_Templates1').item.json.clothing_url,\n  other_url: item.json.other_url || $('Map_Gelato_Templates1').item.json.other_url,\n  product_type: item.json.product_type || $('Map_Gelato_Templates1').item.json.product_type,\n  image_url: item.json.image_url || $('Map_Gelato_Templates1').item.json.image_url,\n  gelato_template_id: item.json.gelato_template_id || $('Map_Gelato_Templates1').item.json.gelato_template_id,\n  template_name: item.json.template_name || $('Map_Gelato_Templates1').item.json.template_name,\n  product_title: item.json.product_title || $('Map_Gelato_Templates1').item.json.product_title,\n  product_sku: item.json.product_sku || $('Map_Gelato_Templates1').item.json.product_sku\n};\n\n// Get template data from the API response\nconst templateResponse = item.json;\nconst variants = templateResponse.variants || [];\n\nconsole.log(`=== PROCESSING TEMPLATE ${templateResponse.id} ===`);\nconsole.log(`Template Name: ${templateResponse.name || templateResponse.title}`);\nconsole.log(`Total variants found: ${variants.length}`);\nconsole.log(`Image URL: ${originalData.image_url}`);\n\n// If no variants found, return error\nif (variants.length === 0) {\n  return [{\n    json: {\n      error: \"No variants found for template\",\n      template_id: templateResponse.id,\n      gelato_template_id: originalData.gelato_template_id,\n      original_data: originalData\n    }\n  }];\n}\n\n// FIXED: Create ALL variants in a single product request\nconst variantsArray = [];\n\nvariants.forEach((variant, variantIndex) => {\n  console.log(`Processing variant ${variantIndex + 1}/${variants.length}: ${variant.title}`);\n\n  // Get image placeholders for this variant\n  const imagePlaceholders = variant.imagePlaceholders || [];\n\n  // Find the main image placeholder\n  // Prioritize 'front', then names including 'front' or 'image', fallback to the first placeholder\n  const mainImagePlaceholder = imagePlaceholders.find(p =>\n    p.printArea === \"front\"\n  ) || imagePlaceholders.find(p =>\n     p.name && (p.name.toLowerCase().includes(\"front\") || p.name.toLowerCase().includes(\"image\"))\n  ) || imagePlaceholders[0];\n\n\n  if (mainImagePlaceholder) {\n    variantsArray.push({\n      templateVariantId: variant.id,\n      imagePlaceholders: [\n        {\n          name: mainImagePlaceholder.name,\n          fileUrl: originalData.image_url\n        }\n      ]\n    });\n    console.log(`✓ Added variant ${variantIndex + 1}: ${variant.title} with placeholder: ${mainImagePlaceholder.name}`);\n    console.log(`✓ Image URL: ${originalData.image_url}`);\n  } else {\n    console.log(`✗ No image placeholder found for variant: ${variant.title}`);\n    console.log(`Available placeholders:`, imagePlaceholders.map(p => p.name));\n    // Optionally, you might want to skip this variant or return an error\n    // For now, we just log and skip adding this variant to the variantsArray\n  }\n});\n\nconsole.log(`=== FINAL VARIANTS ARRAY ===`);\nconsole.log(`Total variants to create: ${variantsArray.length}`);\nconsole.log(`Variants array:`, JSON.stringify(variantsArray, null, 2));\n\n// CORRECTED: Return a SINGLE item with ALL variants for the product,\n// putting the data needed for the API request body directly at the top level.\nreturn [{\n  json: {\n    // Gelato API Request Body fields\n    templateId: originalData.gelato_template_id, // Directly accessible as item.json.templateId in the next node\n    title: `${originalData.petname} ${originalData.theme_name} - ${originalData.template_name}`, // Directly accessible as item.json.title\n  description: templateResponse.description || `<p>Custom ${originalData.theme_name} artwork featuring ${originalData.petname}. High-quality print-on-demand product perfect for pet lovers.</p>`,\n\n    isVisibleInTheOnlineStore: true,\n    salesChannels: [\"web\"],\n    variants: variantsArray, // Directly accessible as item.json.variants\n    tags: [originalData.petname, originalData.theme_name, \"custom-pet-art\"],\n    productType: \"Custom Pet Artwork\",\n    vendor: \"Gauger Pet Art\",\n\n    // All original data (keep this as well for context in later nodes if needed)\n    ...originalData\n    // Note: templateId, title, description are technically duplicated here\n    // but the ones defined explicitly above will take precedence in the object spread.\n    // This is fine and keeps all originalData available.\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        -860
      ],
      "id": "79eba363-b222-4dfc-92c8-45da8c69aa01",
      "name": "Process_Template_Variants1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst outputItems = [];\n\n// Your actual Gelato template IDs\nconst gelatoTemplates = {\n  \"clothing\": [\n    { id: \"c0283bcf-5c48-4aac-b1cc-c082081a510f\", name: \"Premium Cotton Unisex Crewneck T-shirt\" }\n  ],\n  \"other\": [\n    { id: \"e711b36f-06d3-4b86-89d8-508d0ceae3f2\", name: \"Samsung Case - Tough\" },\n    { id: \"1f301028-725e-4ea8-902a-c05176a9ed8b\", name: \"iPhone Case - Tough\" },\n    { id: \"3d04b8e4-7cc1-4447-971d-c1e43c773863\", name: \"Classic Tote Bag\" },\n    { id: \"a6f883e1-6e9c-4d8b-bd34-c97066998b4e\", name: \"Magic Ceramic Mug\" },\n    { id: \"cd792777-3e65-4d97-85f3-5aee74bbc1b4\", name: \"Ceramic Mug with Color Inside\" },\n    { id: \"d60afa4b-cd4b-4605-a3b8-0db0cd66a3d7\", name: \"Acrylic Print\" },\n    { id: \"107d744d-df29-46f1-8a82-289f27be9e03\", name: \"Aluminum Print\" },\n     { id: \"c0c6fd6c-f1c1-41aa-a0f4-f772640e8cbf\", name: \"Canvas 2cm thick\" },\n    { id: \"aa2f86bc-ae2b-4a17-9be5-bd22620d37ca\", name: \"Premium Wooden Framed Poster\" }\n  ]\n};\n\n// Function to extract data from collection\nfunction extractDataFromCollection(collection) {\n  console.log('=== EXTRACTING DATA FROM COLLECTION ===');\n  console.log('Collection ID:', collection.id);\n  console.log('Collection Title:', collection.title);\n  console.log('Collection Handle:', collection.handle);\n  console.log('Collection Image URL:', collection.image?.src);\n  \n  // Initialize variables\n  let session_id = \"\";\n  let promptIndex = 1;\n  \n  // FIXED: Extract from Shopify CDN URLs\n  if (collection.image && collection.image.src) {\n    console.log('Attempting to extract from image URL:', collection.image.src);\n    \n    // Updated regex for Shopify CDN URLs - try multiple patterns\n    let urlMatch = collection.image.src.match(/collections\\/([a-f0-9]+)_prompt(\\d+)\\.(png|jpg|jpeg|webp)/);\n    if (!urlMatch) {\n      // Try without collections/ prefix\n      urlMatch = collection.image.src.match(/([a-f0-9]+)_prompt(\\d+)\\.(png|jpg|jpeg|webp)/);\n    }\n    if (!urlMatch) {\n      // Try without file extension\n      urlMatch = collection.image.src.match(/([a-f0-9]+)_prompt(\\d+)/);\n    }\n    \n    if (urlMatch) {\n      session_id = urlMatch[1];\n      promptIndex = parseInt(urlMatch[2]);\n      console.log('✓ Successfully extracted from URL - Session ID:', session_id, 'Prompt Index:', promptIndex);\n    } else {\n      console.log('❌ Failed to extract from image URL');\n    }\n  }\n  \n  // Fallback 1: Extract session_id from collection handle\n  if (!session_id) {\n    const handleMatch = collection.handle.match(/([a-f0-9]+)$/);\n    if (handleMatch) {\n      session_id = handleMatch[1];\n      console.log('✓ Extracted session_id from handle:', session_id);\n    }\n  }\n  \n  // Fallback 2: Map theme names to prompt indices\n  const titleParts = collection.title.split(' ');\n  const petname = titleParts[0];\n  const theme_name = titleParts.slice(1).join(' ');\n  \n  // If we still don't have promptIndex, map from theme\n  if (promptIndex === 1 && theme_name !== \"Spa Day\") {\n    const themeToPromptIndex = {\n      \"Spa Day\": 1,\n      \"Midnight Snack\": 2,\n      \"Barbecue Chef\": 3\n    };\n    \n    promptIndex = themeToPromptIndex[theme_name] || 1;\n    console.log('✓ Mapped theme to prompt index:', theme_name, '->', promptIndex);\n  }\n  \n  // Extract customer info from body_html\n  let customer_name = \"\";\n  let email = \"\";\n  if (collection.body_html) {\n    const bodyMatch = collection.body_html.match(/Created for (.+?) \\((.+?)\\)/);\n    if (bodyMatch) {\n      customer_name = bodyMatch[1];\n      email = bodyMatch[2];\n    }\n  }\n  \n  // Generate the correct URLs using the extracted data\n  const cloudName = \"myfurryprints\";\n  const maskId = \"Mask3larger_jpm63l\";\n  const publicId = `${session_id}/${session_id}_prompt${promptIndex}`;\n  \n  const clothing_url = `https://res.cloudinary.com/${cloudName}/image/upload/e_upscale/f_webp/c_scale,w_4000/l_${maskId},w_4000,fl_cutter/${publicId}`;\n  const other_url = `https://res.cloudinary.com/${cloudName}/image/upload/e_upscale/f_webp/c_scale,w_4000/${publicId}`;\n  \n  console.log('Final Extracted Data:');\n  console.log('  Session ID:', session_id);\n  console.log('  Prompt Index:', promptIndex);\n  console.log('  Pet Name:', petname);\n  console.log('  Theme Name:', theme_name);\n  console.log('  Customer Name:', customer_name);\n  console.log('  Email:', email);\n  console.log('  Clothing URL:', clothing_url);\n  console.log('  Other URL:', other_url);\n  \n  return {\n    session_id: session_id,\n    email: email,\n    petname: petname,\n    customer_name: customer_name,\n    promptIndex: promptIndex,\n    theme_name: theme_name,\n    clothing_url: clothing_url,\n    other_url: other_url\n  };\n}\n\n// Process each collection response\nitems.forEach((item, itemIndex) => {\n  const collection = item.json.custom_collection;\n  \n  if (collection && collection.id) {\n    console.log(`\\n=== PROCESSING COLLECTION ${itemIndex + 1} ===`);\n    \n    // Extract data from collection\n    const originalData = extractDataFromCollection(collection);\n    \n    // Create clothing products\n    gelatoTemplates.clothing.forEach((template, templateIndex) => {\n      const productData = {\n        json: {\n          // Collection data from Shopify response\n          shopify_collection_id: collection.id,\n          collection_handle: collection.handle,\n          collection_title: collection.title,\n          \n          // Extracted customer data\n          session_id: originalData.session_id,\n          email: originalData.email,\n          petname: originalData.petname,\n          customer_name: originalData.customer_name,\n          promptIndex: originalData.promptIndex,\n          theme_name: originalData.theme_name,\n          \n          // Product data with THEME-SPECIFIC image\n          product_type: \"clothing\",\n          image_url: originalData.clothing_url,\n          gelato_template_id: template.id,\n          template_name: template.name,\n          product_title: `${originalData.petname} ${originalData.theme_name} - ${template.name}`,\n          product_sku: `${originalData.session_id}-${originalData.promptIndex}-${template.id.slice(-8)}`\n        }\n      };\n      \n      outputItems.push(productData);\n      \n      console.log(`✓ Created clothing product: ${originalData.petname} ${originalData.theme_name} - ${template.name}`);\n      console.log(`  Prompt Index: ${originalData.promptIndex}`);\n      console.log(`  Image URL: ${originalData.clothing_url}`);\n    });\n    \n    // Create other products\n    gelatoTemplates.other.forEach((template, templateIndex) => {\n      const productData = {\n        json: {\n          // Collection data from Shopify response\n          shopify_collection_id: collection.id,\n          collection_handle: collection.handle,\n          collection_title: collection.title,\n          \n          // Extracted customer data\n          session_id: originalData.session_id,\n          email: originalData.email,\n          petname: originalData.petname,\n          customer_name: originalData.customer_name,\n          promptIndex: originalData.promptIndex,\n          theme_name: originalData.theme_name,\n          \n          // Product data with THEME-SPECIFIC image\n          product_type: \"other\",\n          image_url: originalData.other_url,\n          gelato_template_id: template.id,\n          template_name: template.name,\n          product_title: `${originalData.petname} ${originalData.theme_name} - ${template.name}`,\n          product_sku: `${originalData.session_id}-${originalData.promptIndex}-${template.id.slice(-8)}`\n        }\n      };\n      \n      outputItems.push(productData);\n      \n      console.log(`✓ Created other product: ${originalData.petname} ${originalData.theme_name} - ${template.name}`);\n      console.log(`  Prompt Index: ${originalData.promptIndex}`);\n      console.log(`  Image URL: ${originalData.other_url}`);\n    });\n  }\n});\n\nconsole.log('\\n=== FINAL OUTPUT SUMMARY ===');\nconsole.log(`Total products created: ${outputItems.length}`);\n\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -840,
        -880
      ],
      "id": "22e6a414-e61d-452a-9b86-99208ce821fc",
      "name": "Map_Gelato_Templates1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://j4zewh-kg.myshopify.com/admin/api/2025-04/collects.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"collect\": {\n    \"product_id\": {{$json[\"product_id\"]}},\n    \"collection_id\": {{$json[\"collection_id\"]}}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        -320
      ],
      "id": "8e724459-c76c-4f62-b136-a00331b821ec",
      "name": "Add_Product_To_Collection",
      "credentials": {
        "httpHeaderAuth": {
          "id": "878XnnwYx10R4wXG",
          "name": "Shopify"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ecommerce.gelatoapis.com/v1/stores/ce82562a-d6f5-47ab-8c59-632770661164/products:create-from-template",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.requestBodyString }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        -860
      ],
      "id": "0bf0cc31-41e0-46aa-8375-41e60d9fee36",
      "name": "Create_gelato_products",
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "vWLCrNzEd4XJ6ADx",
          "name": "Gelato"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://j4zewh-kg.myshopify.com/admin/api/2023-10/products.json?title={{ encodeURIComponent($json.product_title) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $json.product_title }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        -320
      ],
      "id": "7be6d448-c1a7-4eda-976b-38ad511137ad",
      "name": "SearchShopifyProduct",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "878XnnwYx10R4wXG",
          "name": "Shopify"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n    // Node: Collect All Products\n    const allItems = $input.all();\n    const shopifyCollectionsMap = new Map(); // Key: \"PetName ThemeName\", Value: { collection_id, handle, title }\n    const productsToProcess = [];\n\n    console.log(`Collect All Products - Received ${allItems.length} items from Merge1.`);\n\n    // --- First Pass: Populate shopifyCollectionsMap from Shopify Collection Items ---\n    allItems.forEach((item, index) => {\n      // Shopify Collection items have collection_id and their title is \"PetName ThemeName\"\n      if (item.json.collection_id && item.json.title && typeof item.json.title === 'string' && !item.json.id) { // !item.json.id helps distinguish from Gelato product\n        const shopifyCollectionTitleKey = item.json.title; // e.g., \"moon Spa Day\"\n        if (!shopifyCollectionsMap.has(shopifyCollectionTitleKey)) {\n          shopifyCollectionsMap.set(shopifyCollectionTitleKey, {\n            collection_id: item.json.collection_id,\n            collection_handle: item.json.handle,\n            original_shopify_collection_title: item.json.title\n          });\n          console.log(`Mapped Shopify Collection: \"${shopifyCollectionTitleKey}\" -> ID: ${item.json.collection_id}`);\n        }\n      }\n    });\n\n    if (shopifyCollectionsMap.size === 0) {\n      console.warn(\"No Shopify collections were identified and mapped from Merge1. Downstream processing will likely fail.\");\n    } else {\n      console.log(`Total Shopify collections mapped: ${shopifyCollectionsMap.size}`);\n      console.log(\"Shopify Collections Map Keys:\", Array.from(shopifyCollectionsMap.keys()));\n    }\n\n    // --- Second Pass: Match Gelato products to Shopify collections ---\n    allItems.forEach((item, index) => {\n      // Gelato product items have an 'id' (Gelato product ID) and 'tags'\n      if (item.json.id && item.json.tags && Array.isArray(item.json.tags) && item.json.tags.length >= 2 && item.json.title && item.json.title.includes(' - ')) {\n        const gelatoProductTitle = item.json.title; // Full title like \"moon Spa Day - Custom Apparel\"\n        const petname = item.json.tags[0];       // e.g., \"moon\"\n        const themeName = item.json.tags[1];     // e.g., \"Spa Day\"\n        \n        const shopifyCollectionTitleKey = `${petname} ${themeName}`; // Construct the key, e.g., \"moon Spa Day\"\n        \n        const collectionData = shopifyCollectionsMap.get(shopifyCollectionTitleKey);\n\n        if (collectionData) {\n          productsToProcess.push({\n            json: {\n              // This is the full Gelato product title, which should also be the Shopify product title after sync\n              product_title_to_search_in_shopify: gelatoProductTitle, \n              \n              // Shopify collection details for adding the product later\n              shopify_collection_id: collectionData.collection_id,\n              shopify_collection_handle: collectionData.collection_handle,\n              shopify_collection_original_title: collectionData.original_shopify_collection_title,\n\n              // For debugging or context\n              gelato_product_id: item.json.id,\n              derived_petname: petname,\n              derived_themename: themeName,\n              // gelato_product_details: item.json // Uncomment if you need the whole Gelato item\n            }\n          });\n          console.log(`Product \"${gelatoProductTitle}\" (Gelato ID: ${item.json.id}) will be searched in Shopify and added to collection \"${shopifyCollectionTitleKey}\" (Shopify Collection ID: ${collectionData.collection_id})`);\n        } else {\n          console.warn(`No Shopify collection found for Gelato product: \"${gelatoProductTitle}\" (using key: \"${shopifyCollectionTitleKey}\" from tags). This product will be skipped.`);\n        }\n      }\n    });\n    \n    if (productsToProcess.length === 0) {\n      console.warn(\"No Gelato products were successfully matched to Shopify collections. Check product titles/tags and collection titles alignment.\");\n    }\n\n    console.log(`Total products to process (search in Shopify and add to collection): ${productsToProcess.length}`);\n    return productsToProcess;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        60,
        -340
      ],
      "id": "5f5389a3-e621-4c19-9321-588b12e5d66f",
      "name": "Collect All Products"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eedd32cb-3722-4169-ae9e-b5e0b7114fd9",
              "name": "collection_id",
              "value": "={{ $json.custom_collection.id }}",
              "type": "number"
            },
            {
              "id": "0ea0ee40-d5e9-4980-ad45-35f941a86cb5",
              "name": "handle",
              "value": "={{ $json.custom_collection.handle }}",
              "type": "string"
            },
            {
              "id": "30fe9f3f-53af-4c85-bd1b-e2f489aefefa",
              "name": "title",
              "value": "={{ $json.custom_collection.title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -380,
        -340
      ],
      "id": "1ce949b9-5d72-497b-a3ec-76bc4b136449",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -620,
        -880
      ],
      "id": "49de0001-d785-4068-8324-75b94c47a66f",
      "name": "Extract Collection Data"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        880,
        -860
      ],
      "id": "12985f8a-d303-48c2-81fb-d52d9a34e048",
      "name": "Wait",
      "webhookId": "bc09b210-2685-4015-9f1b-7969fe49a94e"
    },
    {
      "parameters": {
        "jsCode": "const currentProductData = $input.item.json;\nreturn {\n  json: {\n    product_title: currentProductData.product_title_to_search_in_shopify, // Renamed for next node\n    shopify_collection_id: currentProductData.shopify_collection_id,       // Passed through\n    original_search_title: currentProductData.product_title_to_search_in_shopify, // Context\n    original_shopify_collection_title: currentProductData.shopify_collection_original_title, // Context\n    gelato_product_id_context: currentProductData.gelato_product_id // Context\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        -320
      ],
      "id": "30a9cbf3-17f0-48c2-a907-023497058b88",
      "name": "Format Product Search Data"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Get the direct API response from the SearchShopifyProduct node\nconst shopifyApiResponse = $input.item.json; // This is the output of SearchShopifyProduct\n\n// Get the data that was *sent into* SearchShopifyProduct (which was the output of 'Code' node)\n// $('Node Name').item.json refers to the output of 'Node Name' FOR THE CURRENT LOOP ITERATION.\n// Node 'Code' is the one before SearchShopifyProduct at [1560, 980]\nconst dataFromPreviousCodeNode = $('Format Product Search Data').item.json;\n\nlet shopifyProductId = null;\nconst shopifyApiProducts = shopifyApiResponse.products;\nconst searchedTitleInShopify = dataFromPreviousCodeNode.product_title; // Title used for the search\n\nif (shopifyApiProducts && shopifyApiProducts.length > 0) {\n  // Prefer exact match if multiple products are returned by search\n  const exactMatch = shopifyApiProducts.find(p => p.title === searchedTitleInShopify);\n  if (exactMatch) {\n    shopifyProductId = exactMatch.id;\n    console.log(`Found EXACT MATCH Shopify product: \"${exactMatch.title}\" (Shopify ID: ${shopifyProductId}) for searched title \"${searchedTitleInShopify}\"`);\n  } else {\n    // Fallback to the first product if no exact match\n    shopifyProductId = shopifyApiProducts[0].id;\n    console.warn(`No exact title match in Shopify for \"${searchedTitleInShopify}\". Using first found: \"${shopifyApiProducts[0].title}\" (Shopify ID: ${shopifyProductId}).`);\n  }\n} else {\n  console.error(`Shopify Product NOT FOUND in Shopify for title: \"${searchedTitleInShopify}\". (Context Gelato ID: ${dataFromPreviousCodeNode.gelato_product_id_context}).`);\n  // If product not found, set product_id to null so Add_Product_To_Collection will fail gracefully (if onError is set to continue)\n  shopifyProductId = null;\n}\n\nreturn {\n  json: {\n    product_id: shopifyProductId,\n    collection_id: dataFromPreviousCodeNode.shopify_collection_id, // <-- Pulled from Code node's output\n    collection_handle: dataFromPreviousCodeNode.shopify_collection_handle, // <-- ADDED: Pass the handle\n    gelato_product_id_context: dataFromPreviousCodeNode.gelato_product_id_context, // Pass context ID\n\n    // Keep original context data for logging/debugging in the next node (Code4)\n    context_searched_title: searchedTitleInShopify,\n    context_original_shopify_collection_title: dataFromPreviousCodeNode.original_shopify_collection_title,\n    context_gelato_product_id: dataFromPreviousCodeNode.gelato_product_id_context, // Duplicate, but harmless\n    context_collection_handle: dataFromPreviousCodeNode.shopify_collection_handle // ADDED: Pass handle in context too\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        -320
      ],
      "id": "f394ccf7-16e8-40a2-b42a-04f2c125968d",
      "name": "Extract Shopify Product ID"
    },
    {
      "parameters": {
        "jsCode": "const shopifyCollectApiResponse = $input.first().json;\nconst contextData = $('Extract Shopify Product ID').item.json; // Data from Code3\n\nif (shopifyCollectApiResponse.collect && shopifyCollectApiResponse.collect.id) {\n  console.log(`✅ SUCCESS: Shopify Product (Shopify ID: ${shopifyCollectApiResponse.collect.product_id}, originally searched as \"${contextData.context_searched_title}\") added to Shopify Collection (Shopify ID: ${shopifyCollectApiResponse.collect.collection_id}, title: \"${contextData.context_original_shopify_collection_title}\"). Gelato Product ID was: ${contextData.context_gelato_product_id}.`);\n} else {\n  console.error(`❌ FAILED or SKIPPED: Could not add product to collection...`);\n}\nreturn [$input.first()]; // Passes the Shopify API response along"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        -320
      ],
      "id": "5729418f-c067-4d0c-a4c4-460a38185298",
      "name": "Log Collection Link Result"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -160,
        -340
      ],
      "id": "2fec79e0-0661-4dda-87d0-a4bcf7e54d1a",
      "name": "Merge Collections With Products"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -180,
        -880
      ],
      "id": "e4d4ad14-48c2-48a9-9461-ca953d133597",
      "name": "Loop Product Templates"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        440,
        -340
      ],
      "id": "213fffd5-03b1-46a1-aa74-aa6f30652d55",
      "name": "Loop Product Collection Linking"
    },
    {
      "parameters": {
        "jsCode": "// Update the Code node:\nconst item = $input.item;\n\n// Create a stringified version of the request body\nconst requestBodyString = JSON.stringify({\n  templateId: item.json.gelato_template_id,\n  title: item.json.title,\n  description: item.json.description,\n  isVisibleInTheOnlineStore: true,\n  salesChannels: [\"web\"],\n  variants: item.json.variants,\n  tags: [item.json.petname, item.json.theme_name, \"custom-pet-art\",$('Extract Collection Data').first().json.session_id,$('Extract Collection Data').first().json.customer_name,$('Extract Collection Data').first().json.email  ],\n  productType: \"Custom Pet Artwork\",\n  vendor: \"Gauger Pet Art\"\n});\n\nreturn {\n  json: {\n    // Keep original data\n    ...item.json,\n    // Add properly stringified request body\n    requestBodyString: requestBodyString\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        -860
      ],
      "id": "4ac04110-21d6-4d03-aa04-aa25839befc6",
      "name": "Format Gelato API Request"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "hours"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        20,
        -620
      ],
      "id": "7d01a9d3-4ed3-480e-bda6-f6301e1bbf8c",
      "name": "Wait_for_productCreation",
      "webhookId": "1a827475-6bba-432c-b4aa-eb9d7a596ace"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jmpP3DKAo1tAVBfK",
          "mode": "list",
          "cachedResultName": "W04Hermes"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        620,
        140
      ],
      "id": "82506798-4574-4dc4-a178-9e7e20896ede",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "320bc315-deea-4d87-a7b6-5c2d27f84ca1",
              "name": "session_id",
              "value": "={{ $json.session_id }}",
              "type": "string"
            },
            {
              "id": "b9eb2c98-b46b-4a8c-9f9a-7d0908d297c9",
              "name": "customer_name",
              "value": "={{ $json.customer_name }}",
              "type": "string"
            },
            {
              "id": "8db2e7ef-f12c-478c-bd2b-eae3cd9e5c1c",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "cca910d1-c893-4860-888d-36ecc2f0b0a7",
              "name": "petname",
              "value": "={{ $json.petname }}",
              "type": "string"
            },
            {
              "id": "b3d85d82-adb6-4f18-a0e9-8d0586afad05",
              "name": "petKind",
              "value": "={{ $json.petKind }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        100,
        140
      ],
      "id": "fc2f048b-a770-4873-ab88-5e48210daa35",
      "name": "Edit Fields1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        360,
        140
      ],
      "id": "5d7095a9-fd08-400e-86af-c88c96631d60",
      "name": "Merge"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        880,
        -320
      ],
      "id": "84bf47ad-9e41-45d1-9d27-5fab8a280c9c",
      "name": "Wait1",
      "webhookId": "78eb9ab4-91ee-4e6d-ac00-8026fafe642f"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1760,
        -320
      ],
      "id": "b67680c5-9298-48ff-ad9a-ab968434eea5",
      "name": "Wait2",
      "webhookId": "9082490b-c24e-4620-8b4a-f9162006d55d"
    },
    {
      "parameters": {
        "content": "LOOP 1: \nProduct creation in gelato and shopify",
        "height": 340,
        "width": 1500,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -280,
        -960
      ],
      "id": "0ed3fc76-ee33-4fc7-9e3b-dccc12b82f8c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "LOOP 2 :\nAdding created products to the respective collection",
        "height": 360,
        "width": 1960
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        260,
        -440
      ],
      "id": "3ac2a8ee-b35c-468b-84a7-dab4c7e93410",
      "name": "Sticky Note1"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Split_Product_Types",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split_Product_Types": {
      "main": [
        [
          {
            "node": "Create_shopify_collection1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create_shopify_collection1": {
      "main": [
        [
          {
            "node": "Map_Gelato_Templates1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get_template_varients1": {
      "main": [
        [
          {
            "node": "Process_Template_Variants1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process_Template_Variants1": {
      "main": [
        [
          {
            "node": "Format Gelato API Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map_Gelato_Templates1": {
      "main": [
        [
          {
            "node": "Extract Collection Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add_Product_To_Collection": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create_gelato_products": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SearchShopifyProduct": {
      "main": [
        [
          {
            "node": "Extract Shopify Product ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect All Products": {
      "main": [
        [
          {
            "node": "Loop Product Collection Linking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge Collections With Products",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract Collection Data": {
      "main": [
        [
          {
            "node": "Loop Product Templates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Product Templates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Product Search Data": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Shopify Product ID": {
      "main": [
        [
          {
            "node": "Add_Product_To_Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Collection Link Result": {
      "main": [
        [
          {
            "node": "Loop Product Collection Linking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Collections With Products": {
      "main": [
        [
          {
            "node": "Collect All Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Product Templates": {
      "main": [
        [
          {
            "node": "Wait_for_productCreation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get_template_varients1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Product Collection Linking": {
      "main": [
        [],
        [
          {
            "node": "Format Product Search Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Gelato API Request": {
      "main": [
        [
          {
            "node": "Create_gelato_products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait_for_productCreation": {
      "main": [
        [
          {
            "node": "Merge Collections With Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "SearchShopifyProduct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Log Collection Link Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "4966f0a0-9e29-4e17-b94a-545a490c9c20",
  "activeVersionId": "4966f0a0-9e29-4e17-b94a-545a490c9c20",
  "versionCounter": 3,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-06-14T17:41:10.589Z",
      "createdAt": "2025-06-14T17:41:10.589Z",
      "role": "workflow:owner",
      "workflowId": "ajLOcSXtg7wrNq4f",
      "projectId": "lLSHos7ohHn7AjNm",
      "project": {
        "updatedAt": "2025-06-14T17:25:02.061Z",
        "createdAt": "2025-06-14T17:13:49.092Z",
        "id": "lLSHos7ohHn7AjNm",
        "name": "Muhasin Rashid <muhasin@gauger.in>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-06-14T17:13:49.092Z",
            "createdAt": "2025-06-14T17:13:49.092Z",
            "userId": "f88f8c62-813a-499e-aaee-b5f4da43c5a7",
            "projectId": "lLSHos7ohHn7AjNm",
            "user": {
              "updatedAt": "2025-12-18T05:00:03.582Z",
              "createdAt": "2025-06-14T17:13:45.907Z",
              "id": "f88f8c62-813a-499e-aaee-b5f4da43c5a7",
              "email": "muhasin@gauger.in",
              "firstName": "Muhasin",
              "lastName": "Rashid",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-06-14T17:25:40.417Z",
                "personalization_survey_n8n_version": "1.97.1",
                "automationGoalDevops": [
                  "other"
                ],
                "automationGoalDevopsOther": "Product",
                "companyType": "ecommerce",
                "role": "engineering"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "JsDBWbsoYaKBkGmW",
                "userActivatedAt": 1758182279933,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1752395252283
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-18",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2025-11-27T07:27:47.774Z",
    "createdAt": "2025-11-27T07:27:47.774Z",
    "versionId": "4966f0a0-9e29-4e17-b94a-545a490c9c20",
    "workflowId": "ajLOcSXtg7wrNq4f",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -1580,
          -880
        ],
        "id": "2f2101e9-6895-4736-9cd6-9d55945c65f5",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "jsCode": "// In \"Split_Product_Types\" (ID: d1bb84ef-a798-4c7b-8c15-64726de190ca)\nconst items = $input.all(); // Items from \"Merge Customer With Transformations\"\nconst outputItems = [];\n\n// Customer data (item without asset_id, usually from Extract Parameters via the merge)\nconst customerDataItem = items.find(item => item.json && item.json.email && !item.json.asset_id && !item.json.public_id);\n// Image items (items with asset_id/public_id from Transformation node via the merge)\nconst imageItems = items.filter(item => item.json && (item.json.asset_id || item.json.public_id));\n\nif (!customerDataItem) {\n  console.error(\"Split_Product_Types: Customer data not found. Ensure 'Merge Customer With Transformations' is correctly merging.\");\n  return [{ json: { error: \"Customer data item not found.\" } }];\n}\nconst customerData = customerDataItem.json;\n\nif (imageItems.length === 0) {\n  console.warn(\"Split_Product_Types: No image items found to process.\");\n}\n\nimageItems.forEach(item => {\n  const imageJson = item.json; // This is the rich data from the Transformation node\n\n  // promptIndex and theme_name should now be directly available in imageJson\n  const promptIndex = imageJson.promptIndex;\n  const actualThemeName = imageJson.theme_name;\n\n  if (promptIndex === undefined || !actualThemeName) {\n    console.error(`Split_Product_Types: Missing promptIndex or theme_name for image item. Public ID: ${imageJson.public_id}. Skipping.`);\n    return; // Skip this item\n  }\n\n  // Use petname from customerData (more reliable) or fallback to imageJson if it somehow has it\n  const petName = customerData.petname || imageJson.petname || \"Pet\";\n  const sessionId = customerData.session_id || imageJson.session_id || Date.now().toString().slice(-8);\n\n  const baseHandle = `${petName.toLowerCase().replace(/\\s+/g, '-')}-${actualThemeName.toLowerCase().replace(/[^a-z0-9-]+/g, '').replace(/\\s+/g, '-')}`;\n  const sessionSuffix = sessionId.slice(-8);\n  const uniqueHandle = `${baseHandle}-${sessionSuffix}`;\n\n  // Use spread operator to preserve original field order, then override specific fields\n  outputItems.push({\n    json: {\n      // Start with customer data\n      session_id: sessionId,\n      email: customerData.email || imageJson.email,\n      petname: petName,\n      petKind: customerData.petKind || imageJson.petKind,\n      customer_name: customerData.customer_name || imageJson.customer_name,\n      \n      // Include all cloudinary data (preserves original order)\n      ...imageJson,\n      \n      // Override/ensure these specific fields are set correctly\n      promptIndex: promptIndex,\n      collection_name: `${petName} ${actualThemeName}`,\n      collection_handle: uniqueHandle,\n      theme_name: actualThemeName,\n      collection_image_url: imageJson.original_url // Use original URL for collection image\n    }\n  });\n});\n\nreturn outputItems;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1320,
          -880
        ],
        "id": "b48554a2-f7c3-4e4e-a933-535c5a5cecd6",
        "name": "Split_Product_Types"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://j4zewh-kg.myshopify.com/admin/api/2025-04/custom_collections.json",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"custom_collection\": {\n    \"title\": \"{{ $json.collection_name }}\",\n    \"handle\": \"{{ $json.collection_handle }}\",\n    \"body_html\": \"<p>Custom {{ $json.theme_name }} artwork featuring {{ $json.petname }}. High-quality, frame-worthy art available on various products.</p><p>Created for {{ $json.customer_name }} ({{ $json.email }})</p>\",\n    \"published\": true,\n    \"image\": {\n      \"src\": \"{{ $json.collection_image_url }}\",\n      \"alt\": \"{{ $json.petname }} {{ $json.theme_name }} Artwork\"\n    },\n    \"metafields\": [\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"session_id\",\n        \"value\": \"{{ $json.session_id }}\",\n        \"type\": \"single_line_text_field\"\n      },\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"customer_email\",\n        \"value\": \"{{ $json.email }}\",\n        \"type\": \"single_line_text_field\"\n      },\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"prompt_index\",\n        \"value\": \"{{ $json.promptIndex }}\",\n        \"type\": \"number_integer\"\n      },\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"pet_name\",\n        \"value\": \"{{ $json.petname }}\",\n        \"type\": \"single_line_text_field\"\n      },\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"theme_name\",\n        \"value\": \"{{ $json.theme_name }}\",\n        \"type\": \"single_line_text_field\"\n      },\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"clothing_url\",\n        \"value\": \"{{ $json.clothing_url }}\",\n        \"type\": \"single_line_text_field\"\n      },\n      {\n        \"namespace\": \"custom\",\n        \"key\": \"other_url\",\n        \"value\": \"{{ $json.other_url }}\",\n        \"type\": \"single_line_text_field\"\n      }\n    ]\n  }\n}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1060,
          -880
        ],
        "id": "1a0bca19-8e58-4af0-b5c6-a09486bc3c77",
        "name": "Create_shopify_collection1",
        "retryOnFail": false,
        "maxTries": 5,
        "waitBetweenTries": 5000,
        "credentials": {
          "httpHeaderAuth": {
            "id": "878XnnwYx10R4wXG",
            "name": "Shopify"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://ecommerce.gelatoapis.com/v1/templates/{{ $json.gelato_template_id }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          40,
          -860
        ],
        "id": "70ad1a89-4054-4bed-b4a3-20282e477010",
        "name": "Get_template_varients1",
        "credentials": {
          "httpHeaderAuth": {
            "id": "vWLCrNzEd4XJ6ADx",
            "name": "Gelato"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Fix the Process_Template_Variants node - position [1600, 160]:\nconst item = $input.item;\n\n// Extract original data\nconst originalData = {\n  shopify_collection_id: item.json.shopify_collection_id || $('Map_Gelato_Templates1').item.json.shopify_collection_id,\n  collection_handle: item.json.collection_handle || $('Map_Gelato_Templates1').item.json.collection_handle,\n  collection_title: item.json.collection_title || $('Map_Gelato_Templates1').item.json.collection_title,\n  session_id: item.json.session_id || $('Map_Gelato_Templates1').item.json.session_id,\n  email: item.json.email || $('Map_Gelato_Templates1').item.json.email,\n  petname: item.json.petname || $('Map_Gelato_Templates1').item.json.petname,\n  customer_name: item.json.customer_name || $('Map_Gelato_Templates1').item.json.customer_name,\n  promptIndex: item.json.promptIndex || $('Map_Gelato_Templates1').item.json.promptIndex,\n  theme_name: item.json.theme_name || $('Map_Gelato_Templates1').item.json.theme_name,\n  clothing_url: item.json.clothing_url || $('Map_Gelato_Templates1').item.json.clothing_url,\n  other_url: item.json.other_url || $('Map_Gelato_Templates1').item.json.other_url,\n  product_type: item.json.product_type || $('Map_Gelato_Templates1').item.json.product_type,\n  image_url: item.json.image_url || $('Map_Gelato_Templates1').item.json.image_url,\n  gelato_template_id: item.json.gelato_template_id || $('Map_Gelato_Templates1').item.json.gelato_template_id,\n  template_name: item.json.template_name || $('Map_Gelato_Templates1').item.json.template_name,\n  product_title: item.json.product_title || $('Map_Gelato_Templates1').item.json.product_title,\n  product_sku: item.json.product_sku || $('Map_Gelato_Templates1').item.json.product_sku\n};\n\n// Get template data from the API response\nconst templateResponse = item.json;\nconst variants = templateResponse.variants || [];\n\nconsole.log(`=== PROCESSING TEMPLATE ${templateResponse.id} ===`);\nconsole.log(`Template Name: ${templateResponse.name || templateResponse.title}`);\nconsole.log(`Total variants found: ${variants.length}`);\nconsole.log(`Image URL: ${originalData.image_url}`);\n\n// If no variants found, return error\nif (variants.length === 0) {\n  return [{\n    json: {\n      error: \"No variants found for template\",\n      template_id: templateResponse.id,\n      gelato_template_id: originalData.gelato_template_id,\n      original_data: originalData\n    }\n  }];\n}\n\n// FIXED: Create ALL variants in a single product request\nconst variantsArray = [];\n\nvariants.forEach((variant, variantIndex) => {\n  console.log(`Processing variant ${variantIndex + 1}/${variants.length}: ${variant.title}`);\n\n  // Get image placeholders for this variant\n  const imagePlaceholders = variant.imagePlaceholders || [];\n\n  // Find the main image placeholder\n  // Prioritize 'front', then names including 'front' or 'image', fallback to the first placeholder\n  const mainImagePlaceholder = imagePlaceholders.find(p =>\n    p.printArea === \"front\"\n  ) || imagePlaceholders.find(p =>\n     p.name && (p.name.toLowerCase().includes(\"front\") || p.name.toLowerCase().includes(\"image\"))\n  ) || imagePlaceholders[0];\n\n\n  if (mainImagePlaceholder) {\n    variantsArray.push({\n      templateVariantId: variant.id,\n      imagePlaceholders: [\n        {\n          name: mainImagePlaceholder.name,\n          fileUrl: originalData.image_url\n        }\n      ]\n    });\n    console.log(`✓ Added variant ${variantIndex + 1}: ${variant.title} with placeholder: ${mainImagePlaceholder.name}`);\n    console.log(`✓ Image URL: ${originalData.image_url}`);\n  } else {\n    console.log(`✗ No image placeholder found for variant: ${variant.title}`);\n    console.log(`Available placeholders:`, imagePlaceholders.map(p => p.name));\n    // Optionally, you might want to skip this variant or return an error\n    // For now, we just log and skip adding this variant to the variantsArray\n  }\n});\n\nconsole.log(`=== FINAL VARIANTS ARRAY ===`);\nconsole.log(`Total variants to create: ${variantsArray.length}`);\nconsole.log(`Variants array:`, JSON.stringify(variantsArray, null, 2));\n\n// CORRECTED: Return a SINGLE item with ALL variants for the product,\n// putting the data needed for the API request body directly at the top level.\nreturn [{\n  json: {\n    // Gelato API Request Body fields\n    templateId: originalData.gelato_template_id, // Directly accessible as item.json.templateId in the next node\n    title: `${originalData.petname} ${originalData.theme_name} - ${originalData.template_name}`, // Directly accessible as item.json.title\n  description: templateResponse.description || `<p>Custom ${originalData.theme_name} artwork featuring ${originalData.petname}. High-quality print-on-demand product perfect for pet lovers.</p>`,\n\n    isVisibleInTheOnlineStore: true,\n    salesChannels: [\"web\"],\n    variants: variantsArray, // Directly accessible as item.json.variants\n    tags: [originalData.petname, originalData.theme_name, \"custom-pet-art\"],\n    productType: \"Custom Pet Artwork\",\n    vendor: \"Gauger Pet Art\",\n\n    // All original data (keep this as well for context in later nodes if needed)\n    ...originalData\n    // Note: templateId, title, description are technically duplicated here\n    // but the ones defined explicitly above will take precedence in the object spread.\n    // This is fine and keeps all originalData available.\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          260,
          -860
        ],
        "id": "79eba363-b222-4dfc-92c8-45da8c69aa01",
        "name": "Process_Template_Variants1"
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst outputItems = [];\n\n// Your actual Gelato template IDs\nconst gelatoTemplates = {\n  \"clothing\": [\n    { id: \"c0283bcf-5c48-4aac-b1cc-c082081a510f\", name: \"Premium Cotton Unisex Crewneck T-shirt\" }\n  ],\n  \"other\": [\n    { id: \"e711b36f-06d3-4b86-89d8-508d0ceae3f2\", name: \"Samsung Case - Tough\" },\n    { id: \"1f301028-725e-4ea8-902a-c05176a9ed8b\", name: \"iPhone Case - Tough\" },\n    { id: \"3d04b8e4-7cc1-4447-971d-c1e43c773863\", name: \"Classic Tote Bag\" },\n    { id: \"a6f883e1-6e9c-4d8b-bd34-c97066998b4e\", name: \"Magic Ceramic Mug\" },\n    { id: \"cd792777-3e65-4d97-85f3-5aee74bbc1b4\", name: \"Ceramic Mug with Color Inside\" },\n    { id: \"d60afa4b-cd4b-4605-a3b8-0db0cd66a3d7\", name: \"Acrylic Print\" },\n    { id: \"107d744d-df29-46f1-8a82-289f27be9e03\", name: \"Aluminum Print\" },\n     { id: \"c0c6fd6c-f1c1-41aa-a0f4-f772640e8cbf\", name: \"Canvas 2cm thick\" },\n    { id: \"aa2f86bc-ae2b-4a17-9be5-bd22620d37ca\", name: \"Premium Wooden Framed Poster\" }\n  ]\n};\n\n// Function to extract data from collection\nfunction extractDataFromCollection(collection) {\n  console.log('=== EXTRACTING DATA FROM COLLECTION ===');\n  console.log('Collection ID:', collection.id);\n  console.log('Collection Title:', collection.title);\n  console.log('Collection Handle:', collection.handle);\n  console.log('Collection Image URL:', collection.image?.src);\n  \n  // Initialize variables\n  let session_id = \"\";\n  let promptIndex = 1;\n  \n  // FIXED: Extract from Shopify CDN URLs\n  if (collection.image && collection.image.src) {\n    console.log('Attempting to extract from image URL:', collection.image.src);\n    \n    // Updated regex for Shopify CDN URLs - try multiple patterns\n    let urlMatch = collection.image.src.match(/collections\\/([a-f0-9]+)_prompt(\\d+)\\.(png|jpg|jpeg|webp)/);\n    if (!urlMatch) {\n      // Try without collections/ prefix\n      urlMatch = collection.image.src.match(/([a-f0-9]+)_prompt(\\d+)\\.(png|jpg|jpeg|webp)/);\n    }\n    if (!urlMatch) {\n      // Try without file extension\n      urlMatch = collection.image.src.match(/([a-f0-9]+)_prompt(\\d+)/);\n    }\n    \n    if (urlMatch) {\n      session_id = urlMatch[1];\n      promptIndex = parseInt(urlMatch[2]);\n      console.log('✓ Successfully extracted from URL - Session ID:', session_id, 'Prompt Index:', promptIndex);\n    } else {\n      console.log('❌ Failed to extract from image URL');\n    }\n  }\n  \n  // Fallback 1: Extract session_id from collection handle\n  if (!session_id) {\n    const handleMatch = collection.handle.match(/([a-f0-9]+)$/);\n    if (handleMatch) {\n      session_id = handleMatch[1];\n      console.log('✓ Extracted session_id from handle:', session_id);\n    }\n  }\n  \n  // Fallback 2: Map theme names to prompt indices\n  const titleParts = collection.title.split(' ');\n  const petname = titleParts[0];\n  const theme_name = titleParts.slice(1).join(' ');\n  \n  // If we still don't have promptIndex, map from theme\n  if (promptIndex === 1 && theme_name !== \"Spa Day\") {\n    const themeToPromptIndex = {\n      \"Spa Day\": 1,\n      \"Midnight Snack\": 2,\n      \"Barbecue Chef\": 3\n    };\n    \n    promptIndex = themeToPromptIndex[theme_name] || 1;\n    console.log('✓ Mapped theme to prompt index:', theme_name, '->', promptIndex);\n  }\n  \n  // Extract customer info from body_html\n  let customer_name = \"\";\n  let email = \"\";\n  if (collection.body_html) {\n    const bodyMatch = collection.body_html.match(/Created for (.+?) \\((.+?)\\)/);\n    if (bodyMatch) {\n      customer_name = bodyMatch[1];\n      email = bodyMatch[2];\n    }\n  }\n  \n  // Generate the correct URLs using the extracted data\n  const cloudName = \"myfurryprints\";\n  const maskId = \"Mask3larger_jpm63l\";\n  const publicId = `${session_id}/${session_id}_prompt${promptIndex}`;\n  \n  const clothing_url = `https://res.cloudinary.com/${cloudName}/image/upload/e_upscale/f_webp/c_scale,w_4000/l_${maskId},w_4000,fl_cutter/${publicId}`;\n  const other_url = `https://res.cloudinary.com/${cloudName}/image/upload/e_upscale/f_webp/c_scale,w_4000/${publicId}`;\n  \n  console.log('Final Extracted Data:');\n  console.log('  Session ID:', session_id);\n  console.log('  Prompt Index:', promptIndex);\n  console.log('  Pet Name:', petname);\n  console.log('  Theme Name:', theme_name);\n  console.log('  Customer Name:', customer_name);\n  console.log('  Email:', email);\n  console.log('  Clothing URL:', clothing_url);\n  console.log('  Other URL:', other_url);\n  \n  return {\n    session_id: session_id,\n    email: email,\n    petname: petname,\n    customer_name: customer_name,\n    promptIndex: promptIndex,\n    theme_name: theme_name,\n    clothing_url: clothing_url,\n    other_url: other_url\n  };\n}\n\n// Process each collection response\nitems.forEach((item, itemIndex) => {\n  const collection = item.json.custom_collection;\n  \n  if (collection && collection.id) {\n    console.log(`\\n=== PROCESSING COLLECTION ${itemIndex + 1} ===`);\n    \n    // Extract data from collection\n    const originalData = extractDataFromCollection(collection);\n    \n    // Create clothing products\n    gelatoTemplates.clothing.forEach((template, templateIndex) => {\n      const productData = {\n        json: {\n          // Collection data from Shopify response\n          shopify_collection_id: collection.id,\n          collection_handle: collection.handle,\n          collection_title: collection.title,\n          \n          // Extracted customer data\n          session_id: originalData.session_id,\n          email: originalData.email,\n          petname: originalData.petname,\n          customer_name: originalData.customer_name,\n          promptIndex: originalData.promptIndex,\n          theme_name: originalData.theme_name,\n          \n          // Product data with THEME-SPECIFIC image\n          product_type: \"clothing\",\n          image_url: originalData.clothing_url,\n          gelato_template_id: template.id,\n          template_name: template.name,\n          product_title: `${originalData.petname} ${originalData.theme_name} - ${template.name}`,\n          product_sku: `${originalData.session_id}-${originalData.promptIndex}-${template.id.slice(-8)}`\n        }\n      };\n      \n      outputItems.push(productData);\n      \n      console.log(`✓ Created clothing product: ${originalData.petname} ${originalData.theme_name} - ${template.name}`);\n      console.log(`  Prompt Index: ${originalData.promptIndex}`);\n      console.log(`  Image URL: ${originalData.clothing_url}`);\n    });\n    \n    // Create other products\n    gelatoTemplates.other.forEach((template, templateIndex) => {\n      const productData = {\n        json: {\n          // Collection data from Shopify response\n          shopify_collection_id: collection.id,\n          collection_handle: collection.handle,\n          collection_title: collection.title,\n          \n          // Extracted customer data\n          session_id: originalData.session_id,\n          email: originalData.email,\n          petname: originalData.petname,\n          customer_name: originalData.customer_name,\n          promptIndex: originalData.promptIndex,\n          theme_name: originalData.theme_name,\n          \n          // Product data with THEME-SPECIFIC image\n          product_type: \"other\",\n          image_url: originalData.other_url,\n          gelato_template_id: template.id,\n          template_name: template.name,\n          product_title: `${originalData.petname} ${originalData.theme_name} - ${template.name}`,\n          product_sku: `${originalData.session_id}-${originalData.promptIndex}-${template.id.slice(-8)}`\n        }\n      };\n      \n      outputItems.push(productData);\n      \n      console.log(`✓ Created other product: ${originalData.petname} ${originalData.theme_name} - ${template.name}`);\n      console.log(`  Prompt Index: ${originalData.promptIndex}`);\n      console.log(`  Image URL: ${originalData.other_url}`);\n    });\n  }\n});\n\nconsole.log('\\n=== FINAL OUTPUT SUMMARY ===');\nconsole.log(`Total products created: ${outputItems.length}`);\n\nreturn outputItems;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -840,
          -880
        ],
        "id": "22e6a414-e61d-452a-9b86-99208ce821fc",
        "name": "Map_Gelato_Templates1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://j4zewh-kg.myshopify.com/admin/api/2025-04/collects.json",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"collect\": {\n    \"product_id\": {{$json[\"product_id\"]}},\n    \"collection_id\": {{$json[\"collection_id\"]}}\n  }\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1540,
          -320
        ],
        "id": "8e724459-c76c-4f62-b136-a00331b821ec",
        "name": "Add_Product_To_Collection",
        "credentials": {
          "httpHeaderAuth": {
            "id": "878XnnwYx10R4wXG",
            "name": "Shopify"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://ecommerce.gelatoapis.com/v1/stores/ce82562a-d6f5-47ab-8c59-632770661164/products:create-from-template",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ $json.requestBodyString }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          660,
          -860
        ],
        "id": "0bf0cc31-41e0-46aa-8375-41e60d9fee36",
        "name": "Create_gelato_products",
        "retryOnFail": true,
        "maxTries": 2,
        "credentials": {
          "httpHeaderAuth": {
            "id": "vWLCrNzEd4XJ6ADx",
            "name": "Gelato"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "url": "=https://j4zewh-kg.myshopify.com/admin/api/2023-10/products.json?title={{ encodeURIComponent($json.product_title) }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "title",
                "value": "={{ $json.product_title }}"
              }
            ]
          },
          "options": {
            "response": {
              "response": {}
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1120,
          -320
        ],
        "id": "7be6d448-c1a7-4eda-976b-38ad511137ad",
        "name": "SearchShopifyProduct",
        "alwaysOutputData": false,
        "credentials": {
          "httpHeaderAuth": {
            "id": "878XnnwYx10R4wXG",
            "name": "Shopify"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "\n    // Node: Collect All Products\n    const allItems = $input.all();\n    const shopifyCollectionsMap = new Map(); // Key: \"PetName ThemeName\", Value: { collection_id, handle, title }\n    const productsToProcess = [];\n\n    console.log(`Collect All Products - Received ${allItems.length} items from Merge1.`);\n\n    // --- First Pass: Populate shopifyCollectionsMap from Shopify Collection Items ---\n    allItems.forEach((item, index) => {\n      // Shopify Collection items have collection_id and their title is \"PetName ThemeName\"\n      if (item.json.collection_id && item.json.title && typeof item.json.title === 'string' && !item.json.id) { // !item.json.id helps distinguish from Gelato product\n        const shopifyCollectionTitleKey = item.json.title; // e.g., \"moon Spa Day\"\n        if (!shopifyCollectionsMap.has(shopifyCollectionTitleKey)) {\n          shopifyCollectionsMap.set(shopifyCollectionTitleKey, {\n            collection_id: item.json.collection_id,\n            collection_handle: item.json.handle,\n            original_shopify_collection_title: item.json.title\n          });\n          console.log(`Mapped Shopify Collection: \"${shopifyCollectionTitleKey}\" -> ID: ${item.json.collection_id}`);\n        }\n      }\n    });\n\n    if (shopifyCollectionsMap.size === 0) {\n      console.warn(\"No Shopify collections were identified and mapped from Merge1. Downstream processing will likely fail.\");\n    } else {\n      console.log(`Total Shopify collections mapped: ${shopifyCollectionsMap.size}`);\n      console.log(\"Shopify Collections Map Keys:\", Array.from(shopifyCollectionsMap.keys()));\n    }\n\n    // --- Second Pass: Match Gelato products to Shopify collections ---\n    allItems.forEach((item, index) => {\n      // Gelato product items have an 'id' (Gelato product ID) and 'tags'\n      if (item.json.id && item.json.tags && Array.isArray(item.json.tags) && item.json.tags.length >= 2 && item.json.title && item.json.title.includes(' - ')) {\n        const gelatoProductTitle = item.json.title; // Full title like \"moon Spa Day - Custom Apparel\"\n        const petname = item.json.tags[0];       // e.g., \"moon\"\n        const themeName = item.json.tags[1];     // e.g., \"Spa Day\"\n        \n        const shopifyCollectionTitleKey = `${petname} ${themeName}`; // Construct the key, e.g., \"moon Spa Day\"\n        \n        const collectionData = shopifyCollectionsMap.get(shopifyCollectionTitleKey);\n\n        if (collectionData) {\n          productsToProcess.push({\n            json: {\n              // This is the full Gelato product title, which should also be the Shopify product title after sync\n              product_title_to_search_in_shopify: gelatoProductTitle, \n              \n              // Shopify collection details for adding the product later\n              shopify_collection_id: collectionData.collection_id,\n              shopify_collection_handle: collectionData.collection_handle,\n              shopify_collection_original_title: collectionData.original_shopify_collection_title,\n\n              // For debugging or context\n              gelato_product_id: item.json.id,\n              derived_petname: petname,\n              derived_themename: themeName,\n              // gelato_product_details: item.json // Uncomment if you need the whole Gelato item\n            }\n          });\n          console.log(`Product \"${gelatoProductTitle}\" (Gelato ID: ${item.json.id}) will be searched in Shopify and added to collection \"${shopifyCollectionTitleKey}\" (Shopify Collection ID: ${collectionData.collection_id})`);\n        } else {\n          console.warn(`No Shopify collection found for Gelato product: \"${gelatoProductTitle}\" (using key: \"${shopifyCollectionTitleKey}\" from tags). This product will be skipped.`);\n        }\n      }\n    });\n    \n    if (productsToProcess.length === 0) {\n      console.warn(\"No Gelato products were successfully matched to Shopify collections. Check product titles/tags and collection titles alignment.\");\n    }\n\n    console.log(`Total products to process (search in Shopify and add to collection): ${productsToProcess.length}`);\n    return productsToProcess;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          60,
          -340
        ],
        "id": "5f5389a3-e621-4c19-9321-588b12e5d66f",
        "name": "Collect All Products"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "eedd32cb-3722-4169-ae9e-b5e0b7114fd9",
                "name": "collection_id",
                "value": "={{ $json.custom_collection.id }}",
                "type": "number"
              },
              {
                "id": "0ea0ee40-d5e9-4980-ad45-35f941a86cb5",
                "name": "handle",
                "value": "={{ $json.custom_collection.handle }}",
                "type": "string"
              },
              {
                "id": "30fe9f3f-53af-4c85-bd1b-e2f489aefefa",
                "name": "title",
                "value": "={{ $json.custom_collection.title }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -380,
          -340
        ],
        "id": "1ce949b9-5d72-497b-a3ec-76bc4b136449",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -620,
          -880
        ],
        "id": "49de0001-d785-4068-8324-75b94c47a66f",
        "name": "Extract Collection Data"
      },
      {
        "parameters": {
          "amount": 10
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          880,
          -860
        ],
        "id": "12985f8a-d303-48c2-81fb-d52d9a34e048",
        "name": "Wait",
        "webhookId": "bc09b210-2685-4015-9f1b-7969fe49a94e"
      },
      {
        "parameters": {
          "jsCode": "const currentProductData = $input.item.json;\nreturn {\n  json: {\n    product_title: currentProductData.product_title_to_search_in_shopify, // Renamed for next node\n    shopify_collection_id: currentProductData.shopify_collection_id,       // Passed through\n    original_search_title: currentProductData.product_title_to_search_in_shopify, // Context\n    original_shopify_collection_title: currentProductData.shopify_collection_original_title, // Context\n    gelato_product_id_context: currentProductData.gelato_product_id // Context\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          660,
          -320
        ],
        "id": "30a9cbf3-17f0-48c2-a907-023497058b88",
        "name": "Format Product Search Data"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// Get the direct API response from the SearchShopifyProduct node\nconst shopifyApiResponse = $input.item.json; // This is the output of SearchShopifyProduct\n\n// Get the data that was *sent into* SearchShopifyProduct (which was the output of 'Code' node)\n// $('Node Name').item.json refers to the output of 'Node Name' FOR THE CURRENT LOOP ITERATION.\n// Node 'Code' is the one before SearchShopifyProduct at [1560, 980]\nconst dataFromPreviousCodeNode = $('Format Product Search Data').item.json;\n\nlet shopifyProductId = null;\nconst shopifyApiProducts = shopifyApiResponse.products;\nconst searchedTitleInShopify = dataFromPreviousCodeNode.product_title; // Title used for the search\n\nif (shopifyApiProducts && shopifyApiProducts.length > 0) {\n  // Prefer exact match if multiple products are returned by search\n  const exactMatch = shopifyApiProducts.find(p => p.title === searchedTitleInShopify);\n  if (exactMatch) {\n    shopifyProductId = exactMatch.id;\n    console.log(`Found EXACT MATCH Shopify product: \"${exactMatch.title}\" (Shopify ID: ${shopifyProductId}) for searched title \"${searchedTitleInShopify}\"`);\n  } else {\n    // Fallback to the first product if no exact match\n    shopifyProductId = shopifyApiProducts[0].id;\n    console.warn(`No exact title match in Shopify for \"${searchedTitleInShopify}\". Using first found: \"${shopifyApiProducts[0].title}\" (Shopify ID: ${shopifyProductId}).`);\n  }\n} else {\n  console.error(`Shopify Product NOT FOUND in Shopify for title: \"${searchedTitleInShopify}\". (Context Gelato ID: ${dataFromPreviousCodeNode.gelato_product_id_context}).`);\n  // If product not found, set product_id to null so Add_Product_To_Collection will fail gracefully (if onError is set to continue)\n  shopifyProductId = null;\n}\n\nreturn {\n  json: {\n    product_id: shopifyProductId,\n    collection_id: dataFromPreviousCodeNode.shopify_collection_id, // <-- Pulled from Code node's output\n    collection_handle: dataFromPreviousCodeNode.shopify_collection_handle, // <-- ADDED: Pass the handle\n    gelato_product_id_context: dataFromPreviousCodeNode.gelato_product_id_context, // Pass context ID\n\n    // Keep original context data for logging/debugging in the next node (Code4)\n    context_searched_title: searchedTitleInShopify,\n    context_original_shopify_collection_title: dataFromPreviousCodeNode.original_shopify_collection_title,\n    context_gelato_product_id: dataFromPreviousCodeNode.gelato_product_id_context, // Duplicate, but harmless\n    context_collection_handle: dataFromPreviousCodeNode.shopify_collection_handle // ADDED: Pass handle in context too\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1320,
          -320
        ],
        "id": "f394ccf7-16e8-40a2-b42a-04f2c125968d",
        "name": "Extract Shopify Product ID"
      },
      {
        "parameters": {
          "jsCode": "const shopifyCollectApiResponse = $input.first().json;\nconst contextData = $('Extract Shopify Product ID').item.json; // Data from Code3\n\nif (shopifyCollectApiResponse.collect && shopifyCollectApiResponse.collect.id) {\n  console.log(`✅ SUCCESS: Shopify Product (Shopify ID: ${shopifyCollectApiResponse.collect.product_id}, originally searched as \"${contextData.context_searched_title}\") added to Shopify Collection (Shopify ID: ${shopifyCollectApiResponse.collect.collection_id}, title: \"${contextData.context_original_shopify_collection_title}\"). Gelato Product ID was: ${contextData.context_gelato_product_id}.`);\n} else {\n  console.error(`❌ FAILED or SKIPPED: Could not add product to collection...`);\n}\nreturn [$input.first()]; // Passes the Shopify API response along"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2000,
          -320
        ],
        "id": "5729418f-c067-4d0c-a4c4-460a38185298",
        "name": "Log Collection Link Result"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.1,
        "position": [
          -160,
          -340
        ],
        "id": "2fec79e0-0661-4dda-87d0-a4bcf7e54d1a",
        "name": "Merge Collections With Products"
      },
      {
        "parameters": {
          "options": {
            "reset": false
          }
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -180,
          -880
        ],
        "id": "e4d4ad14-48c2-48a9-9461-ca953d133597",
        "name": "Loop Product Templates"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          440,
          -340
        ],
        "id": "213fffd5-03b1-46a1-aa74-aa6f30652d55",
        "name": "Loop Product Collection Linking"
      },
      {
        "parameters": {
          "jsCode": "// Update the Code node:\nconst item = $input.item;\n\n// Create a stringified version of the request body\nconst requestBodyString = JSON.stringify({\n  templateId: item.json.gelato_template_id,\n  title: item.json.title,\n  description: item.json.description,\n  isVisibleInTheOnlineStore: true,\n  salesChannels: [\"web\"],\n  variants: item.json.variants,\n  tags: [item.json.petname, item.json.theme_name, \"custom-pet-art\",$('Extract Collection Data').first().json.session_id,$('Extract Collection Data').first().json.customer_name,$('Extract Collection Data').first().json.email  ],\n  productType: \"Custom Pet Artwork\",\n  vendor: \"Gauger Pet Art\"\n});\n\nreturn {\n  json: {\n    // Keep original data\n    ...item.json,\n    // Add properly stringified request body\n    requestBodyString: requestBodyString\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          460,
          -860
        ],
        "id": "4ac04110-21d6-4d03-aa04-aa25839befc6",
        "name": "Format Gelato API Request"
      },
      {
        "parameters": {
          "amount": 1,
          "unit": "hours"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          20,
          -620
        ],
        "id": "7d01a9d3-4ed3-480e-bda6-f6301e1bbf8c",
        "name": "Wait_for_productCreation",
        "webhookId": "1a827475-6bba-432c-b4aa-eb9d7a596ace"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "jmpP3DKAo1tAVBfK",
            "mode": "list",
            "cachedResultName": "W04Hermes"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          620,
          140
        ],
        "id": "82506798-4574-4dc4-a178-9e7e20896ede",
        "name": "Execute Workflow"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "320bc315-deea-4d87-a7b6-5c2d27f84ca1",
                "name": "session_id",
                "value": "={{ $json.session_id }}",
                "type": "string"
              },
              {
                "id": "b9eb2c98-b46b-4a8c-9f9a-7d0908d297c9",
                "name": "customer_name",
                "value": "={{ $json.customer_name }}",
                "type": "string"
              },
              {
                "id": "8db2e7ef-f12c-478c-bd2b-eae3cd9e5c1c",
                "name": "email",
                "value": "={{ $json.email }}",
                "type": "string"
              },
              {
                "id": "cca910d1-c893-4860-888d-36ecc2f0b0a7",
                "name": "petname",
                "value": "={{ $json.petname }}",
                "type": "string"
              },
              {
                "id": "b3d85d82-adb6-4f18-a0e9-8d0586afad05",
                "name": "petKind",
                "value": "={{ $json.petKind }}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          100,
          140
        ],
        "id": "fc2f048b-a770-4873-ab88-5e48210daa35",
        "name": "Edit Fields1"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          360,
          140
        ],
        "id": "5d7095a9-fd08-400e-86af-c88c96631d60",
        "name": "Merge"
      },
      {
        "parameters": {
          "amount": 2
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          880,
          -320
        ],
        "id": "84bf47ad-9e41-45d1-9d27-5fab8a280c9c",
        "name": "Wait1",
        "webhookId": "78eb9ab4-91ee-4e6d-ac00-8026fafe642f"
      },
      {
        "parameters": {
          "amount": 2
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1760,
          -320
        ],
        "id": "b67680c5-9298-48ff-ad9a-ab968434eea5",
        "name": "Wait2",
        "webhookId": "9082490b-c24e-4620-8b4a-f9162006d55d"
      },
      {
        "parameters": {
          "content": "LOOP 1: \nProduct creation in gelato and shopify",
          "height": 340,
          "width": 1500,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -280,
          -960
        ],
        "id": "0ed3fc76-ee33-4fc7-9e3b-dccc12b82f8c",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "LOOP 2 :\nAdding created products to the respective collection",
          "height": 360,
          "width": 1960
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          260,
          -440
        ],
        "id": "3ac2a8ee-b35c-468b-84a7-dab4c7e93410",
        "name": "Sticky Note1"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Split_Product_Types",
              "type": "main",
              "index": 0
            },
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split_Product_Types": {
        "main": [
          [
            {
              "node": "Create_shopify_collection1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create_shopify_collection1": {
        "main": [
          [
            {
              "node": "Map_Gelato_Templates1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Get_template_varients1": {
        "main": [
          [
            {
              "node": "Process_Template_Variants1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process_Template_Variants1": {
        "main": [
          [
            {
              "node": "Format Gelato API Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Map_Gelato_Templates1": {
        "main": [
          [
            {
              "node": "Extract Collection Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Add_Product_To_Collection": {
        "main": [
          [
            {
              "node": "Wait2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create_gelato_products": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SearchShopifyProduct": {
        "main": [
          [
            {
              "node": "Extract Shopify Product ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Collect All Products": {
        "main": [
          [
            {
              "node": "Loop Product Collection Linking",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Merge Collections With Products",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Extract Collection Data": {
        "main": [
          [
            {
              "node": "Loop Product Templates",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Loop Product Templates",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Product Search Data": {
        "main": [
          [
            {
              "node": "Wait1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Shopify Product ID": {
        "main": [
          [
            {
              "node": "Add_Product_To_Collection",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log Collection Link Result": {
        "main": [
          [
            {
              "node": "Loop Product Collection Linking",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Collections With Products": {
        "main": [
          [
            {
              "node": "Collect All Products",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Product Templates": {
        "main": [
          [
            {
              "node": "Wait_for_productCreation",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get_template_varients1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Product Collection Linking": {
        "main": [
          [],
          [
            {
              "node": "Format Product Search Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Gelato API Request": {
        "main": [
          [
            {
              "node": "Create_gelato_products",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait_for_productCreation": {
        "main": [
          [
            {
              "node": "Merge Collections With Products",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Execute Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait1": {
        "main": [
          [
            {
              "node": "SearchShopifyProduct",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait2": {
        "main": [
          [
            {
              "node": "Log Collection Link Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "workflowPublishHistory": [
      {
        "createdAt": "2025-06-27T05:46:38.556Z",
        "id": 1,
        "workflowId": "ajLOcSXtg7wrNq4f",
        "versionId": "4966f0a0-9e29-4e17-b94a-545a490c9c20",
        "event": "activated",
        "userId": null
      }
    ]
  }
}