workflows/tools/Job monitor workflow.json
{
  "updatedAt": "2025-12-18T15:49:22.442Z",
  "createdAt": "2025-11-24T16:30:31.502Z",
  "id": "EQo5z78L4ozLIg9h",
  "name": "Job monitor workflow",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtMinute": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "06247397-1d23-4fb0-90dc-d236a13a5311",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://honest-ghoul-37248.upstash.io/scan/0/MATCH/job_start_time:*",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        0
      ],
      "id": "c9f4dbd6-feab-4145-b59f-fecae4646579",
      "name": "Scan for Log",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OU4p8zTKeY9k8OYC",
          "name": "Upstash_new"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        448,
        0
      ],
      "id": "4548605e-92df-4547-8500-b0ce72e5eb77",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "=https://honest-ghoul-37248.upstash.io/get/{{ $json }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        656,
        96
      ],
      "id": "b465b70c-e740-4aa1-a58b-7cd861ad510b",
      "name": "Get jobs",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OU4p8zTKeY9k8OYC",
          "name": "Upstash_new"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// This is the timestamp fetched by the \"Get jobs\" node\nconst startTimeString = $json.result;\nconst startTime = new Date(startTimeString);\nconst now = new Date();\n\nconst twoHoursInMs = 2 * 60 * 60 * 1000;\nconst timeDifference = now.getTime() - startTime.getTime();\n\n// This gets the KEY for the current item in the loop (e.g., \"job_start_time:abc\")\nconst jobKey = $('Loop Over Items').item.json;\nconst submissionId = jobKey.replace('job_start_time:', '');\n\nif (timeDifference > twoHoursInMs) {\n  // If it's overdue, return the data for the alert\n  return {\n    json: {\n      isOverdue: true,\n      submissionId: submissionId,\n      startTime: startTimeString,\n      timeDifferenceMinutes: Math.floor(timeDifference / 60000)\n    }\n  };\n} else {\n  // If not overdue, return an empty item so the workflow stops here for this job\n  return null;\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        96
      ],
      "id": "3748c3a9-2e7e-489f-b9fc-0c736fa449a7",
      "name": "Check if Overdue"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Scan for Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan for Log": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get jobs": {
      "main": [
        [
          {
            "node": "Check if Overdue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Overdue": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "b201bd09-c787-4c6e-8a5a-d4a124a5ebcd",
  "activeVersionId": null,
  "versionCounter": 3,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-24T16:30:31.502Z",
      "createdAt": "2025-11-24T16:30:31.502Z",
      "role": "workflow:owner",
      "workflowId": "EQo5z78L4ozLIg9h",
      "projectId": "lLSHos7ohHn7AjNm",
      "project": {
        "updatedAt": "2025-06-14T17:25:02.061Z",
        "createdAt": "2025-06-14T17:13:49.092Z",
        "id": "lLSHos7ohHn7AjNm",
        "name": "Muhasin Rashid <muhasin@gauger.in>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-06-14T17:13:49.092Z",
            "createdAt": "2025-06-14T17:13:49.092Z",
            "userId": "f88f8c62-813a-499e-aaee-b5f4da43c5a7",
            "projectId": "lLSHos7ohHn7AjNm",
            "user": {
              "updatedAt": "2025-12-18T05:00:03.582Z",
              "createdAt": "2025-06-14T17:13:45.907Z",
              "id": "f88f8c62-813a-499e-aaee-b5f4da43c5a7",
              "email": "muhasin@gauger.in",
              "firstName": "Muhasin",
              "lastName": "Rashid",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-06-14T17:25:40.417Z",
                "personalization_survey_n8n_version": "1.97.1",
                "automationGoalDevops": [
                  "other"
                ],
                "automationGoalDevopsOther": "Product",
                "companyType": "ecommerce",
                "role": "engineering"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "JsDBWbsoYaKBkGmW",
                "userActivatedAt": 1758182279933,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1752395252283
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-18",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-12-18T15:48:05.869Z",
      "createdAt": "2025-12-18T15:48:05.869Z",
      "id": "PKKqSH66xvEj4WGC",
      "name": "tools"
    }
  ],
  "activeVersion": null
}